.footer{font-size: 14px;color: #fff;background-color: #1F60AB;padding: 40px 0 22px;
    font-weight: 400;position: relative;}
.footer h3{font-size: 20px;font-weight: 600;margin-bottom: 20px;}
.footer ul li{font-weight: 400;font-size: 14px;}
.footer .ftrContact i{margin-right: 5px;}
.footer .ftrContact .ftrworking li{display: inline-block;margin-top: 12px;}
.footer .ftrContact .ftrworking li:not(:last-child){margin-right: 30px;}
.footer .ftrregistration h4{font-size: 19px;font-weight: 600;}
.footer .ftrregistration h4 small{font-size: 11px;font-weight: 400;color: #7dbaff;margin-top: 5px;}
.footer .ftrregistration ul{display: flex;}
.footer .ftrregistration ul li{padding: 0 2.7em;}
.footer .ftrregistration ul li:not(:last-child){border-right: 1px solid #3C8BE6;}
.footer .ftrregistration ul li:first-child{padding-left: 0;}
.footer .ftrregistration ul li:last-child{padding-right: 0;}
.footer .copyright{padding-top: 20px;margin-top: 30px;border-top: 1px solid #7dbaff;color: #7dbaff;}
.footer .copyright ul li{display: inline-block;margin-left: 20px;}
.footer .copyright ul li a{opacity: 1;color: #fff;}

/************Media Query*************/
@media(max-width:1199.8px){
    .footer .copyright ul li:first-child{margin-left: 0;}
    .footer .copyright .row .col-xl-9{order: 2;}
    .footer .copyright ul{margin-bottom: 10px;}
}
@media(max-width:991.8px){
.footer .ftrregistration ul li {padding: 0 1em;}
}
@media(max-width:767.8px){
.footer{padding: 25px 0;}
.footer .ftrregistration h4 {font-size: 16px;}
.ftrregistration{margin-top: 20px;}
.footer h3 {font-size: 16px;margin-bottom: 10px;}
.copyright ul{margin: 0;}
}
@media(max-width:575.8px){}
@media(max-width:480.8px){
}