.titleTxt{
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.titleTxt h3{
    font-size: 22px;
    color: #4b5674;
    text-transform: uppercase;
    margin-bottom: 0;
}
.athlete-top-row .list{padding: 5px 25px;display: inline-flex;background-color: #8BE2DF;color: #1B6866;border-radius: 2px;font-size: 14px; min-width: 95px;}
.athlete-top-row .list:nth-child(2){background-color: #FFF1E5;color: #BB5905;}
.athlete-top-row .list:nth-child(3){background-color: #FBE5FF;color: #74008A;}

.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}

.border-top .btn-blue{font-size: 14px;padding: 6px;}
.btn-status{background-color: #D4EFD5;border-color: #008205;color: #008205;font-size: 11px;padding: 1px 8px;border-radius: 0;}
.btn-notverified{background-color: #FFC9C9;border-color: #FF0000;color: #FF0000;font-size: 11px;padding: 1px 8px;border-radius: 0;}

.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}

.coach-information .nav-tabs li a{color: #b1b1b1;font-weight: bold;font-size: 17px;}
.coach-information .nav-tabs li:not(:last-child) a{padding-right: 30px;}
.coach-information .nav-tabs li a.active{color: #000000;}

.noDataFound{font-size: 16px;}


.tagcommonModal .titleTxt h4{background-color: #FFC9C9;border: 1px solid #FF0000;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .tagcommonModal .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;box-shadow: none;outline: none;}
  .tagcommonModal{padding: 15px 26px 15px 20px}

  .verifyCommonModal .titleTxt h4{border-color: #008205;
    background-color: #e0ffe1;}

  .action_col a{display: inline-block;font-size: 16px;}
  .action_col .d-flex a:not(:last-child){padding: 0 8px;border-right: 1px solid #dbdbdb;
    margin-right: 5px;}
    .action_col .d-flex a:first-child{padding-left: 0;}
  .action_col span.icon-Check{font-size: 18px;}

::ng-deep .mat-sort-header-arrow {color: #fff;}
