<!-- <a _ngcontent-oin-c393="" href="javascript:void(0)" class="btn btn-blue titleTxt my-2 d-block ms-auto" (click)="openAddModal()">ADD +</a> -->

<!-- rd list -->
<ng-container *ngIf="!rdListshow && this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
  <div class="equipementTable equipment-procurement-table mt-2">
    
    <div class="table-responsive position-relative">
  
      <table mat-table id="kicEquipmentTable" [dataSource]="dataSourceForRC" matSort class="table-striped  w-100">
        <ng-container matColumnDef="index">
  
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef > S.NO </th>
            <td mat-cell *matCellDef="let element; let i=index">{{this.rcWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.rcWISEPaginator.pageIndex * this.rcWISEPaginator.pageSize}}</td>
          </ng-container>

          <ng-container matColumnDef="rdName">
            <th mat-header-cell *matHeaderCellDef > NAME </th>
            <td mat-cell *matCellDef="let element">
              <a class="state-wise-link" (click)="rdChange(element)">
                {{element.user_name}}
                <!-- {{element.state_name}} -->
               </a>
            </td>
          </ng-container>
  
          <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef > STATES </th>
            <td mat-cell *matCellDef="let element">{{element.state_names}}</td>
          </ng-container>
   
          <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="totalKic">
            <th mat-header-cell *matHeaderCellDef > TOTAL KIC </th>
            <td mat-cell *matCellDef="let element;">{{element.total_kic}}</td>
          </ng-container>
  
          <ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsForRCList"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsForRCList;"></tr>
          </ng-container>
  
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
          </tr>
        </ng-container>
      </table>
    
    </div>
    <mat-paginator #rcWISEPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>


<!-- state wise data -->
<ng-container *ngIf="rdListshow">
  <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
    <div class=" equipment-procurement-table my-4">
      <!-- for rc and ho below heading will be there else not here -->
      <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin ||this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
        <div class="d-flex justify-content-between">

          <h2 class="mb-2 training-details-heading">STATE WISE</h2>
          <h2 class="training-details-heading " (click)="backToRD()" style="cursor:pointer" *ngIf="userDetails.role_id==KicUsersRoleId.hoAdmin"><span><mat-icon class="rdBackButton mt-2 ml-2">keyboard_backspace</mat-icon></span>BACK TO RC</h2>
        </div>
      </ng-container>
      <div class="table-responsive position-relative">
        <table mat-table id="athleteDetailTable" [dataSource]="dataSourceForState" matSort class="table-striped  w-100">
          <ng-container matColumnDef="index">
    
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> S.NO </th>
              <td mat-cell *matCellDef="let element; let i=index">{{this.statePaginator.pageIndex == 0 ? i + 1 : 1 + i + this.statePaginator.pageIndex * this.statePaginator.pageSize}}</td>
            </ng-container>
    
    
            <ng-container matColumnDef="stateName">
              <th mat-header-cell *matHeaderCellDef > STATE </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin">
                  {{element.state}}
                </ng-container>
                <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin || this.userDetails.role_id == this.KicUsersRoleId.rcAdmin">
                  <a class="state-wise-link" (click)="stateChange(this.KicUsersRoleId.rcAdmin == this.userDetails.role_id ? element.state :  element.address_state_id,element.state)"> {{element.state}}</a>
                </ng-container>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="noOfKic">
              <th mat-header-cell *matHeaderCellDef > NO. OF KIC</th>
              <td mat-cell *matCellDef="let element">{{element.nO_OF_KIC}}</td>
            </ng-container>
    
            <ng-container matColumnDef="kicWherePCAHired">
              <th mat-header-cell *matHeaderCellDef > KIC WHERE PCA HIRED </th>
              <td mat-cell *matCellDef="let element">{{element.kicS_WHERE_PCA_HIRED}}</td>
            </ng-container>
  
            <ng-container matColumnDef="kicWherePCANotYetHired">
              <th mat-header-cell *matHeaderCellDef>KIC WHERE PCA NOT YET HIRED </th>
              <td mat-cell *matCellDef="let element">{{element.kicS_WHERE_PCA_YET_TO_BE_HIRED}}</td>
            </ng-container>   
    
            <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
              <tr mat-header-row *matHeaderRowDef="displayedColumnsStateWiseRC"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsStateWiseRC;"></tr>
            </ng-container>
    
    
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="9"> <span class="noDataFound"> No Data Found </span></td>
            </tr>
          </ng-container>
        </table>
      </div>
      <mat-paginator #statePaginator [pageSizeOptions]="[2,5,10,50,100]" aria-label="Select page">
      </mat-paginator>
    </div>
  </ng-container>
</ng-container>

<!-- kic wise data -->
<!-- for all roles and some columns changes on condition -->
<ng-container *ngIf="rdListshow">
  <div class=" equipment-procurement-table my-5">
    <!-- for rc and ho below heading will be there else not here -->
    <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
      <h2 class="mb-2 training-details-heading">{{stateName | uppercase}}   KIC WISE</h2>
    </ng-container>
    <div class="table-responsive position-relative">
      <table mat-table id="athleteDetailTable"  [dataSource]="dataSource" matSort class="table-striped  w-100">
        <ng-container matColumnDef="index" >
  
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> S.NO</th>
            <td mat-cell *matCellDef="let element; let i=index">{{this.kicWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.kicWISEPaginator.pageIndex * this.kicWISEPaginator.pageSize}}</td>
          </ng-container>
  
          <ng-container matColumnDef="stateName" *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" >
            <th mat-header-cell *matHeaderCellDef> STATE </th>
            <td mat-cell *matCellDef="let element">{{element.state_name}}</td>
          </ng-container>
  
          <ng-container matColumnDef="kicName" *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let element; let i=index">{{element.kiC_NAME}}</td>
          </ng-container>
  
          <ng-container matColumnDef="kid" *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
            <th mat-header-cell *matHeaderCellDef> NSRS ID </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <!-- {{element.kid}} -->
              <ng-container *ngIf="this.userDetails.role_id!=this.KicUsersRoleId.hoAdmin">
                {{element.kid}}
              </ng-container>
              <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
                <a class="state-wise-link" (click)="openKicDetailsModal(element)">
                  {{element.kid}}
                 </a>
              </ng-container>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="district" *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
            <th mat-header-cell *matHeaderCellDef> DISTRICT </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <ng-container *ngIf="element.district!=null">{{element.district}}</ng-container>
              <ng-container *ngIf="element.district==null">N/A</ng-container>
              
            </td>
          </ng-container>
  
          <ng-container matColumnDef="kiud">
            <th mat-header-cell *matHeaderCellDef > 
              <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.kicAdmin">NSRSID </ng-container>
              <ng-container *ngIf="userDetails.role_id!=KicUsersRoleId.kicAdmin">PCA NSRSID</ng-container>
            </th>
            <td mat-cell *matCellDef="let element">{{element.pcA_KIUD}}</td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > NAME </th>
            <td mat-cell *matCellDef="let element">{{element.pcA_NAME}}</td>
          </ng-container>
          <ng-container matColumnDef="discipline">
            <th mat-header-cell *matHeaderCellDef>DISCIPLINE</th>
            <td mat-cell *matCellDef="let element">{{element.desipline}}</td>
          </ng-container>
          <ng-container matColumnDef="aadhar_validation">
            <th mat-header-cell *matHeaderCellDef>AADHAR STATUS</th>
            <td mat-cell *matCellDef="let element">{{element.pcA_AADHAR_VALIDATION ? 'Yes' : 'NO'}}</td>
          </ng-container>
  
  
  
          <ng-container matColumnDef="joining_date">
            <th mat-header-cell *matHeaderCellDef>
              JOINING DATE
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.pcA_JOINING_DATE | date : "dd/MM/yyyy"}}
             
            </td>
          </ng-container>
  
          <ng-container matColumnDef="elgibility_criteria">
            <th mat-header-cell *matHeaderCellDef >
              ELIGIBILITY CRITERIA QUALIFIED BY PCA
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.eligibility_criteria==''">
                N/A
              </ng-container>
              <ng-container *ngIf="element.eligibility_criteria!=''">
                {{element.eligibility_criteria}}
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="reason_for_delay">
            <th mat-header-cell *matHeaderCellDef >
              REASON FOR DELAY IN HIRING OF PCA
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.reason==''">
                N/A
              </ng-container>
              <ng-container *ngIf="element.reason!=''">
                {{element.reason}}
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="action" *ngIf="this.userDetails.role_id==this.KicUsersRoleId.kicAdmin">
            <th mat-header-cell *matHeaderCellDef>ACTION</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center justify-content-center ">
                <!-- <mat-icon *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin? true : element.modify_by==null ? true : userDetails.user_id==element.modify_by" (click)="openAddModal('edit',element)" class="me-2 edit-btn-equipment">edit</mat-icon> -->
                <mat-icon (click)="openEditPCAModal('edit',element)" class="me-2 edit-btn-equipment">edit</mat-icon>
                <!-- <i *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin ? false : element.modify_by==null ? true : userDetails.user_id==element.modify_by" _ngcontent-ncd-c236="" class="fa-solid fa-trash-can trash-can-equipment" (click)="deleteEquipment(element)" ></i> -->
              </div>
            </td>
          </ng-container>
  
          <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.kicAdmin">
            <tr mat-header-row *matHeaderRowDef="displayedColumnsKIC"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsKIC;"></tr>
          </ng-container>
  
          <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin">
            <tr mat-header-row *matHeaderRowDef="displayedColumnsState"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsState;"></tr>
          </ng-container>
  
          <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
            <tr mat-header-row *matHeaderRowDef="displayedColumnsKICWiseRC"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsKICWiseRC;"></tr>
          </ng-container>
  
  
          <tr class="mat-row" *matNoDataRow>
            <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.kicAdmin">
  
              <td class="mat-cell text-center" colspan="8"> <span class="noDataFound"> No Data Found </span></td>
            </ng-container>
            <ng-container *ngIf="userDetails.role_id != KicUsersRoleId.kicAdmin">
  
              <td class="mat-cell text-center" colspan="11"> <span class="noDataFound"> No Data Found </span></td>
            </ng-container>
          </tr>
        </ng-container>
      </table>
    </div>
    <mat-paginator #kicWISEPaginator [pageSizeOptions]="[2,5,10,50, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>

<app-loader *ngIf="mainLoader"></app-loader>