<div class="container-fluid" *ngIf="!loader">
    <div class="kic-dashboard row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12 my-2" *ngFor="let card of cardList; let cardIndex=index;">
            <div [class]="'kic-dashboard-tile p-3 ' + 'tile-' + (cardIndex+1)">
                <div class="row align-items-center">
                   
                   
                    <div class="col-2">
                        <!-- <h3 class="kic-heading">{{card?.name}}</h3> -->
                        <ng-container *ngIf="card.name=='KIC'">
                            <img src="/assets/images/KIC.svg" alt="" class="svg-custom">
                        </ng-container>
                        <ng-container *ngIf="card.name=='Athletes'">
                            <img src="/assets/images/Athletes (1).svg" alt="" class="svg-custom">
                        </ng-container>
                        <ng-container *ngIf="card.name=='Coaches'">
                            <img src="/assets/images/Coaches (1).svg" alt="" class="svg-custom">
                        </ng-container>
                        <ng-container *ngIf="card.name=='PCA'">
                            <img src="/assets/images/svg-icons/PCA.svg" alt="" class="svg-custom">
                        </ng-container>
                    </div>
                    <div class="col-10">
                        <div class="row  align-items-start">
                            <div class="col">
                                <p class="  ">{{card?.key1}}</p>
                                <h4 class="kic-number">{{card?.value1}}</h4>
                            </div>
                            <div class="col">
                                <p class="border-start border-end px-1 ">{{card?.key2}}</p>
                                <h4 class="kic-number">{{card?.value2}}</h4>
                            </div>
                            <div class="col">
                                <p class="">Total</p>
                                <h4 class="kic-number">{{card?.total}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<div *ngIf="loader" class="loader d-flex align-items-center justify-content-center" style="height: 250px;">
    <app-page-loader [show]="loader"></app-page-loader>
</div>