.kic-dashboard  .tile-1{
    background-color: #00AE29;
    border-radius: 5px;
}
.kic-dashboard  .tile-2{
    background-color: #6A51B9;
    border-radius: 5px;
}
.kic-dashboard  .tile-3{
    background-color: #55A9E7;
    border-radius: 5px;
}
.kic-dashboard  .tile-4{
    background-color: #F89544;
    border-radius: 5px;
}
.kic-dashboard .kic-dashboard-tile h3{
    font-size: 18px;
    color: #fff;
}
.kic-dashboard .kic-dashboard-tile p{
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
    /* text-transform: uppercase; */
    min-height: 28px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kic-dashboard .kic-dashboard-tile h4{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    /* font-weight: 700; */
}
.kic-dashboard{
    font-family: 'Lato', sans-serif !important;
}
@media screen and (max-width:1405px) {
    .kic-dashboard .kic-dashboard-tile p{
        font-size: 11px;
    }
    .kic-dashboard .kic-dashboard-tile h4{
        font-size: 15px;}
}
@media screen and (max-width:1200px) {
    .kic-dashboard .kic-dashboard-tile p{
        font-size: 11px;
    }
    .kic-dashboard .kic-dashboard-tile h4{
        font-size: 16px;}
}
.svg-custom{
    /* width: 25px; */
    height: 40px;
}
@media screen and (max-width: 1427px) and (min-width: 1200px) {
    .kic-dashboard .col-xl-3{
     width: 50%;
    }
   }

@media screen and (min-width:1690px) {
    .kic-dashboard .kic-dashboard-tile p{
        font-size: 13px;
    }
   .kic-dashboard .kic-dashboard-tile{
    min-height: 100px;
   }
}   