<div class="mapping-AC">
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center p-3">
    <h3 class="fw-bold"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> ATHLETE OFFICIAL MAPPING</h3>
  </div>
  <div class="px-3">
    <!-- <div class="d-flex justify-content-between align-items-center"> -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#map_athlete">Map Athlete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#delegate_mapping">Delegate Mapping</a>
        </li>
      </ul>
      <div>
        
      </div>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="map_athlete">
        <app-map-athlete></app-map-athlete>
      </div>
      <div class="tab-pane fade" id="delegate_mapping">
        <app-delegate-mapping></app-delegate-mapping>
      </div>
    </div>
  </div>
</div>