
<div class="container-fluid yp py-2">
  <ng-container>

  <div class="row mb-2">
      <h2 class="mb-2">Dashboard</h2>
  </div>
    <div class="row mb-4">
      <div class="col-lg col-md-12 col-12 my-1">
        <div class="my-yp-cards">
         <div class="d-flex "> <i class="icon-approved ico-1"></i><span class="ms-3">Approved</span></div>
       
        <p class="mb-0"><strong>{{getDashboardGridCount('approved')}}</strong></p>
         </div>
      </div>
      <div class="col-lg col-md-12 col-12 my-1">
        <div class="my-yp-cards">
           <div class="d-flex "> <i class="icon-pending ico-2"></i><span class="ms-3">Pending</span></div>
           <p class="mb-0"><strong>{{getDashboardGridCount('pending')}}</strong></p>
        </div>
      </div>
      <div class="col-lg col-md-12 col-12 my-1">
        <div class="my-yp-cards">
           <div class="d-flex "> <i class="icon-rejected ico-3"></i><span class="ms-3">Reject</span></div>
           <p class="mb-0"><strong>{{getDashboardGridCount('rejected')}}</strong></p>
        </div>
      </div>
    </div>
 
 

     <div class="row justify-content-end  mb-4 ">
     <div class="col-12">
      <div class="w-100 d-flex flex-wrap justify-content-end bg-white pt-3 px-2">
         <div class="me-md-2 mb-2">
        <mat-form-field appearance="fill">
          <mat-label>Select KI Games</mat-label>
          <mat-select [(ngModel)]="selectModelGames" (selectionChange)="changeChartSelection()">
            <mat-option *ngFor="let item of chartGameDropdownList" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field appearance="fill">
          <mat-label>Select Year</mat-label>
          <mat-select [(ngModel)]="selectModelYears" (selectionChange)="changeChartSelection()">
            <mat-option *ngFor="let item of chartYearDropdownList" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>
     </div>
     <div class="col-12 ">
        <app-dashboard-bar-cart *ngIf="tileDataChart.length; else noChartData" [chartType]="'stackBarChart'" [tileDataChart]="tileDataChart" ></app-dashboard-bar-cart>
    <ng-template #noChartData>
      <div class="text-center">
        <strong> No Data Found </strong>
      </div>
    </ng-template>
     </div>
    </div>

  

  <div class="row yp-table">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Approved Status">
          <app-yp-dashboard-tabs [getParentListData]="getApprovedPendingResult.approved" [type]="'approved'"></app-yp-dashboard-tabs>
      </mat-tab>
      <mat-tab label="Pending Status">
        <app-yp-dashboard-tabs [getParentListData]="getApprovedPendingResult.pending" [type]="'pending'"></app-yp-dashboard-tabs>
      </mat-tab>
    </mat-tab-group>       
  </div>
</ng-container>
</div>

<ng-container *ngIf="!tileData.length">
 <img src="assets/images/no_record_found.svg" alt="no_record" class="img-fliud w-25 d-block mx-auto">
</ng-container>
 

  <app-loader *ngIf="isLoading || loader"></app-loader>
