 
::ng-deep .mat-sort-header-arrow {color: #fff;}

.filterRoleInner .form-control{font-size: 14px;}

.equipment-procurement-table .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.equipment-procurement-table .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
.btn-blue {
    background-color: #1F60AB;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
}
.titleTxt{
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 3px;
    font-family: 400;
    font-family: 'Lato';
}

::ng-deep tr.mat-header-row{
    height: 45px !important;
  }
  .training-details-heading{
    font-size: 15px !important;
    font-weight: 700;
    font-family: "Lato" !important;
    text-transform: uppercase;
}

.state-wise-link{
    cursor: pointer;
}

.rdBackButton{
    margin-bottom:-7px;
}
a img:hover{
    cursor: pointer;
}
.m-wid-table  th.mat-header-cell {
    min-width: 150px;
}
.m-wid-table  th:first-child.mat-header-cell {
    min-width: 50px;
    width: 60px;
    max-width: 80px;
}
