<!-- rd list -->
<ng-container *ngIf="!rdListshow && this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
    <div class="equipementTable equipment-procurement-table mt-2">
        <div class="table-responsive  position-relative">
            <table mat-table id="kicEquipmentTable" [dataSource]="dataSourceForRC" matSort
                class="table-striped   w-100">
                <ng-container matColumnDef="index">

                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef> S.NO</th>
                        <td mat-cell *matCellDef="let element; let i=index">{{this.rcWISEPaginator.pageIndex == 0 ? i +
                            1 : 1 + i +
                            this.rcWISEPaginator.pageIndex * this.rcWISEPaginator.pageSize}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rdName">
                        <th mat-header-cell *matHeaderCellDef> NAME</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="state-wise-link" (click)="rdChange(element)">
                                {{element.user_name}}
                            </a>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin"
                        matColumnDef="stateName">
                        <th mat-header-cell *matHeaderCellDef> STATES </th>
                        <td mat-cell *matCellDef="let element">{{element.state_names}}</td>
                    </ng-container>

                    <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="totalKic">
                        <th mat-header-cell *matHeaderCellDef> TOTAL KISCE </th>
                        <td mat-cell *matCellDef="let element;">{{element.total_kic}}</td>
                    </ng-container>

                    <ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForRCList"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForRCList;"></tr>
                    </ng-container>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
        <mat-paginator #rcWISEPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</ng-container>

<ng-container *ngIf="rdListshow">
    <ng-container
        *ngIf="userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin || userDetails.role_id==KicUsersRoleId.stateAdmin">
        <div class=" equipment-procurement-table my-4">

            <ng-container
                *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin ||this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
                <div class="d-flex justify-content-between">
                    <h2 class="mb-2 training-details-heading">STATE WISE</h2>
                    <h2 class="training-details-heading " (click)="backToRD()" style="cursor:pointer"
                        *ngIf="userDetails.role_id==KicUsersRoleId.hoAdmin"><span><mat-icon
                                class="rdBackButton mt-2 ml-2">keyboard_backspace</mat-icon></span>BACK TO RC</h2>
                </div>
            </ng-container>

            <div class="table-responsive m-wid-table position-relative">
                <table mat-table id="athleteDetailTable" [dataSource]="dataSourceForState" matSort
                    class="table-striped  w-100">

                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef> S.NO</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ statePaginator.pageIndex == 0 ? i + 1 : 1 + i + statePaginator.pageIndex *
                            statePaginator.pageSize }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="stateName">
                        <th mat-header-cell *matHeaderCellDef> STATE </th>
                        <td mat-cell *matCellDef="let element">{{ element.state_Name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="fundReleased">
                        <th mat-header-cell *matHeaderCellDef>FUND RELEASED</th>
                        <td mat-cell *matCellDef="let element">{{element.released_Amount ? element.released_Amount :
                            'N/A' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="sanctionOrderNo">
                        <th mat-header-cell *matHeaderCellDef> SANCTION ORDER NO. </th>
                        <td mat-cell *matCellDef="let element">{{element.sanction_No}}</td>
                    </ng-container>

                    <ng-container matColumnDef="dateOfSanctionOrder">
                        <th mat-header-cell *matHeaderCellDef>DATE OF SANCTION ORDER </th>
                        <td mat-cell *matCellDef="let element">{{element.sanction_Date |date:'dd-MM-yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="releasedHeadToRc">
                        <th mat-header-cell *matHeaderCellDef>DATE OF RELEASE HEAD OFFICE TO RC </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <ng-container *ngIf="userDetails.role_id===KicUsersRoleId.hoAdmin; else DORview">
                                <mat-form-field class="w-100" appearance="fill" (click)="picker1.open()">
                                    <mat-label>Select Date</mat-label>
                                    <input #dateOfProcurement matInput [matDatepicker]="picker1"
                                        [disabled]="editRowIndex !== i" [(ngModel)]="element.date_Of_Release_HO_TO_RC"
                                        (keypress)="false" />
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                            <ng-template #DORview>
                                {{element.date_Of_Release_HO_TO_RC ?( element.date_Of_Release_HO_TO_RC
                                |date:'dd-MM-yyyy') : 'N/A'}}
                            </ng-template>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="releaseRcToState">
                        <th mat-header-cell *matHeaderCellDef>DATE OF RELEASE RC TO STATE</th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <ng-container *ngIf="userDetails.role_id===KicUsersRoleId.rcAdmin; else DORTSview">
                                <mat-form-field class="w-100" appearance="fill" (click)="picker1.open()">
                                    <mat-label>Select Date</mat-label>
                                    <input #dateOfProcurement matInput [matDatepicker]="picker1"
                                        [disabled]="editRowIndex !== i" [(ngModel)]="element.date_Of_Release_RC_TO_State"
                                        (keypress)="false" />
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                            <ng-template #DORTSview>
                                {{element.date_Of_Release_RC_TO_State ?( element.date_Of_Release_RC_TO_State
                                |date:'dd-MM-yyyy') : 'N/A'}}
                            </ng-template>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="head">
                        <th mat-header-cell *matHeaderCellDef>HEAD</th>
                        <td mat-cell *matCellDef="let element">{{element.head ? element.head : 'N/A' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="ucStatus">
                        <th mat-header-cell *matHeaderCellDef>UC STATUS (RECIEVED/SETTLED)</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <ng-container *ngIf="userDetails.role_id===KicUsersRoleId.rcAdmin else UCSView">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-select [(ngModel)]="element.uC_Status" placeholder="Select"
                                        [disabled]="editRowIndex !== i">
                                        <mat-option value="" disabled="disabled">Select</mat-option>
                                        <mat-option value="Settled">Settled</mat-option>
                                        <mat-option value="Partialy Settled">Partialy Settled</mat-option>
                                        <mat-option value="Pending">Pending</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-template #UCSView>{{element.uC_Status}} </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ucUpload">
                        <th mat-header-cell *matHeaderCellDef>UC UPLOAD</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center  justify-content-center cursor-pointer"
                                (click)="viewUcUploads(element)"><mat-icon>remove_red_eye</mat-icon> </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="financialYear">
                        <th mat-header-cell *matHeaderCellDef>FINANCIAL YEAR (FY)</th>
                        <td mat-cell *matCellDef="let element">{{element.financialYear ? element.financialYear : 'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action" *ngIf="userDetails.role_id===KicUsersRoleId.rcAdmin || userDetails.role_id===KicUsersRoleId.hoAdmin">
                        <th mat-header-cell *matHeaderCellDef>ACTION</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <ng-container *ngIf="editRowIndex !== i">
                                <a class="ms-2" (click)="enableEdit(i, element)">
                                    <img src="../../../../../assets/images/editIcon.png" alt="">
                                </a>
                            </ng-container>

                            <ng-container *ngIf="editRowIndex === i">
                                <a class="ms-2" (click)="saveEdit(element)">
                                    <img src="../../../../../assets/images/Right.svg" alt="Save">
                                </a>
                                <a class="ms-2" (click)="cancelEdit(element)">
                                    <img src="../../../../../assets/images/Weong.svg" alt="Cancel">
                                </a>
                            </ng-container>
                        </td>
                    </ng-container>


                    <ng-container *ngIf="userDetails.role_id===KicUsersRoleId.rcAdmin || userDetails.role_id===KicUsersRoleId.hoAdmin">
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStateWiseRC"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStateWiseRC;"></tr>
                    </ng-container>
                    <ng-container *ngIf="userDetails.role_id===KicUsersRoleId.stateAdmin">
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStateWiseRCNotAction"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStateWiseRCNotAction;"></tr>
                    </ng-container>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="9"> <span class="noDataFound"> No Data Found </span>
                        </td>
                    </tr>
                </table>
            </div>

            <mat-paginator #statePaginator [pageSizeOptions]="[2,5,10,50,100]" aria-label="Select page">
            </mat-paginator>
        </div>

    </ng-container>
</ng-container>
<app-loader *ngIf="mainLoader"></app-loader>