.data-history-btn-yp{
    border-radius: 2px;
    border: 1px solid #2263AE;
    background-color: #2263AE;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.39px;
    min-width: fit-content;
}
.data-history-btn-yp:hover{
    border-radius: 2px;
    border: 1px solid #2263AE;
    background-color: #2263AE;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.39px;
    min-width: fit-content;
}
.approved-table-yp table th:first-child{
    width: 50px;
}
.approved-table-yp table th,td{
 text-align: center;
}
.down-arrow .mat-icon{
height: 19px;
width: 22px;
}
.view-document{
    cursor: pointer;
}
.backbtn-arrow .mat-icon{
    height: 20px;
    width: 22px;
    }


.cursor-pointer{
    cursor: pointer;
}