<!-- Modal -->
<!-- +++++++++++++++ This is dependent on  "bootstrap": "^5.2.0"  +++++++++++++++  -->
<div *ngIf="popupShow" class="modal fade show" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel"
    aria-hidden="true" style="display: block; background: rgba(128, 128, 128, 0.3);" aria-modal="true" role="dialog"
    (click)="ClickedOut($event)">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div id="mContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">{{this.data?.point?.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="popupControl_hide()"></button>
            </div>
            <div class="modal-body" style="max-height: 450px;">
                <div class="row">
                    <div class="col-auto m-2" *ngFor="let card of this.data?.point?.districtData">
                        <div class="card" style="width: 21rem;">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                                <table>
                                    <!-- <tr>
                                        <td> District: </td>
                                        <td> <b>{{this.data?.point?.name}} </b></td>
                                    </tr> -->
                                    <tr>
                                        <td class="d-flex"> KIC Name: </td>
                                        <td> <i> {{card.academy_name}} </i> </td>
                                    </tr>
                                    <tr>
                                        <td> NSRS ID: </td>
                                        <td> {{card.kiud}} </td>
                                    </tr>
                                    <tr>
                                        <td> PCA Name: </td>
                                        <td> {{card?.pca_name != undefined && card?.pca_name != null ? card?.pca_name :
                                            '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td> No. Athletes: </td>
                                        <td> {{card?.no_of_athletes}}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-wrap: nowrap;"> Operational Status: </td>
                                        <td>
                                            <b>
                                                <span *ngIf="card?.status == 1" style='color:#14A840'>Active</span>
                                                <span *ngIf="card?.status == 0" style='color:#B90E0A'>Inactive</span>
                                            </b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>