mat-form-field {
    margin-right: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
  }


  ::ng-deep.mat-pseudo-checkbox-disabled{
    display: none !important;
  }
  .my-table-center table ::ng-deep .mat-sort-header-container{justify-content: center;}

  .btn {
    display: flex;              /* Use flexbox to align items horizontally */
    justify-content: center;    /* Center the content horizontally */
    align-items: center;        /* Align the items vertically */
  }
  
  .button-content {
    display: flex;              /* Make the span a flex container */
    justify-content: center;    /* Ensure content is centered inside the span */
    align-items: center;        /* Vertically align the content inside the span */
  }
  
  .mat-icon {
    margin-left: 5px;           /* Optional: add space between text and icon */
  }

  .btn-outline-primary:hover {
    color: #007bff !important;
    border-color: #007bff !important;
    background-color: transparent !important;
  }

  ::ng-deep.mat-checkbox-checked .mat-checkbox-background {
    background-color: #1F60AB !important;  /* Green color for the checked state */
    border-color: blue !important;      /* Change the border color */
  }


  .container {
    display: flex;
    gap: 20px;
  }
  .left-column{
    border-right: 1px solid #dedede;
  }
  /* .left-column {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .right-column {
    width: 60%;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
  } */
  
  .vertical-divider {
    width: 1px;
    background-color: #ccc;
    height: 100%;
  }
  
  h3, h4 {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  
  li {
    padding: 5px 0;
  }


  #staticBackdrop {
    --bs-modal-width: 60%; /* Increase modal width to 80% for this modal */
  }

  .scroll-height{
    height: 250px;
    overflow: auto;
  }

  .selectedFilter{
    color: #1F60AB;
    font-weight: 600;
    
  }
  .selected-row-left{
    border-bottom: 1px solid #dedede;
    /* background-color: #c1ffee85; */
    background-color: #e9e9e985;
  }
  .selected-row-left:first-child{
    border-top: 1px solid #dedede;
  }
  .selected-row-left-active{
    background-color: #fff !important;
  }

  .courser-pointer{
   cursor: pointer;
  }
  .ops-filter-section{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 600;
  }
  .ops-filter-section .left-row-ops{
    margin-bottom: 0px;
  }
  .ops-filter-section .right-row-ops input{
    margin-right: 8px;
  }
  .ops-filter-section .right-row-ops li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dedede;
  }
  .ops-search-bar{
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    
  }

  #staticBackdropLabel{
    font-family: 'Lato', sans-serif;
  }

  .custom-multiselect ::ng-deep  .mat-form-field-flex{
    padding-top: 12px !important;
  }

  .disable_text_color{
    color: black !important;
  }
  .btn-click{
    color: black;
  }