<!-- {{athleteData | json}} -->
<div class="athleteAction-modal">

    <div class="modal-body">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#add-kiaa" type="button">Scheme Academy Registration </button>
        </div>
      </nav>
  
      <div class="tab-content" id="nav-tabContent">
        <!-- Add KIAA -->
        <div class="tab-pane fade show active" id="add-kiaa">
          <form [formGroup]="academyRegForm">
            <div class="row gx-3">                
                <div class="col-sm-6 mb-3">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Name of the Academy</mat-label>
                    <input matInput formControlName="user_display_name">
                  </mat-form-field>
                  <div *ngIf="f['user_display_name'].touched && f['user_display_name'].invalid" class="text-danger">
                    <div *ngIf="f['user_display_name'].errors && f['user_display_name'].errors['required']">
                      <small>Name of Academy Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>User Name</mat-label>
                    <input matInput (blur)="checkIsAlreadyExistCheck($event,3,'username')" formControlName="username">
                  </mat-form-field>
                  <div *ngIf="f['username'].touched && f['username'].invalid" class="text-danger">
                    <div *ngIf="f['username'].errors && f['username'].errors['required']">
                      <small>User Name Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" (blur)="checkIsAlreadyExistCheck($event,2,'email')" formControlName="email">
                  </mat-form-field>
                  <div *ngIf="f['email'].touched &&  f['email'].invalid" class="text-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">
                        <small>Email Required</small>
                    </div>
                    <small *ngIf="f['email'].errors && f['email'].errors['email']">
                      <small>Invalid Email</small>
                    </small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Phone No</mat-label>
                    <input type="number" matInput formControlName="mobile" (blur)="checkIsAlreadyExistCheck($event,1,'mobile')" [maxlength]="10">
                  </mat-form-field>
                  <div *ngIf="f['mobile'].touched && f['mobile'].invalid" class="text-danger">
                    <div *ngIf="f['mobile'].errors && f['mobile'].errors['required']">
                        <small>Phone No Required</small>
                    </div>
                    <small *ngIf="f['mobile'].errors && f['mobile'].errors['pattern']">
                      <small>Invalid Phone No</small>
                    </small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>State</mat-label>
                    <input
                      type="text"
                      placeholder="Select State"
                      matInput
                      formControlName="stateId"
                      [matAutocomplete]="stateAutocomplete" />
                      <mat-autocomplete #stateAutocomplete="matAutocomplete">
                        <mat-option *ngFor="let option of filteredStateList$ | async" [value]="option.state_name">
                          {{ option.state_name }}
                        </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
                  <div *ngIf="f['stateId'].touched && f['stateId'].invalid" class="text-danger">
                    <div *ngIf="f['stateId'].errors && f['stateId'].errors['required']">
                      <small>State Required</small>
                    </div>
                    <div *ngIf="f['stateId']!.hasError('state')">Invalid State</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field class="example-full-width w-100" appearance="fill" (click)="yearEstablish.open()" appYearFormat>
                    <mat-label>Year of Establishment</mat-label>
                    <input matInput [matDatepicker]="yearEstablish" formControlName="yearOfEstablishment" 
                      required readonly (keyup.space)="yearEstablish.open()" (keyup.enter)="yearEstablish.open()" YearFormatDirective>
                    <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
                    <mat-datepicker #yearEstablish startView="multi-year" 
                      (yearSelected)="handleYearSelected($event,yearEstablish)">
                    </mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="f['yearOfEstablishment'].touched && f['yearOfEstablishment'].invalid" class="text-danger">
                    <div *ngIf="f['yearOfEstablishment'].errors && f['yearOfEstablishment'].errors['required']">
                      <small>Year of Establishment Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="passwordhide ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="passwordhide = !passwordhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordhide">
                      <mat-icon>{{passwordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div *ngIf="f['password'].touched &&  f['password'].invalid" class="text-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">
                        <small>Password Required</small>
                    </div>
                    <small *ngIf="f['password'].errors && f['password'].errors['pattern']">Minimum eight characters, at least one uppercase letter, one lowercase letter, 
                        one number and one special character</small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input (paste)="false" matInput [type]="confirmPasswordhide ? 'password' : 'text'" formControlName="confirmPassword">
                    <button type="button" mat-icon-button matSuffix (click)="confirmPasswordhide = !confirmPasswordhide"  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordhide">
                      <mat-icon>{{confirmPasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="text-danger" *ngIf="(f['confirmPassword'].dirty || f['confirmPassword']?.touched)  && academyRegForm.errors?.['notMatched']">Password and Confirm Password must be match</div>
                  <div *ngIf="f['confirmPassword']?.touched && f['confirmPassword']?.invalid">
                  <div class="text-danger" *ngIf="f['confirmPassword'].errors?.['required'] && !academyRegForm.errors?.['notMatched']">
                    <small>Confirm Password required</small>
                  </div>
                  </div>
                </div>

                <div class="col-sm-12 mb-3">
                  <mat-form-field appearance="fill" class="w-100" *ngIf="SportList$ | async as sportListData;  else loadingDiscipline">
                    <mat-label>Discipline</mat-label>
                    <mat-select [formControl]="sportId" multiple>
                      <mat-option *ngFor="let data of sportListData" [value]="data.sport_detail_id">{{data.sport_display_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['sportId'].touched && f['sportId'].invalid" class="text-danger">
                    <div *ngIf="f['sportId'].errors && f['sportId'].errors['required']">
                      <small>Discipline Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <button type="button" (click)="registrationSave()" class="btn btn-blue w-100">Save</button>
                </div>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  <ng-template #loadingDiscipline>
    <app-loader></app-loader>
  </ng-template>  
  <app-loader *ngIf="loader"></app-loader>