mat-form-field {
    margin-right: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
  }


  ::ng-deep.mat-pseudo-checkbox-disabled{
    display: none !important;
  }
  .my-table-center table ::ng-deep .mat-sort-header-container{justify-content: center;}

  .btn {
    display: flex;              /* Use flexbox to align items horizontally */
    justify-content: center;    /* Center the content horizontally */
    align-items: center;        /* Align the items vertically */
  }
  
  .button-content {
    display: flex;              /* Make the span a flex container */
    justify-content: center;    /* Ensure content is centered inside the span */
    align-items: center;        /* Vertically align the content inside the span */
  }
  
  .mat-icon {
    margin-left: 5px;           /* Optional: add space between text and icon */
  }

  .btn-outline-primary:hover {
    color: #007bff !important;
    border-color: #007bff !important;
    background-color: transparent !important;
  }

  ::ng-deep.mat-checkbox-checked .mat-checkbox-background {
    background-color: #1F60AB !important;  /* Green color for the checked state */
    border-color: blue !important;      /* Change the border color */
  }
  .st-bar{
    background-color: #1F60AB;
    margin-bottom: 25px;
  }

  .athlete .mat-table {
    margin-top: 0px !important;
  }

  .bg-clr{
    background-color: white;
  }