<div class="signup">
    <div class="container">
        <div class="midtitle text-center mb-3 mb-lg-4">
            <h2>
                <span class="d-block">REGISTRATION</span>
                PLEASE SELECT YOUR ROLE
            </h2>
           </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/Athletes-h1.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">ATHLETE</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/Coach-h1.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">COACH</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a routerLink="/academy-signup" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/Sports-Training-Center-h1.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">Academy</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/Sports-Scientisth1.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">SPORTS SCIENTIST</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/TECHNICAL-OFFICIAL.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">TECHNICAL OFFICIAL</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/MANAGER.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">MANAGER</h3>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 item">
                <a href="javascript:void(0)" class="card text-center">
                    <div class="iconimg">
                        <img src="assets/images/VOLUNTEER.svg" alt="">
                    </div>
                    <h3 class="text-uppercase">VOLUNTEER</h3>
                </a>
            </div>
        </div>
    </div>
</div>
