<!-- {{athleteData | json}} -->
<div class="athleteAction-modal">

  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <!-- <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#edit" type="button" >Add Scholar</button> -->
        <button class="nav-link active" *ngIf="kiaaElementData == null" data-bs-toggle="tab" data-bs-target="#add-kiaa" type="button">SPORTS TRAINING CENTER</button>
        <button class="nav-link active" *ngIf="kiaaElementData != null" data-bs-toggle="tab" data-bs-target="#edit-kiaa" type="button">SPORTS TRAINING CENTER</button>
        <button class="nav-link " *ngIf="kiaaElementData != null" data-bs-toggle="tab" data-bs-target="#weed-out-kiaa" type="button">WEED OUT</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <!-- Add KIAA -->
      <div class="tab-pane fade show active" id="add-kiaa" *ngIf="kiaaElementData == null">
        <form [formGroup]="AddKiaaForm">
          <div class="row gx-3">
            <div class="col-md-6 mb-3">
              <mat-form-field class="mat-form-field-disabled w-100" appearance="fill">
                <mat-label>NSRS ID</mat-label>
                <input matInput formControlName="AnsrsId" (change)="onChangeNSRSID($event)">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <div class="row gx-3 align-items-center">
                <div class="col-auto mb-3">
                  <a href="assets/pdf/accrediation_form.pdf" target="_self" class="btn btn-blue py-2 px-4 w-100" download><i class="fa-solid fa-download"></i></a>
                </div>
                <div class="col mb-3">
                  <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                    <div class="inputfileLevel position-relative">
                      <span class="text-uppercase uploadLevel">Upload Accreditation Form</span>
                      <!-- <input type="file" class="inputUpload"> -->
                      <input type="file" class="inputUpload"  #AddfirstInput   formControlName="accreditationFile" (change)="uploadAccederationFile(AddfirstInput.files)">
                    </div>
                    <div *ngIf="accederationFileUrl"><a [href]="fileBaseUrl + accederationFileUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-3">
            <div class="col-sm-4 mb-3">
              <mat-form-field class="mat-form-field-disabled w-100" appearance="fill">
                <mat-label>Academy Name</mat-label>
                <input matInput formControlName="Aacademy_name" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Sports Discipline</mat-label>
                <mat-select formControlName="Asport_name" (selectionChange)="changeDiscipline($event)">
                  <mat-option *ngFor="let sportData of distinctRecords" [value]="sportData.sport_detail_id">{{sportData.sport_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Residential Type</mat-label>
                <mat-select formControlName="AresidentialType">
                  <mat-option *ngFor="let sportData of residentialType" [value]="sportData">{{sportData}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <strong class="d-block mt-3 mb-2">UPLOAD/VIEW SUPPORTED DOCUMENTS</strong>
          <div class="table-responsive supportedDocument mb-2">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td> 01</td>
                  <td>Prescribed proforma duly filled in, signed along with requisite fee.</td>
                  <td width="20%">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDfirstKiaaFileInput   formControlName="EUploadPPIcons" (change)="uploadFirstKiaaDocuments(ADDfirstKiaaFileInput.files)">

                      </div>
                      <div *ngIf="firstKiaaDocumentUrl"><a [href]="fileBaseUrl + firstKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadPPIcons')?.touched && AddKiaaForm.controls['EUploadPPIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Attested legible copies of Registration Certificate, Aims & Objects, Overview and achievements of Academy, Copy of licenses and Memorandum of Association (Wherever applicable).</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDsecondKiaaFileInput   formControlName="EUploadRCIcons" (change)="uploadSecondKiaaDocuments(ADDsecondKiaaFileInput.files)">
                      </div>
                      <div *ngIf="secondKiaaDocumentUrl"><a [href]="fileBaseUrl + secondKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadRCIcons')?.touched && AddKiaaForm.controls['EUploadRCIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Audited copies of Balance Sheets for the last 03 years (Whatever applicable).</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDthirdKiaaFileInput   formControlName="EUploadBSIcons" (change)="uploadThirdKiaaDocuments(ADDthirdKiaaFileInput.files)">
                      </div>
                      <div *ngIf="thirdKiaaDocumentUrl"><a [href]="fileBaseUrl + thirdKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadBSIcons')?.touched && AddKiaaForm.controls['EUploadBSIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Details of Achievements of trainees of the Academy in the last 3 years.</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDforthKiaaFileInput   formControlName="EUploadDOAIcons" (change)="uploadForthKiaaDocuments(ADDforthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="forthKiaaDocumentUrl"><a [href]="fileBaseUrl + forthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadDOAIcons')?.touched && AddKiaaForm.controls['EUploadDOAIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>Self attested Copies/Certificates of documents regarding the technical qualification possessed by the individual/Trainer/Coach in the particular game.</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDfifthKiaaFileInput   formControlName="EUploadTQIcons" (change)="uploadFifthKiaaDocuments(ADDfifthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="fifthKiaaDocumentUrl"><a [href]="fileBaseUrl + fifthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadTQIcons')?.touched && AddKiaaForm.controls['EUploadTQIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>Self attested copies of the documents regarding the participation of the individual at international/national/state level</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDsixthKiaaFileInput   formControlName="EUploadPDIcons" (change)="uploadSixthKiaaDocuments(ADDsixthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="sixthKiaaDocumentUrl"><a [href]="fileBaseUrl + sixthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="AddKiaaForm.get('EUploadPDIcons')?.touched && AddKiaaForm.controls['EUploadPDIcons'].hasError?.('required')" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row gx-3">
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative">
                  <span class="text-uppercase uploadLevel">Upload Score Matrix </span>
                  <!-- <input type="file" class="inputUpload" > -->
                  <input type="file" class="inputUpload"  #ADDuploadScoreMatrix   formControlName="EUploadScoreMatrix" (change)="uploadScoreMatrixDocument(ADDuploadScoreMatrix.files)">
                  <!-- formControlName="Ascore_matrix_document" -->
                </div>
                <div *ngIf="scoreMatrixKiaaDocumentUrl"><a [href]="fileBaseUrl + scoreMatrixKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
              <div *ngIf="AddKiaaForm.get('EUploadScoreMatrix')?.touched && AddKiaaForm.controls['EUploadScoreMatrix'].hasError?.('required')" class="text-danger">
                Please upload the file
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative">
                  <span class="text-uppercase uploadLevel">Upload Notification </span>
                  <!-- <input type="file" class="inputUpload" > -->
                  <input type="file" class="inputUpload"  #ADDUploadNotificationMatrix   formControlName="EUploadnotificationMatrix" (change)="uploalNotificationMatrixDocument(ADDUploadNotificationMatrix.files)">
                  <!-- formControlName="AnotificationDoc" -->
                </div>
                <div *ngIf="notificationMatrixKiaaDocumentUrl"><a [href]="fileBaseUrl + notificationMatrixKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
              <div *ngIf="AddKiaaForm.get('EUploadnotificationMatrix ')?.touched && AddKiaaForm.controls['EUploadnotificationMatrix'].hasError?.('required')" class="text-danger">
                Please upload the file
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Enter Remarks </mat-label>
                <input type="text" matInput formControlName="Aremark">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Approve/Reject </mat-label>
                <mat-select formControlName="Aaccrediation_status">
                  <mat-option value="Approved">Approve</mat-option>
                  <mat-option value="Rejected">Reject</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker.open()">
                <mat-label>Period From </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="AfromDate" (dateChange)="kiaafromDate(AddKiaaForm.value?.AfromDate)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker2.open()">
                <mat-label>Period To </mat-label>
                <input matInput  [matDatepicker]="picker2" [min]="dateKiaaFrom" formControlName="AtoDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>NCOE/Others </mat-label>
                <mat-select formControlName="AncoE_type" (selectionChange)="changeNECO($event)">
                  <mat-option value="NCOE">NCOE</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3" *ngIf="AddKiaaForm.controls['AncoE_type'].value !=''">   
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Is Tops </mat-label>
                <mat-select formControlName="AisTops" [disabled]="AddKiaaForm.controls['AncoE_type'].value =='Others'">
                  <mat-option value="true">YES</mat-option>
                  <mat-option value="false">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6 col-lg-3 mb-3" *ngIf="AddKiaaForm.controls['AncoE_type'].value =='Others'">
              <mat-form-field mat-form-field class="mat-form-field-disabled w-100" appearance="fill">
                <mat-label>Is Tops diabled</mat-label>
                <mat-select formControlName="isTops" readonly>
                  <mat-option value="true">YES</mat-option>
                  <mat-option value="false">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col-sm-12">
              <button class="btn btn-lightblue px-3 px-md-4 me-2" (click)="addKiaaData()" [disabled]="!AddKiaaForm.valid">Add</button>
              <button class="btn btn-light bg-white border px-3 px-md-4" (click)="activeModal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Edit KIAA -->
      <div class="tab-pane fade show active" id="edit-kiaa" *ngIf="kiaaElementData != null">
        <form [formGroup]="EditKiaaForm">
          <div class="row gx-3">
            <div class="col-md-6 mb-3">
              <mat-form-field class="mat-form-field-disabled w-100" appearance="fill">
                <mat-label>NSRS ID</mat-label>
                <input matInput formControlName="EnsrsId" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <div class="row gx-3 align-items-center">
                <div class="col-auto mb-3">
                  <button class="btn btn-blue py-2 px-4 w-100" ><a [href]="accederationFileUrl"  download="accedration-form.pdf"></a><i class="fa-solid fa-download"></i></button>
                </div>
                <div class="col mb-3">
                  <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                    <div class="inputfileLevel position-relative">
                      <span class="text-uppercase uploadLevel">Upload Accreditation Form</span>
                      <input type="file" class="inputUpload"  #firstInput   formControlName="accreditationFile" (change)="uploadAccederationFile(firstInput.files)">
                    </div>
                    <div *ngIf="accederationFileUrl"><a [href]="fileBaseUrl + accederationFileUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                  </div>
                  <div *ngIf="EditKiaaForm.get('accreditationFile')?.touched && !accederationFileUrl" class="text-danger">
                    Please upload the file
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-3">
            <div class="col-sm-4 mb-3">
              <mat-form-field class="mat-form-field-disabled w-100" appearance="fill">
                <mat-label>Academy Name</mat-label>
                <input matInput formControlName="Eacademy_name" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-4 mb-3">
              <mat-form-field appearance="fill" class="mat-form-field-disabled w-100">
                <mat-label>Sports Discipline</mat-label>
                <mat-select [(value)]="sportDefaultVal" formControlName="Esport_name" [disabled]="disableSelected">
                  <mat-option *ngFor="let sportData of distinctRecords" [value]="sportData.sport_detail_id">{{sportData.sport_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Residential Type</mat-label>
                <mat-select [(value)]="EresidentialDefaultVal" formControlName="EresidentialType" [disabled]="disableSelected">
                  <mat-option value="Residential">Residential</mat-option>
                  <mat-option value="Non-Residential">Non-Residential</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <strong class="d-block mt-3 mb-2">UPLOAD/VIEW SUPPORTED DOCUMENTS</strong>
          <div class="table-responsive supportedDocument mb-2">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td> 01</td>
                  <td>Prescribed proforma duly filled in, signed along with requisite fee.</td>
                  <td width="20%">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #firstKiaaFileInput   formControlName="EUploadPPIcons" (change)="uploadFirstKiaaDocuments(firstKiaaFileInput.files)">
                      </div>
                      <div *ngIf=firstKiaaDocumentUrl><a [href]="fileBaseUrl + firstKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadPPIcons')?.touched && !firstKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Attested legible copies of Registration Certificate, Aims & Objects, Overview and achievements of Academy, Copy of licenses and Memorandum of Association (Wherever applicable).</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #secondKiaaFileInput   formControlName="EUploadRCIcons" (change)="uploadSecondKiaaDocuments(secondKiaaFileInput.files)">
                      </div>
                      <div *ngIf=secondKiaaDocumentUrl><a [href]="fileBaseUrl + secondKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadRCIcons')?.touched && !secondKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Audited copies of Balance Sheets for the last 03 years (Whatever applicable).</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #thirdKiaaFileInput   formControlName="EUploadBSIcons" (change)="uploadThirdKiaaDocuments(thirdKiaaFileInput.files)">
                      </div>
                      <div *ngIf="thirdKiaaDocumentUrl"><a [href]="fileBaseUrl + thirdKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadBSIcons')?.touched && !thirdKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>Details of Achievements of trainees of the Academy in the last 3 years.</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #forthKiaaFileInput   formControlName="EUploadDOAIcons" (change)="uploadForthKiaaDocuments(forthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="forthKiaaDocumentUrl"><a [href]="fileBaseUrl + forthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadDOAIcons')?.touched && !forthKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>Self attested Copies/Certificates of documents regarding the technical qualification possessed by the individual/Trainer/Coach in the particular game.</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #fifthKiaaFileInput   formControlName="EUploadTQIcons" (change)="uploadFifthKiaaDocuments(fifthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="fifthKiaaDocumentUrl"><a [href]="fileBaseUrl + fifthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadTQIcons')?.touched && !fifthKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>Self attested copies of the documents regarding the participation of the individual at international/ national/ state level.</td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input type="file" class="inputUpload"  #sixthKiaaFileInput   formControlName="EUploadPDIcons" (change)="uploadSixthKiaaDocuments(sixthKiaaFileInput.files)">
                      </div>
                      <div *ngIf="sixthKiaaDocumentUrl"><a [href]="fileBaseUrl + sixthKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div>
                    <div *ngIf="EditKiaaForm.get('EUploadPDIcons')?.touched && !sixthKiaaDocumentUrl" class="text-danger">
                      Please upload the file
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row gx-3">
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative">
                  <span class="text-uppercase uploadLevel">Upload Score Matrix </span>
                  <input type="file" class="inputUpload"  #uploadScoreMatrix   formControlName="EUploadScoreMatrix" (change)="uploadScoreMatrixDocument(uploadScoreMatrix.files)">
                </div>
                <div *ngIf="scoreMatrixKiaaDocumentUrl"><a [href]="fileBaseUrl + scoreMatrixKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
              <div *ngIf="EditKiaaForm.get('EUploadScoreMatrix')?.touched && !scoreMatrixKiaaDocumentUrl" class="text-danger">
                Please upload the file
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative">
                  <span class="text-uppercase uploadLevel">Upload Notification </span>
                  <input type="file" class="inputUpload"  #UploadNotificationMatrix   formControlName="EUploadnotificationMatrix" (change)="uploalNotificationMatrixDocument(UploadNotificationMatrix.files)">
                </div>
                <div *ngIf="notificationMatrixKiaaDocumentUrl"><a [href]="fileBaseUrl + notificationMatrixKiaaDocumentUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
              <div *ngIf="EditKiaaForm.get('EUploadnotificationMatrix')?.touched && !notificationMatrixKiaaDocumentUrl" class="text-danger">
                Please upload the file
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Enter Remarks </mat-label>
                <input type="text" matInput formControlName="Eremark">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Approve/Reject </mat-label>
                <!-- <mat-select [(value)]="Eaccrediation_status_defaultVal" formControlName="Eaccrediation_status"> -->
                <mat-select formControlName="Eaccrediation_status">
                  <mat-option value="Approved">Approve</mat-option>
                  <mat-option value="Rejected">Reject</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker.open()">
                <mat-label>Period From </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="EfromDate" (dateChange)="kiaafromDate(weedoutKiaaform.value?.kiaaWeedoutDate)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker2.open()">
                <mat-label>Period To </mat-label>
                <input matInput [matDatepicker]="picker2" [min]="dateKiaaFrom" formControlName="EtoDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label >NCOE/Others </mat-label>
                <mat-select [(value)]="EncoE_type_defaultVal" formControlName="EncoE_type" (selectionChange)="EditchangeNECO($event)">
                  <mat-option value="NCOE">NCOE</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6 col-lg-3 mb-3" *ngIf="EditKiaaForm.controls['EncoE_type'].value !=''">   
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Is Tops </mat-label>
                <mat-select formControlName="EisTops" [disabled]="EditKiaaForm.controls['EncoE_type'].value =='Others'">
                  <mat-option value="true">YES</mat-option>
                  <mat-option value="false">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <button class="btn btn-lightblue px-3 px-md-4 me-2"  (click)="editKia()">Save</button>
              <button class="btn btn-light bg-white border px-3 px-md-4" (click)="activeModal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane fade" id="weed-out-kiaa" *ngIf="kiaaElementData != null">
        <div class="text-center ng-star-inserted">
          <p class="insuranceNsrsId px-4" >NSRS ID - {{kiaaElementData.nsrsID}}</p>
        </div>
        <div class="table-responsive text-center">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>NAME</th>                
                <th>DISCIPLINE</th>
                <th>RESIDENTIAL TYPE</th>
                <th>NCOE TYPE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{kiaaElementData.academy_name}}</td>                
                <td>
                  {{kiaaElementData.sport}}
                </td>
                <td>
                  {{kiaaElementData.residential_type}}
                </td>
                <td>
                  <ng-container *ngIf="kiaaElementData.ncoE_type"> {{kiaaElementData.ncoE_type}}</ng-container>
                  <ng-container *ngIf="!kiaaElementData.ncoE_type">N/A</ng-container>
                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <form [formGroup]="weedoutKiaaform" (ngSubmit)="weedOutKiaa()">
          <div class="row gx-3">
            <div class="col-sm-4 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="transferDatePicker.open()">
                <mat-label>DD/MM/YYYY</mat-label>
                <input readonly matInput [matDatepicker]="transferDatePicker" formControlName="kiaaWeedoutDate">
                <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #transferDatePicker></mat-datepicker>
              </mat-form-field>
            </div> 
            <div class="col-sm-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>WEED OUT REASON</mat-label>
                <mat-select formControlName="kiaaWeedOutReason">
                  <mat-option *ngFor="let reason of weedOutReasonDropdown" [value]="reason">{{reason}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 mb-3">
              <mat-form-field class="w-100">
                <mat-label>WEED OUT REMARK</mat-label>
                <input type="text" matInput formControlName="kiaaWeedOutRemark">
              </mat-form-field>
            </div>
          </div>
          <div><button class="btn btn-lightblue " [disabled]="!this.weedoutKiaaform.valid">Save</button></div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-loader *ngIf="innerLoader"></app-loader>