.cursor-pointer{
    cursor: pointer;
}
.yp-tab-table table th{
    background-color: #3D3851;
    vertical-align: middle;
    text-align: center;
    font-size: 13px !important;
    font-family: 'lato' !important;
    font-weight: 600 !important;
}

.yp-tab-table table ::ng-deep .mat-sort-header-container{
    justify-content: center;
}

.yp-tab-table table td{
    border-left: 1px solid #F6F3FF !important;
    border-right: 1px solid #F6F3FF !important;
    border-bottom: 1px solid #F6F3FF !important;
    border-bottom: 1px solid #F6F3FF !important;
    border-collapse: collapse !important;
    text-align: center;
    vertical-align: middle;
       font-size: 13px !important;
    font-family: 'lato' !important;
    font-weight: 600 !important;
    color: #000000 !important;

}

.yp-tab-table table .pdf-img{
    height: 16px;
    width: 15px;
}
.yp-tab-table table .text-success-1{
    color: #286828 !important; 
}
.yp-tab-table table .text-danger-1{
    color: #FF0000 !important; 
}
.text-pending{
    color: #FFB300;
}
