
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
.navbar-brand{border-radius: 4px;padding: 0;/*border: 0.5px solid #C8C8C8;padding: 0 10px;*/}
.navbar-nav .userImg{ height: 46px; width: 46px; border-radius: 100%; object-fit: cover; }
.iconappDots{height: 46px;width: 46px;display: inline-flex;justify-content: center;align-items: center;text-decoration: none;
font-size: 26px;color: inherit;border-radius: 50%;color: #fff;}
.iconappDots:hover{background: rgb(31 96 171 / 10%);}
.dropdown-toggle::after{color: #fff;}

.modal-header .btn-close{box-shadow: none;outline: none;}
.modal-header{background-color: #FE853C;padding: 14px 15px;}
.modal-header h4 i{font-size: 18px;margin-right: 5px;}
.navbar-nav li:last-child .dropdown-menu.show{right: 0;left: auto;}

/**********reset password css************/    
.modal-header h4{font-size: 14px;color: #fff;font-weight: bold;display: inline-flex;align-items: center;text-transform: uppercase;}
.modal-body h5{font-size: 24px;color: #000;text-transform: uppercase;font-weight: bold;margin-bottom: 0;margin-top: 10px;}
.inputIcon ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{padding-top: 7px;}
.inputIcon ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{padding-bottom: 6px;border-top: 0;}
.inputIcon ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,.inputIcon ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
height:auto ;
}

.dropdownPortal_menu{
    min-width: 270px;
    padding: 15px;
    font-family: 'Saira Condensed', sans-serif;border-radius: 3px;
}
.dropdownPortal_menu ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);    grid-gap: 15px;
}

.dropdownPortal_menu a{text-decoration: none;color: #000;}
.dropdownPortal_menu .thumb_title{display: block;
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;}
    .dropdownPortal_menu img{max-height: 40px;}

.nsrsApps .dropdown-toggle::after{display: none;}
ul li[title="Direct Benefit Transfer"]{
    grid-column: 2 / span 2;
}
/**********Menu Customize css**************/
#navbarSupportedContent{display: flex!important;flex-basis: auto;}
#navbarSupportedContent .navbar-nav{flex-direction: row;}
.navbar-expand-sm .navbar-nav .dropdown-menu{left: auto;right: 0;}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
}

/* @media (min-width:768px){
.navbar-expand-sm .navbar-nav .dropdown-menu{left: auto;right: 0;}
} */

:host .app-item:not(.app-disabled) {
    cursor: pointer;
}

:host .app-item:not(.app-disabled):hover {
    background-color: #7700ff09;
}

:host .app-disabled {
    background-color: #d6d4d4;
}

:host .app-disabled .app-logo {
    filter: grayscale(1);
}

:host .app-disabled a span {
    color: #666660;
}

:host .border-grey {
    border: 1px solid #d6d4d4;
}
.iconappDots .icon-apps_dots::before{color: #000;}

/* @media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        left: auto;
        right: 0;
    }
} */