<div class="matTable">
    <div class="row justify-content-center gx-3 pt-1">
      <div class="col pt-2">
        <mat-form-field appearance="fill" class="w-100 matselectFont">
          <mat-label>Mapping Type</mat-label>
          <mat-select [formControl]="mappingTypeControl" (selectionChange)="changeMapType($event)">
            <mat-option [value]=2>Coach - Athlete</mat-option>
            <mat-option [value]=103>Sport Scientist - Athlete</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="mappingTypeControl.invalid && mappingTypeControl.touched">
          <div class="text-danger">
            <small>Mapping Type is required</small>
          </div>
        </ng-container>
      </div>
      <div class="col pt-2">
        <mat-form-field appearance="fill" class="w-100 matselectFont" (click)="onDropDownClick('DISCIPLINE')">
          <mat-label>{{ mappingTypeControl.value == 103 ? 'Category' : 'Discipline' }}</mat-label>
          <mat-select [formControl]="disciplineControl" (selectionChange)="onDisciplineChange($event)">
            <ng-container *ngIf="(sportsList$ | async) as sportsList">
                <mat-option *ngFor="let option of sportsList" [value]="option.sport_detail_id || option.id">{{ option.sport_name || option.name }}</mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="!mappingTypeControl.value && disciplineControl.invalid && disciplineControl.touched">
          <div class="text-danger">
            <small>Select Mapping Type First</small>
          </div>
        </ng-container>
      </div>
      <div class="col pt-2">
        <mat-form-field appearance="fill" class="w-100 matselectFont" (click)="onDropDownClick('COACH')">
          <mat-label>{{mappingTypeControl.value === 103 ? 'Sport Scientist' : 'Coach'}}</mat-label>
          <mat-select [formControl]="mainCoachControl" (selectionChange)="onMainCoachChange($event)">
            <ng-container *ngIf="(coachList$ | async) as list">
              <mat-option *ngFor="let option of list" [value]="option.official_detail_id">{{ option.name + ' (' + option.nsrsId + ')' }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="!disciplineControl.value && mainCoachControl.invalid && mainCoachControl.touched">
          <div class="text-danger">
            <small>Select Discipline First</small>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row" [ngClass]="{'d-none': mainCoachControl.invalid }">
      <div class="col-lg-6">
        <div class="w-100 d-flex justify-content-end">
          <div class="searchInput my-2 w-50">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input #coachSearch class="form-control"  (keyup)="applyFilter($any($event.target).value, 'COACH')" placeholder="Search.." />
          </div>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="coachData" matSort class="w-100  table-striped">
      
            <!-- Checkbox Column -->
            <ng-container matColumnDef="isMapped">
              <th mat-header-cell *matHeaderCellDef class="col-1">
                <span class="d-flex align-items-center">
                  <mat-checkbox (change)="masterToggleMapAthlete('COACH')"
                              [checked]="coachSelection.hasValue() && isAllSelectedMapAthlete('COACH')"
                              [indeterminate]="coachSelection.hasValue() && !isAllSelectedMapAthlete('COACH')">
                </mat-checkbox>
                  <span class="d-inline-block ms-2">ALL</span>
                </span>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="coachSelection.toggle(row)"
                              [checked]="coachSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container> 
            
            <!-- Coach Column -->
            <ng-container matColumnDef="nsrsId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="nsrsId" class="col-3"> NSRS ID </th>
              <td mat-cell *matCellDef="let element"> {{element.nsrsId}} </td>
            </ng-container>
      
            <!-- NSRS ID Column -->
            <ng-container matColumnDef="coachName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="coachName" class="col-3">
                {{mappingTypeControl.value === 103 ? 'Sport Scientist' : 'Coach'}}
              </th>
              <td mat-cell *matCellDef="let element"> {{element.coachName}} </td>
            </ng-container>
          
          
            <!-- SPORTS DISCIPLINE Column -->
            <ng-container matColumnDef="sports">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="sports" class="col-3"> DISCIPLINE </th>
              <td mat-cell *matCellDef="let element"> {{element.sports}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="coachTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: coachTableColumns;">
            </tr>
          </table>
        </div>
        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
        </mat-paginator>
      </div>
      <div class="col-lg-6">
        <div class="w-100 d-flex justify-content-end">
          <div class="searchInput my-2 w-50">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input #athleteSearch class="form-control"  (keyup)="applyFilter($any($event.target).value, 'ATHLETE')" placeholder="Search.." />
          </div>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="athleteData" matSort class="w-100  table-striped">
      
            <!-- Checkbox Column -->
            <ng-container matColumnDef="isMapped">
              <th mat-header-cell *matHeaderCellDef class="col-1">
                <span class="d-flex align-items-center">
                  <mat-checkbox (change)="masterToggleMapAthlete('ATHLETE')"
                              [checked]="athleteSelection.hasValue() && isAllSelectedMapAthlete('ATHLETE')"
                              [indeterminate]="athleteSelection.hasValue() && !isAllSelectedMapAthlete('ATHLETE')">
                </mat-checkbox>
                  <span class="d-inline-block ms-2">ALL</span>
                </span>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="athleteSelection.toggle(row)"
                              [checked]="athleteSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container> 
            
            <!-- Coach Column -->
            <ng-container matColumnDef="nsrsId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="nsrsId" class="col-3" > NSRS ID </th>
              <td mat-cell *matCellDef="let element"> {{element.nsrsId}} </td>
            </ng-container>
      
            <!-- NSRS ID Column -->
            <ng-container matColumnDef="athleteName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="athleteName" class="col-3"> Athlete </th>
              <td mat-cell *matCellDef="let element"> {{element.athleteName}} </td>
            </ng-container>
          
          
            <!-- SPORTS DISCIPLINE Column -->
            <ng-container matColumnDef="sports">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="sports" class="col-3"> DISCIPLINE </th>
              <td mat-cell *matCellDef="let element"> {{element.sports}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="athleteTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: athleteTableColumns;">
            </tr>
          </table>
        </div>
        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
        </mat-paginator>
        <div class="text-end mt-3 mb-4">
          <button type="button" class="btn btn-blue px-4 px-lg-5" (click)="onSave()">SAVE</button>
        </div>
      </div>
    </div>
    
</div>
<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>

