<div class="modal-body tagcommonModal language-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
  <h3>
    <!-- <span class="titleIcon"><i class="icon-kicAttendanceHistory"></i></span> -->
    {{insuranceChartType}} Insurance Status ({{disciplineName}})
  </h3>
  </div>
  <hr />
  <div class="athlete">
      <div class="table-responsive">
          <table mat-table class="currentTable" matTableExporter  #exporter="matTableExporter" [dataSource]="dataSource" matSort class="table-striped w-100">  
                                  
              <ng-container matColumnDef="academy_Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="academy_Name" class="col-4"> Academy</th>
              <td mat-cell *matCellDef="let row"> {{row.academy_name}} </td>
              </ng-container>
              <ng-container matColumnDef="insured">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="insured" class="col-2">Insured</th>
              <td mat-cell *matCellDef="let row"> {{row.insured}} </td>
              </ng-container>
              <ng-container matColumnDef="pending">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="pending" class="col-2">Pending</th>
              <td mat-cell *matCellDef="let row"> {{row.pending}} </td>
              </ng-container>
              <ng-container matColumnDef="expired">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="expired" class="col-2">Expired</th>
              <td mat-cell *matCellDef="let row"> {{row.expired}} </td>
              </ng-container>
              <ng-container matColumnDef="not_insured">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="notInsured" class="col-2">Not Insured</th>
              <td mat-cell *matCellDef="let row"> {{row.notInsured}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="insuranceTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: insuranceTableColumns;"></tr> 
              <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="4"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
          </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>