.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .mat-table,.table{min-height: 160px;}
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
    #eventMasterTable ::ng-deep .mat-sort-header-arrow {color: #fff;}
    .athlete .mat-row .mat-cell:nth-child(3),.athlete th.mat-header-cell:nth-child(3){width: 15%;}
    .athlete .mat-row .mat-cell:nth-child(5),.athlete th.mat-header-cell:nth-child(5){width: 14%;}
    .athlete .mat-row .mat-cell:nth-child(6),.athlete th.mat-header-cell:nth-child(6){text-align: center;}
    .athlete .mat-row .mat-cell:nth-child(8),.athlete th.mat-header-cell:nth-child(8){text-align: center;}
    .athlete .mat-row .mat-cell:last-child,.athlete th.mat-header-cell:last-child{min-width: 200px;}
    /* .athlete th.mat-header-cell:last-child ::ng-deep .mat-sort-header-container{justify-content: center;}
    .athlete th.mat-header-cell:nth-child(8) ::ng-deep .mat-sort-header-container{justify-content: center;} */
    .athlete .mat-row .mat-cell a{text-decoration: none;color: inherit;}
    .athlete .mat-row .mat-cell:last-child a:first-child{padding-right: 10px;}
    .athlete .mat-row .mat-cell:last-child a:last-child{padding-left: 10px;}
    .athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
    .athlete .mat-row .mat-cell:last-child {border-right: 0;}
    
    .noDataFound{font-size: 16px;}

.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
padding: 3px;
font-size: 13px;
text-transform: uppercase;}
.tagcommonModal .btn-close{position: absolute;
right: 7px;
top: 7px;
font-size: 9px;box-shadow: none;outline: none;}
.tagcommonModal{padding: 15px 26px 15px 20px}

.taggedSuccessfully .titleTxt h4{background-color: #D4FFC2;
border: 1px solid #20BE35;}
.tagcommonModal.deleteCommonModal .titleTxt h4{background: #ffdede;
    border-color: #fb9f9f;}