<div class="monitoring-and-evaluation py-4">
  <div class="container-fluid">
    <!-- <div class="row mb-3">
            <div class="col-auto">
                <select class="form-select rounded rounded-pill disciplane-dropdown" (change)="changeDiscipline($event)">
                    <option value="1">Kabaddi</option>
                    <option value="2">Hockey</option>
                    <option value="3">Football</option>
                </select>
            </div>
        </div> -->
    <!-- <div class="row ">
            <div class="col-lg-3 col-md-6 col-12 mb-2">
                <div class="monitoring-tile monitoring-tile-1">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="monitoring-tile-heading">
                            <p class="mb-0">
                                Sports Training Center Name/Type
                            </p>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2">
                <div class="monitoring-tile monitoring-tile-2">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="monitoring-tile-heading">
                            <p class="mb-0">
                                Athletes
                            </p>
                        </div>
                        <div class="monitoring-icon">

                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="sub-heading">MALE</p>
                            <p class="sub-heading-number">20</p>
                        </div>
                        <div class="hl"></div>
                        <div>
                            <p class="sub-heading">FEMALE</p>
                            <p class="sub-heading-number">10</p>
                        </div>
                        <div class="hl"></div>
                        <div>
                            <p class="sub-heading">TOTAL</p>
                            <p class="sub-heading-number">30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2">
                <div class="monitoring-tile monitoring-tile-3">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="monitoring-tile-heading">
                            <p class="mb-0">
                                Coaches
                            </p>
                        </div>
                        <div class="monitoring-icon">

                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="sub-heading">MALE</p>
                            <p class="sub-heading-number">20</p>
                        </div>
                        <div class="hl"></div>
                        <div>
                            <p class="sub-heading">FEMALE</p>
                            <p class="sub-heading-number">10</p>
                        </div>
                        <div class="hl"></div>
                        <div>
                            <p class="sub-heading">TOTAL</p>
                            <p class="sub-heading-number">30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2">
                <div class="monitoring-tile monitoring-tile-4">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="monitoring-tile-heading">
                            <p class="mb-0">
                                Monitoring & Evaluation
                            </p>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <div class="row inner-tab-group mb-3">
      <div class="col-12 p-3 py-2">
        <!-- <mat-tab-group  class="mt-2" [dynamicHeight]="false" [@.disabled]="true"> -->
        <mat-tab-group class="mt-2" [dynamicHeight]="false" [@.disabled]="true">
          <mat-tab aria-label="equipmentProcurement">
            <ng-template matTabLabel class="tabEquipment">EQUIPMENT PROCUREMENT</ng-template>
            <div class="mt-4">
              <ng-template matTabContent>
                <app-equipment-procurement (dataFromProcurement)="procurementData($event)"   (dataOfTabClicked)="dataoftabClicked($event)" [tabbingLinkData]="tabbingLinkData" ></app-equipment-procurement>
              </ng-template>
            </div>
          </mat-tab>

          <!-- <mat-tab aria-label="pastChampionAthlete" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="pastChampionAthlete" >
            <ng-template matTabLabel class="tabPastChampion">
              <ng-container *ngIf="this.userDetails.role_id == 82"> PAST CHAMPION ATHLETE </ng-container>
              <ng-container *ngIf="this.userDetails.role_id != 82"> MANPOWER </ng-container>
            </ng-template>
            <ng-template matTabContent>
              <app-past-champion-athletes [uniqueKUID]="uniqueKUID"  (dataOfTabClicked)="dataoftabClicked($event)" [tabbingLinkData]="tabbingLinkData" ></app-past-champion-athletes>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="branding" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="branding" >
            <ng-template matTabLabel class="tablBranding">BRANDING</ng-template>
            <ng-template matTabContent>
              <app-branding [uniqueKUID]="uniqueKUID"  (dataOfTabClicked)="dataoftabClicked($event)" [tabbingLinkData]="tabbingLinkData" ></app-branding>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="trainingDetails" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="trainingDetails" >
            <ng-template matTabLabel class="tablTrainingDetails">TRAINING DETAILS</ng-template>
            <ng-template matTabContent>
              <app-training-details [uniqueKUID]="uniqueKUID" (dataOfTabClicked)="dataoftabClicked($event)" [tabbingLinkData]="tabbingLinkData" ></app-training-details>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="cctcFeed" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="cctcFeed" >
            <ng-template matTabLabel class="tablCCTV">CCTV FEED</ng-template>
            <ng-template matTabContent>
              <app-cctc-feed [uniqueKUID]="uniqueKUID"></app-cctc-feed>
            </ng-template>
          </mat-tab>

          <mat-tab
            aria-label="scheduleMeeting"
            *ngIf="
              userDetails.role_id == KicUsersRoleId.stateAdmin ||
              userDetails.role_id == KicUsersRoleId.rcAdmin ||
              userDetails.role_id == KicUsersRoleId.hoAdmin
            "
            
          >
            <ng-template matTabLabel class="tablScheduleMeeting">SCHEDULE MEETING</ng-template>
            <ng-template matTabContent>
              <app-scheduleMeeting></app-scheduleMeeting>
            </ng-template>
          </mat-tab>

          <mat-tab aria-label="scheduleMeeting" *ngIf="userDetails.role_id == KicUsersRoleId.stateAdmin" >
            <ng-template matTabLabel class="tablAchievement">ACHIEVEMENT</ng-template>
            <ng-template matTabContent>
              <app-achievement></app-achievement>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
