<div class="modal-dialog modal-lg modal-dialog-centered">
  <div id="mContent" class="modal-content inner-modal">
    <div class="modal-header container">
      <div class="label-header">
        <label>State Name: </label>
        <span>{{ state_name }}</span>
      </div>
      <div class="label-header">
        <!-- <label>KIC Type: </label>
        <span>{{ kiC_Type }}</span> -->
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalClose('cancel')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="sanctionReleaseForm" (ngSubmit)="onSubmit()">
        <div class="custom-table custom-scroll">
          <table>
            <thead>
              <tr>
                <th>UC ID</th>
                <th>UC AMOUNT</th>
                <th>DATE OF SUBMISSION</th>
                <th>E-FILE NO.</th>
                <th>UC DOCUMENT</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let item of addSanctionReleased; let i = index">
                  <td>
                    <p>{{ item.uC_Id }}</p>
                  </td>
                  <td>
                    <p>{{ item.uC_Amount }}</p>
                  </td>
                  <td>
                    <p>{{ item.date_submission | date : "dd/MM/yyyy" }}</p>
                  </td>
                  <td>
                    <p>{{ item.e_File_Number }}</p>
                  </td>
                  <td>
                    <div class="wrap-view">
                      <div class="view">
                        <span class="icon">
                          <img src="assets/images/svg-icons/eye-fill.svg" alt="view" srcset="" />
                        </span>
                        <span class="text" (click)="openFile(item.uC_Document)">View</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="noDataFound">
            <ng-container *ngIf="addSanctionReleased.length === 0"
              ><img src="../../../../../assets/images/norecordfound.png" alt="No Records Found"
            /></ng-container>
          </div>
        </div>
        <div class="container">
          <div class="left-column">
            <div class="label-text">
              <label for="left-input-1">Sanction ID:</label>
              <span>{{ sanction_Id }}</span>
            </div>
            <div class="label-text">
              <label for="left-input-2">Amount Released:</label>
              <span>{{ released_Amount }}</span>
            </div>
            <div class="label-text">
              <label for="left-input-3">Date of Released:</label>
              <span>{{ sanction_Date | date : "dd-MM-yyyy" }}</span>
            </div>
            <div class="label-text">
              <label for="left-input-4">Sanction No.:</label>
              <span>{{ sanction_No }}</span>
            </div>
          </div>
          <div class="right-column">
            <div class="label-text">
              <label for="right-input-1">UC Amount:</label>
              <input type="text" class="input-field" formControlName="uC_Amount" (keypress)="preventCharacters($event)" />
            </div>
            <div>
              <mat-error
                class="text-danger"
                *ngIf="sanctionReleaseForm.get('uC_Amount')?.errors?.['maxAmountExceeded'] && sanctionReleaseForm.get('uC_Amount')?.touched"
              >
                The Total UC Amount Exceeds The Released Amount Of {{ released_Amount }}!</mat-error
              >
            </div>
            <div class="label-text">
              <label for="right-input-2">Date of Submission:</label>
              <mat-form-field appearance="fill" (click)="picker1.open()">
                <input matInput [matDatepicker]="picker1"  [readonly]="true" formControlName="date_Submission" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <!-- <mat-error *ngIf="formSubmitted && sanctionReleaseForm.controls['date_Submission'].hasError('required')">
                  {{ "Date is required" }}
                </mat-error> -->
            </div>
            <div class="label-text">
              <label for="right-input-3">E-File No.:</label>
              <input type="text" class="input-field" formControlName="e_File_No" />
              <!-- <mat-error *ngIf="formSubmitted && sanctionReleaseForm.controls['e_File_No'].hasError('required')">
                  {{ "E-File No is required" }}
                </mat-error> -->
            </div>
            <div class="label-text">
              <label for="right-input-4">UC Document:</label>
              <div class="wrap-upload mb-2">
                <div class="upload" (click)="fileUpload.click()">
                  <span class="text">Upload*</span>
                  <span class="icon">
                    <img src="assets/images/svg-icons/upload.svg" alt="" />
                  </span>
                  <input
                    type="file"
                    #fileUpload
                    name="fileUpload"
                    class="d-none"
                    (change)="uploadFile(fileUpload.files, 'uC_Document'); fileUpload.value = ''"
                  />
                </div>
              </div>
              <div *ngIf="showDocument" class="uc-document">
                <a [href]="fileUrl + sanctionReleaseForm.get('uC_Document')?.value" target="_blank">
                  <i class="fa-solid fa-eye"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div  class="image-format">
            <button>
              <a href="../../../../assets/pdf/Draft_KIC_UC_Template_V0.1_16012024 (2).pdf" target="_self" download>Downlad UC Format</a>
            </button>
          </div>
        <div class="save-data text-center my-4">
          <!-- <button
              type="submit"
              [disabled]="!sanctionReleaseForm.valid"
              [ngClass]="{ 'btn-lightblue': sanctionReleaseForm.valid, 'btn-disabled': !sanctionReleaseForm.valid }"
              class="btn px-3 ms-2 text-uppercase"
            >
              Proceed
            </button> -->
          <button
            type="submit"
            [disabled]="!sanctionReleaseForm.valid || calculateTotalUCAmount() > released_Amount"
            [ngClass]="{
              'btn-lightblue': sanctionReleaseForm.valid,
              'btn-disabled': !sanctionReleaseForm.valid || calculateTotalUCAmount() > released_Amount
            }"
            class="btn px-3 ms-2 text-uppercase"
          >
            Proceed
          </button>

          <button (click)="modalClose('cancel')" type="button" class="btn btn-lightwhite px-3 ms-2 text-uppercase">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader *ngIf="mainLoader || isLoading"></app-loader>
