.monitoring-and-evaluation{
    font-family: 'Lato', sans-serif;
}
::ng-deep .mat-tab-label, .mat-tab-link {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.monitoring-and-evaluation .disciplane-dropdown{
    cursor: pointer;
}
.monitoring-tile{
    padding: 20px 16px;
    border-radius: 5px;
    color: #fff;
    min-height: 135px;
    height: 135px;
    
}
.monitoring-tile .sub-heading-number{
    margin-bottom: 0px;
    text-align: center;
}
.monitoring-tile .sub-heading{
    font-size: 12px;
    margin-bottom: 5px;
}
.monitoring-tile .sub-heading-number{
    font-size: 23px;
    font-weight: 700;
}
.monitoring-tile .hl{
    height: 15px;
    width: 1.5px;
    background-color: #dedede;
    margin-top: 4px;
}
.monitoring-tile .monitoring-tile-heading p{
    font-size: 16px;
    font-weight: 400;
    padding-right: 55px;
    line-height: 22px;
}
.monitoring-tile-1{
    background-color: #D04E94;
}
.monitoring-tile-2{
    background-color: #6A51B9;
}
.monitoring-tile-3{
    background-color: #55A9E7;
}
.monitoring-tile-4{
    background-color: #F89544;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1F60AB;
    font-family: 'Lato' !important;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
    opacity: 1;
    color:#000;
    font-weight: 700;
}
:ng-deep .mat-tab-label{
    border-bottom: 0px !important;
}
::ng-deep .mat-focus-indicator::before{
    border-bottom-color: 0px !important;
}
.inner-tab-group ::ng-deep .mat-tab-group{
    padding:12px 25px 35px 25px;
    box-shadow: 0px 0px 5px 1px #E1EBFC;
}


::ng-deep .mat-table{
    font-family: 'Lato';
}



::ng-deep .mat-header-cell{
    font-size: 13px !important;
}

::ng-deep select{
    font-family: 'Lato' !important;
}
::ng-deep input{
    font-family: 'Lato' !important;
}