<div class="monitoring-and-evaluation py-4">
  <div class="container-fluid">
    <div class="row inner-tab-group mb-3">
      <div class="col-12 p-3 py-2">
        <!-- <mat-tab-group  class="mt-2" [dynamicHeight]="false" [@.disabled]="true"> -->
        <mat-tab-group class="mt-2" [dynamicHeight]="false" [@.disabled]="true">
          <mat-tab aria-label="equipmentProcurement">
            <ng-template matTabLabel class="tabEquipment">EQUIPMENT PROCUREMENT </ng-template>
            <div class="mt-4">
              <ng-template matTabContent>
                <app-equipment-procurement (dataFromProcurement)="procurementData($event)"
                  (dataOfTabClicked)="dataoftabClicked($event)"
                  [tabbingLinkData]="tabbingLinkData"></app-equipment-procurement>
              </ng-template>
            </div>
          </mat-tab>

          <!-- <mat-tab aria-label="pastChampionAthlete" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
       
          <!-- <ng-container *ngIf="this.userDetails.role_id == this.KicUsersRoleId.kisceAdmin"> PAST CHAMPION ATHLETE  </ng-container> -->
          <mat-tab aria-label="pastChampionAthlete" *ngIf="this.userDetails.role_id == this.KicUsersRoleId.hoAdmin || this.userDetails.role_id == this.KicUsersRoleId.rcAdmin|| this.userDetails.role_id == this.KicUsersRoleId.stateAdmin">
            <ng-template matTabLabel class="tabPastChampion">
              <ng-container> MANPOWER </ng-container>
            </ng-template>
            <ng-template matTabContent>
              <app-past-champion-athletes [uniqueKUID]="uniqueKUID" (dataOfTabClicked)="dataoftabClicked($event)"
                [tabbingLinkData]="tabbingLinkData"></app-past-champion-athletes>
            </ng-template>
          </mat-tab>

          <mat-tab aria-label="pastChampionAthlete" *ngIf="this.userDetails.role_id == this.KicUsersRoleId.hoAdmin || this.userDetails.role_id == this.KicUsersRoleId.rcAdmin|| this.userDetails.role_id == this.KicUsersRoleId.stateAdmin">
            <ng-template matTabLabel class="tabPastChampion">
              <ng-container> FINANCIAL STATUS </ng-container>
            </ng-template>
            <ng-template matTabContent>
              <app-kisce-financial-status [uniqueKUID]="uniqueKUID" (dataOfTabClicked)="dataoftabClicked($event)"
                [tabbingLinkData]="tabbingLinkData"></app-kisce-financial-status>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="branding" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="branding">
            <ng-template matTabLabel class="tablBranding">BRANDING</ng-template>
            <ng-template matTabContent>
              <app-branding [uniqueKUID]="uniqueKUID" (dataOfTabClicked)="dataoftabClicked($event)"
                [tabbingLinkData]="tabbingLinkData"></app-branding>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="trainingDetails" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="trainingDetails">
            <ng-template matTabLabel class="tablTrainingDetails">TRAINING DETAILS</ng-template>
            <ng-template matTabContent>
              <app-training-details [uniqueKUID]="uniqueKUID" (dataOfTabClicked)="dataoftabClicked($event)"
                [tabbingLinkData]="tabbingLinkData"></app-training-details>
            </ng-template>
          </mat-tab>

          <!-- <mat-tab aria-label="cctcFeed" [disabled]="this.userDetails.role_id == 82 ?!uniqueKUID : false"> -->
          <mat-tab aria-label="cctcFeed">
            <ng-template matTabLabel class="tablCCTV">CCTV FEED</ng-template>
            <ng-template matTabContent>
              <app-cctv-feed [uniqueKUID]="uniqueKUID"></app-cctv-feed>
            </ng-template>
          </mat-tab>

          <mat-tab aria-label="scheduleMeeting" *ngIf="
                userDetails.role_id == KicUsersRoleId.stateAdmin ||
                userDetails.role_id == KicUsersRoleId.rcAdmin ||
                userDetails.role_id == KicUsersRoleId.hoAdmin
              ">
            <ng-template matTabLabel class="tablScheduleMeeting">SCHEDULE MEETING</ng-template>
            <ng-template matTabContent>
              <app-schedule-meeting></app-schedule-meeting>
            </ng-template>
          </mat-tab>

          <mat-tab aria-label="scheduleMeeting" *ngIf="userDetails.role_id == KicUsersRoleId.stateAdmin">
            <ng-template matTabLabel class="tablAchievement">ACHIEVEMENT</ng-template>
            <ng-template matTabContent>
              <app-achievement></app-achievement>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>