
.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot span{width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;}
    .achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot span::after{content: '';
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot:hover span{background-color: transparent;}
.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot.active span{background: #fff;}
.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot.active span,.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot:hover span{border-color: #ccc;}
.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot.active span::after,.achievement-carousel ::ng-deep .owl-theme .owl-dots .owl-dot:hover span::after{background: #FFB24D;}

.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}
.border-top .btn-blue{font-size: 14px;padding: 6px;}

/* .achievement-carousel{padding: 0 1px;} */
.achievement-carousel .card{padding: 15px;margin: 10px;box-shadow: 0 3px 6px #CCD3FF;border-color: #CCD3FF;min-height: 249px;}
.achievement-carousel .card-gold{box-shadow: 0 3px 6px #FFE8A1;border-color: #FFE8A1;}
.achievement-carousel .card-silver{box-shadow: 0 3px 6px #C0C0C0;border-color: #C0C0C0;}
.achievement-carousel .card-bronze{box-shadow: 0 3px 6px #CD7F32;border-color: #CD7F32;}
.achievement-carousel .title-wrap{margin-bottom: 10px;}
.achievement-carousel .title-wrap h3{font-size: 14px;font-weight: bold;margin-right: 10px;text-transform: uppercase;}
.achievement-carousel .title-wrap .icon-box{flex: 0 0 30px;height: 30px;background-color: #8894DF;
    border-radius: 3px;display: flex; justify-content: center;align-items: center;}
.achievement-carousel .card-gold .icon-box{background-color: #D5AB28;}
.achievement-carousel .card-silver .icon-box{background-color: #C0C0C0;}
.achievement-carousel .card-bronze .icon-box{background-color: #CD7F32;}
.achievement-carousel ul{display: grid;grid-template-columns: 1fr 1fr;}
.achievement-carousel ul li{position: relative;padding-left: 30px;padding-top: 10px;
    padding-bottom: 10px;}
.achievement-carousel ul .iconlist{position: absolute;left: 0;}
.achievement-carousel ul .iconlist i::before{color: #D5AB28;}
.achievement-carousel .cat-name{display: block;font-size: 11px;}
.achievement-carousel .cat-level{display: block;font-size: 15px;font-weight: bold;}

:host .page-heading-icon {
    font-size: 18px;
}
