.homeslider{background: url(../../../assets/images/slider-bg.svg)no-repeat right top;position: relative;
    background-size: 43.5%;background-position-y: -20px;padding-bottom: 18em;}
    .homeslider h2{font-size: 66px;
    font-weight: 600;}
    .homeslider P{color: #434343;background: rgb(251,190,148);
        background: linear-gradient(90deg, rgba(251,190,148,1) 0%, rgba(253,222,201,1) 22%, rgba(255,255,255,1) 100%);
        padding: 7px 12px;
        font-size: 19px;}
    .homeslider .btn{background: #1F60AB;color: #fff;border-color: #1F60AB;letter-spacing: 0.6px;font-weight: bold;padding: 10px 25px;
    text-transform: uppercase;font-size: 15px;}
    .homeslider .sliderTxt{position: absolute;top: 150px;max-width: 500px;z-index: 2;}
    .homeslider .item .imgsec img{width: auto;max-width: 100%;margin-left: auto;}
    
    .counterrow{padding-top: 0;margin-top: -50px;}
    .counterrow .midtitle h2{font-size: 35px;font-family: 'Conv_Antonio-Regular', sans-serif;}
    .counterrow .midtitle h2::after{background-color: #f98904;}
    .counterrow .counter-box img{max-height: 50px;}
    .counterrow .counter-box .counting{font-size: 30px;color: #1F60AB;font-weight: 600;margin: 10px 0 0;}
    .counterrow .counter-box .counting::after{content: "+";}
    .counterrow .counter-box p{color: #999;text-transform: uppercase;}
    .counterrow .row .counter-box:not(:last-child){border-right: 1px solid #EEEEEE;}
    .counterrow .infographic{max-width: 85%;}
    
    
    .aboutsec{padding-top: 120px;}
    .aboutsec .aboutimg{position: relative;}
    .aboutsec .aboutimg::before{position: absolute;content: '';width: 351px;max-width: 100%;left: 100px;top: 0;
    bottom: 0;z-index: -1;background: #1F60AB;border-right: 8px solid #FF6800;border-radius: 90px 0 0 0;}
    .aboutsec .midtitle h2::after{right: auto;background-color: #f98904;}
    .aboutsec p{font-size: 18px;line-height: 39px;color: #434343;text-align: justify;}
    .nsrs-mobile{background-color: #FCFCFC;padding-top: 100px;}
    .nsrs-mobile .midtitle h2::after{left: 0;right: auto;background-color: #FF6800;}
    .nsrs-mobile p{color: #434343;line-height: 30px;font-size: 18px;text-align: justify;}
    .nsrs-mobile ul{display: grid;grid-template-columns: 1fr 1fr;gap: 0 50px;}
    .nsrs-mobile ul li{padding-bottom: 20px;margin-top: 30px;}
    .nsrs-mobile ul li:nth-child(1),.nsrs-mobile ul li:nth-child(2){border-bottom: 1px solid #E6E6E6;}
    .nsrs-mobile ul li .imgicon{display: block;margin-bottom: 8px;}
    .nsrs-mobile ul li .imgicon-title{font-size: 18px;color: #000000;font-weight: 500;}
    .nsrs-mobile .appimg{margin-bottom: -50px;}
    
    
    
    
    /**********common***********/
    .midtitle h2{position: relative;font-size: 35px;color: #000;padding-bottom: 20px;
    font-weight: 400;}
    .midtitle h2::after{position: absolute;content: '';bottom: 0;width: 77px;background-color: #000080;
    height: 3px;margin: 0 auto;left: 0;right: 0;}
    .midtitle h2 span{font-size: 18px;color: #F36E21;font-weight: bold;margin-bottom: 5px;
    font-family: 'lato',sans-serif;}
    
    /******about us css*******/
    .commontopsec{padding: 100px 0 80px;background-color: #FCFCFC;}
    .about-us{padding:60px 0 30px;}
    
    .about_p p{line-height:39px;color: #434343;max-width: 1042px;font-size: 18px;margin-left: auto;margin-right: auto;}
    .row-about .item .box{margin: 15px 0;padding-bottom: 10px;}
    .row-about .item:nth-child(1) .box,.row-about .item:nth-child(2) .box{border-bottom: 1px solid #E2E2E2;}
    .row-about .item h3{display: flex;align-items: center;font-size: 21px;font-weight: bold;flex-wrap: wrap;margin-bottom: 15px;text-transform: uppercase;}
    .row-about .item h3 .iconbox{width: 30px;height: 30px;background-color: #F36E21;display: inline-flex;justify-content: center;
    align-items: center;font-size: 16px;border-radius: 6px;margin-right: 20px;}
    .row-about .item p{font-size: 18px;line-height: 39px;color: #434343;text-align: justify;}
    
    /************Media Query*************/
    @media(min-device-width: 1367px) and (max-device-width: 1490px){
        .homeslider ::ng-deep .owl-dots{bottom: -12%;}
    }
    @media(min-device-width: 1200px) and (max-device-width: 1366px){
        .homeslider ::ng-deep .owl-dots{bottom: -25%;}
    }
    @media(max-width:1199.8px){
        .navbar .navbar-nav li a{padding: 0 15px;}
        .homeslider .sliderTxt{top: 50px;}
        .footer .copyright ul li:first-child{margin-left: 0;}
        .footer .copyright .row .col-xl-9{order: 2;}
        .footer .copyright ul{margin-bottom: 10px;}
        .homeslider ::ng-deep .owl-dots{position: static;}
    }
    @media(max-width:991.8px){
    .offcanvas-backdrop.show {opacity: .8;}
    .navbar-nav .dropdown-menu{position: static !important;transform: none !important;}
    #mobilemenu .offcanvas-title{border: 1px solid #d2d0d0;padding: 9px 15px;border-radius: 5px;}
    #mobilemenu .offcanvas-title img{max-width: 200px;}
    #mobilemenu .navbar-nav li:not(:last-child){border-bottom: 1px solid #eee;}
    #mobilemenu .navbar-nav a{text-decoration: none;color: #161616;display: block;padding: 5px 0;font-size: 14px;}
    #mobilemenu .navbar-nav a.active{color: #F36E21;background-color: transparent;}
    #mobilemenu .navbar-nav ul{padding:0 10px;border: 0;}
    .homeslider h2{font-size: 25px;}
    .aboutsec .aboutimg::before{left: 0;}
    .nsrs-mobile ul li .imgicon-title{font-size: 12px;}
    .nsrs-mobile ul{gap: 0 15px;}
    .midtitle h2{font-size: 30px;}
    .footer .ftrregistration ul li {padding: 0 1em;}
    .homeslider{padding-bottom: 8em;}
    }
    @media(min-width:768px) and (max-width:991.8px){
        .nsrs-mobile{padding-bottom: 2em;}
    }
    @media(max-width:767.8px){
    .midtitle h2{font-size: 30px;text-align: center;}
    .about_p p,.row-about .item p{line-height: 28px;max-width: 100%;font-size: 15px;}
    .commontopsec {padding: 50px 0 30px;}
    .about-us {padding: 40px 0 30px;}
    .row-about .item h3{font-size: 17px;margin-bottom: 10px;}
    .row-about .item:not(:last-child) .box{border-bottom: 1px solid #E2E2E2;}
    .homeslider .owl-dots{position: static;}
    .counterrow {margin-top: 50px;}
    .aboutsec p,.nsrs-mobile p{font-size: 15px;line-height: 30px;text-align: justify;}
    .counterrow .counter-box .counting {font-size: 20px;}
    .counterrow .row .counter-box:nth-child(2){border-right: 0;}
    .counterrow .row .counter-box{margin: 15px 0;}
    .aboutsec,.nsrs-mobile{padding-top: 40px;}
    .nsrs-mobile .row .col-md-4.pe-lg-4{order: 3;}
    .footer{padding: 25px 0;}
    .footer .ftrregistration h4 {font-size: 16px;}
    .ftrregistration{margin-top: 20px;}
    .footer h3 {font-size: 16px;margin-bottom: 10px;}
    .copyright ul{margin: 0;}
    .homeslider{background: none;padding: 2em 0 1em;display: flex;
        flex-direction: column-reverse;}
    .homeslider .sliderTxt{position: static;margin-top: 10px;text-align: center;}
    .aboutsec,.nsrs-mobile{text-align: center;}
    .homeslider P{font-size: inherit;}
    .aboutsec .midtitle h2::after,.nsrs-mobile .midtitle h2::after{left:  0;right: 0;margin: 0 auto;}
    .aboutsec .row{flex-direction: column-reverse;}
    .midtitle h2{padding-bottom: 12px;}
    .counterrow .midtitle h2{font-size: 30px;}
    }
    @media(max-width:575.8px){}
    @media(max-width:480.8px){
        .navbar-brand{width: 210px;}
        
    }
    @media(max-width:366.8px){
    .row-website .item .card{font-size: 15px;padding: 20px 0;}
    }


    .new-slider-home{
        padding-top: 50px;
        padding-bottom:50px;
        margin-bottom: 100px;
        background-image: url(/assets/images/Back-cover.png);
    }
    .owl-wrapper-class{
        position: relative;
    }
    .owl-banner-text{
        width: 75%;
        position: absolute;
        top: 130px;
        z-index: 2;
        left: 8%;
    }
    @media screen and (max-width:767px) {
       .owl-banner-text{
        top: 60px;
       } 
    }
    .owl-banner-text h2{
        font-size: 46px;
        line-height: 50px;
        color: #fff;
        text-shadow: 0px 3px #000000AD;
        letter-spacing: 1px;
        font-weight: 600;
        font-family: 'Lato';
    }
    @media screen and (max-width:1200px) {
        .owl-banner-text h2{
            font-size: 38px;
        }
    }
    @media screen and (max-width:767px) {
        .owl-banner-text h2{
            font-size: 34px;
            line-height: 42px;
        }
    }
    @media screen and (max-width:510px) {
        .owl-banner-text h2{
            font-size: 26px;
            line-height: 28px;
        }
    }
    .owl-banner-text p{
        font-size: 13px;
        color: #fff;
        letter-spacing: 0.6px;
        font-weight: 400;
        line-height: 24px;
    }
    .owl-banner-text .read-more{
        font-size: 18px;
        text-decoration: underline;
        text-transform: uppercase;
        color: #F78F2A;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .owl-banner-text .read-more mat-icon{
        background-color: #F78F2A;
    color: #fff;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    margin-left: 5px;
    }
    .owl-wrapper-class .owl-carousel{
        position: relative;
    }
    .owl-wrapper-class ::ng-deep .owl-dots{
        padding-left: 8%;
    text-align: left;
    margin-top: -70px !important;
    z-index: 555;
    position: absolute;
    }
    @media screen and (max-width:480px) {
        .owl-wrapper-class ::ng-deep .owl-dots{
            margin-top: -30px !important;
        }
    }
    .latest-updates{background-color: white;
    }
    .latest-updates{
        height: 430px;
    }
    @media screen and (max-width:370px) {
       .latest-updates{
        height: 500px;
       } 
    }
    .latest-updates .tab-content{
        background-color: white;
        height: 300px;
        overflow-y: scroll;
    }
   
    .latest-updates h3{
        background-color: #EB6134;
        color: #fff;
        text-align: center;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
        padding: 6px 0px;
        letter-spacing: 0.8px;
    }
    .latest-updates .nav-item .nav-link{
        color: #000;
        opacity: 54%;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
    }
    .latest-updates .nav-item .active{
        background-color: #EB6134;
        color: #fff;
        opacity: 1;
    }
    .latest-updates .nav{
        border-bottom: 1px solid #FF6800;
        padding-bottom: 12px;
    }
    .latest-updates h5{
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
    }
    .latest-updates .min-text{
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
    }
    .latest-updates .divider{
        height: 18px;
        width: 1px;
        display: inline;
        background-color: #707070;
        margin-left: 8px;
        margin-right: 8px;
    }
    .latest-updates .apply-btn{
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #EB6134;
        text-decoration: underline;
        font-weight: bold;
        background-color: transparent;
        border: none;
        letter-spacing: 1px;
    }
    .latest-updates .apply-btn mat-icon{
        font-size: 14px;
        vertical-align: middle;
        height: 16px;
    width: 16px;
    font-weight: 400;
    }
    .latest-updates .pb-tab{
        padding-bottom: 8px;
    border-bottom: 2px solid #7070703b;
    }

   .latest-updates ::-webkit-scrollbar {
        width: 3px;
      }
      
      /* Track */
     .latest-updates ::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 5px grey;  */
        border-radius: 10px;
        background-color: transparent;
      }
       
      /* Handle */
    .latest-updates  ::-webkit-scrollbar-thumb {
        background: #707070; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
     .latest-updates ::-webkit-scrollbar-thumb:hover {
        /* background: #b30000;  */
      }
      .owl-wrapper-class .my-owl-img{
        height: 430px;
      }
      @media screen and (max-width:767px) {
        .owl-wrapper-class .my-owl-img{
            height: 320px;
          }
      }
      /* @media screen and (max-width:430px) {
        .owl-wrapper-class .my-owl-img{
            height: 320px;
          }
      } */
