.coach-popup-home{
    font-family: 'lato';
}
.coach-popup-home .text-heading{
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.09px;
    color: #000;
}
.coach-popup-home .text-content{
    letter-spacing: 0.09px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    color: #000;
}
.ex-btn{ font-size: 13px;
font-weight: 400;
letter-spacing: 0.09px;
text-transform: uppercase;
}

.left-heading{
    font-size: 13px;
    /* font-weight: 500; */
    color: #000;
    letter-spacing: 0.09px;
    font-weight: bold;
}
.right-top-heading{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
}
.right-top-heading-second{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
}
.right-bottom-heading{
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.my-popup-coach th{
 background-color: #E8E8E8;
 color: #000;
 font-size: 14px;
 color: #000;
 font-weight: 700;
}
.my-popup-coach td{
 /* background-color: #E8E8E8; */
 /* color: #000; */
 font-size: 14px;
 color: #737373;
 font-weight: 500;
}