<div class="modal-body education-modal-wrapper education-modal">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.close(false)"
    ></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3>
        <span class="titleIcon"><i class="icon-book-2-line-1"></i></span>EDUCATION
        INFORMATION
      </h3>
      <!-- <button
        type="button"
        class="btn btn-blue py-1 me-4"
        (click)="openAddEducationInfoModal()"
      >
        ADD
      </button> -->
    </div>
    <div class="row overflow-auto h-75-vh g-0">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center align-middle">EDUCATION TYPE</th>
            <th scope="col" class="text-center align-middle">COURSE NAME</th>
            <th scope="col" class="text-center align-middle">NAME OF INSTITUTIONS</th>
            <th scope="col" class="text-center align-middle">INSTITUTE TYPE</th>
            <th scope="col" class="text-center align-middle">BOARD</th>
            <th scope="col" class="text-center align-middle">MEDIUM</th>
            <th scope="col" class="text-center align-middle">RESULTS</th>
            <th scope="col" class="text-center align-middle">PASSING STATUS</th>
            <th scope="col" class="text-center align-middle">YEAR OF PASSING</th>
            <!-- <th scope="col" class="text-center align-middle">ACTION</th> -->
          </tr>
        </thead>
        <tbody *ngIf="popupDataReceived?.length > 0">
          <tr *ngFor="let record of popupDataReceived">
            <td class="text-center align-middle">{{ record.education_type }}</td>
            <td class="text-center align-middle">{{ record.education_name }}</td>
            <td class="text-center align-middle">{{ record.name_of_institution }}</td>
            <td class="text-center align-middle">{{ record.institution_type }}</td>
            <td class="text-center align-middle">{{ record.board_name }}</td>
            <td class="text-center align-middle">{{ record.medium_language }}</td>
            <td class="text-center align-middle">{{ record.result ? (record.result + '/' + record.result_out_of) : '' }}</td>
            <td class="text-center align-middle">
              <span class="tile text-nowrap"
              [ngClass]="record.passing_status === 'Passed' 
                          ? 'green-tile' 
                          : record.passing_status === 'Ongoing' 
                            ? 'yellow-tile' 
                            : record.passing_status === 'Dropped Out'
                              ? 'orange-tile'
                              : 'red-tile'"
            >
              {{ record.passing_status }}
            </span>
            </td>
            <td class="text-center align-middle">{{ record.year_of_passing }}</td>
            <!-- <td class="text-center align-middle"><i class="fa-solid fa-trash-can text-danger"></i></td> -->
          </tr>
        </tbody>
        <tbody *ngIf="popupDataReceived?.length ==0">
          <tr>
            <td colspan="9" align="center"><strong>Data not available!</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <app-loader *ngIf="loader"></app-loader>
  