<!-- {{athleteData | json}} -->
<div class="athleteAction-modal container-fluid">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
   <div class="row">
    <div class="col-lg-3 col-md-12 col-12 border-end">
      <div class="modal-profile-card  py-2">
        <div class="col-12">
          <img *ngIf="transferPopupDetail?.official_image_path"  [src]="staticFileUrl+transferPopupDetail?.official_image_path" alt="" class="d-block mx-auto img-fliud profile-card-img rounded-circle border">
          <img *ngIf="!transferPopupDetail?.official_image_path"  src="assets/images/default-user.svg" alt="" class="d-block mx-auto img-fliud profile-card-img rounded-circle border">
        </div>
        <div class="col-12 mt-1">
          <h4 class="mb-0 text-center">{{transferPopupDetail?.full_name ?transferPopupDetail?.full_name:'N/A'}}</h4>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-center align-items-center">
            <p class="m-0">{{transferPopupDetail?.kitd_unique_id ? transferPopupDetail?.kitd_unique_id:'N/A' }}</p>
          <p class="m-0 mx-1">|</p>
          <p class="m-0">{{transferPopupDetail?.discipline ? transferPopupDetail?.discipline:'N/A'}}</p>
          </div>
        </div>
        <div class="col-12 mt-3 ">
          <div class="w-100 d-flex align-items-center justify-content-between list-card list-card-1 py-2">
              <div class="d-flex">
                <div>
                  <img src="assets/images/current_academy.svg" class="icon-img " alt="">
                </div>
                <div>
                  <p class="text-uppercase m-0">Current Academy</p>
                  <h6>{{transferPopupDetail?.currentAcademy ?transferPopupDetail?.currentAcademy:'N/A' }}</h6>
                </div>
              </div>
              <div>
                <img src="assets/images/svg-icons/veryfied.svg" alt="" class="img-fluid ver-tick">
              </div>
          </div>
          <div class="w-100 d-flex align-items-center justify-content-between list-card py-2">
              <div class="d-flex">
                <div>
                  <img src="assets/images/date_of_joining.svg" class="icon-img " alt="">
                  <!-- <i  class="icon-DOB icon-img"></i> -->
                </div>
                <div>
                  <p class="text-uppercase m-0">Date of joining</p>
                  <h6>{{transferPopupDetail?.joiningDate ? (transferPopupDetail?.joiningDate |date:'dd-MM-yyyy') :'N/A'}}</h6>
                </div>
              </div>
              <div>
                <img src="assets/images/svg-icons/veryfied.svg" alt="" class="img-fluid ver-tick">
              </div>
          </div>
          <div class="w-100 d-flex align-items-center justify-content-between list-card py-2">
              <div class="d-flex">
                <div>
                  <img src="assets/images/cirtification.svg" class="icon-img " alt="">
                  <!-- <i  class="icon-DOB icon-img"></i> -->
                </div>
                <div>
                  <p class="text-uppercase m-0">Certification</p>
                  <h6>{{transferPopupDetail?.levelName ? transferPopupDetail?.levelName :'N/A'}}</h6>
                </div>
              </div>
              <div>
                <!-- <img src="assets/images/svg-icons/veryfied.svg" alt="" class="img-fluid ver-tick"> -->
              </div>
          </div>
          <div class="w-100 d-flex align-items-center justify-content-between list-card py-2">
              <div class="d-flex aling-items-center">
                <div class="">
                  <img src="assets/images/aadhaar.svg" class="icon-img " alt="">
                </div>
                <div class="d-flex align-items-center">
                  <p class="text-uppercase m-0">AAdhaar</p>
                  <!-- <h6>SAI IT Division Academy Test</h6> -->
                </div>
              </div>
              <div>
                <div *ngIf="transferPopupDetail?.isAadherVerified; else notAdhar"><img src="assets/images/svg-icons/veryfied.svg" alt="" class="img-fluid ver-tick"></div>
                <ng-template #notAdhar><mat-icon class="material-symbols-outlined text-danger" fontIcon="report"></mat-icon></ng-template>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-12">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <!-- <button *ngIf="this.athleteData.scholarship_type.length > 0" class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#edit-scholar" type="button" (change)="editSectionSetValueFunction()">EDIT</button> -->
          <!-- <button *ngIf="this.athleteData.scholarship_type.length == 0" class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#add-scholar" type="button">ADD</button> -->
          <!-- <button class="nav-link " data-bs-toggle="tab" data-bs-target="#addAcademy" type="button" disabled>ADD
            ACADEMY</button> -->
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#transfer" type="button">TRANSFER</button>
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#weed-out" type="button">WEED OUT</button>
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#history" type="button" (click)="getHistoryData()"  >HISTORY</button>
        </div>
      </nav>
  
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="transfer">
          <!-- <div class="text-center">
            <p *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'"  class="insuranceNsrsId px-4">NSRSID: {{coachData.kitd_unique_id}}</p>
            <p *ngIf="this.menuName=='sportsScientistAcademy'" class="insuranceNsrsId px-4">NSRSID: {{sportsScientistData.kitd_unique_id}}</p>
          </div> -->
            <!-- <div class="table-responsive text-center">
            <table class="table">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>NSRS ID</th>
                  <th>{{menuName =='sportsScientistAcademy'?'CATEGORY' : 'DISCIPLINE'}}</th>
                  <th>ACADEMY</th>
                  <th>Date Of Joining</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'">
                  <td>{{coachData.full_name}}</td>
                  <td>{{coachData.kitd_unique_id}}</td>
                  <td>{{coachData.sport_display_name}}</td>
                  <td>{{coachData.academy_name}}</td>
                  <td *ngIf="!coachData.date_of_joining">N/A</td>
                  <ng-container *ngIf="this.menuName=='coachAcademy'"> 
                    <td *ngIf="coachData.date_of_joining">{{coachData.date_of_joining | date:"dd/MM/YYYY"}}</td>
                  </ng-container>
                  <ng-container *ngIf="this.menuName=='otherCoach'"> 
                    <td *ngIf="coachData.date_of_joining!='NA'">{{coachData.date_of_joining }}</td>
                  </ng-container>
                  
                </tr>
                <tr *ngIf="this.menuName=='sportsScientistAcademy'">
                  <td>{{sportsScientistData.full_name}}</td>
                  <td>{{sportsScientistData.kitd_unique_id}}</td>
                  <td>{{sportsScientistData.ssType}}</td>
                  <td>
                    <span *ngIf="sportsScientistData.academy_name == null">N/A</span>
                    <span *ngIf="sportsScientistData.academy_name != null">{{sportsScientistData.academy_name}}</span>
                  </td>
                  <td *ngIf="sportsScientistData.date_of_joining==null">N/A</td>
                  <td *ngIf="sportsScientistData.date_of_joining!=null">{{sportsScientistData.date_of_joining | date:"dd/MM/YYYY"}}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <form [formGroup]="transferCoachSportsScientistForm">
            <div class="row">
              <h6 class="mb-2 text-uppercase  fw-bold">transfer to</h6>
            </div>
            <div class="row my-3">
              <div class="col-sm-6 col-lg-5 commonselect">
                <mat-form-field appearance="fill" class="w-100 matselectFont">
                  <mat-label>Sports Training Center</mat-label>
                  <mat-select formControlName="sportsTrainingCenterTypeId" >
                    <!-- <mat-option value="option1">Option 1</mat-option> -->
                    <ng-container *ngIf="this.academyListLength>0">
                      <mat-option *ngFor="let data of academylist" [value]="data.academy_id">{{data.academy_name}}</mat-option>
                    </ng-container>
                    <ng-container *ngIf="this.academyListLength==0">
                      <mat-option>No Academy Found</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <!-- <tr>
                    <th>Transfer Date<span class="text-danger">*</span></th>
                    <th>Date Of Joining<span class="text-danger">*</span></th>
                    <th>Designation<span class="text-danger">*</span></th>
                    <th>Document<span class="text-danger">*</span></th>
                  </tr> -->
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field appearance="fill" class="example-full-width w-100" (click)="transferDate.open()">
                        <mat-label>Transfer Date</mat-label>
                        <input 
                          readonly 
                          matInput 
                          [matDatepicker]="transferDate"
                          formControlName="transferDate"
                          [min]="menuName === 'coachAcademy' 
                            ? coachData.date_of_joining 
                            : menuName === 'sportsScientistAcademy' 
                              ? sportsScientistData.date_of_joining
                              : null"
                        >
                        <mat-datepicker-toggle matSuffix [for]="transferDate"></mat-datepicker-toggle>
                        <mat-datepicker #transferDate></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="example-full-width w-100" (click)="dateOfJoining.open()">
                        <mat-label>Date Of Joining</mat-label>
                        <input 
                          readonly 
                          matInput 
                          [matDatepicker]="dateOfJoining"
                          formControlName="dateOfJoining"
                          [min]="transferCoachSportsScientistForm.get('transferDate')?.value"
                          [disabled]="!transferCoachSportsScientistForm.get('transferDate')?.value"
                        >
                        <mat-datepicker-toggle matSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfJoining></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td *ngIf="menuName === 'coachAcademy'">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Designation</mat-label>
                        <mat-select formControlName="designation">
                          <mat-option *ngFor="let data of designationsList" [value]="data.designation">{{data.designation}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <!-- <div class="inputFile border rounded-1">
                        <input type="file" (change)="onFileChangeTransfer($event)" #fileInput
                          accept=".png, .Jeg, .Jpg, .pdf" formControlName="document">
                      </div> -->
                      <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                        <div class="inputfileLevel position-relative">
                          <span class="text-uppercase uploadLevel me-2">Upload</span>
                          <!-- <input type="file" class="inputUpload"> -->
                          <input type="file" accept=".png, .jpg, .jpeg" class="inputUpload"  #coachInsuranceInput  formControlName="document" (change)="coachInsuranceFileUpload(coachInsuranceInput.files)">
                        </div>
                        <div *ngIf="coachInsuranceFileUrl"><a [href]="coachInsuranceFileUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                      </div>
                      <div *ngIf="transferCoachSportsScientistForm.controls['document']?.touched">
                        <div class="text-danger " *ngIf="transferCoachSportsScientistForm.controls['document'].errors?.['required']">File Required</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <!-- coachAcademy -->
                      <div *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'">
                        <div *ngIf="!coachData.academy_name">
                          <h6 class="text-danger text-center">Please update the current Academy to transfer.</h6>
                        </div>
                        <div *ngIf="coachData.academy_name && !coachData.date_of_joining" >
                          <h6 class="text-danger text-center">Please update Date of Joining to transfer the coach.</h6>
                        </div>
                        <div *ngIf="coachData.academy_name!=null && coachData.date_of_joining">
                          <button class="btn btn-lightblue" [disabled]="!transferCoachSportsScientistForm.valid"
                            (click)="transferCoachAndSportsScientistAcademy()">Transfer</button>
                        </div>
                      </div>
                      <!-- sportsScientistAcademy -->
                      <div *ngIf="this.menuName=='sportsScientistAcademy'">
                        <div *ngIf="sportsScientistData.academy_name==null">
                          <h6 class="text-danger text-center">Please update the current Academy to transfer.</h6>
                        </div>
                        <div *ngIf="sportsScientistData.academy_name && !sportsScientistData.date_of_joining" >
                          <h6 class="text-danger text-center">Please update Date of Joining to transfer the sport scientist.</h6>
                        </div>
                        <div *ngIf="sportsScientistData.academy_name!=null && sportsScientistData.date_of_joining">
                          <button class="btn btn-lightblue"
                           (click)="transferCoachAndSportsScientistAcademy()" [disabled]="!transferCoachSportsScientistForm.valid">Transfer</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
  
        <div class="tab-pane fade" id="weed-out">
          <!-- <div class="text-center">
            <p *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'"  class="insuranceNsrsId px-4">NSRSID: {{coachData.kitd_unique_id}}</p>
            <p *ngIf="this.menuName=='sportsScientistAcademy'" class="insuranceNsrsId px-4">NSRSID: {{sportsScientistData.kitd_unique_id}}</p>
          </div> -->
          <!-- <div class="table-responsive text-center">
            <table class="table">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>NSRS ID</th>
                  <th>{{menuName =='sportsScientistAcademy'?'CATEGORY' : 'DISCIPLINE'}}</th>
                  <th>ACADEMY</th>
                  <th>DATE OF JOINING</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'">
                  <td>{{coachData.full_name}}</td>
                  <td>{{coachData.kitd_unique_id}}</td>
                  <td>{{coachData.sport_display_name}}</td>
                  <td>{{coachData.academy_name}}</td>
                  <td *ngIf="coachData.date_of_joining=='NA'">{{coachData.date_of_joining}}</td>
                  <ng-container *ngIf="this.menuName=='coachAcademy'"> 
                    <td *ngIf="coachData.date_of_joining!='NA'">{{coachData.date_of_joining | date:"dd/MM/YYYY"}}</td>
                  </ng-container>
                  <ng-container *ngIf="this.menuName=='otherCoach'"> 
                    <td *ngIf="coachData.date_of_joining!='NA'">{{coachData.date_of_joining }}</td>
                  </ng-container>
                </tr>
                <tr *ngIf="this.menuName=='sportsScientistAcademy'">
                  <td>{{sportsScientistData.full_name}}</td>
                  <td>{{sportsScientistData.kitd_unique_id}}</td>
                  <td>{{sportsScientistData.ssType}}</td>
                  <td>{{sportsScientistData.academy_name}}</td>
                  <td *ngIf="sportsScientistData.date_of_joining=='NA'">N/A</td>
                  <td *ngIf="sportsScientistData.date_of_joining!='NA'">{{sportsScientistData.date_of_joining | date:"dd/MM/YYYY"}}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <form [formGroup]="WeedoutCoachSportsScientistForm">
            <div class="row">
              <h6 class="mb-2 text-uppercase  fw-bold">WEED OUT</h6>
            </div>
            <div class="row">
              <div class="col-sm-6 mb-3">
                <mat-form-field class="example-full-width matselectFull w-100" appearance="fill" (click)="weedoutDate.open()">
                  <mat-label>Weed Out Date</mat-label>
                  <input readonly matInput [matDatepicker]="weedoutDate"
                    [min]="menuName === 'coachAcademy' 
                    ? coachData.date_of_joining 
                    : menuName === 'sportsScientistAcademy' 
                      ? sportsScientistData.date_of_joining
                      : null"
                    formControlName="weedoutDate">
                  <mat-datepicker-toggle matSuffix [for]="weedoutDate"></mat-datepicker-toggle>
                  <mat-datepicker #weedoutDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 mb-3">
                <mat-form-field class="w-100 matselectFull" appearance="fill">
                  <mat-label>Weed Out Reason</mat-label>
                  <input type="text" matInput placeholder="weed out reason" formControlName="weedoutReason">
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <!-- coachAcademy -->
                <div *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'">
                  <div *ngIf="coachData.academy_name==null">
                    <h6 class="text-danger text-center">Please update the current Academy to weed-out.</h6>
                  </div>
                  <div *ngIf="coachData.academy_name!=null">
                    <button class="btn btn-lightblue" [disabled]="!WeedoutCoachSportsScientistForm.valid" (click)="weedOutCoachAndSportsScientistAcademy()">Weed
                      Out</button>
                  </div>
                </div>
                <!-- sportsScientistAcademy -->
                <div *ngIf="this.menuName=='sportsScientistAcademy'">
                  <div *ngIf="sportsScientistData.academy_name==null">
                    <h6 class="text-danger text-center">Please update the current Academy to weed-out</h6>
                  </div>
                  <div *ngIf="sportsScientistData.academy_name!=null">
                    <button class="btn btn-lightblue" [disabled]="!WeedoutCoachSportsScientistForm.valid" (click)="weedOutCoachAndSportsScientistAcademy()">Weed
                      Out</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="history">
          <ng-container>
            <!-- <div class="text-center">
              <p *ngIf="this.menuName=='coachAcademy' || this.menuName=='otherCoach'"  class="insuranceNsrsId px-4">NSRSID: {{coachData.kitd_unique_id}}</p>
              <p *ngIf="this.menuName=='sportsScientistAcademy'" class="insuranceNsrsId px-4">NSRSID: {{sportsScientistData.kitd_unique_id}}</p>
            </div> -->
          </ng-container>
  
          <ng-container>
            <div class="row">
              <h6 class="mb-2 text-uppercase fw-bold">posting details</h6>
            </div>
            <div class="table-responsive mt-3">
              <table class="table  ">
                <thead>
                  <tr class="text-center text-uppercase">
                    <!-- <th scope="col">ACADEMEY NAME</th> -->
                    <th scope="col">Academy NAME</th>
                    <th scope="col">PERIOD</th>
                    <th scope="col">WEED OUT DATE</th>
                    <th>WEED OUT REASON</th>
                  </tr>
                </thead>              
                <tbody>
                  <ng-container *ngIf="coachAcademyHistory==0; else other_content">
                    <tr>
                      <td colspan="6" class="text-center"><span class="noDataFound d-block pt-3 pb-3">No Data
                          Found!</span>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #other_content>
                    <ng-container *ngFor="let item of coachAcademyHistory">
                      <tr class="text-center">
                        <td *ngIf="item.academy_name!=''">{{item.academy_name}}</td>
                        <td *ngIf="item.academy_name==''">N/A</td>
                        <td>
                          <ng-container *ngIf="item.startDate">
                            {{item.startDate | date:"dd/MM/YYYY"}} <ng-container *ngIf="item.startDate!=null">-</ng-container>  
                          </ng-container>
                          <ng-container *ngIf="!item.startDate">
                            N/A - 
                          </ng-container>
                          <ng-container *ngIf="item.endDate!=''">
                            {{item.endDate |date:"dd/MM/YYYY"}}
                          </ng-container>
                          <ng-container *ngIf="item.endDate==''">
                            N/A
                          </ng-container>
                        </td>
  
                        <td >
                          <ng-container *ngIf="item.weedOut_Date!=''">
                            {{item.weedOut_Date |date:"dd/MM/YYYY"}}
                          </ng-container>
                          <ng-container *ngIf="item.weedOut_Date==''">
                           N/A
                          </ng-container>
                        </td>
  
                        <td >
                          <ng-container *ngIf="item.weedOut_Remark!=''">
                            {{item.weedOut_Remark}}
                          </ng-container>
                          <ng-container *ngIf="item.weedOut_Remark==''">
                           N/A
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-template>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="row">
              <h6 class="my-2 text-uppercase  fw-bold">foreign exposure</h6>
            </div>
            <div class="table-responsive mt-3"> 
              <table class="table ">
                <thead class="text-uppercase">
                  <tr>
                    <th>designation</th>
                    <th>category</th>
                    <th>exposure</th>
                    <th>country</th>
                    <th>duration</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="coachForeignExposureData?.length">
                  <tr class="text-center" *ngFor="let coachForeignExposure of coachForeignExposureData">
                    <td>{{coachForeignExposure?.designation ? coachForeignExposure?.designation:'N/A'}}</td>
                    <td>{{coachForeignExposure?.category_of_player ? coachForeignExposure?.category_of_player:'N/A'}}</td>
                    <td>{{coachForeignExposure?.exposure ? coachForeignExposure?.exposure:'N/A'}}</td>
                    <td>{{coachForeignExposure?.country ? coachForeignExposure?.country:'N/A'}}</td>
                    <td>{{coachForeignExposure?.from_date ? (coachForeignExposure?.from_date|date:'dd-MM-yyyy') :'N/A'}}</td>
                  </tr>
                </ng-container>
                  <tr>
                    <td *ngIf="!coachForeignExposureData?.length" colspan="5" class="text-center"><span class="noDataFound d-block pt-3 pb-3">No Data Found!</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
  
      </div>
    </div>
   </div>
  </div>
</div>

<app-loader *ngIf="innerLoaderMainData"></app-loader>
<app-loader *ngIf="innerLoaderDesignation"></app-loader>
<app-loader *ngIf="innerLoaderInsuranceHistory"></app-loader>