.titleTxt h3 {
  font-size: 16px;
  color: #4B5674;
  text-transform: uppercase;
  margin-bottom: 0;
}

.titleTxt {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.titleTxt .titleIcon {
  width: 30px;
  height: 30px;
  border: 1px solid #1E5FAA;
  border-radius: 50%;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.titleTxt .btn-blue {
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 3px
}

.btn-blue {
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 3px
}

#athleteDetailTable ::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

.filterRoleInner .form-control {
  font-size: 14px;
}

.mat-row .mat-cell {
  border-right: 1px solid #F5F5F5;
}

.mat-row .mat-cell:last-child {
  border-right: 0;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 24px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 24px;
}

/* .athlete-detail ::ng-deep .mat-row .mat-cell:nth-child(11),.athlete-detail th.mat-header-cell:nth-child(11){min-width: 143px;} */
::ng-deep .mat-row .mat-cell:nth-child(12),
th.mat-header-cell:nth-child(12) {
  min-width: 130px;
}

::ng-deep .mat-row .mat-cell:nth-child(13),
th.mat-header-cell:nth-child(13) {
  min-width: 106px;
}

/* buttons css */
.ssDropDown {
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 2px;
  background-color: #F8F8F8;
  border: 1px solid #ced4da;
  color: #000000ba;
}

.yesBtn {
  background-color: #CCFFEC;
  border: 1px solid;
  border-color: #0E8B5C;
  border-radius: 3px;
  text-transform: uppercase
}

.noBtn {
  background-color: #FFCCD2;
  border: 1px solid;
  border-color: #FF475D;
  border-radius: 3px;
  text-transform: uppercase
}

.expiredBtn {
  background-color: #FFCCD2;
  border: 1px solid;
  border-color: #FF475D;
  border-radius: 3px;
  text-transform: uppercase
}

.pendingBtn {
  background-color: #FFF8CC;
  border: 1px solid;
  border-color: #FFD500;
  border-radius: 3px;
  text-transform: uppercase;
}

.mat-table button {
  font-size: 10px;
}

.noDataFound {
  font-size: 16px;
}

.tagcommonModal .titleTxt h4 {
  background-color: #FFE89E;
  border: 1px solid #E1C15C;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
}

.tagcommonModal .btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 9px;
  box-shadow: none;
  outline: none;
}

.tagcommonModal {
  padding: 15px 26px 15px 20px
}

.taggedSuccessfully .titleTxt h4 {
  background-color: #D4FFC2;
  border: 1px solid #20BE35;
}

/* .mat-input-element[read-only]{} */

.noDataFound {
  font-size: 16px;
}

.tagcommonModal.deleteCommonModal .titleTxt h4 {
  background: #ffdede;
  border-color: #fb9f9f;
}

.icon-athlete-detail:before {
  color: inherit;
}

::ng-deep .ngb_tooltip .tooltip-inner {
  background-color: #003b80;
  font-size: 13px;
  white-space: nowrap;
}

::ng-deep .ngb_tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #003b80;
}

a {
  text-decoration: none;
}

mat-button-toggle-group {
  margin-left: 12px;
}