<!-- <div class="modal-body experience-modal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3 class="d-inline-flex align-items-center"><span class="titleIcon"><mat-icon class="material-symbols-outlined" fontIcon="stars"></mat-icon></span>Best Achievement</h3>
      <button href="javascript:void(0)" (click)="addEdit(null)" class="btn btn-blue py-1 me-4">ADD</button>
    </div>
      <div class="athlete">
        <div class="table-responsive mt-3">
            <table mat-table class="currentTable" matTableExporter  #exporter="matTableExporter" [dataSource]="achievementTableData" matSort class="table-striped w-100">  
                
                <ng-container matColumnDef="sl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="sl" class="col-xl-1"> S.NO </th>
                <td mat-cell *matCellDef="let row, let i=index">{{i + 1}}</td>
                </ng-container>  
                
                <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="level" class="text-nowrap"> Level</th>
                <td mat-cell *matCellDef="let row"> 
                    {{row.level}}                   

                </td>
                </ng-container>  
                
                <ng-container matColumnDef="tournament_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="tournament_name"> 
                    Tournament
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{row.tournament_name}}
                </td>
                </ng-container>
                <ng-container matColumnDef="tournament_year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="tournament_year"> 
                        Year
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                        {{row.tournament_year}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="position"> 
                        Position
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                        {{row.position}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="col-1"> Action </th>
                <td mat-cell *matCellDef="let row"  class="action_col">
                    <div class="d-flex">
                        <a href="javascript:void(0)" (click)="deleteRow(row)" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="javascript:void(0)" (click)="addEdit(row)"  class="text-success text-decoration-none ms-1"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="achievementTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: achievementTableColumns;"></tr>      
            
                
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
                </tr>
            </table>     
        </div>
        <mat-paginator [pageSizeOptions]="[3]" aria-label="Select page of users"></mat-paginator>
      </div>
    
  </div> -->

  <!-- <ng-template #deleteExperience let-modal>
    <div class="modal-body tagcommonModal deleteCommonModal">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      <div class="titleTxt">
        <h4 class="text-center fw-bold"> {{deleteRowData.tournament_name}} ( {{ deleteRowData.tournament_year }} ) </h4>
      </div>
      <div class="text-center mt-3 pt-lg-2">
        <p>Please confirm if you want delete this!</p>
      </div>
      <div class="text-center pb-3">
        <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
          (click)="modal.close('Save click')">CANCEL</button>
        <button type="button" class="btn btn-lightblue px-3" (click)="confirmDelete()">CONFIRM</button>
      </div>
    </div>
  </ng-template> -->



           <!--Ajay new code -->



<div class="modal-body experience-modal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3 class="d-inline-flex align-items-center"><span class="titleIcon"><mat-icon class="material-symbols-outlined" fontIcon="stars"></mat-icon></span>Achievement</h3>
      <button href="javascript:void(0)" (click)="addEdit(null)" class="btn btn-blue py-1 me-4">ADD</button>
    </div>
      <div class="athlete">
        <div class="table-responsive mt-3">
            <table mat-table class="currentTable" matTableExporter  #exporter="matTableExporter" [dataSource]="achievementTableData" matSort class="table-striped w-100">  
                
                <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="category" class="col-xl-1"> category</th>
                <td mat-cell *matCellDef="let row, let i=index">{{row?.category}}</td>
                </ng-container>  
                
                <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="level" class="text-nowrap"> Level</th>
                <td mat-cell *matCellDef="let row"> 
                  {{row?.competition_level}}               

                </td>
                </ng-container>  
                
                <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="year"> 
                    year
                </th>
                <td mat-cell *matCellDef="let row"> 
                  {{row.from_date ? row.from_date.split('-')[0] :'NA'}} 
                </td>
                </ng-container>

                <ng-container matColumnDef="represented">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="represented"> 
                        Represented
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                       {{row?.represented}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="tournament">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="tournament"> 
                        Tournament
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                       {{row?.tournament_name}}
                    </td>
                </ng-container>
                

                 <ng-container matColumnDef="event">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="event"> 
                        Event
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                     {{row?.event_list}}
                    </td>
                </ng-container>

                 <ng-container matColumnDef="venue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="venue"> 
                        venue
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                      {{row?.venue ? row.venue : 'NA'}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="position"> 
                        Position
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                     <span class="athleterank">{{row?.position}}</span>
                    </td>
                </ng-container>


                 <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="document"> 
                        Document
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                    <a [href]="row.isActc ? fileBaseUrlActc+row?.document_path : fileBaseUrl+row?.document_path" target="_blank" class="btn-view"><mat-icon fontIcon="visibility"></mat-icon></a>
                    </td>
                </ng-container>

               
                   
              

                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="col-1"> Action </th>
                
                <td mat-cell *matCellDef="let row"  class="action_col">
                    <div class="d-flex">
                       <a href="javascript:void(0)" (click)="addEdit(row)"  class="text-success text-decoration-none ms-1"><i class="fas fa-edit"></i></a>
                        <a href="javascript:void(0)" (click)="deleteRow(row)" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>

                    </div>
                </td>
                    <!-- <td mat-cell *matCellDef="let row" class="actions">
                              <ng-container *ngIf="row?.isEditable">
                                <a href="javascript:void(0)" (click)="editAchievement(row)"><mat-icon fontIcon="border_color"></mat-icon></a>
                                <a href="javascript:void(0)" (click)="deleteAchievement(row)"><i class="fa-solid fa-trash-can"></i></a>
                              </ng-container>
                              
                            </td> -->
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="achievementTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: achievementTableColumns;"></tr>      
            
                
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
                </tr>
            </table>     
        </div>
        <mat-paginator [pageSizeOptions]="[5,10, 50, 100]"  aria-label="Select page of users"></mat-paginator>
      </div>
    
  </div>




<ng-template #deleteExperience let-modal>
    <div class="modal-body tagcommonModal deleteCommonModal">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      <div class="titleTxt">
        <h4 class="text-center fw-bold"> {{deleteRowData.tournament_name}} ( {{ deleteRowData.tournament_year }} ) </h4>
      </div>
      <div class="text-center mt-3 pt-lg-2">
        <p>Please confirm if you want delete this!</p>
      </div>
      <div class="text-center pb-3">
        <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
          (click)="modal.close('Save click')">CANCEL</button>
        <button type="button" class="btn btn-lightblue px-3" (click)="confirmDelete()">CONFIRM</button>
      </div>
    </div>
  </ng-template>





  <app-loader *ngIf="loader"></app-loader>