<div class="p-3"><span class="event-title">COACH DETAILS</span></div>
<div class="border-top">
  <div class="row mx-0">
    <div class="col-lg-9 border-end">
      <div class="px-2 py-3 py-lg-4">
        <div class="pe-2">
          <div class="row profile-row">
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center" (click)="openCoachDetailsModal()">
                <span class="icon-box"><img height="24" width="24" src="/assets/images/icon-coach-details.svg" /></span>
                <h4>COACH DETAILS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><img height="24" width="24" src="/assets/images/icon-coach-xp.svg"></span>
                <h4>COACHING EXPERIENCE</h4>
              </a>
            </div> 
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center" (click)="openNationalCampExperienceModal()">
                <span class="icon-box"><i class="icon-image-line"></i></span>
                <h4>EXPERIENCE IN NATIONAL CAMP</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-Bank"></i></span>
                <h4>FOREIGN EXPOSURE WITH NATIONAL TEAM</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-book-2-line-1"></i></span>
                <h4>OTHER COACHING EXPERIENCE</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-football-line"></i></span>
                <h4>BEST 3 ACHIEVEMENTS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-football-line"></i></span>
                <h4>AWARDS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-football-line"></i></span>
                <h4>COACH CATEGORY & KITTING DETAILS</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="py-lg-4">
        <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
      </div>
    </div>
  </div>
</div>
