<form [formGroup]="athleteStrengthForm">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>SPROTS DISCIPLINE</th>
            <th>TYPE</th>
            <th>MEN</th>
            <th>WOMEN</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody formArrayName="athleteStrengthFormArray">
          <ng-container  *ngFor="let athleteStrengthItem of athleteStrengthFormArray.controls; let i=index" [formGroupName]="i">
            <tr>
              <td rowspan="2">{{i+1}}
              </td>
              <td rowspan="2">
                {{athleteStrengthFormArray.controls[i].get('discipline')?.value}}
              </td>
              <td>
                {{athleteStrengthFormArray.controls[i].get('nonresidentialType')?.value}}
              </td>
              <td><input type="number" class="form-control text-center w-auto" formControlName="nonresidentialMen"></td>
              <td>
                <input type="number" class="form-control text-center w-auto" formControlName="nonresidentialWomen">
              </td>
              <td>
                <a class="text-warning text-decoration-none" title="Save" (click)="editRowAthlete(athleteStrengthFormArray.controls[i].value,'nonresidential',i)" href="javascript:void(0)"><mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon></a>
              </td>
            </tr>
            <tr> 
              <td>
                {{athleteStrengthFormArray.controls[i].get('residentialType')?.value}}
              </td>
              <td><input type="number" class="form-control text-center w-auto" formControlName="residentialMen"></td>
              <td>
                <input type="number" class="form-control text-center w-auto" formControlName="residentialWomen">
              </td>
              <td>
                <a class="text-warning text-decoration-none" title="Save" (click)="editRowAthlete(athleteStrengthFormArray.controls[i].value,'residential',i)" href="javascript:void(0)"><mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon></a>
              </td>
            </tr>                
          </ng-container>
        </tbody>
      </table>
    </div>
  </form>

  <app-loader *ngIf="loader"></app-loader>