<div class="modal-body education-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3><span class="titleIcon"><i class="icon-book-2-line-1"></i></span>{{editEducation ? 'EDIT' : 'ADD'}} EDUCATION INFORMATION</h3>
    <!-- <a href="javascript:void(0)" class="btn btn-edit">ADD</a> -->
  </div>
  <div class="row g-0 py-2" *ngIf="editEducation">
      <table class="table fs-14-px">
        <thead>
          <tr>
            <th class="text-center align-middle">TYPE</th>
            <th class="text-center align-middle">COURSE NAME</th>
            <th class="text-center align-middle">INSTT. NAME</th>
            <th class="text-center align-middle">INSTT. TYPE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center align-middle">{{ editEducation.education_type }}</td>
            <td class="text-center align-middle">{{ editEducation.education_name }}</td>
            <td class="text-center align-middle">{{ editEducation.name_of_institution }}</td>
            <td class="text-center align-middle">{{ editEducation.institution_type }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <ng-container *ngIf="!editEducation">
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Education Type</mat-label>
            <mat-select formControlName="ed_type" (selectionChange)="onEdTypeChange($event)">
              <mat-option *ngFor="let option of educationTypes" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Course Name</mat-label>
            <input matInput formControlName="course_name">
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Name Of Institute</mat-label>
            <input matInput *ngIf="showInsttNameInput; else universitySelect" formControlName="instt_name">
            <ng-template #universitySelect>
              <mat-select formControlName="instt_name" (opened)="onInsttNameSelectOpen()">
                <mat-option value="null" class="custom-select-option p-2" disabled>
                  <div class="searchInput">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input 
                      #insttSearch
                      [formControl]="insttNameSearch" 
                      (keydown.space)="$event.stopPropagation()"
                      (blur)="onInsttSearchBlur()"
                      class="form-control h-100 w-100" 
                      placeholder="Search.." 
                      type="text"
                    />
                  </div>
                </mat-option>
                <mat-option
                  *ngFor="let option of filteredUniversities" 
                  [value]="option.university_detail_id"
                >
                  {{option.university_name}}
                </mat-option>
              </mat-select>
            </ng-template>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Institute Type</mat-label>
            <mat-select formControlName="instt_type">
              <mat-option *ngFor="let option of insttTypes" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Instt. Reg. Number</mat-label>
            <input matInput formControlName="institute_registration_no">
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Board</mat-label>
            <mat-select formControlName="board">
              <mat-option 
                *ngFor="let option of boardList" 
                [value]="option.board_id"
              >
                {{option.board_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <mat-form-field class="w-100 custom-input" appearance="fill">
            <mat-label>Medium</mat-label>
            <mat-select formControlName="medium">
              <mat-option 
                *ngFor="let option of mediumList" 
                [value]="option.medium_id"
              >
                {{option.medium_language}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100 custom-input" appearance="fill">
          <mat-label>Passing Status</mat-label>
          <mat-select formControlName="passing_status" (selectionChange)="onPassingStatusChange($event)">
            <mat-option *ngFor="let option of passingStatuses" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100 custom-input" appearance="fill" (click)="dp.open()" (keyup.enter)="dp.open()" (keyup.space)="dp.open()">
          <mat-label>Year of Passing</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="passing_yr" readonly [max]="maxPassingYr" />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
            startView="multi-year"
            (yearSelected)="dp.close(); onYearSelected($event)"
            panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100 custom-input" appearance="fill">
          <mat-label>Obtained Marks</mat-label>
          <input type="number" matInput formControlName="obtained_marks">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100 custom-input" appearance="fill">
          <mat-label>Total Marks</mat-label>
          <input type="number" [min]="obtainedMarksControl.value" matInput formControlName="total_marks">
        </mat-form-field>
      </div>
    </div>         
  </form>
  <div class="row">
    <div class="col text-center">
      <hr class="mt-1" />
      <button type="button" class="btn btn-blue px-4" (click)="editEducation ? updateDetails() : saveDetails()">Save</button>
    </div>
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>