<div class="modal-body education-modal-wrapper education-modal">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.close(false)"
    ></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3>
        <span class="titleIcon"><img src="assets/images/aadhaar.svg" class="icon-language"></span>Aadhaar
      </h3>
      <!-- <button
        type="button"
        class="btn btn-blue py-1 me-4"
        (click)="openAddEducationInfoModal()"
      >
        ADD
      </button> -->
    </div>
    <ng-container *ngIf="(aadhaarData$ | async) as aadhaarData; else loader">
      <ng-container *ngIf="aadhaarData.data.length; else noDta">
        <div class="text-center mb-3">
          <div>
            <img [src]="aadhaarImgBase+aadhaarData.data[0].aadharImage" class="img-thumbnail rounded-circle" alt="" style="width:120px; height: 120px;">
          </div>
        </div>
        <div class="row overflow-auto h-75-vh g-0">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle text-uppercase fw-normal">TITLE</th>
                <th scope="col" class="align-middle text-uppercase fw-normal">VALUE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col" class="text-center align-middle text-uppercase">NAME</th>
                <td>{{aadhaarData.data[0].aadharName}}</td>
              </tr>
              <tr>
                <th scope="col" class="text-center align-middle text-uppercase">GENDER</th>
                <td>{{ aadhaarData.data[0].aadharGender == 'M'? 'Male' : 'Female'}}</td>
              </tr>
              <tr>
                <th scope="col" class="text-center align-middle text-uppercase text-nowrap">DATE OF BIRTH</th>
                <td>{{aadhaarData.data[0].aadharDob}}</td>
              </tr>
              <tr>
                <th scope="col" class="text-center align-middle text-uppercase">UID</th>
                <td>{{aadhaarData.data[0].aadharUId}}</td>
              </tr>
                <tr>
                    <th scope="col" class="text-center align-middle text-uppercase">ADDRESS</th>
                    <td>{{aadhaarData.data[0].address}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #noDta>
        <div class="text-center">
          <strong>No Data Found</strong>
        </div>
      </ng-template>
    </ng-container>

  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
  
  