<!-- <app-kic-monitoring></app-kic-monitoring> -->
<div class="athleteAction-modal" *ngIf="tabData$ | async as tabData">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <!-- <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> EQUIPMENT PROCUREMENT</button> -->
        <button *ngIf="equipmentModalToViewFor=='pca'" class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#athletetag" type="button"><span class="titleIcon"><i
              class="icon-personal-information-18"></i></span> {{equipmentModalViewData.kiC_NAME}}
          ({{equipmentModalViewData.kid}})</button>
        <button *ngIf="equipmentModalToViewFor=='kic'" class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#athletetag" type="button"><span class="titleIcon"><i
              class="icon-personal-information-18"></i></span> {{equipmentModalViewData.academy_name}}(
          {{equipmentModalViewData.kitd_unique_id}})</button>
        <button *ngIf="equipmentModalToViewFor=='training'" class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#athletetag" type="button"><span class="titleIcon"><i
              class="icon-personal-information-18"></i></span> {{equipmentModalViewData.kiC_NAME}}(
          {{equipmentModalViewData.kiC_KUID}})</button>
        <button *ngIf="equipmentModalToViewFor=='branding'" class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#athletetag" type="button"><span class="titleIcon"><i
              class="icon-personal-information-18"></i></span> {{equipmentModalViewData.kiC_NAME}}(
          {{equipmentModalViewData.kiC_KUID}})</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="athletetag">
        <!-- <app-kic-monitoring></app-kic-monitoring> -->
        <div class="row inner-tab-group mb-3">
          <div class="col-12 p-3 py-2">
            <!-- <mat-tab-group  class="mt-2" [dynamicHeight]="false" [@.disabled]="true"> -->
            <mat-tab-group class="mt-2" [dynamicHeight]="false" [@.disabled]="true">
              <mat-tab aria-label="equipmentProcurementModalView">
                <ng-template matTabLabel class="tabEquipment">EQUIPMENT PROCUREMENT </ng-template>

                <div class="mt-4">
                  <ng-template matTabContent>
                    <div class="equipementTable equipment-procurement-table  my-5">

                      <div class="table-responsive position-relative">

                        <table mat-table id="kicEquipmentTable" [dataSource]="dataSourceForEquipment" matSort
                          class="table-striped  w-100">
                          <ng-container matColumnDef="index">

                            <ng-container matColumnDef="sno">
                              <th mat-header-cell *matHeaderCellDef> S.NO </th>
                              <td mat-cell *matCellDef="let element; let i=index">
                                {{i+1}}
                                <!-- {{this.matPaginator1.pageIndex == 0 ? i + 1 : 1 + i + this.matPaginator1.pageIndex * this.matPaginator1.pageSize}} -->
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                              <th mat-header-cell *matHeaderCellDef> TYPE </th>
                              <td mat-cell *matCellDef="let element">{{element.equipment_type_value.split('-')[1]}}</td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef> STATUS </th>
                              <td mat-cell *matCellDef="let element">{{element.status_type_value.split('-')[1]}}</td>
                            </ng-container>



                            <ng-container matColumnDef="date_procurement">
                              <th mat-header-cell *matHeaderCellDef>
                                DATE OF PROCUREMENT (DD/MM/YY)
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{element.date_of_procurement | date : "dd/MM/yyyy"}}
                                <!-- {{element.date_of_procurement }} -->
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="reason_for_delay">
                              <th mat-header-cell *matHeaderCellDef>
                                REASON FOR DELAY
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.reason_for_delay==''">N/A</ng-container>
                                <ng-container
                                  *ngIf="element.reason_for_delay!=''">{{element.reason_for_delay}}</ng-container>
                                <!-- {{element.reason_for_delay}} -->
                              </td>
                            </ng-container>


                            <ng-container matColumnDef="uploadDocuments">
                              <th mat-header-cell *matHeaderCellDef> UPLOAD DOCUMENT</th>
                              <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.document_name!=''">
                                  <a [href]="fileurl+element.document_name" *ngIf="element.document_name!=''"
                                    class="text-decoration-none text-dark" target="_blank">
                                    <mat-icon>remove_red_eye</mat-icon>
                                  </a>
                                </ng-container>
                                <ng-container *ngIf="element.document_name==''">
                                  N/A
                                </ng-container>


                              </td>
                            </ng-container>

                            <ng-container matColumnDef="remark">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header="remark"> REMARKS </th>
                              <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.remark!=''">
                                  {{element.remark}}
                                </ng-container>
                                <ng-container *ngIf="element.remark==''">N/A</ng-container>
                              </td>
                            </ng-container>

                            <ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsKICEquipment"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsKICEquipment;"></tr>
                            </ng-container>

                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found
                                </span></td>
                            </tr>
                          </ng-container>
                        </table>

                      </div>
                      <mat-paginator #categoryPaginator [pageSizeOptions]="[5,10, 25, 100]" aria-label="Select page">
                      </mat-paginator>
                    </div>

                  </ng-template>
                </div>
              </mat-tab>
              <!-- pastchampion on hold  -->
              <!-- <mat-tab aria-label="pastChampionModalView">
                    <ng-template matTabLabel class="tablPastChampion">PAST CHAMPION</ng-template>
                    <ng-template matTabContent >
                        <div class="equipment-procurement-table my-5">
                            <div class="table-responsive position-relative">
                              <table mat-table id="athleteDetailTable"  [dataSource]="dataSourceForPCA" matSort class="table-striped  w-100">
                                <ng-container matColumnDef="index" >
                          
                                  <ng-container matColumnDef="sno">
                                    <th mat-header-cell *matHeaderCellDef> S.NO</th>
                                    <td mat-cell *matCellDef="let element; let i=index">
                                      {{i+1}}
                                    </td>
                                  </ng-container>
                          
                                  <ng-container matColumnDef="kiud">
                                    <th mat-header-cell *matHeaderCellDef > 
                                      <ng-container >NSRSID </ng-container>
                                    </th>
                                    <td mat-cell *matCellDef="let element">{{element.pcA_KIUD}}</td>
                                  </ng-container>
                          
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef > NAME </th>
                                    <td mat-cell *matCellDef="let element">{{element.pcA_NAME}}</td>
                                  </ng-container>

                                  <ng-container matColumnDef="discipline">
                                    <th mat-header-cell *matHeaderCellDef>DISCIPLINE</th>
                                    <td mat-cell *matCellDef="let element">
                                      <ng-container *ngIf="element.desipline!=''">{{element.desipline}}</ng-container>
                                      <ng-container *ngIf="element.desipline==''">N/A</ng-container>
                                    </td>
                                  </ng-container>

                                  <ng-container matColumnDef="aadhar_validation">
                                    <th mat-header-cell *matHeaderCellDef>AADHAR STATUS</th>
                                    <td mat-cell *matCellDef="let element">{{element.pcA_AADHAR_VALIDATION ? 'Yes' : 'NO'}}</td>
                                  </ng-container>
                          
                          
                          
                                  <ng-container matColumnDef="joining_date">
                                    <th mat-header-cell *matHeaderCellDef>
                                      JOINING DATE
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                      <ng-container *ngIf="element.pcA_JOINING_DATE==''">N/A</ng-container>
                                      <ng-container *ngIf="element.pcA_JOINING_DATE!=''">{{element.pcA_JOINING_DATE | date : "dd/MM/yyyy"}}</ng-container>                                     
                                    </td>
                                  </ng-container>
                          
                                  <ng-container matColumnDef="elgibility_criteria">
                                    <th mat-header-cell *matHeaderCellDef >
                                      ELIGIBILITY CRITERIA QUALIFIED BY PCA
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                      <ng-container *ngIf="element.eligibility_criteria==''">
                                        N/A
                                      </ng-container>
                                      <ng-container *ngIf="element.eligibility_criteria!=''">
                                        {{element.eligibility_criteria}}
                                      </ng-container>
                                    </td>
                                  </ng-container>
                        
                                  <ng-container matColumnDef="reason_for_delay">
                                    <th mat-header-cell *matHeaderCellDef >
                                      REASON FOR DELAY IN HIRING OF PCA
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                      <ng-container *ngIf="element.reason==''">
                                        N/A
                                      </ng-container>
                                      <ng-container *ngIf="element.reason!=''">
                                        {{element.reason}}
                                      </ng-container>
                                    </td>
                                  </ng-container>
                          
                                  <ng-container >
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForPCA"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForPCA;"></tr>
                                  </ng-container>
                          
                          
                          
                                  <tr class="mat-row" *matNoDataRow>
                                    <ng-container>
                          
                                      <td class="mat-cell text-center" colspan="8"> <span class="noDataFound"> No Data Found </span></td>
                                    </ng-container>
                                  </tr>
                                </ng-container>
                              </table>
                            </div>
                            <mat-paginator  [pageSizeOptions]="[2,5,10,50, 100]" aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </ng-template>
                  </mat-tab> -->

              <mat-tab aria-label="brandingModalView">
                <ng-template matTabLabel class="tablBranding">BRANDING</ng-template>
                <ng-template matTabContent>
                  <div class="table-responsive position-relative  my-5">
                    <table mat-table id="athleteDetailTable" [dataSource]="dataSourceForBranding" matSort
                      class="table-striped  w-100">

                      <ng-container matColumnDef="index">

                        <ng-container matColumnDef="sno">
                          <th mat-header-cell *matHeaderCellDef> S.NO </th>
                          <td mat-cell *matCellDef="let element; let i=index">
                            {{kicBrandingWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i +
                            kicBrandingWISEPaginator.pageIndex * kicBrandingWISEPaginator.pageSize}}
                          </td>
                        </ng-container>


                        <ng-container matColumnDef="year">
                          <th mat-header-cell *matHeaderCellDef>YEAR</th>
                          <td mat-cell *matCellDef="let element">
                            {{element.year}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="brandingAtKIC">
                          <th mat-header-cell *matHeaderCellDef> BRANDING DONE AT KSICE? </th>
                          <td mat-cell *matCellDef="let element; let i=index">

                            <ng-container>
                              <ng-container *ngIf="element.branding_done==0">
                                NO
                              </ng-container>
                              <ng-container *ngIf="element.branding_done==1">
                                YES
                              </ng-container>

                            </ng-container>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="uploadImage">
                          <th mat-header-cell *matHeaderCellDef> UPLOAD DOCUMENT </th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.upload_image!=''">
                              <a [href]="fileurl+element.upload_image" class="text-decoration-none text-dark"
                                target="_blank">
                                <mat-icon>remove_red_eye</mat-icon>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="element.upload_image==''">
                              N/A
                            </ng-container>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="brandingRemarks">
                          <th mat-header-cell *matHeaderCellDef> REMARKS, IF ANY </th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.remarks!=''">
                              {{element.remarks}}
                            </ng-container>
                            <ng-container *ngIf="element.remarks==''">
                              N/A
                            </ng-container>
                          </td>
                        </ng-container>

                        <ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedBrandingColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedBrandingColumns;"></tr>
                        </ng-container>



                        <tr class="mat-row" *matNoDataRow>
                          <ng-container>

                            <td class="mat-cell text-center" colspan="5"> <span class="noDataFound"> No Data Found
                              </span></td>
                          </ng-container>

                        </tr>
                      </ng-container>
                    </table>
                  </div>
                  <mat-paginator #kicBrandingWISEPaginator [pageSizeOptions]="[2,5,10, 100]" aria-label="Select page">
                  </mat-paginator>
                </ng-template>
              </mat-tab>

              <mat-tab aria-label="trainingDetailsModalViewData">
                <ng-template matTabLabel class="tablTrainingDetails">TRAINING DETAILS</ng-template>
                <ng-template matTabContent>
                  <div class="table-responsive position-relative my-5">
                    <table mat-table id="athleteDetailTable" [dataSource]="dataSourceForTraining" matSort
                      class="table-striped  w-100">
                      <ng-container matColumnDef="index">
                        <ng-container matColumnDef="sno">
                          <th mat-header-cell *matHeaderCellDef> S.NO</th>
                          <td mat-cell *matCellDef="let element; let i=index">
                            {{kicTrainingWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i +
                            kicTrainingWISEPaginator.pageIndex * kicTrainingWISEPaginator.pageSize}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="year">
                          <th mat-header-cell *matHeaderCellDef>YEAR</th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.year==null">
                              N/A
                            </ng-container>
                            <ng-container *ngIf="element.year!=null">
                              {{element.year}}
                            </ng-container>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="month">
                          <th mat-header-cell *matHeaderCellDef>MONTH</th>
                          <td mat-cell *matCellDef="let element">
                            {{get(element.month)}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="regularTrainingProvided">
                          <th mat-header-cell *matHeaderCellDef>REGULAR TRAINING IS BEING PROVIDED?</th>
                          <td mat-cell *matCellDef="let element">
                            {{element.is_trainging_provided ? 'Yes' : 'No'}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="reasonForTrainingNotProvided">
                          <th mat-header-cell *matHeaderCellDef>IF NOT, REASONS THERE OF</th>
                          <td mat-cell *matCellDef="let element">

                            <ng-container *ngIf="element.reason==''">
                              N/A
                            </ng-container>
                            <ng-container *ngIf="element.reason!=''">
                              {{element.reason}}
                            </ng-container>
                          </td>
                        </ng-container>


                        <ng-container matColumnDef="uploadedDocument">
                          <th mat-header-cell *matHeaderCellDef>TRAINING VIDEO LINK</th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.training_Video_Link!=''">
                              <a [href]="element.training_Video_Link" *ngIf="element.training_Video_Link"
                                class="text-decoration-none text-dark" target="_blank">

                                <mat-icon>remove_red_eye</mat-icon>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="element.training_Video_Link==''">
                              N/A
                            </ng-container>

                          </td>
                        </ng-container>


                        <ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedTrainingKicColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedTrainingKicColumns;"></tr>

                        </ng-container>

                        <tr class="mat-row" *matNoDataRow>
                          <ng-container>
                            <td class="mat-cell text-center" colspan="6"> <span class="noDataFound"> No Data Found
                              </span></td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </table>

                  </div>
                  <mat-paginator #kicTrainingWISEPaginator [pageSizeOptions]="[2,5,10, 100]" aria-label="Select page">
                  </mat-paginator>
                </ng-template>
              </mat-tab>

              <mat-tab aria-label="cctvFeedModalViewData">
                <ng-template matTabLabel class="tablTrainingDetails">CCTV FEED</ng-template>
                <ng-template matTabContent>
                  <div class="table-responsive position-relative my-5">
                    <table mat-table id="athleteDetailTable" [dataSource]="dataSourceForCCTV" matSort
                      class="table-striped  w-100">
                      <ng-container matColumnDef="index">
                        <ng-container matColumnDef="sno">
                          <th mat-header-cell *matHeaderCellDef> S.NO</th>
                          <td mat-cell *matCellDef="let element; let i=index">
                            {{kicCCTVWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i + kicCCTVWISEPaginator.pageIndex *
                            kicCCTVWISEPaginator.pageSize}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="year">
                          <th mat-header-cell *matHeaderCellDef>YEAR</th>
                          <td mat-cell *matCellDef="let element">
                            {{element.year}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="month">
                          <th mat-header-cell *matHeaderCellDef>MONTH</th>
                          <td mat-cell *matCellDef="let element">
                            {{get(element.month)}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="covered_by_cctv">
                          <th mat-header-cell *matHeaderCellDef>IS THE FOP COVERED BY CCTV?</th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container>
                              {{element.covered_by_cctv ? 'Yes' : 'No'}}
                            </ng-container>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="upload_vedio">
                          <th mat-header-cell *matHeaderCellDef>CCTV ACCESS DOCUMENT</th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.upload_vedio != ''">
                              <a [href]="fileurl + element.upload_vedio" class="text-decoration-none text-dark"
                                target="_blank">
                                <mat-icon>remove_red_eye</mat-icon>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="element.upload_vedio == '' || element.upload_vedio == null  ">
                              N/A
                            </ng-container>
                          </td>
                        </ng-container>

                        <ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedCCTVKicColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedCCTVKicColumns;"></tr>

                        </ng-container>


                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell text-center" [attr.colspan]="5"> <span class="noDataFound"> No Data Found
                            </span></td>
                        </tr>
                      </ng-container>
                    </table>
                  </div>
                  <mat-paginator #kicCCTVWISEPaginator [pageSizeOptions]="[5,10, 25, 100]" aria-label="Select page">
                  </mat-paginator>

                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="showLoader"></app-loader>