<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-t-shirt-2-line"></i></span>KIT SIZE</h3>
      <button type="button" *ngIf="readonlyEdit" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button>
    </div>
    <form [formGroup]="kitSizeForm">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Track Suit Select Size</mat-label>
            <mat-select formControlName="Track_Suit_Size" >
              <mat-option [value]="data.value" *ngFor="let data of blazerShirtList">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>     
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>T-shirt Select Size</mat-label>
            <mat-select formControlName="T_shirt_Size" >
                <mat-option [value]="data.value" *ngFor="let data of blazerShirtList">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>     
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Pant Select Size</mat-label>
            <mat-select formControlName="Pant_Size" >
                <mat-option [value]="data.value" *ngFor="let data of paintList">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>     
      </div>
      <div class="row">
        <div class="col text-center">
          <hr class="mt-1" />
          <button type="button" class="btn btn-blue px-4" (click)="save()" [disabled]="readonlyEdit">Save</button>
        </div>
      </div>
    </form>
    
  </div>
  <app-loader *ngIf="loader || loader2"></app-loader>