<div class="modal-body tagcommonModal athleteAction-modal profileModal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3><span class="titleIcon"><i class="icon-football-line"></i></span> SPORTS DISCIPLINE</h3>
  </div>
  <form [formGroup]="sportsDisciplineForm">
    <div class="row">
      <div class="col">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Sport Discipline</mat-label>
          <mat-select formControlName="ssList">
            <mat-option *ngFor="let data of ssList" [value]="data.sport_detail_id">{{data.sport_display_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <button type="button" (click)="save()" class="btn btn-lightblue me-2">Save</button>
      </div>
    </div>
  </form>
  
</div>

<app-loader *ngIf="loader"></app-loader>