
::ng-deep .menu-role-mapping-popup .mat-form-field-wrapper, :host ::ng-deep .mat-form-field-wrapper {
  border-color: #1F60AB !important;
  overflow: hidden;
}

::ng-deep .menu-role-mapping-popup .mat-dialog-container {
  padding: 0.5rem;
  min-width: 320px;
  width: 70vw;
  max-height: 90vh;
  overflow: auto;
}

:host .row, ::ng-deep .menu-role-mapping-popup .mat-dialog-container .row {--bs-gutter-x: 0;}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .custom-select {max-height: 50vh !important;}

.table-responsive {max-height: 70vh;}

:host ::ng-deep .mat-table thead {position: sticky; top: 0; z-index: 99;}

.mat-header-cell {
  background: #1F60AB;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 8px;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

:host .mat-icon {
  cursor: pointer !important;
}
