<div class="container-fluid p-2 border border-blue">
  <div class="row h4 m-0 p-2 justify-content-center bg-blue text-white fw-bold">
    MANAGE MENU ROLE MAPPING
  </div>
  <div class="row g-0 py-1">
    <div class="col-12 col-lg-6 py-1 d-flex align-items-center">
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="roleIdControl" (selectionChange)="clearTable()">
          <mat-option *ngFor="let option of roleIdList$ | async" [value]="option.role_id">{{ option.role_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="ms-2">
        <mat-label>Applications</mat-label>
        <mat-select [formControl]="appIdControl" (selectionChange)="clearTable()">
          <mat-option *ngFor="let option of appIdList$ | async" [value]="option.appId">{{ option.projectName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button 
        type="button" 
        mat-flat-button 
        class="bg-blue text-white h-100 ms-2" 
        (click)="fetchMenu()" 
        [disabled]="!roleIdControl.value || !appIdControl.value"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="col col-lg-6 py-1 d-flex align-items-center justify-content-end">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input #searchField matInput (keyup)="applyFilter($any($event.target).value)" />
      </mat-form-field>
      <button 
        type="button" 
        mat-flat-button 
        class="bg-blue text-white h-100 ms-2" 
        (click)="openPopup()"
        *ngIf="showAssignMenuBtn"
      ><mat-icon>add_box</mat-icon> ASSIGN MENU </button>
    </div>
  </div>
  <div class="row table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="w-100 table-striped"
    >
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
        <td mat-cell *matCellDef="let record" class="text-nowrap text-center">
          <mat-icon class="text-blue" (click)="openPopup(record)">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Menu Name Column -->
      <ng-container matColumnDef="menu_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="menu_name">Menu Name</th>
        <td mat-cell *matCellDef="let record">{{ record.menu_name }}</td>
      </ng-container>

      <!-- Menu Order Column -->
      <ng-container matColumnDef="menu_order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="menu_order">Menu Order</th>
        <td mat-cell *matCellDef="let record">{{ record.menu_order }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>
  <div class="row text-danger h6 m-0">
    *Note: Menu having Order ID of&nbsp; '-1' &nbsp;will not be displayed in Role Dashboard.
  </div>
</div>

<ng-template #manageMenu>
  <form novalidate>
    <div
        class="container-fluid p-0 border rounded border-blue"
        [formGroup]="form"
      >
      <div class="row p-1 bg-blue h5 m-0 bg-blue text-white justify-content-center">
        {{ form.get('id')?.value ? 'EDIT' : 'ADD'}} MENU
      </div>
      <div class="row p-1">
        <div class="col-6 p-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Menu</mat-label>
            <mat-select formControlName="menu_id">
              <mat-option *ngFor="let option of menuList" [value]="option.id">{{ option.menu_name + ' (' + option.menu_component_name + ')' }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="form.get('menu_id')?.touched && form.get('menu_id')?.hasError('required')" class="text-danger">
            <small>This field is required</small>
          </div>
        </div>
        <div class="col-6 p-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Menu Order</mat-label>
            <input matInput type="number" formControlName="menu_order" />
          </mat-form-field>
          <div *ngIf="form.get('menu_order')?.touched && form.get('menu_order')?.hasError('required')" class="text-danger">
            <small>This field is required</small>
          </div>
        </div>
      </div>
      <div class="row pt-2 p-2">
        <div class="col text-center">
          <button mat-raised-button class="bg-blue text-white me-2" (click)="saveDetails()">Save</button>
          <button mat-raised-button (click)="closePopup()" >Cancel</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-container *ngIf="loader">
  <app-loader></app-loader>
</ng-container>