<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-map-pin-line-2"></i></span> CONTACT INFORMATION</h3>
      <button type="button" *ngIf="readonlyEdit" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button>
    </div>
    <form [formGroup]="addressForm">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Enter Mobile No</mat-label>
            <input matInput formControlName="mobile_no" [maxLength]="10" [minlength]="10" appMobileNumber>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Enter Alternate Mobile No</mat-label>
            <input matInput formControlName="alternate_mobile_number" [maxLength]="10" [minlength]="10" appMobileNumber>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Enter Email Id</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>

        <div class="col-sm-12 mb-3 permanent-addTitle">
            <h3 class="pt-2 titleTxt">
                <span class="titleIcon"><i class="icon-map-pin-line-2"></i></span> COMMUNICATION ADDRESS
            </h3>
        </div>
        <div class="col-sm-6 mb-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Enter Communication Address Line1</mat-label>
              <input matInput formControlName="comm_add1" (change)="onKeyDown()">
            </mat-form-field>
          </div>
          <div class="col-sm-6 mb-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Enter Communication Address Line2</mat-label>
              <input matInput formControlName="comm_add2" (change)="onKeyDown()">
            </mat-form-field>
          </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select State</mat-label>
            <mat-select formControlName="comm_state" (valueChange)="getDistrict($event,'communication');getCity($event,'communication');onKeyDown();changeStateComm('communication')">
              <mat-option [value]="data.id" *ngFor="let data of communicationStateList">{{data.state_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select District</mat-label>
            <mat-select formControlName="comm_district" (valueChange)="getBlock($event,'communication');getPincode($event,'communication');onKeyDown();changeDistrictComm('communication')">
              <mat-option [value]="data.districtId" *ngFor="let data of communicationDistrictList">{{data.district_Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select BLock</mat-label>
            <mat-select formControlName="comm_block" (valueChange)="onKeyDown()">
                <mat-option [value]="data.blockId" *ngFor="let data of communicationBlockList">{{data.block_Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select City</mat-label>
            <mat-select formControlName="comm_city" (valueChange)="onKeyDown()">
                <mat-option [value]="data.id" *ngFor="let data of communicationCityList">{{data.city_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select Pin Code</mat-label>
            <mat-select formControlName="comm_pincode" (valueChange)="onKeyDown()">
                <mat-option [value]="data.pinCode" *ngFor="let data of communicationPincodeList">{{data.pinCode}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
        
        <div class="col-sm-12 mb-3 mb-lg-4 permanent-addTitle">
            <!-- <hr/> -->
            <h3 class="pt-2 titleTxt"><span class="titleIcon"><i class="icon-map-pin-line-2"></i></span> Permanent Address</h3>
            <section class="example-section">
              <mat-checkbox class="example-margin" formControlName="perm_sameas" (change)="changeSameAs($event)" [attr.disabled]="updateFieldStatus()">
                <span class="text-danger me-1">  SAME AS COMMUNICATION ADDRESS </span>
                <i class="icon-information-line-1" placement="bottom" tooltipClass="address-tooltip" ngbTooltip="(Note: if Permanent address and communication address are same then please select this checkbox)">
    
                </i>
              </mat-checkbox>
            </section>
          </div>
        <div class="col-sm-6 mb-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Enter Permanent Address Line1</mat-label>
              <input matInput formControlName="permanent_add1">
            </mat-form-field>
          </div>
          <div class="col-sm-6 mb-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Enter Permanent Address Line2</mat-label>
              <input matInput formControlName="permanent_add2">
            </mat-form-field>
          </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select State</mat-label>
            <mat-select formControlName="permanent_state" (valueChange)="getDistrict($event,'permanent');getCity($event,'permanent');changeStateComm('permanent')" 
            [disabled]="addressForm.get('perm_sameas')?.value ? true : false">
                <mat-option [value]="data.id" *ngFor="let data of permanentStateList">{{data.state_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select District</mat-label>
            <mat-select formControlName="permanent_district"  (valueChange)="getBlock($event,'permanent');getPincode($event,'permanent');changeDistrictComm('permanent')"
            [disabled]="addressForm.get('perm_sameas')?.value ? true : false">
                <mat-option [value]="data.districtId" *ngFor="let data of permanentDistrictList">{{data.district_Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select BLock</mat-label>
            <mat-select formControlName="permanent_block" [disabled]="addressForm.get('perm_sameas')?.value ? true : false">
                <mat-option [value]="data.blockId" *ngFor="let data of permanentBlockList">{{data.block_Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select City</mat-label>
            <mat-select formControlName="permanent_city" [disabled]="addressForm.get('perm_sameas')?.value ? true : false">
                <mat-option [value]="data.id" *ngFor="let data of permanentCityList">{{data.city_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Select Pin Code</mat-label>
            <mat-select formControlName="permanent_pincode" [disabled]="addressForm.get('perm_sameas')?.value ? true : false">
                <mat-option [value]="data.pinCode" *ngFor="let data of permanentPincodeList">{{data.pinCode}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <hr class="mt-1" />
          <button type="button" class="btn btn-blue px-4" (click)="save()" [disabled]="readonlyEdit">Save</button>
        </div>
      </div>
    </form>
    
  </div>
  <ng-template #phoneOtp let-modal>
    <div class="modal-header d-block">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="stopCounter()" ></button>
        </div>
      <h4 class="modal-title text-center">OTP</h4>      
    </div>
    <div class="modal-body">
        <p class="text-center text-success">OTP sent successfully.</p>
      <form [formGroup]="otpVerifyForm">
        <div class="mb-3">
            <input type="text" class="form-control" value="{{this.addressForm.value.mobile_no}}" readonly>
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" onKeyPress="if(this.value.length==6) return false;" formControlName="otp" placeholder="Please Enter OTP" required>
        </div>        
        <div class="text-center mb-3">
            <button type="button" (click)="otpVerify()" [disabled]="!otpVerifyForm.valid" class="btn btn-blue px-4 w-100">Confirm OTP</button>
        </div>   
        <p class="text-center">Haven't received OTP?  <button class="btn btn-blue mx-2 border-0" type="button" [disabled]="!resendOtpButton" (click)="startCounter();resendotp()">Resend OTP</button> {{counter}} sec &#9202;</p> 
        <hr />    
        <div class="text-center mt-3">
            <small><strong>Note:</strong> Your One Time Password(OTP) is confidential. Please do not share it with anyone via e-mail, phone or any other medium.</small>
        </div>
      </form>
    </div>
    <app-loader *ngIf="loaderGenarate"></app-loader>
  </ng-template>

  <app-loader *ngIf="loader || loader2"></app-loader>
  <app-loader *ngIf="loaderGenarate"></app-loader>