<div class="matTable">
  <form [formGroup]="mapathleteForm">
    <div class="row gx-3 my-3 justify-content-end">
      <div class="col mb-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Mapping Type</mat-label>
          <mat-select formControlName="map_type" (selectionChange)="changeMapType($event)">
            <mat-option [value]=2>Coach - Athlete</mat-option>
            <mat-option [value]=103>Sport Scientist - Athlete</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="mapathleteForm.get('map_type')?.touched &&  mapathleteForm.get('map_type')?.invalid" class="text-danger">
          <div>
            <small>This field is required</small>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <mat-form-field appearance="fill" class="w-100" (click)="onDropDownClick('DISCIPLINE')">
          <mat-label>{{mapathleteForm.get('map_type')?.value==103 ? 'Category' : 'Discipline'}}</mat-label>
          <mat-select formControlName="sport" (selectionChange)="changeSports($event)">
            <ng-container *ngIf="(sportsList$ | async) as optionLists">
                <mat-option *ngFor="let option of optionLists" [value]="option.sport_detail_id || option.id">{{option.sport_name || option.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div *ngIf="mapathleteForm.get('map_type')?.invalid && mapathleteForm.get('sport')?.touched" class="text-danger">
          <div>
            <small>Select Mapping Type</small>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <mat-form-field appearance="fill" class="w-100" (click)="onDropDownClick('COACH')">
          <mat-label>Select {{mapathleteForm.get('map_type')?.value === 103 ? 'Sport Scientist' : 'Coach'}}</mat-label>
          <mat-select formControlName="coach" (selectionChange)="changeCoach(mapathleteForm.get('coach')?.value)">
            <ng-container *ngIf="(coachList$ | async) as coachOptions;">
              <mat-option *ngFor="let option of coachOptions" [value]="option.official_detail_id">{{ option.name + ' (' + option.nsrsId + ')' }}</mat-option>
            </ng-container>            
          </mat-select>
        </mat-form-field>
        <div *ngIf="mapathleteForm.get('coach')?.touched && mapathleteForm.get('sport')?.invalid" class="text-danger">
          <div>
            <small>Select Discipline</small>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <button type="button" (click)="openMapAthlete()" class="btn btn-blue px-4" [disabled]="!mapathleteForm.valid">MAP ATHLETE</button>
      </div>
    </div>
  </form>

  <div class="table-responsive mt-3" [ngClass]="{'d-none':mapathleteForm.invalid}">
    <div class="d-flex justify-content-end">
      <div class="searchInput mb-3">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input (keyup)="applyFilter($event)" placeholder="Search.." class="form-control">
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="w-100  table-striped" matSort>
      <!-- image Column -->
      <!-- <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img src="assets/images/placeholderProfile.png" alt="" style="max-height: 35px;"></td>
      </ng-container> -->

      <!-- NSRS ID Column -->
      <ng-container matColumnDef="nsrsId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nsrsId"> NSRS ID </th>
        <td mat-cell *matCellDef="let element"> {{element.nsrsId}} </td>
      </ng-container>
    
      <!-- ATHLETE Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="col-4 col-lg-3"> ATHLETE </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- trainingLevel Column -->
      <ng-container matColumnDef="trainingLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="trainingLevel"> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.trainingLevel ? element.trainingLevel : 'NA'}} </td>
      </ng-container>
    
      <!-- SPORTS DISCIPLINE Column -->
      <ng-container matColumnDef="academy_date_of_joining">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="academy_date_of_joining" class="text-nowrap">Date Of Joining </th>
        <td mat-cell *matCellDef="let element"> {{element.academy_date_of_joining}} </td>
      </ng-container>
    
      <!-- FROM Column -->
      <ng-container matColumnDef="coach_fromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="coach_fromDate" class="col-4 col-lg-3"> Duration </th>
        <td mat-cell *matCellDef="let element" class="text-nowrap"> 
          {{element.coach_fromDate}}  <ng-container *ngIf="element.coach_toDate != null || ''">to  {{ element.coach_toDate}}</ng-container> 
        </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="col-1"> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <a href="javascript:void(0)" (click)="editEndDate(element)" class="text-success text-decoration-none">
            <mat-icon class="material-symbols-outlined">edit_calendar</mat-icon>
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="10"> <span class="noDataFound"> No Data Found </span></td>
      </tr>
    </table>
  </div>
  <mat-paginator *ngIf="mapathleteForm.valid" [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<ng-container *ngIf="iscoachOptionLoader" >
  <app-loader></app-loader>
</ng-container>