.matTable .mat-table{font-family: 'Lato', sans-serif;font-weight: bold;}
.matTable th.mat-header-cell{background: #1F60AB;color: #fff;font-size: 13px;font-weight: normal;
letter-spacing: 0.7px;font-weight: bold;text-transform: uppercase;padding: 0 8px;}
.matTable .mat-row .mat-cell{color: #555;font-size: 12px;letter-spacing: 0.7px;padding: 0 8px;}
.matTable tr.mat-header-row{height: 45px;}

.matTable .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.matTable .mat-row .mat-cell:last-child {border-right: 0;}
.matTable  th.mat-header-cell:first-of-type,.matTable .mat-row  td.mat-cell:first-of-type{padding-left: 24px;}
.matTable  th.mat-header-cell:last-of-type, .matTable .mat-row td.mat-cell:last-of-type{padding-right: 24px;}
.matTable ::ng-deep .mat-checkbox-frame{border-width: 1px;border-color: #DBDBDB;}
.matTable ::ng-deep .mat-checkbox-background {border-color: #DBDBDB;
    border: 1px solid #DBDBDB;
}
.matTable ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .matTable ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #1f60ab;
}
.matTable ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .matTable ::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
    background-color: #1f60ab;  
}
.matTable .mat-form-field{font-size: 14px;}
.btn-blue{font-size: 13px;padding: 9px;}
.noDataFound{font-size: 16px;}
