.athlete-top-row .list{padding: 5px 25px;display: inline-flex;background-color: #8BE2DF;color: #1B6866;border-radius: 2px;font-size: 14px; min-width: 95px;}
.athlete-top-row .list:nth-child(2){background-color: #FFF1E5;color: #BB5905;}
.athlete-top-row .list:nth-child(3){background-color: #FBE5FF;color: #74008A;}

.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}

.border-top .btn-blue{font-size: 14px;padding: 6px;}

.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;width: 98px;}


.btn-view{
/* background-color: #3FB424; */
background-color: transparent;border: 0;color: #3FB424;line-height: initial;font-size: 7px;padding: 0 4px;}
.btn-view mat-icon{font-size: 22px;height: auto;width: auto;}
.athleterank{display: inline-flex;border-color: #C7C7C7;background-color: #EFEFEF;min-width: 20px;
min-height: 16px;justify-content: center;}
.btn-status{background-color: #D4EFD5;border-color: #008205;color: #008205;font-size: 11px;padding: 1px 8px;border-radius: 0;}

/* .actions{display: flex;justify-content: space-around;align-items: center;} */
.actions a{font-size: 15px;
display: inline-block;
margin-top: 5px;
margin-bottom: 5px;
color: #FFB24D;
padding: 2px 3px;
line-height: normal;
width: 23px;
height: 23px;
text-align: center;}
.actions a:last-child{color: #ff0000;}
.actions mat-icon{width: auto;
height: auto;
font-size: 17px;}

.noDataFound{font-size: 16px;}

:host .status-not-verified {
    background-color: #FFC9C9;
    border-color: #FF0000;
    color: #FF0000;
    font-size: 11px;
    padding: 1px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: default;
}

:host .status-not-verified:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.deleteCommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .deleteCommonModal .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;box-shadow: none;outline: none;}
  .deleteCommonModal{padding: 15px 26px 15px 20px}

  .deleteCommonModal .titleTxt h4{border-color: #008205;
    background-color: #e0ffe1;}
  .deleteCoachSS  .titleTxt h4{background-color: #FFC9C9;border: 1px solid #FF0000;}

  .custom-wid-table-2 table  th:nth-child(10){min-width: 115px;}


  .verfied-btn {
    background-color: #ccffec;
    border: 1px solid;
    border-color: #0e8b5c;
    border-radius: 3px;
    text-transform: uppercase;
    color:darkgreen;
    font-size: 11px;
    padding: 1px 8px;
    cursor: default;

  }
  .verfied-btn:hover{
    background-color: darkgreen;
    border: 1px solid darkgreen;
  }
  .pending-btn-ui{
    background-color:#ffe5cf;
    border: 1px solid #ff7400;
    border-color: #ff7400;
    border-radius: 3px;
    text-transform: uppercase;
    color:#ff7400;
    font-size: 11px;
    padding: 1px 8px;
    cursor: default;
  }
  .pending-btn-ui:hover{
    background-color:#ff9003;
    color: #fff;
  }

  ::ng-deep  .custom-dialog-panel-modal .mat-dialog-container{
    padding:0px 2px !important;
  }