<!-- {{athleteData | json}} -->

<div class="athleteAction-modal">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#photoidproof" type="button"><!--<span class="titleIcon"><i class="icon-image-line"></i></span>--> Photo ID Proof </button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#dob" type="button"><!--<span class="titleIcon"><i class="icon-DOB"></i></span>--> Date of Birth</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="photoidproof">
        <div class="d-flex justify-content-between align-items-center">
          <h5></h5>
          <button type="button" *ngIf="readonlyPhotoIdEdit" (click)="editPhotoIdButton()" class="btn btn-blue py-1 mb-3">EDIT</button>
        </div>
        <form [formGroup]="documentForm">
          <div class="row">
            <!-- <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Aadhar Number</mat-label>
                <input matInput type="number" formControlName="aadhar_no">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Aadhar Image</span>
                  <input type="file" class="inputUpload"  #aadharImageInput   formControlName="aadhar_img_path" (change)="aadharUpload(aadharImageInput.files)">
                </div>
                <div *ngIf="aadharUploadUrl"><a [href]="fileBaseUrl + aadharUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div> -->
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Driving Licence Number</mat-label>
                <input matInput formControlName="driving_licence_no">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Driving Licence Image</span>
                  <input type="file" class="inputUpload"  #drivingInput   formControlName="driving_licence_path" (change)="drivingFileUpload(drivingInput.files)">
                </div>
                <div *ngIf="drivingFileUploadUrl"><a [href]="fileBaseUrl + drivingFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Passport Number</mat-label>
                <input matInput formControlName="passport_no">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100" (click)="picker.open()">
                <mat-label>Passport Expiry</mat-label>
                <input matInput [matDatepicker]="picker" (keypress)="false" formControlName="passport_expiry">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>          
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Passport Image</span>
                  <input type="file" class="inputUpload"  #passportImageInput   formControlName="passport_img_path" (change)="passportFileUpload(passportImageInput.files)">
                </div>
                <div *ngIf="passportFileUploadUrl"><a [href]="fileBaseUrl + passportFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Voter Number</mat-label>
                <input matInput formControlName="voter_id">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Voter Image</span>
                  <input type="file" class="inputUpload"  #voterImageInput   formControlName="voter_id_img_path" (change)="voterFileUpload(voterImageInput.files)">
                </div>
                <div *ngIf="voterFileUploadUrl"><a [href]="fileBaseUrl + voterFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>  
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Ration Card Number</mat-label>
                <input matInput formControlName="ration_card_no">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Ration Card Image</span>
                  <input type="file" class="inputUpload"  #rationInput   formControlName="ration_card_path" (change)="rationFileUpload(rationInput.files)">
                </div>
                <div *ngIf="rationFileUploadUrl"><a [href]="fileBaseUrl + rationFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Pan Card Number</mat-label>
                <input matInput formControlName="pancard_no">
              </mat-form-field>
            </div>     
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Pan card Image</span>
                  <input type="file" class="inputUpload"  #panInput   formControlName="pancard_path" (change)="panFileUpload(panInput.files)">
                </div>
                <div *ngIf="panFileUploadUrl"><a [href]="fileBaseUrl + panFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>        
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Bonafide Certificate</span>
                  <input type="file" class="inputUpload"  #bonafideInput   formControlName="bonafide_certificate" (change)="bonafideFileUpload(bonafideInput.files)">
                </div>
                <div *ngIf="bonafideFileUploadUrl"><a [href]="fileBaseUrl + bonafideFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">10th Certificate</span>
                  <input type="file" class="inputUpload"  #tenthInput   formControlName="tenth_certificate_path" (change)="tenthFileUpload(tenthInput.files)">
                </div>
                <div *ngIf="tenthFileUploadUrl"><a [href]="fileBaseUrl + tenthFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">12th Certificate</span>
                  <input type="file" class="inputUpload"  #twelfthInput   formControlName="twelve_certificate_path" (change)="twelfthFileUpload(twelfthInput.files)">
                </div>
                <div *ngIf="twelfthFileUploadUrl"><a [href]="fileBaseUrl + twelfthFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Birth Certificate</span>
                  <input type="file" class="inputUpload"  #birthInput   formControlName="birth_certificate_path" (change)="birthFileUpload(birthInput.files)">
                </div>
                <div *ngIf="birthFileUploadUrl"><a [href]="fileBaseUrl + birthFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}" class="w-100" appearance="fill">
                <mat-label>Other Document Name</mat-label>
                <input matInput formControlName="other_document_name">
              </mat-form-field>
            </div>       
            <div class="col-sm-6 col-lg-3 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlyPhotoIdEdit}">
                  <span class="text-uppercase uploadLevel">Other Image</span>
                  <input type="file" class="inputUpload"  #otherInput   formControlName="other_document_path" (change)="otherFileUpload(otherInput.files)">
                </div>
                <div *ngIf="otherFileUploadUrl"><a [href]="fileBaseUrl + otherFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <hr class="mt-1" />
              <button type="button" class="btn btn-blue px-4" (click)="save()" [disabled]="readonlyPhotoIdEdit">Save</button>
            </div>  
          </div>
        </form>        
      </div>

      <div class="tab-pane fade" id="dob">
        <div class="d-flex justify-content-between align-items-center">
          <h5></h5>
          <button type="button" *ngIf="readonlydobEdit" (click)="editDob()" class="btn btn-blue py-1 mb-3">EDIT</button>
        </div>
        <form [formGroup]="dobForm">
          <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                <div class="inputfileLevel position-relative" [ngClass]="{'readonlyPhotoIdEdit':readonlydobEdit}">
                  <span class="text-uppercase uploadLevel">Date Of Birth</span>
                  <input type="file" class="inputUpload" #dobInput formControlName="dob_path" (change)="dobFileUpload(dobInput.files)">
                </div>
                <div *ngIf="dobFileUploadUrl"><a [href]="fileBaseUrl + dobFileUploadUrl" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <hr class="mt-1" />
              <button type="button" (click)="saveDob()" class="btn btn-blue px-4" [disabled]="readonlydobEdit">Save</button>
            </div>
          </div>
        </form>        
      </div>

    </div>
  </div>
</div>