
:host .row, ::ng-deep .user-popup .mat-dialog-container .row {--bs-gutter-x: 0;}

::ng-deep .user-popup .mat-dialog-container {
  padding: 0.5rem;
}

::ng-deep .user-popup .mat-form-field-wrapper, :host ::ng-deep .mat-form-field-wrapper {
  border-color: #1F60AB !important;
  overflow: hidden;
}

:host .mat-icon {
  cursor: pointer !important;
}

.table-responsive {max-height: 65vh;}

:host ::ng-deep .mat-table thead {position: sticky; top: 0; z-index: 99;}

.mat-header-cell {
  background: #1F60AB;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 8px;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

::ng-deep input::-webkit-outer-spin-button,
::ng-deep input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .swal2-title {
  color: #707070;
  font-size: 31px;
  font-weight: 600;
  font-family: 'lato', sans-serif;
}
