.search-text {
  color: #000000;
  font-size: 20px;

}

/*  */
.exports {
  margin-inline: 3px;
  width: 37%;
}

.exp {
  margin-left: 17rem;
}

#dropdown-end{
  margin-left: 25%;

}

.form-control {
  box-shadow: none !important;
     padding-left: 9px;

}

.btn-lightblue {
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

.searchInput{
  width: 100% !important;
}

.table-view{
  position: relative;
  bottom: 10px;
}


/* ############### Custom Input End #################### */


/* #################### Custom Table Start ############################ */
table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 0.7px;
  font-family: 'lato';

}



/* #################### Custom Table End ############################ */

/* .mat-sort-header-content {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 11px;
} */

th{


  font-size: 11px;
}
