<div class="modal-body tagcommonModal language-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3><span class="titleIcon"><img class="icon-language" src="assets/images/icon-language.svg" /></span>Languages</h3>
    <a *ngIf="form.disabled" href="javascript:void(0)" class="btn btn-edit">EDIT</a>
  </div>
  <hr />
  <form [formGroup]="form">
    <div class="row g-0 table-wrapper">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center align-middle">LANGUAGE TYPE</th>
            <th scope="col" class="text-center align-middle">LANGUAGE</th>
            <th scope="col" class="text-center align-middle">READ</th>
            <th scope="col" class="text-center align-middle">WRITE</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-center align-middle">Primary Language</td>
            <td class="text-center align-middle">
              <mat-form-field appearance="fill">
                <mat-label>Select Language</mat-label>
                <mat-select formControlName="primary_communication_language">
                  <mat-option *ngFor="let option of languageList$ | async" [value]="option.value">{{ option.text }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td class="text-center align-middle">
              <mat-checkbox formControlName="is_primary_read"></mat-checkbox>
            </td>
            <td class="text-center align-middle">
              <mat-checkbox formControlName="is_primary_write"></mat-checkbox>
            </td>
          </tr>
          <tr>
            <td class="text-center align-middle">Secondary Language</td>
            <td class="text-center align-middle">
              <mat-form-field appearance="fill">
                <mat-label>Select Language</mat-label>
                <mat-select formControlName="secondary_communication_language" (selectionChange)="onSecLanguageChange($event)">
                  <mat-option [value]="null">NONE</mat-option>
                  <mat-option *ngFor="let option of languageList$ | async" [value]="option.value">{{ option.text }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td class="text-center align-middle">
              <mat-checkbox formControlName="is_secondary_read"></mat-checkbox>
            </td>
            <td class="text-center align-middle">
              <mat-checkbox formControlName="is_secondary_write"></mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col text-center">
        <hr class="mt-1" />
        <button type="button" class="btn btn-blue px-4" (click)="save()" [disabled]="form.disabled">Save</button>
      </div>
    </div>
  </form>
</div>
<app-loader *ngIf="loader"></app-loader>