<div class="p-2 ps-3 d-flex align-items-center">
  <span class="page-heading-icon"><i class="icon-profile"></i></span>
  <span class="page-heading">PROFILE</span>
</div>
<div class="border-top">
  <div class="row mx-0">
    <div class="col-lg-9">
      <div class="px-2 py-3 py-lg-4">
        <div class="pe-2">
          <div class="row profile-row">
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openPersonalInfoModal()" class="card text-center">
                <span class="icon-box"><i class="icon-user-line"></i></span>
                <h4>PERSONAL INFORMATION</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openAddressModal()" class="card text-center">
                <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                <h4>ADDRESS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openIdProofModal()" class="card text-center">
                <span class="icon-box"><i class="icon-image-line"></i></span>
                <h4>PHOTO ID PROOF</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openBankInfoModal()" class="card text-center">
                <span class="icon-box"><i class="icon-Bank"></i></span>
                <h4>BANK ACCOUNT DETAILS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openEducationInfoModal()" class="card text-center">
                <span class="icon-box"><i class="icon-book-2-line-1"></i></span>
                <h4>EDUCATION DETAILS</h4>
              </a>
            </div>
            <!-- <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openSportsSpecificEducationModal()" class="card text-center">
                <span class="icon-box"><i class="fa-solid fa-award"></i></span>
                <h4>SPORTS SPECIFIC EDUCATION</h4>
              </a>
            </div> -->
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openMobileEmailModal()" class="card text-center">
                <span class="icon-box"><i class="icon-mail-line-1"></i></span>
                <h4>MOBILE NO AND EMAIL ID</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a (click)="openKittingModal()" class="card text-center">
                <span class="icon-box"><i class="icon-football-line"></i></span>
                <h4>SPORT AND KITTING DETAILS</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a href="javascript:void(0)" class="card text-center" (click)="openKIGModal()">
                <span class="icon-box"><img class="w-75" src="assets/images/khelo-india-logo.svg" alt=""></span>
                <h4>Khelo India Games</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a href="javascript:void(0)" class="card rec-card text-center" (click)="openRecruitmantUnderSportsQuotaModal()">
                <span class="icon-box"><img class="w-75" src="assets/images/recruitment.svg" alt=""></span>
                <h4>Recruitment Under Sports Quota</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="content-divider" />
    </div>
    <div class="col-lg-3 border-lg-start">
      <div class="py-lg-4">
        <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
      </div>
    </div>
  </div>
</div>