<div class="modal-body tagcommonModal profileModal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3 class="text-uppercase"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> BASIC INFORMATION</h3>
    <a *ngIf="readonlyEdit" href="javascript:void(0)" (click)="editButton()" class="btn btn-blue py-1 me-md-3">EDIT</a>
  </div>
  <form [formGroup]="basicDetailsForm">
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill" >
          <mat-label>TYPE</mat-label>
          <mat-select formControlName="type" >
            <mat-option value="Central Government">Central Government</mat-option>
            <mat-option value="Private / NGO">Private / NGO</mat-option>
            <mat-option value="Sports Authority of India">Sports Authority of India</mat-option>
            <mat-option value="State Government">State Government</mat-option>
          </mat-select>
          <!-- <input matInput  formControlName="type" [readonly]="readonlyEdit"> -->
        </mat-form-field>
        <!-- <div *ngIf="f['type'].touched &&  f['type'].invalid" class="text-danger">
          <div *ngIf="f['type'].errors && f['type'].errors['required']">
              Type is Required
          </div>
        </div> -->
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>REGISTRATION NO</mat-label>
          <input matInput formControlName="registrationNo">
          <!-- <input matInput formControlName="registrationNo" [disabled]="readonlyEdit"> -->
        </mat-form-field>
        <!-- <div *ngIf="f['registrationNo'].touched &&  f['registrationNo'].invalid" class="text-danger">
          <div *ngIf="f['registrationNo'].errors && f['registrationNo'].errors['required']">
              Registration No is Required
          </div>
        </div> -->
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>STATUS</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Individual">Individual</mat-option>
            <mat-option value="Trust">Trust</mat-option>
            <mat-option value="Non-profit organisation">Non-profit organisation</mat-option>
            <mat-option value="Company">Company</mat-option>
            <mat-option value="Firm">Firm</mat-option>
            <mat-option value="Society">Society</mat-option>
          </mat-select>
          <!-- <input matInput formControlName="status" [readonly]="readonlyEdit"> -->
        </mat-form-field>
        <!-- <div *ngIf="f['status'].touched &&  f['status'].invalid" class="text-danger">
          <div *ngIf="f['status'].errors && f['status'].errors['required']">
              Status is Required
          </div>
        </div> -->
      </div>
      <div class="col-sm-6 col-lg-8 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>ACADEMY NAME</mat-label>
          <input matInput  formControlName="academyName">
          <!-- <input matInput  formControlName="academyName" [disabled]="readonlyEdit"> -->
        </mat-form-field>
        <!-- <div *ngIf="f['academyName'].touched &&  f['academyName'].invalid" class="text-danger">
          <div *ngIf="f['academyName'].errors && f['academyName'].errors['required']">
              Academy Name is Required
          </div>
        </div> -->
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <ng-container *ngIf="readonlyEdit">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill" >
            <mat-label class="text-uppercase">year of establishment</mat-label>
            <input matInput (keypress)="keyPressDenied()" formControlName="year"  >
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="!readonlyEdit">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="example-full-width w-100" appearance="fill" appYearFormat>
            <mat-label class="text-uppercase">year of establishment</mat-label>
            <input matInput [matDatepicker]="year" formControlName="year" (keypress)="keyPressDenied()" (click)="year.open()" required [readonly]="true" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="year"></mat-datepicker-toggle>
            <mat-datepicker #year  startView="multi-year"
              (yearSelected)="handleYearSelected($event,year)" >
            </mat-datepicker>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width w-100" appearance="fill" (click)="yearEstablish.open()" appYearFormat>
            <mat-label>Year of Establishment</mat-label>
            <input matInput [matDatepicker]="yearEstablish" formControlName="academyYearofEstablish" required>
            <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
            <mat-datepicker #yearEstablish startView="multi-year" 
              (yearSelected)="handleYearSelected($event,yearEstablish)">
            </mat-datepicker>
          </mat-form-field> -->
        </ng-container>
          <!-- <div *ngIf="f['year'].touched &&  f['year'].invalid" class="text-danger">
            <div *ngIf="f['year'].errors && f['year'].errors['required']">
                Year is Required
            </div>
          </div>     -->
        
      </div>
    </div>
    <div>
      <button *ngIf="!readonlyEdit" type="button" (click)="submitBasicDetails()" class="btn btn-blue px-lg-4 w-100">Submit</button>
    </div>
  </form>
  
</div>
<app-loader *ngIf="mainLoader"></app-loader>