    <a *ngIf="this.userDetails.role_id==KicUsersRoleId.kisceAdmin" _ngcontent-oin-c393="" href="javascript:void(0)" class="btn btn-blue titleTxt my-2 d-block ms-auto" (click)="openAddModal('add')">ADD +</a>
    <ng-container *ngIf="rdListshow">
      <ng-container *ngIf="this.userDetails.role_id==KicUsersRoleId.rcAdmin || userDetails.role_id==KicUsersRoleId.hoAdmin">
        <div class="d-flex justify-content-between">
          <h2 class="mb-2 mt-2 training-details-heading">STATE WISE</h2>
          <h2 class="training-details-heading " (click)="backToRD()" style="cursor:pointer" *ngIf="userDetails.role_id==KicUsersRoleId.hoAdmin"><span><mat-icon class="rdBackButton mt-2 ml-2">keyboard_backspace</mat-icon></span>BACK TO RC</h2>
        </div>
        <div class="equipementTable equipment-procurement-table">
          <div class="table-responsive position-relative">
        
            <table mat-table id="kicEquipmentTable" [dataSource]="dataSourceForState" matSort class="table-striped  w-100">
              <ng-container matColumnDef="index">
        
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef > S.NO  </th>
                  <td mat-cell *matCellDef="let element; let i=index">{{this.statePaginator.pageIndex == 0 ? i + 1 : 1 + i + this.statePaginator.pageIndex * this.statePaginator.pageSize}}</td>
                </ng-container>
        
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef> STATE</th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container >
                      <a class="state-wise-link" (click)="stateChange((this.KicUsersRoleId.rcAdmin == this.userDetails.role_id) ? element.state_name : element.address_state_id,element.state_name)">
                       {{element.state_name}}
                      </a>
                    </ng-container>
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="noOfKIC">
                  <th mat-header-cell *matHeaderCellDef >NO.OF KISCE</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.nO_OF_KIC}}
                  </td>
                </ng-container>
              
        
                <ng-container matColumnDef="kicProcurementCompleted">
                  <th mat-header-cell *matHeaderCellDef >KISCE WHERE PROCUREMENT COMPLETED</th>
                  <td mat-cell *matCellDef="let element">{{element.kicS_WHERE_PROCURMENT_COMPLETED}}</td>
                </ng-container>
        
                <ng-container matColumnDef="kicProcurementNotCompleted">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="remark"> KISCE WHERE PROCUREMENT NOT COMPLETED </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.kiC_WHERE_PROCURMENT_NOT_YET_COMPLETED}}
                  </td>
                </ng-container>
                
        
                <ng-container *ngIf="this.userDetails.role_id==KicUsersRoleId.rcAdmin || userDetails.role_id==KicUsersRoleId.hoAdmin">
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRDState"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRDState;"></tr>
                </ng-container>
        
        
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
                </tr>
              </ng-container>
            </table>
          
          </div>
          <mat-paginator #statePaginator [pageSizeOptions]="[2,5,10,50,100]" aria-label="Select page">
          </mat-paginator>
        </div>
    
      </ng-container>
  
    </ng-container>
  
    <!-- rd user list -->
    <ng-container *ngIf="!rdListshow && this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
  
      <div class="equipementTable equipment-procurement-table mt-2">
      
        <div class="table-responsive position-relative">
      
          <table mat-table id="kicEquipmentTable" [dataSource]="dataSourceForRC" matSort class="table-striped  w-100">
            <ng-container matColumnDef="index">
      
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef > S.NO </th>
                <td mat-cell *matCellDef="let element; let i=index">{{this.rdListPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.rdListPaginator.pageIndex * this.rdListPaginator.pageSize}}</td>
              </ng-container>
    
              <ng-container matColumnDef="rdName">
                <th mat-header-cell *matHeaderCellDef > NAME </th>
                <td mat-cell *matCellDef="let element">
                  <a class="state-wise-link" (click)="rdChange(element)">
                    {{element.user_name}}
                    <!-- {{element.state_name}} -->
                   </a>
                </td>
              </ng-container>
      
              <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="stateName">
                <th mat-header-cell *matHeaderCellDef > STATES </th>
                <td mat-cell *matCellDef="let element">{{element.state_names}}</td>
              </ng-container>
       
              <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="totalKic">
                <th mat-header-cell *matHeaderCellDef > TOTAL KISCE </th>
                <td mat-cell *matCellDef="let element;">{{element.total_kic}}</td>
              </ng-container>
      
              <ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsForRCList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsForRCList;"></tr>
              </ng-container>
      
      
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
            </ng-container>
          </table>
        
        </div>
        <mat-paginator #rdListPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </div>
    </ng-container>
  
    <!-- for kic rc and ho roles kic wise data -->
    <ng-container *ngIf="rdListshow">
    <h2 class="mb-2 training-details-heading" *ngIf="this.userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">{{stateName | uppercase}} KISCE WISE</h2>
      <div class="filterBottom container-fluid mb-3" *ngIf="this.userDetails.role_id==KicUsersRoleId.kisceAdmin || this.userDetails.role_id==this.KicUsersRoleId.stateAdmin || this.userDetails.role_id==this.KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
        <form [formGroup]="searchFilter">
          <div class="row gx-3 align-items-center flex-wrap mt-4">
            <div class="col-md-3 col-12 my-2  custom-ui-mat">
              <mat-form-field class="w-100"  appearance="fill" (click)="yearEstablish.open()" appYearFormat>
                <mat-label>SORT BY YEAR</mat-label>
                <input matInput [matDatepicker]="yearEstablish"  [min]="min_date" [max]="max_date" formControlName="year" >
                <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
                <mat-datepicker  #yearEstablish startView="multi-year" (yearSelected)="handleYearSelected($event,yearEstablish)"></mat-datepicker>
              </mat-form-field>
  
            </div>
  
            <div class="col-md-3 col-12 my-2 custom-ui-mat">
              <select class="form-control" formControlName="status" (change)="search()">
                <option value="" selected="selected"> SORT BY STATUS   </option>
                <option value="0">ALL</option>
                <option value="1">No</option>
                <option value="2">Partial</option>
                <option value="3">NA</option>
                <option value="4">Completed</option>
              </select>
            </div>
  
            <div class="col-md-3 col-12 my-2">
              <button class="btn btn-primary btn-blue custom-ui-btn" style="font-family:'Lato'" (click)="clearFilter(true)">CLEAR</button>
            </div>
          
          </div>
      
      </form>
      </div>
  
    
      <div class="equipementTable equipment-procurement-table">
        
        <div class="table-responsive position-relative">
      
          <table mat-table id="kicEquipmentTable" [dataSource]="dataSource" matSort class="table-striped  w-100">
            <ng-container matColumnDef="index">
      
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef > S.NO </th>
                <td mat-cell *matCellDef="let element; let i=index">{{this.kicWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.kicWISEPaginator.pageIndex * this.kicWISEPaginator.pageSize}}</td>
              </ng-container>
    
              <ng-container matColumnDef="stateName" *ngIf="this.userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
                <th mat-header-cell *matHeaderCellDef > STATE </th>
                <td mat-cell *matCellDef="let element">{{element.state_name}}</td>
              </ng-container>
      
              <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="kicName">
                <th mat-header-cell *matHeaderCellDef > NAME </th>
                <td mat-cell *matCellDef="let element">{{element.academy_name}}</td>
              </ng-container>
       
              <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin  || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="nsrsID">
                <th mat-header-cell *matHeaderCellDef > NSRSID </th>
                <td mat-cell *matCellDef="let element;">
                  <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.kisceAdmin || this.userDetails.role_id==this.KicUsersRoleId.stateAdmin">
                    {{element.kitd_unique_id}}
                  </ng-container>
                  <ng-container *ngIf="this.userDetails.role_id==this.KicUsersRoleId.hoAdmin || this.userDetails.role_id==this.KicUsersRoleId.rcAdmin ">
                    <a class="state-wise-link" (click)="openKisceDetailsModal(element)">
                      {{element.kitd_unique_id}}
                     </a>
                  </ng-container>
                </td>
              </ng-container>
      
              <ng-container *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin  || userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin" matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef > DISTRICT </th>
                <td mat-cell *matCellDef="let element;">
                  <ng-container *ngIf="element.address_district=='' || element.address_district==undefined || element.address_district==null">
                    N/A
                  </ng-container>
                  <ng-container *ngIf="element.address_district!='' || element.address_district!=undefined || element.address_district!=null">
                    {{element.address_district}}
                  </ng-container>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef > TYPE </th>
                <td mat-cell *matCellDef="let element">{{element.equipment_type_value.split('-')[1]}}</td>
              </ng-container>
      
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> STATUS </th>
                <td mat-cell *matCellDef="let element">{{element.status_type_value.split('-')[1]}}</td>
              </ng-container>
      
      
      
              <ng-container matColumnDef="date_procurement">
                <th mat-header-cell *matHeaderCellDef >
                  DATE OF PROCUREMENT (DD/MM/YYYY)
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.date_of_procurement | date : "dd/MM/yyyy"}}
                  <!-- {{element.date_of_procurement }} -->
                </td>
              </ng-container>
      
              <ng-container matColumnDef="reason_for_delay">
                <th mat-header-cell *matHeaderCellDef >
                  REASON FOR DELAY
                </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.reason_for_delay!=''">
                    {{element.reason_for_delay}}
                  </ng-container>
                  <ng-container *ngIf="element.reason_for_delay==''">
                    N/A
                  </ng-container>
                </td>
              </ng-container>
             
      
              <ng-container matColumnDef="uploadDocuments">
                <th mat-header-cell *matHeaderCellDef > DOCUMENT</th>
                <td mat-cell *matCellDef="let element">
                 <a [href]="fileurl+element.document_name" *ngIf="element.document_name!=''" class="text-decoration-none text-dark" target="_blank">
                  <mat-icon>remove_red_eye</mat-icon>
                 </a>
                 <ng-container *ngIf="element.document_name==''">
                   N/A
                 </ng-container>
                 
      
                </td>
              </ng-container>
      
              <ng-container matColumnDef="remark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="remark"> REMARKS </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.remark!=''">
                    {{element.remark}}
                  </ng-container>
                  <ng-container *ngIf="element.remark==''">N/A</ng-container>
                </td>
              </ng-container>
    
              <ng-container matColumnDef="action" *ngIf="this.userDetails.role_id==this.KicUsersRoleId.kisceAdmin || this.userDetails.role_id==this.KicUsersRoleId.stateAdmin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="action"> ACTION </th>
                <td mat-cell *matCellDef="let element">
                 <!-- <button class="btn btn-sm btn-warning" (click)="openAddModal('edit')">Edit</button> -->
                <div class="d-flex align-items-center justify-content-center ">
                  <!-- <mat-icon *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin? true : element.modify_by==null ? true : userDetails.user_id==element.modify_by" (click)="openAddModal('edit',element)" class="me-2 edit-btn-equipment">edit</mat-icon> -->
                  <mat-icon (click)="openAddModal('edit',element)" class="me-2 edit-btn-equipment">edit</mat-icon>
                  <!-- <i *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin ? false : element.modify_by==null ? true : userDetails.user_id==element.modify_by" _ngcontent-ncd-c236="" class="fa-solid fa-trash-can trash-can-equipment" (click)="deleteEquipment(element)" ></i> -->
                </div>
                </td>
              </ng-container>
      
              <ng-container *ngIf="this.userDetails.role_id==KicUsersRoleId.kisceAdmin">
                <tr mat-header-row *matHeaderRowDef="displayedColumnsKIC"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKIC;"></tr>
              </ng-container>
      
              <ng-container *ngIf="this.userDetails.role_id==KicUsersRoleId.stateAdmin"> 
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSTATE"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSTATE;"></tr>
              </ng-container>
    
              <ng-container *ngIf="this.userDetails.role_id==KicUsersRoleId.rcAdmin || this.userDetails.role_id==this.KicUsersRoleId.hoAdmin">
                <tr mat-header-row *matHeaderRowDef="displayedColumnsKICWiseRC"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKICWiseRC;"></tr>
              </ng-container>
      
      
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
            </ng-container>
          </table>
        
        </div>
        <mat-paginator #kicWISEPaginator [pageSizeOptions]="[5,10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </div>
      
    </ng-container>
  
  <!-- </ng-container> -->
  
  
  
  <ng-template #delete let-modal>
    <div class="modal-body tagcommonModal deleteCommonModal">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      <div class="titleTxt">
        <h4 class="text-center fw-bold">{{deleteInsuranceData.equipment_type_value.split('-')[1]}} ({{deleteInsuranceData.status_type_value.split('-')[1]}})</h4>
      </div>
      <div class="text-center mt-3 pt-lg-2">
        <p>Please confirm if you want Delete this Equipment Detail.!</p>
      </div>
      <div class="text-center pb-3">
        <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
          (click)="modal.close('Save click')">CANCEL</button>
        <button type="button" class="btn btn-lightblue px-3" (click)="confirmDeleteInsurance()">CONFIRM</button>
      </div>
    </div>
  </ng-template>
  
  
  <app-loader *ngIf="mainLoader"></app-loader>
  <app-loader *ngIf="mainLoader1"></app-loader>