.aboutsec p{font-size: 18px;
    line-height: 39px;
    color: #434343;}
    .about_p p{font-size: 18px;
        line-height: 39px;
        color: #434343;}
/*******contact css*********/
.contact-us{padding: 60px 0 50px;}
.contact-us ul{    padding-right: 8em;}
.contact-us ul li{position: relative;
padding-left: 70px;
font-size: 15px;
color: #434343;
line-height: 28px;
padding-bottom: 15px;
margin-bottom: 25px;}
.contact-us ul li:last-child{margin-bottom: 10px;}
.contact-us ul li .icon{position: absolute;
left: 0;
width: 35px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
background-color: #F36E21;
border-radius: 6px;
color: #fff;
font-size: 18px;}
.contact-us ul li h4{font-size: 18px;
font-weight: bold;
color: #000000;margin-bottom: 5px;}
.contact-us ul li:not(:last-child):after{content: '';
position: absolute;
bottom: 0;
left: 70px;
height: 1px;
right: 0;
background-color: #C4C4C4;}
/* .contact-us ul li .list-link span:not(:last-child)::after{content: '|';color: #C4C4C4;} */
.contact-us ul li .list-link span a{    display: inline-block;
/* padding: 0 10px; */
color: #434343;
text-decoration: none;}
.contact-us ul li .list-link span:first-child a{padding-left: 0;}
.contactfrm h3{font-size: 28px;
font-weight: bold;
color: #000000;margin-bottom: 30px;}
.contactfrm .mb-3{position: relative;
margin-top: 10px;}
.contactfrm .mb-3 label{position: absolute;
left: 30px;
top: -13px;
background: #fff;
padding: 0 8px;}
.contactfrm .form-control{height: 63px;
border-color: #D9D9D9;
box-shadow: none !important;}
.contactfrm textarea.form-control{height: 216px;
resize: none;}


/************Media Query*************/
@media(max-width:1199.8px){
}
@media(max-width:991.8px){
}
@media(max-width:767.8px){
    .contactfrm .form-control{
        height: 42px;}
    .contactfrm textarea.form-control{height: 100px;}
    .contactfrm h3{font-size: 24px;margin-top: 20px;}
    .contact-us ul {
        padding-right: 0;
    }
    .contact-us ul li {padding-left: 50px;}
}
@media(max-width:575.8px){}
@media(max-width:480.8px){
}