.athlete .table thead tr th{font-size: 10px;background-color: #1F60AB;}
.athlete-table .table{font-size: 10px;}
.athlete-table .table .nobtn{font-size: 8px;}
.athlete .mat-row .mat-cell:first-child{padding-left: 24px;}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .athlete .mat-row .mat-cell:nth-child(3),.athlete th.mat-header-cell:nth-child(3){min-width: 150px;}
.athlete .mat-row .mat-cell:nth-child(4),.athlete th.mat-header-cell:nth-child(4){min-width: 109px;}
.athlete .mat-row .mat-cell:nth-child(5),.athlete th.mat-header-cell:nth-child(5){min-width: 160px;}
.athlete .mat-row .mat-cell:nth-child(7),.athlete th.mat-header-cell:nth-child(7){min-width: 135px;}
.athlete .mat-row .mat-cell:nth-child(8),.athlete th.mat-header-cell:nth-child(8){min-width: 127px;}
.athlete .mat-row .mat-cell:nth-child(9),.athlete th.mat-header-cell:nth-child(9){min-width: 85px;}
.athlete .mat-row .mat-cell:nth-child(10),.athlete th.mat-header-cell:nth-child(10){min-width: 130px;} */
.athlete .mat-row .mat-cell,.athlete th.mat-header-cell{min-width: 150px;}
.athlete .mat-row .mat-cell:nth-child(5),.athlete th.mat-header-cell:nth-child(5){min-width: 160px;}

.nobtn{
  background-color: #FFCCD2;
  border: 1px solid;
  border-color: #FF475D;
  border-radius: 3px;text-transform: uppercase
}
.yesbtn{
  background-color: #CCFFEC;
  border: 1px solid;
  border-color: #0E8B5C;
  border-radius: 3px;text-transform: uppercase
}

.approvedbtn{
  background-color: #CCFFEC;
  border: 1px solid;
  border-color: #0E8B5C;
  border-radius: 3px;text-transform: uppercase;
  min-width:78px;
  font-size: 10px;
}

.expiredBtn{
  background-color: #FFCCD2;
  border: 1px solid;
  border-color: #FF475D;
  border-radius: 3px;text-transform: uppercase;
  min-width:78px;
  font-size: 10px;

}
.pendingbtn{
  background-color:#FFF8CC;
  border: 1px solid;
  border-color: #FFD500;
  border-radius: 3px;text-transform: uppercase;
  min-width:78px;
  font-size: 10px;
}

.rejectedBtn{
  background-color:#ff9287;
  border: 1px solid;
  border-color: #ff0000;
  border-radius: 3px;text-transform: uppercase;
  min-width:78px;
  font-size: 10px;
}
.UpcomingBtn{
  background-color:white;
  border: 1px solid;
  border-color: #000;
  border-radius: 3px;text-transform: uppercase;
  min-width:78px;
  font-size: 10px;
}
.cbtn{ background-color:#FFF8CC;
  border: 1px solid #FFD500;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 10px;}
  .btnothr{background-color: #EFC29A; border: 1px solid #DF9655;}
  .btnncoe{background-color: #E1BAFF;
    border: 1px solid #6E10B5;}
  .btnnre{background-color: #71E3FB;
    border: 1px solid #06809A;}
  /* .btnres{} */

.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;}
.tagcommonModal .btn-close{position: absolute;
  right: 7px;
  top: 7px;
  font-size: 9px;box-shadow: none;outline: none;}
.tagcommonModal{padding: 15px 26px 15px 20px}

.athlete .mat-row .mat-cell:last-child{min-width:  110px;}
.mat-table,.table{min-height: 160px;}

.noDataFound{font-size: 16px;}
.athlete .mat-table button{font-size: 10px;}
.athlete .mat-table button i.fa-pen-to-square{font-size: 14px;}

.tagcommonModal.deleteCommonModal .titleTxt h4{background: #ffdede;
  border-color: #fb9f9f;}