<div class="athlete">
  <div class="filterdata">
    <div class="filterTop">
      <div class="row align-items-center justify-content:between mt-3">
        <div class="col-auto"><h5  class="fw-bold text-uppercase">KIAA</h5></div>
        <div class="col text-end">
          <div class="row justify-content-end">
            <div class="col-auto leftsec d-flex align-items-center">
              <button type="button" class="btn btn-lightblue px-3 ms-2" (click)="openkKiaaModal(null)">KIAA +</button>
            </div>
            <div class="col-auto rightsec d-flex align-items-center">
              <div class="exports">
                <select class="form-control" (ngModelChange)="selectChange($event)" [(ngModel)]="docType">
                  <option disabled selected="selected">Export</option>
                  <option value="excel">Excel</option>
                  <option value="pdf">PDF</option>
                </select>
              </div>
              <div class="searchInput ms-2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Search.." #input>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="filterBottom mb-3">
      <form [formGroup]="kiaaSearchFilter" >
        <div class="row gx-3 align-items-center flex-wrap">
          <div class="col">
            <select class="form-control" formControlName="necoType">
              <option value="" selected="selected"> NCOE/Others</option>
              <option value="NCOE">NCOE</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" formControlName="isTops" >
              <option value="" selected="selected">IS TOPS</option>
              <option value=true>YES</option>
              <option value=false>NO</option>
              <!-- <option>3</option> -->
            </select>
          </div>
          <div class="col">
            <select class="form-control" formControlName="status" >
              <option value="" selected="selected" >Status</option>
              <option value="Approved">Approved</option>
              <option value="Expired">Expired</option>
              <option value="Upcoming">Upcoming</option>
              <option value="Rejected">Rejected</option>
              <option value="Pending">Pending</option>
              <!-- <option>3</option>
              <option>4</option> -->
            </select>
          </div>
          <div class="col">
            <select class="form-control apperance-top" formControlName="requestType" >
              <option value="" selected="selected">Accereditation Request Type</option>
              <option value="Request From Sports Training Centre">Request from Sports Training Center</option>
              <option value="Request From Self">Request from Self</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="button" (click)=filterSearch() class="btn btn-lightblue px-3"><i class="fa-solid fa-magnifying-glass"></i></button>
            <!-- type="submit" -->
          </div>
          <div class="col-auto">
            <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i class="icon-sound-module-line mt-1 d-block"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive position-relative">
    <!-- <div class="example-loading-shade" *ngIf="isloading">
      <mat-spinner *ngIf="isloading"></mat-spinner>
    </div> -->

    <table mat-table id="kiaaTable" matTableExporter #exporter="matTableExporter" matSort [dataSource]="dataSource"
      class="mat-elevation-z8 w-100 table-striped">

      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="action" sortActionDescription="Sort by action"> ACTION</th>
        <td mat-cell *matCellDef="let element"><button class="btn" (click)="openkKiaaModal(element)"><i class="fa-solid fa-pen-to-square"></i></button>
          
        </td>
      </ng-container> -->

      <ng-container matColumnDef="nsrsID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nsrsID" sortActionDescription="Sort by nsrsID"> NSRS ID</th>
        <td mat-cell *matCellDef="let element"> {{element.nsrsID}} </td>
      </ng-container>

      <!-- academy Column -->
      <ng-container matColumnDef="academy_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="academy_name" sortActionDescription="Sort by academy_name"> NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.academy_name}} </td>
      </ng-container>


      <!-- discipline Column -->
      <ng-container matColumnDef="requestId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="requestId" sortActionDescription="Sort by requestId"> REQUEST ID </th>
        <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
      </ng-container>

      <!-- scheme_name Column -->
      <ng-container matColumnDef="sport">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="sport" sortActionDescription="Sort by sport"> SPORTS DISCIPLINE </th>
        <td mat-cell *matCellDef="let element">{{element.sport |uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="residential_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="residential_type" sortActionDescription="Sort by residential_type"> RESIDENTIAL TYPE / NCOE / TOPS</th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="element.residential_type=='Residential'"><button class="cbtn btnres me-1">RES </button> <button class="cbtn btnncoe me-1">{{element.ncoe_type}}</button> 
            <ng-container>
              <button *ngIf="element.is_tops" class="yesbtn">YES</button>
              <button *ngIf="!element.is_tops" class="nobtn">NO</button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="element.residential_type=='Non-Residential'"><button class="cbtn btnnre me-1">NRE</button> <button class="cbtn btnothr me-1">{{element.ncoe_type}}</button>  
            <ng-container>
              <button *ngIf="element.is_tops" class="yesbtn">YES</button>
              <button *ngIf="!element.is_tops" class="nobtn">NO</button>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="academy_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="academy_type" sortActionDescription="Sort by academy_type"> ACADEMY TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.academy_type |uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="accreditation_request_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accreditation_request_type" sortActionDescription="Sort by accreditation_request_type">REQUEST TYPE</th>
        <td mat-cell *matCellDef="let element">{{element.accreditation_request_type|uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="accrediation_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accrediation_status" sortActionDescription="Sort by accrediation_status">STATUS</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="approvedbtn" (click)="openkKiaaModal(element)" *ngIf="element.accrediation_status=='Approved'">{{element.accrediation_status }}</button>
          <button type="button" class="pendingbtn" (click)="openkKiaaModal(element)" *ngIf="element.accrediation_status=='Pending'">{{element.accrediation_status }}</button>
          <button type="button" class="expiredBtn" *ngIf="element.accrediation_status=='Expired'">{{element.accrediation_status }}</button>
          <button type="button" class="rejectedBtn" *ngIf="element.accrediation_status=='Rejected'">{{element.accrediation_status }}</button>
          <button type="button" class="UpcomingBtn" (click)="openkKiaaModal(element)" *ngIf="element.accrediation_status=='Upcoming'">{{element.accrediation_status }}</button>
          <a 
            *ngIf="
              (
                element.accreditation_request_type != 'STC' && 
                element.accreditation_request_type?.toLowerCase() != 'request from sports training centre'
              ) && 
              !(['Expired', 'Rejected'].includes(element.accrediation_status))
            " 
            href="javascript:void(0)" 
            class="text-danger ms-1" 
          ><i class="fa-solid fa-trash-can" (click)="deleteKiaa(element)" ></i></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="10"> <span class="noDataFound"> No Data Found</span></td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of GitHub search results"></mat-paginator>
</div>

<ng-template #delete let-modal>
  <div class="modal-body tagcommonModal deleteCommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{deleteKiaaData.academy_name}} ({{deleteKiaaData.nsrsID}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want Delete this Kiaa!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmDelete()">CONFIRM</button>
    </div>
  </div>
</ng-template>
<app-loader *ngIf="innerLoader"></app-loader>
<app-loader *ngIf="innerLoaderMainData"></app-loader>