.rect-1 {
    background-color: #072F5F;
    height: 25px;
    width: 34px;
}

.rect-2 {
    background-color: #1261A0;
    height: 25px;
    width: 34px;
}

.rect-3 {
    display: inline-block;
    background-color: #3895D3;
    height: 25px;
    width: 34px;
}

.rect-4 {
    display: inline-block;
    background-color: #58CCED;
    height: 25px;
    width: 34px;
}