

<div class="athleteAction-modal">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> SCHEDULE MEETING</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="athletetag">
        <div class="d-flex justify-content-between align-items-center my-2">
          <h5></h5>
          <!-- <button class="btn border px-3 text-uppercase addmore" *ngIf="equipmentModalData.action == 'add'" (click)="newAddMultiTagArray()">ADD MORE +</button> -->
        </div>
        <form [formGroup]="multiScheduleMeetingDetailsForm">
          <div class="table-responsive mt-3">
            <table class="table"> 
              <tbody formArrayName="addMultiTagArray">
              
                <tr  *ngFor="let item of addMultiTagArray.controls; let i= index" [formGroupName]="i">
               
                  <td>{{i + 1}}</td>
                  <td>
                      <mat-form-field class="w-100" appearance="fill" (click)="picker1.open()">
                        <mat-label>REQUEST MEETING DATE</mat-label>
                        <input #dateOfProcurement matInput [matDatepicker]="picker1" formControlName="meeting_date" (keypress)="false" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      <div *ngIf="addMultiTagArray.controls[i].get('meeting_date')?.touched &&addMultiTagArray.controls[i].get('meeting_date')?.errors?.['required']">
                            <div class="me-2 text-danger">Meeting date is required.</div>
                      </div>
                  </td>
                  <td>
                    <input type="time" class="form-control" formControlName="meeting_time">
                    <div *ngIf="addMultiTagArray.controls[i].get('meeting_time')?.touched &&addMultiTagArray.controls[i].get('meeting_time')?.errors?.['required']">
                            <div class="me-2 text-danger">Meeting time is required.</div>
                      </div>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                      <mat-label>LINK</mat-label> 
                      <input matInput   formControlName="link">
                     
                    </mat-form-field>

                    <div *ngIf="addMultiTagArray.controls[i].get('link')?.touched &&addMultiTagArray.controls[i].get('link')?.errors?.['required']">
                            <div class="me-2 text-danger">Link is required.</div>
                      </div>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                      <mat-label>ATTENDED BY</mat-label> 
                      <input matInput   formControlName="attended_by">
                     
                    </mat-form-field>

                    <div *ngIf="addMultiTagArray.controls[i].get('attended_by')?.touched &&addMultiTagArray.controls[i].get('attended_by')?.errors?.['required']">
                            <div class="me-2 text-danger">Attended By is required.</div>
                      </div>
                  </td>
                  <td>
                    
                      <!-- <mat-label>MINUTES</mat-label> -->
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">MINUTES</span>
                     
                        <input type="file" class="inputUpload" #ADDAthleteMultiAddFileInput  (change)="uploadDocuments(ADDAthleteMultiAddFileInput.files,i)">

                      </div>
                      <div *ngIf="addMultiTagArray.controls[i].get('minutes')?.value">
                        <a [href]="fileBaseUrl + addMultiTagArray.controls[i].get('minutes')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    
                    </div>

                    <!-- <div *ngIf="addMultiTagArray.controls[i].get('minutes')?.touched &&addMultiTagArray.controls[i].get('minutes')?.errors?.['required']">
                      <div class="me-2 text-danger">Mintues are required.</div>
                </div> -->
                    
                   
                  </td>
                  <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                      <mat-label>REMARKS</mat-label>
                      <input matInput   formControlName="remarks">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('remarks')?.touched &&addMultiTagArray.controls[i].get('remarks')?.errors?.['required']">
                      <div class="me-2 text-danger">Remark Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('remarks')?.touched && (addMultiTagArray.controls[i].get('remarks')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Remark Limit Exceeded</div>
                    </div>
                  </td>
                  <!-- <td>
                 
                    <a href="javascript:void(0)"  (click)="removeAddMultiTagArray(i)" *ngIf="this.addMultiTagArray.length>1"><i class="fa-solid fa-trash-can text-danger"></i></a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <button type="button" [disabled]="!this.multiScheduleMeetingDetailsForm.valid"  (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{scheduleMeetingModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button>
            <!-- <button type="button"   (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{equipmentModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button> -->
           
            <button type="button"  (click)="activeModal.dismiss('Cross click')" class="btn readmore border px-3">CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>
