  
  <div class="px-2 py-3 py-lg-4">
    <ng-container *ngIf="!athleteSupportDetails?.length; else displayData">
      <div class="border border-blue bg-light py-2 text-center">
        <span class="text-blue h5 fw-bold m-0">NO DATA FOUND</span>
      </div>
    </ng-container>
    <ng-template #displayData>
      <div class="d-flex justify-content-center justify-content-md-end flex-wrap" [formGroup]="form">
        <mat-form-field appearance="fill" class="fs-14-px p-2">
          <mat-label>Support Provider</mat-label>
          <mat-select formControlName="provider">
            <mat-option [value]="null">--Select Support Provider--</mat-option>
            <mat-option value="sai">SAI</mat-option>
            <!-- <mat-option value="goa">GOA</mat-option> -->
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="fs-14-px p-2">
          <mat-label>Support Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="null">--Select Support Type--</mat-option>
            <mat-option value="insurance start">Insurance Start</mat-option>
            <mat-option value="insurance end">Insurance End</mat-option>
            <mat-option value="financial assistance start">Financial Assistance Start</mat-option>
            <mat-option value="financial assistance end">Financial Assistance End</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="p-2">
          <button
            mat-raised-button
            class="bg-blue text-white h-100"
            (click)="applyFilter()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <mat-vertical-stepper>
          <mat-step
            *ngFor="let record of filteredDetails, let i = index" 
            class="stepper-content-hidden" 
            [completed]="false"
          >
            <ng-template matStepLabel>
              <div class="fs-16-px">
                <p class="m-0 mt-3">
                  {{ (record.date | date : "dd-MM-yyyy") + ":" }}
                </p>
                <p class="m-0">
                  {{ record.supportProvider + ", " + record.support }}
                </p>
              </div>
            </ng-template>
            <p class="fs-16-px">{{ record.supportDescription }}</p>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </ng-template>
  </div>
  <app-loader *ngIf="loader"></app-loader>
  