<div class="cash-award-cover-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12 my-2">
        <owl-carousel-o [options]="customOption4">
          <ng-template carouselSlide>
            <h2>Revision of Scheme of Cash Awards to Medal Winners In International Sports Events and their Coaches</h2>
          <!-- <p class="text-white">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <h6 class="read-more-ca">READ MORE</h6> -->
          </ng-template>  
          <!-- <ng-template carouselSlide>
            <h2>Revision of Scheme of Cash Awards to Medal Winners In International Sports Events and their Coaches</h2>
          <p class="text-white">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <h6 class="read-more-ca">READ MORE</h6>
          </ng-template>  
          <ng-template carouselSlide>
            <h2>Revision of Scheme of Cash Awards to Medal Winners In International Sports Events and their Coaches</h2>
          <p class="text-white">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <h6 class="read-more-ca">READ MORE</h6>
          </ng-template>   -->
          
          
          
        </owl-carousel-o>
         
        </div>
      <div class="col-lg-6 col-md-6 col-12 my-2">
        <div class="jobs-updates bg-white px-4 py-3 w-100">
          <h3>LATEST UPDATES</h3>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="competitions" data-bs-toggle="pill" data-bs-target="#competitions" type="button" role="tab" aria-controls="competitions" aria-selected="true">Competitions</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-support-tab" data-bs-toggle="pill" data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-support" aria-selected="false">support</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-admission-tab" data-bs-toggle="pill" data-bs-target="#pills-admission" type="button" role="tab" aria-controls="pills-admission" aria-selected="false">admissions</button>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="competitions" role="tabpanel" aria-labelledby="competitions-tab">
              <div class="job-tab-content pe-4 mb-3 pb-2">
                <h5>No data available!</h5>
                <!-- <div class="d-flex align-items-center justify-content-between flex-wrap ">
                  <div class="job-content">
                    <span>Ministry of Railways</span>
                    <span class="mx-2">|</span>
                    <span>18 Dec 2024</span>
                  </div>
                 <div class="d-flex align-items-center"> <div class="apply-job ">APPLY </div>
                 <mat-icon class="ms-1 right-arrow-apply">arrow_right_alt</mat-icon></div>
                </div> -->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab">.2.</div>
            <div class="tab-pane fade" id="pills-admission" role="tabpanel" aria-labelledby="pills-admission-tab">.3.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="manual-rewards-sec download-documents">
  <div class="container">
    <div class="row">
      <h3 class="manual-reward-heading">Download Documents</h3>
    </div>
      <div class="row">
        <div class="col-12 manual-cards">
          <owl-carousel-o [options]="customOption3">
            <ng-container *ngFor="let slideItem of downloadDocumentList">
              <ng-template carouselSlide>
                <div class="row py-4 justify-content-center">
                    <div class="col-lg-12 col-md-12 col-12 my-3">
                        <div class="download-document w-100 ">
                            <div class="img-left">
                                <img [src]="slideItem.pdfIcon"  alt="">
                            </div>
                            <div class="headings">
                                <h3>{{slideItem.title}}</h3>
                                <a [href]="slideItem.pdfLink" target="_blank" [download]="slideItem.title" class="d-flex align-items-center view-file"> {{slideItem.viewText}} <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                            </div>
                        </div>
                    </div>                 
                </div>
              </ng-template>
            </ng-container>           
          </owl-carousel-o>
        </div>
      </div>
  </div>
</div>
<div class="manual-rewards-sec manual-sec-bg">
  <div class="container">
    <div class="row">
      <h3 class="manual-reward-heading">Manual for NSRS</h3>
    </div>
      <div class="row">
        <div class="col-12 manual-cards">
          <owl-carousel-o [options]="customOptions2">
            <ng-container *ngFor="let item of downloadManualList; let i = index">
              <ng-template carouselSlide>
                <div class="row py-4">
                  <div class="col-lg-12 col-md-12 col-12 my-3">
                      <div class="manual-card w-100">
                          <div class="d-flex align-items-center">
                              <div class="img-left">
                                  <img [src]="item[0].pdfIcon" alt="">
                              </div>
                              <div class="headings">
                                  <h3>{{item[0].title}}</h3>
                              </div>
                          </div>
                          <hr>
                          <div class="d-flex readmore">
                            <a [href]="item[0].pdfLink" download="Registeration_Athlete_SupportStaff_Academy" target="_blank" class="py-2 d-flex">{{item[0].linkText}} <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                          </div>
                      </div>
                  </div>                 
                  <div class="col-lg-12 col-md-12 col-12 my-3">
                      <div class="manual-card w-100">
                          <div class="d-flex align-items-center">
                              <div class="img-left">
                                  <img [src]="item[1].pdfIcon" alt="">
                              </div>
                              <div class="headings">
                                  <h3>{{item[1].title}}</h3>
                              </div>
                          </div>
                          <hr>
                          <div class="d-flex readmore">
                            <a [href]="item[1].pdfLink" download="Registeration_Athlete_SupportStaff_Academy" target="_blank" class="py-2 d-flex">{{item[1].linkText}} <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                          </div>
                      </div>
                  </div>                 
              </div>
              </ng-template> 
            </ng-container>
            <!-- <ng-template carouselSlide>
              <div class="row py-4">
                <div class="col-lg-12 col-md-12 col-12 my-3">
                    <div class="manual-card w-100">
                        <div class="d-flex align-items-center">
                            <div class="img-left">
                                <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                            </div>
                            <div class="headings">
                                <h3>How to register?</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex readmore">
                          <a href="./assets/pdf/Registeration_Athlete_SupportStaff_Academy.pdf" download="Registeration_Athlete_SupportStaff_Academy" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 my-3">
                    <div class="manual-card w-100">
                        <div class="d-flex align-items-center">
                            <div class="img-left">
                                <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                            </div>
                            <div class="headings">
                                <h3>How to update basic information?</h3>                                
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex readmore">
                          <a href="./assets/pdf/Update Basic details on NSRS.pdf" download="Update Basic details on NSRS" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                        </div>
                    </div>
                </div>
               
            </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="row py-4">
                <div class="col-lg-12 col-md-12 col-12 my-3">
                    <div class="manual-card w-100">
                        <div class="d-flex align-items-center">
                            <div class="img-left">
                                <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                            </div>
                            <div class="headings">
                                <h3>How to verify Aadhaar through DigiLocker? </h3>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex  readmore">
                          <a href="./assets/pdf/Verify Aadhar on NSRS.pdf" download="Verify Aadhar on NSRS" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 my-3">
                    <div class="manual-card w-100">
                        <div class="d-flex align-items-center">
                            <div class="img-left">
                                <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                            </div>
                            <div class="headings">
                                <h3>How to update banking informatrion?</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex readmore">
                          <a href="javascript:void(0)" download="" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                        </div>
                    </div>
                </div>               
               
            </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="row py-4">
                <div class="col-lg-12 col-md-12 col-12 my-3">
                  <div class="manual-card w-100">
                      <div class="d-flex align-items-center">
                          <div class="img-left">
                              <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                          </div>
                          <div class="headings">
                              <h3>How to map/link coaches with athletes?</h3>
                          </div>
                      </div>
                      <hr>
                      <div class="d-flex readmore">
                        <a href="javascript:void(0)" download="" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12 my-3">
                  <div class="manual-card w-100">
                      <div class="d-flex align-items-center">
                          <div class="img-left">
                              <img src="/assets/images/cash-reward-annual-report.svg" alt="">
                          </div>
                          <div class="headings">
                              <h3>How to nominate coaches for cash incentive scheme?</h3>
                          </div>
                      </div>
                      <hr>
                      <div class="d-flex readmore">
                        <a href="javascript:void(0)" download="" target="_blank" class="py-2 d-flex">Read More <mat-icon class="ms-2 right-arrow-circle">arrow_right_alt</mat-icon></a>
                      </div>
                  </div>
              </div>               
            </div>
            </ng-template>   -->
          
            
          </owl-carousel-o>
        </div>
      </div>
  </div>
</div>
<div class="commontopsec common-new-padding bg-white">
  <div class="container">
      <div class="midtitle text-center mb-3 mb-lg-4">
          <h2>
             
              Fill The Form to Get In Touch
          </h2>
         </div>
       
  </div>
</div>
<div class="contact-us contact-us-blue-icons">
  <div class="container">
      <div class="row gx-lg-5">
          <div class="col-md-6">
              <ul class="list-unstyled">
                  <li>
                      <span class="icon"><span class="icon-map-pin-2-fill"></span></span>
                      <h4>LOCATION</h4>
                      <p class="mb-0">Jawaharlal Nehru Stadium Complex (East Gate) Lodhi Rd, New Delhi, Delhi 110003</p>
                  </li>
                  <li>
                      <span class="icon"><span class="icon-mail-fill"></span></span>
                      <h4>EMAIL</h4>
                      <div class="list-link">
                          <span><a href="mailto:nsrs.kheloindia@gmail.com">nsrs.kheloindia&#64;gmail.com</a></span>
                          <span><a href="mailto:nsrs.sai@gov.in">nsrs.sai&#64;gov.in</a></span>
                      </div>
                  </li>
                  <li>
                      <span class="icon"><span class="icon-phone-fill"></span></span>
                      <h4>PHONE</h4>
                      <div class="list-link">
                          <span><a href="tel:18002025155">Toll Free:1800-202-5155</a></span>
                          <span><a href="tel:18002585155">1800-258-5155</a></span>
                      </div>
                  </li>
              </ul>
              <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.5384604876717!2d77.23495391455852!3d28.58361899304503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2f931835ac1%3A0xe53de68507f26b47!2sSPORTS%20AUTHORITY%20OF%20INDIA!5e0!3m2!1sen!2sin!4v1650445484564!5m2!1sen!2sin" width="600" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md-6 contactfrm">
              <h3>LEAVE A MESSAGE</h3>
              <form [formGroup]="messageForm">
                <div class="row gx-3">
                    <div class="mb-3 col-12" [ngClass]="messageForm.controls['FullName'].hasError('required') && formSubmitted ? 'form-error':''">
                        <label>Full Name</label>
                        <input type="text" formControlName="FullName" name="FullName" class="form-control">                      
                    </div>
                    <div class="mb-3 col-sm-6" [ngClass]="messageForm.controls['email'].hasError('required') && formSubmitted ? 'form-error':''">
                        <label>Your Email Address</label>
                        <input type="text" formControlName="email"  name="EmailAddress" class="form-control">  
                        <div *ngIf="messageForm.controls['email'].touched || formSubmitted && messageForm.controls['email'].errors" class="text-danger">
                          <small *ngIf="messageForm.controls['email'].errors && messageForm.controls['email'].errors['pattern']">Please Enter Valid Email</small>
                        </div>                    
                    </div>
                    <div class="mb-3 col-sm-6" [ngClass]="messageForm.controls['phone'].hasError('required') && formSubmitted ? 'form-error':''">
                        <label>Phone</label>
                        <input type="text" formControlName="phone"  name="PhoneNo" class="form-control" (keypress)="keyupPhone($event)">    
                        <div *ngIf="messageForm.controls['phone'].touched || formSubmitted && messageForm.controls['phone'].errors" class="text-danger">
                          <small *ngIf="messageForm.controls['phone'].errors && messageForm.controls['phone'].errors['pattern']">Phone must be numbers & 10 digits</small>
                        </div>                
                    </div>
                    <div class="mb-3 col-12" [ngClass]="messageForm.controls['message'].hasError('required') && formSubmitted ? 'form-error':''">
                        <label>Message</label>
                        <textarea formControlName="message" name="Message"  class="form-control" ></textarea>                      
                    </div>
                    <div class="col-12">
                        <button (click)="submitForm()" type="submit" class="btn btn-blue w-100 text-uppercase">Submit</button>
                    </div>
                </div>
              </form>   
          </div>
      </div>
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>