.aboutsec p{font-size: 18px;
    line-height: 39px;
    color: #434343;}
    .about_p p{font-size: 18px;
        line-height: 39px;
        color: #434343;}
/*******contact css*********/
.contact-us{padding: 60px 0 50px;}
.contact-us ul{    padding-right: 8em;}
.contact-us ul li{position: relative;
padding-left: 70px;
font-size: 15px;
color: #434343;
line-height: 28px;
padding-bottom: 15px;
margin-bottom: 25px;}
.contact-us ul li:last-child{margin-bottom: 10px;}
.contact-us ul li .icon{position: absolute;
left: 0;
width: 35px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
background-color: #F36E21;
border-radius: 6px;
color: #fff;
font-size: 18px;}
.contact-us ul li h4{font-size: 18px;
font-weight: bold;
color: #000000;margin-bottom: 5px;}
.contact-us ul li:not(:last-child):after{content: '';
position: absolute;
bottom: 0;
left: 70px;
height: 1px;
right: 0;
background-color: #C4C4C4;}
.contact-us ul li .list-link span:not(:last-child)::after{content: '|';color: #C4C4C4;}
.contact-us ul li .list-link span a{    display: inline-block;
padding: 0 10px;
color: #434343;
text-decoration: none;}
.contact-us ul li .list-link span:first-child a{padding-left: 0;}
.contactfrm h3{font-size: 28px;
font-weight: bold;
color: #000000;margin-bottom: 30px;}
.contactfrm .mb-3{position: relative;
margin-top: 10px;}
.contactfrm .mb-3 label{position: absolute;
left: 30px;
top: -13px;
background: #fff;
padding: 0 8px;}
.contactfrm .form-control{height: 63px;
border-color: #D9D9D9;
box-shadow: none !important;}
.contactfrm textarea.form-control{height: 216px;
resize: none;}


/************Media Query*************/
@media(max-width:1199.8px){
}
@media(max-width:991.8px){
}
@media(max-width:767.8px){
    .contactfrm .form-control{
        height: 42px;}
    .contactfrm textarea.form-control{height: 100px;}
    .contactfrm h3{font-size: 24px;margin-top: 20px;}
    .contact-us ul {
        padding-right: 0;
    }
    .contact-us ul li {padding-left: 50px;}
}
@media(max-width:575.8px){}
@media(max-width:480.8px){
}
.contact-us-blue-icons .icon{
    background-color: #1F60AB !important;
}
.common-new-padding{
    padding: 30px 0 30px;
}

.manual-cards .manual-card{
    box-shadow: 0px 0px 5px #231EAF17;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    height: 192px;
    font-family: 'Lato';
    padding: 0px 22px 0px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.manual-cards .manual-card .img-left{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #E6E6F5;
    background-color: #E6E6F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 80px;
}
.manual-cards .manual-card .img-left img{
    width: 38px;
    height: 38px;
}
.manual-cards .manual-card .headings{
    padding-left: 20px;
}
.manual-cards .manual-card .headings h3{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #2E2E2E;
}
.manual-cards .manual-card .headings p{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    color: #2E2E2E;
}
.manual-cards hr{color: gray;}
.manual-cards .readmore a{
    margin-bottom: 0;
    color: #F78F2A;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.6px ;
    cursor: pointer;
}


.download-documents .download-document{
    box-shadow: 0px 0px 6px #0000000D;
    border-radius: 9px;
    border: 1px solid #FFFFFF;
    height: 131px;
    font-family: 'Lato';
    padding: 0px 22px 0px 22px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.download-documents .download-document:hover{
    background-color: #FFEBEB;
    border-color: #FFEBEB;
}

.download-documents .download-document .img-left{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #FFEBEB;
    background-color: #FFEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-documents .download-document:hover .img-left{
    background-color: #fff;
}
.download-documents .download-document .img-left img{
    width: 29px;
    height: 32px;
}
.download-documents .download-document .headings{
    padding-left: 20px;
}
.download-documents .download-document .headings h3{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.9px;
}
.download-documents .download-document .headings a{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin-bottom: 0;
    color: #F78F2A;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.manual-cards ::ng-deep.owl-crousel{
    position: relative;
}
.manual-cards ::ng-deep.owl-item{
    padding: 0 8px;
}
.manual-cards ::ng-deep.owl-nav{
    /* display: flex; */
    justify-content: end;
    align-items: center;
    position: absolute;
    top: -35px;
    right: 0;
}
.manual-rewards-sec{
    margin-top: 50px;
}
.manual-cards ::ng-deep.owl-next , .manual-cards ::ng-deep.owl-prev{
    border: 1px solid #dedede;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-size: 26px;
    line-height: 30px;
    color: #1a1a1a;
    background: transparent;
    font-weight: 500;
    background-color: #fff;
}
.manual-reward-heading{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
}
.manual-reward-heading::after{
    position: absolute;
    content: '';
    bottom: -10px;
    width: 77px;
    background-color: #FF6800;
    height: 3px;
    left: 0;
    right: 0;
    margin-left: 16px;
}

.manual-sec-bg{
    background-color: #FCFCFC;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cash-award-cover-sec h2{
    font-family: 'lato';
    font-size: 40px;
    text-shadow: 0px 2px 4px #00000085;
    color: #fff;
    font-weight: 700;
}
.cash-award-cover-sec p{
    opacity: 0.8;
    font-weight: 500;
}
.cash-award-cover-sec{
    background:url(/assets/images/Back-c-awards.png);
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}
.read-more-ca{
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.cash-award-cover-sec .jobs-updates{
    border: 1px solid #fff;
    border-radius: 10px;
}
.cash-award-cover-sec .jobs-updates h3{
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 700;  
    margin-bottom: 15px; 
}
.cash-award-cover-sec .jobs-updates .nav-link{
    padding: 5px 10px;
    color: #939393;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.cash-award-cover-sec .jobs-updates .nav .active{
    background-color: #EB6134;
    border-radius: 7px;
    color: #fff;
}
.cash-award-cover-sec .jobs-updates .nav{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.job-tab-content h5{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}
.job-tab-content .job-content{
    font-size: 13px;
    font-weight: 400;
}
.job-tab-content{
    border-bottom: 1px solid #dedede;
}
.apply-job{
    font-size: 13px;
    color: #EB6134;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.jobs-updates .tab-content{
    height: 300px;
    overflow-y: scroll;
}


/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.jobs-updates  .tab-content::-webkit-scrollbar {
    width: 1px; /* Change the width of the scrollbar */
    cursor: pointer;
}

.jobs-updates .tab-content::-webkit-scrollbar-thumb {
    background-color: #dedede; /* Color of the scroll thumb */
    cursor: pointer;
    border-radius: 5px;
}

.jobs-updates .tab-content::-webkit-scrollbar-track {
    cursor: pointer;
    background: transparent; /* Background of the scrollbar track */
}

/* Firefox scrollbar width */
.jobs-updates .tab-content {
    cursor: pointer;
    scrollbar-width:thin; /* Makes the scrollbar thinner */
    scrollbar-color: #dedede #fff; /* Scroll thumb and track color */
}
.right-arrow-circle{
    background-color: #F78F2A;
    border: 1px solid #F78F2A;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-file .right-arrow-circle{
    height: 18px;
    width: 18px;
    font-size: 12px;
}
.right-arrow-apply{
    color: #F78F2A;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.contactfrm .form-error .form-control{
    border-color: #f44336;
}

