.totalcountRow{}
.totalcountRow .countbox{display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 15px;
  background-color: #FFFBE4;
  border: 0.5px solid #D5C707;
  border-radius: 3px;}
  .totalcountRow .countbox span{display: inline-block;margin-left: 10px;}
.totalcountRow .countbox:not(:last-child){margin-right: 10px;}
.totalcountRow.row div .countbox:nth-child(2){background-color: #E5E9FF;
  border: 0.5px solid #1746FF;}
.totalcountRow.row div .countbox:nth-child(3){background-color: #FEEEF8;
  border: 0.5px solid #EF5EE5;}
.table-responsive .mat-table{font-family: 'Lato', sans-serif;font-weight: bold;}
th.mat-header-cell{background: #F2F2F2;
  color: #000;
  font-size: 13px;
  font-weight: normal;letter-spacing: 0.7px;font-weight: bold;text-transform: uppercase;padding: 0 8px;position: sticky;top: 0;}
  td.mat-cell{color: #555;font-size: 12px;letter-spacing: 0.7px;padding: 0 8px;}
  .table-responsive .mat-form-field-infix{border-top: 0;width: 250px;}
  .table-responsive tr.mat-header-row{height: 45px;}
  .table-responsive .mat-row .mat-cell:first-child{padding-left: 24px;}
  .mat-table{min-height: 150px;}
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;border-left: 0.5px solid rgb(196 196 196 / 40%);}
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{
    padding-right: 24px;
}
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  th.mat-header-cell:nth-child(2), td.mat-cell:nth-child(2){}
  th.mat-header-cell, td.mat-cell{
    border-right: 0.5px solid rgb(196 196 196 / 40%);}

    select.form-control {font-size: 14px;
      height: 37px;
  }


  .titleTxt h4{background-color: #D1E5FB;
    border: 1px solid #A3CCF9;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .modal-body .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;}
  .modal-body{padding: 15px 26px 15px 20px}

  .noDataFound{font-size: 16px;}
  .table-responsive{max-height: 550px;}

  