<!-- <div class="modal-header">
  <h4 class="modal-title">Academy List Detail</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div> -->
<div class="modal-body">
  <div class="mb-2 text-end">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="titleTxt">
    <ng-container *ngIf="listType == 1">
      <h4 class="text-center fw-bold text-uppercase">{{data.rowData.academy_name}} ({{data.rowData.nsrs_id}}) - ATHLETE
        DETAILS</h4>
    </ng-container>
    <ng-container *ngIf="listType == 2">
      <h4 class="text-center fw-bold text-uppercase">{{data.rowData.academy_name}} ({{data.rowData.nsrs_id}}) - COACH
        DETAILS</h4>
    </ng-container>
    <ng-container *ngIf="listType == 103">
      <h4 class="text-center fw-bold text-uppercase">{{data.rowData.academy_name}} ({{data.rowData.nsrs_id}}) - SPORTS
        SCIENTIST DETAILS</h4>
    </ng-container>
  </div>
  <div class="row totalcountRow mb-3 align-items-center">
    <div class="col-lg-7">
      <ng-container *ngIf="listType == 1">
        <div>
          <div class="countbox">TOTAL ATHLETES <span>{{data.rowData.athleteCount}}</span> </div>
          <div class="countbox"><i class="icon-men-line"></i> MALE <span>{{M_Count}}</span></div>
          <div class="countbox"><i class="icon-women-line"></i> FEMALE <span>{{F_Count}}</span></div>
        </div>
      </ng-container>
      <ng-container *ngIf="listType == 2">
        <div>
          <div class="countbox">TOTAL COACH <span>{{data.rowData.coachCount}}</span> </div>
          <div class="countbox"><i class="icon-men-line"></i> MALE <span>{{M_Count}}</span></div>
          <div class="countbox"><i class="icon-women-line"></i> FEMALE <span>{{F_Count}}</span></div>
        </div>
      </ng-container>
      <ng-container *ngIf="listType == 103">
        <div>
          <div class="countbox">TOTAL SPORTS SCIENTIEST <span>{{data.rowData.sportScientistCount}}</span> </div>
          <div class="countbox"><i class="icon-men-line"></i> MALE <span>{{M_Count}}</span></div>
          <div class="countbox"><i class="icon-women-line"></i> FEMALE <span>{{F_Count}}</span></div>
        </div>
      </ng-container>

    </div>
    <div class="col-lg-5 mt-2 mt-lg-0">
      <div class="d-flex justify-content-lg-end">
        <div class="exports">
          <select [disabled]="exportPermission == false" class="form-control" (ngModelChange)="selectChange($event)" [(ngModel)]="docType">
            <option disabled selected="selected">Export</option>
            <option value="excel">Excel</option>
            <option value="pdf">PDF</option>
          </select>
        </div>
        <div class="searchInput ms-2">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input class="form-control" (keyup)="applyFilter($event)" placeholder="Search.." #input>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive position-relative">
    <div class="example-loading-shade" *ngIf="isloading">
      <mat-spinner *ngIf="isloading"></mat-spinner>
    </div>
    <table mat-table id="academyDetailTable" matTableExporter #exporter="matTableExporter" [dataSource]="dataSource"
      class="mat-elevation-z8 w-100">
      <!-- nsrsid Column -->
      <ng-container matColumnDef="nsrsid">
        <th mat-header-cell *matHeaderCellDef>NSRS ID </th>
        <td mat-cell *matCellDef="let element"> {{element.nsrsid}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Discipline Column -->
      <ng-container matColumnDef="discipline">
        <th mat-header-cell *matHeaderCellDef> Discipline </th>
        <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <!-- Joining Date -->
      <ng-container matColumnDef="joiningDate">
        <th mat-header-cell *matHeaderCellDef> Joining Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="7"> <span class="noDataFound"> No data found</span></td>
      </tr>
    </table>    
  </div>
  <div>
    <mat-paginator [pageSizeOptions]="[10, 20,50,100,200]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<app-loader *ngIf="innerLoaderMainData"></app-loader>