<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-image-line"></i></span>  Photo ID Proof </h3>
      <!-- <button type="button" *ngIf="readonlyEdit" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button> -->
    </div>
      <div class="row row-info" *ngIf="popupDataReceived !=null else noData">
        <!-- <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Aadhar Number</h6>
            <h3>{{popupDataReceived.aadhar_number  ? popupDataReceived.aadhar_number : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Aadhar Image</h6>
            <h3 *ngIf="popupDataReceived?.aadhar_image_path == null || popupDataReceived?.aadhar_image_path == '';else noAdharImg">NA</h3>
            <ng-template #noAdharImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.aadhar_image_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>            
        </div> -->
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Driving Licence Number</h6>
            <h3>{{popupDataReceived.driving_licence_number  ? popupDataReceived.driving_licence_number :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Driving Licence Image</h6>
            <h3 *ngIf="popupDataReceived?.driving_licence_path==null || popupDataReceived?.driving_licence_path=='';else noDrivingImg">NA</h3>
            <ng-template #noDrivingImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.driving_licence_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Passport Number</h6>
            <h3>{{popupDataReceived.passport_number  ? popupDataReceived.passport_number :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Passport Expiry</h6>
            <h3>{{popupDataReceived.passport_expiry_date  ? popupDataReceived.passport_expiry_date :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Passport Image</h6>
            <h3 *ngIf="popupDataReceived?.passport_image_path ==null || popupDataReceived?.passport_image_path == '';else noPassportImg">NA</h3>
            <ng-template #noPassportImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.passport_image_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Voter Number</h6>
            <h3>{{popupDataReceived.voter_id_number ? popupDataReceived.voter_id_number : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Voter Image</h6>
            <h3 *ngIf="popupDataReceived?.voter_id_image_path == null || popupDataReceived?.voter_id_image_path == '';else noVoterImg">NA</h3>
            <ng-template #noVoterImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.voter_id_image_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Ration Card Number</h6>
            <h3>{{popupDataReceived.ration_card_number ? popupDataReceived.ration_card_number : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Ration Card Image</h6>
            <h3 *ngIf="popupDataReceived?.ration_card_path == null || popupDataReceived?.ration_card_path == ''; else noRationCardImg">NA</h3>
            <ng-template #noRationCardImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.ration_card_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Pan Card Number</h6>
            <h3>{{popupDataReceived.pancard_number ? popupDataReceived.pancard_number : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Pan card Image</h6>
            <h3 *ngIf="popupDataReceived?.pancard_path == null || popupDataReceived?.pancard_path == '';else noPanImg">NA</h3>
            <ng-template #noPanImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.pancard_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Bonafide Certificate</h6>
            <h3 *ngIf="popupDataReceived?.bonafide_certificate == null || popupDataReceived?.bonafide_certificate == '';else noBonafideImg">NA</h3>
            <ng-template #noBonafideImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.bonafide_certificate"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Tenth Certificate</h6>
            <h3 *ngIf="popupDataReceived?.tenth_certificate_path == null || popupDataReceived?.tenth_certificate_path == '';else noTenthImg">NA</h3>
            <ng-template #noTenthImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.tenth_certificate_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Birth Certificate</h6>
            <h3 *ngIf="popupDataReceived?.birth_certificate_path == null || popupDataReceived?.birth_certificate_path == '';else noBirthImg">NA</h3>
            <ng-template #noBirthImg>
                <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.birth_certificate_path"><i class="fa-solid fa-eye"></i></a>
            </ng-template>
            
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Other Document Name</h6>
            <h3>{{popupDataReceived.other_document_name ? popupDataReceived.other_document_name : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Other Image</h6>
            <a class="text-black" target="_blank" [href]="baseUrl + popupDataReceived?.other_document_path"><i class="fa-solid fa-eye"></i></a>
        </div>
    </div>
    <ng-template #noData>
        <p class="text-center"><strong>Data not available!</strong></p>
      </ng-template>
  </div>