<!-- {{athleteData | json}} -->
<div class="athleteAction-modal">

  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close"  (click)="activeModal.dismiss('Cross click')"></button>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#creatEvent" type="button">CREATE EVENT</button>        
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="creatEvent">
        <form [formGroup]="creatEventForm">
          <div class="row gx-3">
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Event Name</mat-label>
                <input matInput formControlName="event_name">
              </mat-form-field>
            </div>   
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Discipline</mat-label>
                <mat-select  formControlName="sport_id">
                  <mat-option [value]="data.sport_detail_id" *ngFor="let data of sportList">{{data.sport_display_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>         
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select  formControlName="gender_category">
                  <mat-option [value]=1>Male</mat-option>
                  <mat-option [value]=2>Female</mat-option>
                  <mat-option [value]=3>Mixed</mat-option>
                </mat-select>
              </mat-form-field>
            </div>         
            <!-- <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Age Category</mat-label>
                <mat-select  formControlName="age_category">
                  <mat-option value="Junior">Junior</mat-option>
                  <mat-option value="Senior">Senior</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Event Type</mat-label>
                <mat-select  formControlName="eventtype">
                  <mat-option [value]=1>Individual Event</mat-option>
                  <mat-option [value]=2>Team Event</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col text-end">
              <button type="submit" (click)="saveEvent()" class="btn btn-lightblue px-3 px-md-4 me-2" [disabled]="!creatEventForm.valid">Save</button>
              <button  (click)="activeModal.dismiss('Cross click')" class="btn btn-light bg-white border px-3 px-md-4">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="innerLoaderMainData"></app-loader>