<div class="athlete">
    <div class="filterdata">
      <div class="filterTop">
        <div class="row align-items-center justify-content:between mt-3">
          <div class="col-auto"><h5  class="fw-bold text-uppercase">CAMP</h5></div>
          <div class="col text-end">
            <div class="row justify-content-end">
              <div class="col-auto leftsec d-flex align-items-center">
                <form [formGroup]="topForm" class="d-flex align-items-center">
                  <select class="form-control" formControlName="category">
                    <option selected="selected" value="">Category</option>
                    <option *ngFor="let data of categoryDropdown" [value]="data">{{data}}</option>
                  </select>
                  <button (click)="addCamp()" type="button" [disabled]="(topForm.controls['category'].value == '')" class="btn btn-lightblue px-3 ms-2">Add+</button>
                </form>
              </div>
              <div class="col-auto rightsec d-flex align-items-center">
                <div class="exports">
                  <select class="form-control"  (ngModelChange)="exportToExcelPdfChange($event)" [(ngModel)]="docType">
                    <option disabled selected="selected">Export</option>
                    <option value="excel">Excel</option>
                    <option value="pdf">PDF</option>
                  </select>
                </div>
                <div class="searchInput ms-2">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input class="form-control"  (keyup)="applyFilter($event)" placeholder="Search.." #input>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="filterBottom mb-3">
        <form [formGroup]="searchFilterForm" (ngSubmit)="search()">
          <div class="row gx-3 align-items-center flex-wrap">
            <div class="col">
              <input type="text" class="form-control" placeholder="NSRS ID" formControlName="nsrsid">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Camp Name" formControlName="camp_name">
            </div>
            <div class="col">
              <select class="form-control" formControlName="sport_display_name">
                <option value="" selected="selected"> Discipline</option>
                <option [value]="data.sport_name" *ngFor="let data of sportListData">{{data.sport_name}}</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control apperance-top" formControlName="category">
                <option value="">Category</option>
                <option *ngFor="let data of categoryDropdown" [value]="data">{{data}}</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control" formControlName="state">
                <option value="" selected="selected">State</option>
                <option *ngFor="let data of stateListData" [value]="data.state_name">{{data.state_name}}</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-lightblue px-3"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="col-auto">
              <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i class="icon-sound-module-line mt-1 d-block"></i></a>
            </div>
          </div>
        </form>
        <!--Search </form> -->
      </div>
    </div>
  
    <div class="table-responsive position-relative">
      <table mat-table id="campTable"  matTableExporter  #exporter="matTableExporter" [dataSource]="dataSource" matSort class="mat-elevation-z8 table-striped">
        <ng-container matColumnDef="nsrsId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="nsrsId"> NSRS ID</th>
          <td mat-cell *matCellDef="let element">{{element.nsrs_id}}</td>
        </ng-container>
  
        <ng-container matColumnDef="camp_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="camp_name" class="col-2"> Camp </th>
          <td mat-cell *matCellDef="let element"> {{element.camp_name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="sport_display_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="sport_display_name"> DISCIPLINE
          </th>
          <td mat-cell *matCellDef="let element"> {{element.sport_display_name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="campType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="campType"> Category Type
          </th>
          <td mat-cell *matCellDef="let element"> {{element.campType}} </td>
        </ng-container>
  
        <ng-container matColumnDef="atnlete_count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="totalath"> Athlete
          </th>
          <td mat-cell *matCellDef="let element"> <strong>{{element.totalath}}</strong> </td>
        </ng-container>
  
        <ng-container matColumnDef="coach_count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="totalCoach"> Coach
          </th>
          <td mat-cell *matCellDef="let element"> <strong>{{element.totalCoach}}</strong> </td>
        </ng-container>
  
        <ng-container matColumnDef="ss_count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="totalSS"> Sport Scientist
          </th>
          <td mat-cell *matCellDef="let element"> <strong>{{element.totalSS}}</strong> </td>
        </ng-container>
  
        <ng-container matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="venue" class="col-2"> Venue
          </th>
          <td mat-cell *matCellDef="let element"> {{element.venue}} </td>
        </ng-container>
  
        <ng-container matColumnDef="geoLocation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="geoLocation"> Geo Location
          </th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:void(0)" class="text-black" (click)="openGeoLocation(element)">
              <mat-icon class="material-symbols-outlined" fontIcon="visibility"></mat-icon>
            </a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="10"> <span class="noDataFound"> No Data Found </span></td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>
  
  </div>

  <app-loader *ngIf="loader"></app-loader>
  <app-loader *ngIf="loaderDiscipline"></app-loader>
  <app-loader *ngIf="loaderState"></app-loader>