table {
    width: 100%;
  }
  .athlete .table thead tr th{font-size: 10px;background-color: #1F60AB;}
  .athlete-table .table{font-size: 10px;}
  .athlete-table .table .nobtn{font-size: 8px;}
  
  .form-control{box-shadow: none !important;}
  
  .athlete .mat-table button{font-size: 10px;}
  
  .athlete .mat-row .mat-cell:first-child img{cursor: pointer;}
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mat-table,.table{min-height: 160px;}
  
  
  .mat-header-cell{
      text-align: center;
      justify-content:center;
    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
    .athlete .mat-row .mat-cell:nth-child(2),.athlete th.mat-header-cell:nth-child(2){width: 15%;}
    .athlete .mat-row .mat-cell:nth-child(4),.athlete th.mat-header-cell:nth-child(4){width: 15%;}
    #athleteTable ::ng-deep .mat-sort-header-arrow{color: #fff;}
    .mat-sort-header-container {
      justify-content: center;
  }
  .athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
  .athlete .mat-row .mat-cell:last-child {border-right: 0;}
  
  .noDataFound{font-size: 16px;}
  