<div class="p-3"><span class="event-title">ATHLETES</span></div>
<div class="border-top">
  <div class="row mx-0">
    <div class="col-lg-9 border-end">
      <div class="px-2 py-3 py-lg-4">
        <div class="pe-2">
          <div class="row profile-row">
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-user-line"></i></span>
                <h4>LIST OF CURRENT TRAINEES</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                <h4>MAJOR ATHLETES TRAINED IN PAST</h4>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 item mt-3">
              <a class="card text-center">
                <span class="icon-box"><i class="icon-image-line"></i></span>
                <h4>EXPERIENCE IN NATIONAL CAMP</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="py-lg-4">
        <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
      </div>
    </div>
  </div>
</div>
