<div class="modal-body pt-0">
    <div class="profileModal-wraper">
        <div class="d-flex justify-content-end pt-2">
            <button type="button" class="btn-close" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="row">
            <div class="col-lg-3 d-flex">
                <div class="left-col w-100">
                    <figure class="text-center mb-0">
                        <img *ngIf="athleteProfilePopupDetailsData?.documentInfo?.player_image_path;else dummyImg"
                            [src]="baseUrl + athleteProfilePopupDetailsData?.documentInfo?.player_image_path" alt="">
                        <ng-template #dummyImg>
                            <img src="assets/images/placeholderProfile.png" alt="">
                        </ng-template>
                        <figcaption>{{athleteProfilePopupDetailsData?.personalInfo?.full_name}}</figcaption>
                    </figure>
                    <div class="profile-lbl text-center">
                        <span>{{athleteProfilePopupDetailsData?.personalInfo?.kitd_unique_id}}</span>
                        <span>{{athleteProfilePopupDetailsData?.personalInfo?.sport_name}}</span>
                    </div>
                    <div class="financial-lbl text-center mt-3">
                        <span *ngIf="athleteProfilePopupDetailsData?.dashboardData?.isInsured">INSURED</span>
                        <ng-container *ngIf="athleteProfilePopupDetailsData?.dashboardData?.currentFASchemes !=''">
                            <ng-container
                                *ngFor="let item of athleteProfilePopupDetailsData?.dashboardData?.currentFASchemes.split(',')">
                                <span>{{item}}</span>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ul class="list-unstyled list-info mt-3 mt-lg-4">
                        <li>
                            <div class="d-inline-flex align-items-center">
                                <div class="iconbox"><i class="icon-sportstrainingcenter"></i></div>
                                <h5>
                                    <small class="d-block">CURRENT ACADEMY</small>
                                    {{athleteProfilePopupDetailsData?.dashboardData?.currentAcademy ?
                                    athleteProfilePopupDetailsData?.dashboardData?.currentAcademy : 'NA'}}
                                </h5>
                            </div>
                            <div *ngIf="athleteProfilePopupDetailsData?.dashboardData?.currentAcademy"><img
                                    src="assets/images/svg-icons/veryfied.svg" alt=""></div>
                        </li>
                        <li>
                            <div class="d-inline-flex align-items-center">
                                <div class="iconbox"><i class="icon-coach"></i></div>
                                <h5>
                                    <small class="d-block">CURRENT COACH</small>
                                    {{athleteProfilePopupDetailsData?.dashboardData?.currentCoach ?
                                    athleteProfilePopupDetailsData?.dashboardData?.currentCoach : 'NA'}}
                                </h5>
                            </div>
                            <!-- athleteProfilePopupDetailsData?.dashboardData?.currentCoach !=(null || '')" -->
                            <div *ngIf="
                            athleteProfilePopupDetailsData?.dashboardData?.currentCoach != null 
                            && athleteProfilePopupDetailsData?.dashboardData?.currentCoach !== ''">
                                <img src="assets/images/svg-icons/veryfied.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="d-inline-flex align-items-center">
                                <div class="iconbox"><i class="icon-DOB"></i></div>
                                <h5>
                                    <small class="d-block">DATE OF BIRTH</small>
                                    {{athleteProfilePopupDetailsData?.personalInfo?.date_of_birth | date: 'dd-MM-yyyy'}}
                                </h5>
                            </div>
                            <div><img src="assets/images/svg-icons/veryfied.svg" alt=""></div>
                        </li>
                        <li>
                            <div class="d-inline-flex align-items-center">
                                <div class="iconbox"><img src="assets/images/aadhaar.svg" alt=""></div>
                                <h5>
                                    <small class="d-block">AADHAAR</small>
                                </h5>
                            </div>
                            <div
                                *ngIf="athleteProfilePopupDetailsData?.dashboardData?.isAadhaarVerified; else notAdhar">
                                <img src="assets/images/svg-icons/veryfied.svg" alt=""></div>
                            <ng-template #notAdhar><mat-icon class="material-symbols-outlined text-danger"
                                    fontIcon="report"></mat-icon></ng-template>
                        </li>
                        <li>
                            <div class="d-inline-flex align-items-center">
                                <div class="iconbox"><i class="icon-map-pin-line-2"></i></div>
                                <h5>
                                    <small class="d-block">STATE</small>
                                    {{athleteProfilePopupDetailsData?.addressInfo?.addressInfoNames?.comm_state_name}}
                                    {{athleteProfilePopupDetailsData?.addressInfo?.addressInfoId?.comm_pincode}}
                                </h5>
                            </div>
                            <div
                                *ngIf="athleteProfilePopupDetailsData?.addressInfo?.addressInfoNames?.comm_state_name && athleteProfilePopupDetailsData?.addressInfo?.addressInfoId?.comm_pincode">
                                <img src="assets/images/svg-icons/veryfied.svg" alt=""></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#achievement">Achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#trainingInfo">Training Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#support">Support</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="home">
                        <h2 class="text-center mt-4"><strong>Coming Soon</strong></h2>
                    </div>
                    <div class="tab-pane container fade" id="achievement" *ngIf="!loader">

                        <div class="athlete mt-3 pe-2">

                            <div class="d-flex justify-content-end flex-wrap align-items-center">

                                <button *ngIf="addBtnAuth===1" type="button" (click)="addAchievement()"
                                    class="btn btn-blue px-1 px-lg-3 mb-2 text-uppercase">Add +</button>
                            </div>
                            <div class="table-responsive position-relative custom-wid-table">

                                <table mat-table id="athleteDetailTable" matTableExporter #exporter="matTableExporter"
                                    [dataSource]="dataSource" matSort class="table-striped w-100">

                                    <!-- <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                      <ng-container *ngIf="row.player_image_path==null">
                                        <img src="assets/images/placeholderProfile.png" alt="athele image " style="max-height: 35px;">
                                      </ng-container>
                                      <ng-container *ngIf="row.player_image_path!=null">
                                        <img [src]="row.player_image_path" alt="athlete image " style="max-height: 35px;">
                                      </ng-container>            
                                    </td>
                                  </ng-container>   -->
                                    <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="category"> CATEGORY </th>
                                        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="represented">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="represented"> REPRESENTED
                                        </th>
                                        <td mat-cell *matCellDef="let row"> {{row.represented}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="tournament">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="tournament_name">
                                            Tournament
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.tournament_name}}
                                    </ng-container>
                                    <ng-container matColumnDef="event">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="event_list">
                                            Event
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.event_list}}
                                    </ng-container>

                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="position">
                                            POSITION
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <span class="athleterank">{{row.position}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="document">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="document"> DOC </th>
                                        <td mat-cell *matCellDef="let row"><!--{{row.is_kiaa}}-->
                                            <a [href]=" row.isActc ?fileBaseUrlActc +row.document_path : baseUrl + row.document_path" target="_blank" class="btn-view"><mat-icon fontIcon="visibility"></mat-icon></a>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="createdBy">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy">Created By
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row?.createBy}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> STATUS </th>
                                        <!-- <td mat-cell *matCellDef="let row">
                                      <button class="btn btn-success btn-status">VERIFIED</button>
                                    </td> -->
                                        <td mat-cell *matCellDef="let row">
                                            <button
                                                *ngIf="row?.verifyStatus.toLowerCase()!='verified' && row?.verifyStatus.toLowerCase()!='pending'"
                                                class="btn btn-danger status-not-verified text-nowrap">{{row?.verifyStatus}}</button>
                                            <button *ngIf="row?.verifyStatus.toLowerCase() ==='verified'"
                                                class="btn btn-danger verfied-btn  text-nowrap">{{row?.verifyStatus}}</button>
                                            <button *ngIf="row?.verifyStatus.toLowerCase() ==='pending'"
                                            class="btn btn-danger pending-btn-ui  text-nowrap"
                                            [ngStyle]="{ 'cursor': isCoachAndSSNotLogin() ? 'pointer' : 'default' }" (click)="openDialog(row)">{{row?.verifyStatus}}</button>
                                        </td>
                                        <!-- (click)="openDialog(row)" -->
                                    </ng-container>



                                    <ng-container *ngIf="addBtnAuth===1" matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>
                                            ACTION
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="actions">
                                            <ng-container *ngIf="row?.isEditable">
                                                <a href="javascript:void(0)" (click)="editAchievement(row)"><mat-icon
                                                        fontIcon="border_color"></mat-icon></a>
                                                <a href="javascript:void(0)" (click)="deleteAchievement(row)"><i
                                                        class="fa-solid fa-trash-can"></i></a>
                                            </ng-container>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No
                                                Data Found </span></td>
                                    </tr>
                                </table>
                            </div>
                            <mat-paginator [pageSizeOptions]="[10, 50, 100]"
                                aria-label="Select page of users"></mat-paginator>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="trainingInfo">
                        <app-athlete-popup-profile-athlete-training-info
                            [player_Id]="playerId"></app-athlete-popup-profile-athlete-training-info>
                    </div>
                    <div class="tab-pane container fade" id="profile">
                        <div class="row profile-row">
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" (click)="personalDetail()" class="card text-center">
                                    <span class="icon-box"><i class="icon-user-line"></i></span>
                                    <h4>Personal Details</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" (click)="communicationAddress()" class="card text-center">
                                    <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                                    <!-- <h4>Communication Address</h4> -->
                                    <h4>Address</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" (click)="mobileEmail()" class="card text-center">
                                    <span class="icon-box"><i class="icon-mail-line-1"></i></span>
                                    <h4>Mobile No & Email ID</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" (click)="sportKittingDetails()" class="card text-center">
                                    <span class="icon-box"><i class="icon-football-line"></i></span>
                                    <h4>Sport & Kitting Details</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" class="card text-center" (click)="bankInformation()">
                                    <span class="icon-box"><i class="icon-Bank"></i></span>
                                    <h4>Bank Information</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" class="card text-center"
                                    (click)="openEducationInfoPopup()">
                                    <span class="icon-box"><i class="icon-book-2-line-1"></i></span>
                                    <h4>Education Information</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" class="card text-center" (click)="athleteDocuments()">
                                    <span class="icon-box"><i class="icon-image-line"></i></span>
                                    <h4>Photo ID Proof / DOB</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" class="card text-center" (click)="openSuccessStory()">
                                    <span class="icon-box"><i class="icon-Check"></i></span>
                                    <h4>Success Story</h4>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 item mt-3">
                                <a href="javascript:void(0)" class="card text-center" (click)="openLanguageModal()">
                                    <span class="icon-box"><img class="icon-language"
                                            src="assets/images/icon-language.svg" /></span>
                                    <h4>Languages</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="support">
                        <app-athlete-popup-profile-athlete-support
                            [player_Id]="playerId"></app-athlete-popup-profile-athlete-support>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModal let-modal>
    <div class="modal-body tagcommonModal deleteCommonModal-1 deleteCoachSS-1">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        <div class="titleTxt">
            <h4 class="text-center fw-bold">{{deleteRowData?.tournament_name }}
                <!--<span *ngIf="deleteRowData.category !==null">({{deleteRowData.category}})</span>--></h4>
        </div>
        <div class="text-center mt-3 pt-lg-2">
            <p>Please confirm if you want Delete this achievement!</p>
        </div>
        <div class="text-center pb-3">
            <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
                (click)="modal.close('Save click')">CANCEL</button>
            <button type="button" class="btn btn-lightblue px-3" (click)="confirmDelete()">CONFIRM</button>
        </div>
    </div>
</ng-template>
<app-loader *ngIf="achievementLoader"></app-loader>
<app-loader *ngIf="loader"></app-loader>