.btn-close {
  outline: none;
  box-shadow: none;
}

::ng-deep .customModalSizeLarge.modal-dialog {
  width: 98.5%;
  max-width: 100%;
}

.profile-lbl span {
  display: inline-block;
  padding: 0 15px;
  color: #9A9A9A;
  font-size: 14px;
  line-height: 14px;
}

.profile-lbl span:not(:last-child) {
  border-right: 1px solid #DEDEDE;
}

.financial-lbl span {
  background-color: #8BE2DF;
  display: inline-flex;
  padding: 2px 15px;
  border-radius: 2px;
  ;
  font-size: 12px;
  color: #1B6866;
  min-width: 80px;
  justify-content: center;
  text-transform: uppercase;
}

.financial-lbl span:not(:last-child) {
  margin-right: 5px;
}

.financial-lbl span:nth-child(2) {
  background-color: #FFF1E5;
  color: #BB5905;
}

.financial-lbl span:nth-child(3) {
  background-color: #FBE5FF;
  color: #74008A;
}

.profileModal-wraper .left-col {
  padding: 15px;
  box-shadow: 0 6px 6px #ACACAC54;
  border: 1px solid #E4E7EB;
  border-radius: 5px 0 0 5px;
}

.profileModal-wraper .left-col figure figcaption {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}

.profileModal-wraper .left-col figure img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #4866ab;
}

.profileModal-wraper .nav-tabs {
  justify-content: space-around;
}

.profileModal-wraper .nav-tabs li a {
  border: 0;
  text-transform: uppercase;
  color: #B5B5B5;
  border-bottom: 2px solid transparent;
}

.profileModal-wraper .nav-tabs li a.active,
.profileModal-wraper .nav-tabs li a:hover {
  border-bottom: 2px solid #345BB6;
  color: #345BB6;
}

.list-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.list-info li .iconbox {
  width: 25px;
  height: 25px;
  background-color: #f59b26;
  margin-right: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.list-info li:nth-child(2) .iconbox {
  background-color: #4866ab;
}

.list-info li:nth-child(3) .iconbox {
  background-color: #f3438b;
}

.list-info li:nth-child(4) .iconbox img {
  filter: brightness(100);
}

.list-info li:nth-child(4) .iconbox {
  background-color: #d94957;
}

.list-info li:nth-child(5) .iconbox {
  background-color: #4f3099;
}

.list-info li .iconbox i::before {
  color: #fff;
}

.list-info li h5 {
  font-size: 13px;
  color: #505050;
  margin: 0;
  text-transform: capitalize;
}

.list-info li h5 small {
  font-size: 9px;
  color: #7E7E7E;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.list-info li:not(:last-child) {
  border-bottom: 1px solid #E9E9E9;
}

.list-info li img {
  width: 20px;
}

.profile-row .item .icon-box {
  width: 42px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
}

.profile-row .item h4 {
  font-size: 13px;
  color: #000;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.profile-row .item {
  display: flex;
}

.profile-row .item .card {
  padding: 25px 15px;
  background-color: #DFE9FF;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
  border-color: transparent;
  transition: .5s;
  flex: 1;
}

:host ::ng-deep .icon-language {
  filter: invert(97%) sepia(85%) saturate(497%) hue-rotate(301deg) brightness(94%) contrast(115%);
}

.profile-row .item:nth-child(4) .icon-box i::before {
  color: #FFB24D;
}

.profile-row .item:nth-child(2) .card {
  background-color: #FFE6FA;
}

.profile-row .item:nth-child(3) .card {
  background-color: #D6EFFF
}

.profile-row .item:nth-child(3) .card i::before {
  color: #64c6d5
}

.profile-row .item:nth-child(4) .card {
  background-color: #FFE5CF
}

.profile-row .item:nth-child(5) .card {
  background-color: #C9F8FF
}

.profile-row .item:nth-child(5) .card i::before {
  color: #64c6d5
}

.profile-row .item:nth-child(6) .card {
  background-color: #D2E7FF
}

.profile-row .item:nth-child(6) .card i::before {
  color: #5a93d4
}

.profile-row .item:nth-child(7) .card {
  background-color: #FFE6FA
}

.profile-row .item:nth-child(8) .card {
  background-color: #DFE9FF
}

.profile-row .item:nth-child(9) .card {
  background-color: #FFE5CF
}

.profile-row .item:nth-child(10) .card {
  background-color: #D6EFFF
}

.profile-row .item:nth-child(11) .card {
  background-color: #D6EFFF
}

.profile-row .item:nth-child(12) .card {
  background-color: #FFE6FA
}

.profile-row .item:nth-child(12) .card i::before {
  color: #ff9beb
}

.profile-row .item:nth-child(13) .card {
  background-color: #DFE9FF
}

.profile-row .item:nth-child(13) .card i::before {
  color: #4b6fbf
}

.profile-row .item:nth-child(14) .card {
  background-color: #FFE5CF
}

.profile-row .item:nth-child(14) .card i::before {
  color: #f39749
}

.profile-row .item:nth-child(15) .card {
  background-color: #C9F8FF
}

.profile-row .item:nth-child(15) .card i::before {
  color: #64c6d5
}

.profile-row .item:nth-child(16) .card {
  background-color: #FFE6FA
}

.profile-row .item:nth-child(16) .card i::before {
  color: #ff9beb
}

.profile-row .item:nth-child(17) .card {
  background-color: #D6EFFF
}

.profile-row .item:nth-child(1) .card:hover {
  background-color: #90b0f7
}

.profile-row .item:nth-child(2) .card:hover {
  background-color: #f9b4eb;
}

.profile-row .item:nth-child(3) .card:hover {
  background-color: #92cbef
}

.profile-row .item:nth-child(4) .card:hover {
  background-color: #ffb275
}

.profile-row .item:nth-child(5) .card:hover {
  background-color: #64c6d5
}

.profile-row .item:nth-child(6) .card:hover {
  background-color: #6f9ad4
}

.profile-row .item:nth-child(7) .card:hover {
  background-color: #f9b4eb
}

.profile-row .item:nth-child(8) .card:hover {
  background-color: #90b0f7
}

.profile-row .item:nth-child(9) .card:hover {
  background-color: #ffb275
}

.profile-row .item:nth-child(10) .card:hover {
  background-color: #92cbef
}

.profile-row .item:nth-child(11) .card:hover {
  background-color: #92cbef
}

.profile-row .item:nth-child(12) .card:hover {
  background-color: #f9b4eb
}

.profile-row .item:nth-child(13) .card:hover {
  background-color: #90b0f7
}

.profile-row .item:nth-child(14) .card:hover {
  background-color: #ffb275
}

.profile-row .item:nth-child(15) .card:hover {
  background-color: #64c6d5
}

.profile-row .item:nth-child(16) .card:hover {
  background-color: #f9b4eb
}

.profile-row .item:nth-child(17) .card:hover {
  background-color: #92cbef
}

.status-not-verified {
  background-color: #ffc9c9;
  border-color: red;
  color: red;
  font-size: 11px;
  padding: 1px 8px;
  border-radius: 0;
  text-transform: uppercase;
  cursor: default;
}

.btn-view {
  background-color: transparent;
  border: 0;
  color: #3fb424;
  line-height: initial;
  font-size: 7px;
  padding: 0 4px;
}

.noDataFound {
  font-size: 16px;
}

.btn-blue {
  padding: 6px;
}


.actions a {
  font-size: 15px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFB24D;
  padding: 2px 3px;
  line-height: normal;
  width: 23px;
  height: 23px;
  text-align: center;
}

.actions a:last-child {
  color: #ff0000;
}

.actions mat-icon {
  width: auto;
  height: auto;
  font-size: 17px;
}

.custom-wid-table table th:nth-child(7) {
  min-width: 115px;
}

.verfied-btn {
  background-color: #ccffec;
  border: 1px solid;
  border-color: #0e8b5c;
  border-radius: 3px;
  text-transform: uppercase;
  color: darkgreen;
  font-size: 11px;
  padding: 1px 8px;
  cursor: default;

}

.verfied-btn:hover {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.pending-btn-ui {
  background-color: #ffe5cf;
  border: 1px solid #ff7400;
  border-color: #ff7400;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ff7400;
  font-size: 11px;
  padding: 1px 8px;

}

.pending-btn-ui:hover {
  background-color: #ff9003;
  color: #fff;
}

::ng-deep .custom-dialog-panel-modal .mat-dialog-container {
  padding: 0px 2px !important;
}

.deleteCommonModal-1 .titleTxt h4 {
  background-color: #FFE89E;
  border: 1px solid #E1C15C;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
}

.deleteCommonModal-1 .btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 9px;
  box-shadow: none;
  outline: none;
}

.deleteCommonModal-1 {
  padding: 15px 26px 15px 20px
}

.deleteCommonModal-1 .titleTxt h4 {
  border-color: #008205;
  background-color: #e0ffe1;
}

.deleteCoachSS-1 .titleTxt h4 {
  background-color: #FFC9C9;
  border: 1px solid #FF0000;
}