<!-- <app-kic-monitoring></app-kic-monitoring> -->
<div class="my-modal">
    <div class="container-fluid">
        <div class="modal-body">
            <div class="row border-bottom">
                <div class="col">
                    <h4>Strength Details Update</h4>
                </div>
                <div class="col-auto">
                    <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close"
                        aria-label="Close"></button>
                </div>
            </div>
            <form [formGroup]="strengthForm">
                <div class="row mt-2">
                    <div class="col-lg col-md-3 col-12 my-2">
                        <label class="cust-label">Designation</label>
                        <input type="text" class="form-control" formControlName="designation" placeholder="designation"
                            [disabled]="true">
                    </div>
                    <div class="col-lg col-md-3 col-12 my-2">
                        <label class="cust-label">Current Strength</label>
                        <input type="number" class="form-control" formControlName="currentStength"
                            placeholder="current strength" [disabled]="true">
                    </div>

                    <div class="col-lg col-md-3 col-12 my-2">
                        <label class="cust-label">Sanction Strength</label>
                        <input type="number" class="form-control" formControlName="sanctioned_Strength"
                            placeholder="sanction strength">
                        <div *ngIf="strengthForm.get('sanctioned_Strength')?.invalid && strengthForm.get('sanctioned_Strength')?.touched"
                            class="text-danger">
                            <div *ngIf="strengthForm.get('sanctioned_Strength')?.errors?.['min']">Minimum value is 0.</div>
                            <div *ngIf="strengthForm.get('sanctioned_Strength')?.errors?.['max']">Maximum value is 1000.
                            </div>
                            <div *ngIf="strengthForm.get('sanctioned_Strength')?.errors?.['required']">This field is
                                required.</div>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-auto col-auto my-2 align-items-end d-flex">
                        <button type="submit" class="btn btn-lightblue text-uppercase"
                            (click)="updateStrength()">Update</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>