.example-loading-shade {
position: absolute;
top: 0;
left: 0;
bottom: 0px;
right: 0;
background: rgba(0, 0, 0, 0.15);
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}
.mat-table,.table{min-height: 160px;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
#tournamentTable ::ng-deep .mat-sort-header-arrow {color: #fff;}
.athlete .mat-row .mat-cell:nth-child(1),.athlete th.mat-header-cell:nth-child(1){min-width: 183px;}
.athlete .mat-row .mat-cell:nth-child(3),.athlete th.mat-header-cell:nth-child(3){width: 103px;}
.athlete .mat-row .mat-cell:nth-child(5),.athlete th.mat-header-cell:nth-child(5){width: 14%;min-width: 172px;}
.athlete .mat-row .mat-cell:nth-child(6),.athlete th.mat-header-cell:nth-child(6){text-align: center;}
.athlete .mat-row .mat-cell:nth-child(8),.athlete th.mat-header-cell:nth-child(8){text-align: center;}
.athlete .mat-row .mat-cell:last-child,.athlete th.mat-header-cell:last-child{min-width: 300px;text-align: center;}
.athlete th.mat-header-cell:last-child ::ng-deep .mat-sort-header-container{justify-content: center;}
.athlete th.mat-header-cell:nth-child(8) ::ng-deep .mat-sort-header-container{justify-content: center;}
.athlete .mat-row .mat-cell a{text-decoration: none;color: inherit;}
.athlete .mat-row .mat-cell:last-child a:first-child{padding-right: 10px;}
.athlete .mat-row .mat-cell:last-child a:nth-child(2){padding:0 10px;}
.athlete .mat-row .mat-cell:last-child a:nth-child(2) i{color: #FFA500;font-size: 14px;}
.athlete .mat-row .mat-cell:last-child a:last-child{padding-left: 10px;}
.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
.athlete th.mat-header-cell:nth-child(5) ::ng-deep .mat-sort-header-container{justify-content: center;}
.nobtn{
    background-color: #FFCCD2;
    border: 1px solid;
    border-color: #FF475D;
    border-radius: 3px;text-transform: uppercase
}
.yesbtn{
    background-color: #CCFFEC;
    border: 1px solid;
    border-color: #0E8B5C;
    border-radius: 3px;text-transform: uppercase
}

.noDataFound{font-size: 16px;}

.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
    .tagcommonModal .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;box-shadow: none;outline: none;}
    .tagcommonModal{padding: 15px 26px 15px 20px}
    
    .taggedSuccessfully .titleTxt h4{background-color: #D4FFC2;
    border: 1px solid #20BE35;}
    .tagcommonModal.deleteCommonModal .titleTxt h4{background: #ffdede;
        border-color: #fb9f9f;}

@media(max-width:1399.8px){
    .athlete .mat-row .mat-cell:nth-child(7),.athlete th.mat-header-cell:nth-child(7){min-width: 130px;}   
}
@media(max-width:1199.8px){
    .athlete .mat-row .mat-cell:nth-child(7),.athlete th.mat-header-cell:nth-child(7){min-width: 130px;}   
}