.education-modal-wrapper .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .education-modal-wrapper .btn-close{position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px;box-shadow: none;outline: none;}
  .education-modal-wrapper{padding: 15px 20px;}
  
  
  .education-modal .mat-form-field{font-size: 14px;}
  .education-modal .titleTxt h3{font-size: 16px;
    color: #4b6fbf;
    text-transform: uppercase;margin-bottom: 0;}
  .education-modal .titleTxt{border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
    margin-bottom: 20px;}
  .education-modal .titleTxt .titleIcon{width: 30px;
    height: 30px;
    border: 1px solid #1E5FAA;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;margin-right: 8px;}
.education-modal .titleTxt .titleIcon i::before{color: #1E5FAA;}
  .education-modal .titleTxt .btn-edit{border-color: #1F60AB;
    background-color: #D1E6FF;
    color: #1F60AB;
    font-size: 12px;
    padding: 1px 8px 0;
    border-radius: 3px;
  }
  ::ng-deep .readonlyEducationEdit.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: rgba(0,0,0,.02);
  }
  :host ::ng-deep .h-75-vh {
    max-height: 75vh;
  }
  
  :host .tile {
    padding: 4px 8px;
    border-radius: 0.25rem;
    text-transform: uppercase;
  }
  
  :host .green-tile {
    background-color: #CCFFEC;
    border: 1px solid #0E8B5C;
  }
  
  :host .yellow-tile {
    background-color: lightyellow;
    border: 1px solid orange;
    /* cursor: pointer; */
  }
  
  :host .red-tile {
    background-color: #FFCCD2;
    border: 1px solid #FF475D;
  }
  
  :host .orange-tile {
    background-color: #F7BF58;
    border: 1px solid #E99904;
  }
  .table-striped tbody tr td{border-right:1px solid #dee2e6}
  .table-striped thead tr th, .table-striped tbody tr td{padding: 8px;}