<div class="success-story-popup">
    <div class="modal-body">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#success-story" type="button">Success Story</button>
          <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#action-photos" type="button">Action Photos</button>
          <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#action-video-link" type="button">Action Video Links</button>
        </div>
      </nav>
  
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="success-story">
          <div class="d-flex justify-content-between align-items-center">
            <h5></h5>
            <button *ngIf="storyFormReadonlyEdit" (click)="editStory()" class="btn btn-blue py-1 mb-2">EDIT</button>
          </div>
          <form [formGroup]="storyForm">
            <angular-editor formControlName="description_detail" [config]="editorConfig"></angular-editor>
            <div class="row">
              <div class="col text-center">
                <hr />
                <button type="button" class="btn btn-blue px-4" (click)="saveStory()" [disabled]="storyFormReadonlyEdit">Save</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="action-photos">
          <div class="d-flex justify-content-between align-items-center">
            <h5></h5>
            <button type="button" *ngIf="actionPhotoFormReadonlyEdit" (click)="editPhoto()" class="btn btn-blue py-1 mb-3">EDIT</button>
          </div>
          <form [formGroup]="actionPhotoForm">
            <div class="row">
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                  <div class="inputfileLevel position-relative" [ngClass]="{'readonlyBasicDetailsInput':actionPhotoFormReadonlyEdit}">
                    <span class="text-uppercase uploadLevel">Upload Photo</span>
                    <input type="file" class="inputUpload"  #photoImageInput1   formControlName="photo_link1" (change)="photoUpload1(photoImageInput1.files)">
                  </div>
                  <div *ngIf="photoUploadUrl1"><a [href]="fileBaseUrl + photoUploadUrl1" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                </div>
              </div> 
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                  <div class="inputfileLevel position-relative" [ngClass]="{'readonlyBasicDetailsInput':actionPhotoFormReadonlyEdit}">
                    <span class="text-uppercase uploadLevel">Upload Photo</span>
                    <input type="file" class="inputUpload"  #photoImageInput2   formControlName="photo_link2" (change)="photoUpload2(photoImageInput2.files)">
                  </div>
                  <div *ngIf="photoUploadUrl2"><a [href]="fileBaseUrl + photoUploadUrl2" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                </div>
              </div> 
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                  <div class="inputfileLevel position-relative" [ngClass]="{'readonlyBasicDetailsInput':actionPhotoFormReadonlyEdit}">
                    <span class="text-uppercase uploadLevel">Upload Photo</span>
                    <input type="file" class="inputUpload"  #photoImageInput3   formControlName="photo_link3" (change)="photoUpload3(photoImageInput3.files)">
                  </div>
                  <div *ngIf="photoUploadUrl3"><a [href]="fileBaseUrl + photoUploadUrl3" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                </div>
              </div> 
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                  <div class="inputfileLevel position-relative" [ngClass]="{'readonlyBasicDetailsInput':actionPhotoFormReadonlyEdit}">
                    <span class="text-uppercase uploadLevel">Upload Photo</span>
                    <input type="file" class="inputUpload"  #photoImageInput4   formControlName="photo_link4" (change)="photoUpload4(photoImageInput4.files)">
                  </div>
                  <div *ngIf="photoUploadUrl4"><a [href]="fileBaseUrl + photoUploadUrl4" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr class="mt-1" />
                <button type="button" class="btn btn-blue px-4" (click)="savePhoto()" [disabled]="actionPhotoFormReadonlyEdit">Save</button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="tab-pane fade" id="action-video-link">
          <div class="d-flex justify-content-between align-items-center">
            <h5></h5>
            <button type="button" *ngIf="videoLinkReadonlyEdit" (click)="editVideo()" class="btn btn-blue py-1 mb-3">EDIT</button>
          </div>
          <form [formGroup]="videorForm">
            <div class="row">
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="viewVideoInput">
                  <mat-form-field [ngClass]="{'readonlyInputField':videoLinkReadonlyEdit}" class="w-100" appearance="fill">
                    <mat-label>Video Links</mat-label>
                    <input matInput formControlName="video_link1">
                  </mat-form-field>
                  <div class="videoview" *ngIf="videorForm.get('video_link1')?.value !=''">
                    <!-- <ng-container *ngIf="videorForm.controls['video_link1']?.valid">
                      <a [href]="videorForm.get('video_link1')?.value" target="_blank"><i class="fa-solid fa-eye"></i></a>
                    </ng-container> -->
                    <a [href]="videorForm.get('video_link1')?.value" target="_blank"><i class="fa-solid fa-eye"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="viewVideoInput">
                  <mat-form-field [ngClass]="{'readonlyInputField':videoLinkReadonlyEdit}" class="w-100" appearance="fill">
                    <mat-label>Video Links</mat-label>
                    <input matInput formControlName="video_link2">
                  </mat-form-field>
                  <div class="videoview" *ngIf="videorForm.get('video_link2')?.value !=''">
                    <a [href]="videorForm.get('video_link2')?.value" target="_blank"><i class="fa-solid fa-eye"></i></a>
                  </div>
                </div>
              </div>       
              <div class="col-sm-6 col-lg-3 mb-3">
                <div class="viewVideoInput">
                  <mat-form-field [ngClass]="{'readonlyInputField':videoLinkReadonlyEdit}" class="w-100" appearance="fill">
                    <mat-label>Video Links</mat-label>
                    <input matInput formControlName="video_link3">
                  </mat-form-field>
                  <div class="videoview" *ngIf="videorForm.get('video_link3')?.value !=''">
                    <a [href]="videorForm.get('video_link3')?.value" target="_blank"><i class="fa-solid fa-eye"></i></a>
                  </div>
                </div>
              </div>       
            </div>
            <div class="row">
              <div class="col text-center">
                <hr class="mt-1" />
                <button type="button" class="btn btn-blue px-4" (click)="saveVideo()" [disabled]="videoLinkReadonlyEdit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <app-loader *ngIf="loader"></app-loader>