.success-story-popup .modal-body{padding: 0;}
.success-story-popup .btn-close{position: absolute;
  right: 15px;
  top: 15px;}
.success-story-popup .nav-tabs{border: 0;
  padding: 0px 15px;
  box-shadow: 0 0 7px -2px #ddd;}
.success-story-popup .nav-tabs .nav-link{border: 0;
  font-size: 14px;
  color: #C9C9C9;
  border-bottom: 1.5px solid transparent;padding: 16px 14px;text-transform: uppercase;}
.success-story-popup .nav-tabs .nav-link.active{border-bottom-color: #1F60AB;
  color: #1F60AB;}
.success-story-popup .tab-content{padding: 15px;}
.titleIcon{width: 30px;
height: 30px;
border: 1px solid #1E5FAA;
border-radius: 50%;
font-size: 14px;
display: inline-flex;
align-items: center;
justify-content: center;margin-right: 8px;}
.titleIcon i:before{color: #1E5FAA;}
.btn-close{box-shadow: none;outline: none;}
.btn-lightblue{font-size: 14px;padding: 7px 26px;}

.addmore{font-size: 13px;font-weight: bold;color: #000000;}
.success-story-popup tr td{font-size: 14px;}
.success-story-popup tr td .mat-form-field{font-size: 14px;}
.success-story-popup ::ng-deep .mat-form-field-flex{padding-top: 0;}
.success-story-popup ::ng-deep .mat-form-field-infix{padding-bottom: 8px;width: 110px;}
.success-story-popup tr th{font-size: 13px;text-align: center;color: #000000;background-color: #F8F8F8;text-transform: uppercase;}
.success-story-popup tr td:last-child,.success-story-popup tr td:first-child{vertical-align: middle;text-align: center;}
.success-story-popup .btn-edit{border-color: #1F60AB;
  background-color: #D1E6FF;
  color: #1F60AB;
  font-size: 12px;
  padding: 1px 8px 0;
  border-radius: 3px;}

.inputFileUpload-wraper{justify-content: space-between;padding: 6.3px 10px;}
.inputFileUpload-wraper .uploadLevel{background-color: #F1F1F1;font-size: 11px;font-weight: bold;padding: 5px 20px;
border-radius: 4px;display: inline-block;cursor: pointer;}
.inputFileUpload-wraper .inputUpload{position: absolute;opacity: 0;width: 100%;left: 0;}
.inputFileUpload-wraper a{color: inherit;}

::ng-deep .readonlyInputField.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba(0,0,0,.02);
}

.viewVideoInput{position: relative;}
.viewVideoInput ::ng-deep .mat-form-field-flex{padding-right: 30px;}
.viewVideoInput .videoview{position: absolute;right: 6px;top: 12px;}
.viewVideoInput .videoview a{color: inherit;}