
<div class="modal fade show sanction-modal" id="addProposalModal" tabindex="-1" aria-labelledby="commentModalLabel"
  aria-hidden="true" style="display: block; background: rgba(128, 128, 128, 0.3)" aria-modal="true" role="dialog"
  (click)="ClickedOut($event)">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div id="mContent" class="modal-content">
      <div class="modal-body">
        <form [formGroup]="sanctionReleasedForm">
          <div class="row">
            <div class="custom-table table-responsive">
              <table class="table table-bordered my-centered-table" style="white-space: nowrap">
                <thead>
                  <tr>
                    <th class="text-center">S No.</th>
                    <th class="text-center">STATE NAME</th>
                    <th class="text-center">Released Amount Heads</th>
                    <th class="text-center">Frequency Type</th>
                    <th class="text-center">Amount Type</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Date of Release</th>
                    <th class="text-center">File</th>
                  </tr>
                </thead>
                <tbody formArrayName="tableData">
                  <ng-container>
                    <tr *ngFor="let row of tableDataFormArr.controls; let i = index" [formGroupName]="i">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ state_Name }}</td>
                      <td class="text-center">
                        {{ row.value.amount_Head_Name ? row.value.amount_Head_Name : '-' }}
                      </td>
                      <td class="text-center">
                        {{ row.value.frequency_Type ? row.value.frequency_Type : '-' }}
                      </td>
                      <td class="text-center">
                        {{ row.value.amount_Type ? row.value.amount_Type : '-' }}
                      </td>
                      <td class="text-center">
                        {{ row.value.amount !==null && row.value.amount !== undefined ? (row.value.amount | currency:'INR':'':'1.2-2') : '-' }}
                      </td>
                      <td class="text-center">
                        {{ row.value.date_Of_Release | date: 'dd-MM-YYYY' }}
                      </td>
                      <td class="text-center">
                        <ng-container>
                          <div
                            class="inputFileUpload-wraper border rounded-1 d-flex align-items-center justify-content-center">
                            <div class="inputfileLevel position-relative">
                              <div *ngIf="row.get('upload_Document')?.value">
                                <a [href]="fileUrl + row.get('upload_Document')?.value" target="_blank">
                                  <i class="fa-solid fa-eye"></i>
                                </a>
                              </div>
                              <div *ngIf="row.get('upload_Document')?.value==''">
                                <span>-</span>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

              <div class="noDataFound" *ngIf="tableDataFormArr.controls.length === 0">
                <img src="../../../../assets/images/norecordfound.png" alt="No Records Found">
              </div>

            </div>
          </div>
          <div class="save-data my-4">
            <button (click)="modalClose('cancel')" type="button"
              class="btn btn-lightwhite px-3 ms-2 text-uppercase">Cancel</button>
          </div>
        </form>
        <div></div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="mainLoader || isLoading"></app-loader>