<div class="login">
    <div class="container">
        <div class="card border-0">
            <div class="text-center mb-3 mb-md-4">
                <h1 class="mb-lg-3">Forgot password?</h1>
                <h5>Enter your KID/email/mobile number to reset your password</h5>
            </div>
            <form [formGroup]="formForgot" (ngSubmit)="forgotpassword()">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <!-- <input type="text" formControlName="forgotPassword" class="form-control" [(ngModel)]="phoneval" [maxlength]="10" 
                            placeholder="Enter KID/ E-mail Address/ Registered Mobile Number"
                             onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"> -->
                             <input type="text" formControlName="forgotPassword" class="form-control" [(ngModel)]="phoneval" 
                             placeholder="Enter KID/ E-mail Address/ Registered Mobile Number">
                            
                    </div>
                    <div class="mb-3 mulusertxt" *ngIf="mulUserCheck  && (phoneval == forgotPassVal)">
                        <span class="text-danger">Duplicate Account Exist with Registered Credentials.</span> 
            <a routerLink="/forgot-userid"> Click Here to retrive your Username from Userid</a> 
                    </div>
                    <div class="col-sm-12 mb-3">
                        <button type="submit" [disabled]="!formForgot.valid" class="btn btn-blue w-100" >SEND OTP</button>
                    </div>
                    <div class="col-sm-12 text-center mb-3 mt-lg-2">
                        <span class="regHere">Did you remembered your password? <a routerLink="/login"> Log In</a></span>
                    </div>
                    <div class="col-sm-12 text-center mt-4 mt-md-5">
                        <span class="regHere">Don't have an account? <a routerLink="/registration"> Register here</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #content let-modal >    
    <div class="modal-header d-block">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')" (click)="stopCounter()"></button></div>
        <h4 class="modal-title text-center">Forgot Password</h4>        
    </div>
    <div class="modal-body">
        <p class="text-center text-success">OTP sent successfully.</p>
            <form [formGroup]="forgotOtpVerify" (ngSubmit)="forOtpVerify()">               
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{forgotpasswordData.mask_mobileNo}}/ {{forgotpasswordData.mask_emailId}}" readonly>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" [maxlength]="6" formControlName="otp"  placeholder="Please Enter OTP" required>
                </div>
                <div class="text-center">
                    <button type="submit" [disabled]="!forgotOtpVerify.valid" class="btn btn-blue px-4 w-100 text-uppercase">Confirm OTP</button>
                </div>
            </form>
        <p class="text-center mt-3">Haven't received OTP? <button class="btn btn-blue mx-2 border-0" href="javascript:void(0)" [disabled]="!resendOtpButton" (click)="startCounter()" (click)="resendOtp()" >Resend OTP</button> {{counter}} sec &#9202;</p> 
        <hr />    
        <div class="text-center mt-3">
            <small><strong>Note:</strong> Your One Time Password(OTP) is confidential. Please do not share it with anyone via e-mail, phone or any other medium.</small>
        </div>
    </div>
</ng-template>


<ng-template #contentnewPassword let-modal>    
    <div class="modal-header d-block">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <h4 class="modal-title flex-1 text-center">Forgot Password</h4>
    </div>
    <div class="modal-body">
            <form  [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
                <div class="mb-3">
                    <!-- <label>New Password</label> -->
                    <div class="inputIcon">
                    <input 
                    [type]=passwordNew 
                    formControlName="newpass" 
                    class="form-control"
                    id="newpass" 
                    placeholder="New Password"
                    required (paste)="false">
                    <div class="hideShoePwd" (click)="onClickNew()">
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!showeye"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="showeye"></i>
                    </div> 
                </div>
            <div *ngIf="f['newpass'].touched &&  f['newpass'].invalid" class="text-danger">
                <div *ngIf="f['newpass'].errors && f['newpass'].errors['required']">
                    Password is Required
                </div>
                <small *ngIf="f['newpass'].errors && f['newpass'].errors['pattern']">Minimum eight characters, at least one uppercase letter, one lowercase letter, 
                    one number and one special character</small>
            </div>
                </div>
                <div class="mb-3">
                    <!-- <label>Confirm Password</label> -->
                    <div class="inputIcon">
                    <input [type]="password" 
                    formControlName="confirmpass"
                    class="form-control" 
                    id="confirmpass"
                    placeholder="Confirm Password"
                    required (paste)="false">
                    <div class="hideShoePwd" (click)="onClick()">
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!showeye"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="showeye"></i>
                    </div>
                    </div>
                    
                    <div *ngIf="f['confirmpass'].touched && f['confirmpass'].invalid" class="text-danger">
                        <div *ngIf="f['confirmpass'].errors?.['required']">Password is required.</div>
                        <div *ngIf="f['confirmpass'].errors?.['confirmedValidator']">Password and Confirm Password must be match.</div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" [disabled]="!newPasswordForm.valid" class="btn btn-blue px-4">Save Pasword</button>
                </div>
            </form>
        <!-- <div class="text-center mt-4 mt-md-5">
            <span class="regHere">Don't have an account? <a href="#"> Register here</a></span>
        </div> -->
    </div>
</ng-template>
<app-loader *ngIf="loaderMain"></app-loader>