<div class="modal-body athlete-address-modal-wrapper address-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3><span class="titleIcon"><i class="icon-map-pin-line-2"></i></span> Communication Address</h3>
    <button 
      *ngIf="communicationAddressForm.disabled" 
      href="javascript:void(0)" 
      (click)="editButton()" 
      class="btn btn-blue py-1 me-4"
    >EDIT</button>
  </div>
  <form [formGroup]="communicationAddressForm">
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="comm_add_line_1" (keydown)="onHouseOrStreetChange()">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="comm_add_line_2" (keydown)="onHouseOrStreetChange()">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>State</mat-label>
          <mat-select formControlName="comm_state_id" (valueChange)="changeStateComm($event)">
            <mat-option [value]=data.id *ngFor="let data of stateListDataCommunication">{{data.state_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>District</mat-label>
          <mat-select formControlName="comm_add_district_id" (valueChange)="changeDistrictComm($event)">
            <mat-option [value]="data.districtId" *ngFor="let data of districtListDataCommunication">{{data.district_Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>Block</mat-label>
          <mat-select formControlName="comm_add_block_id"  (valueChange)="changeBlockComm()">
            <mat-option [value]="data.blockId" *ngFor="let data of blockListDataCommunication">{{data.block_Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>City</mat-label>
          <mat-select formControlName="comm_city_id" (valueChange)="changeCityComm()">
            <mat-option [value]="data.id" *ngFor="let data of cityListDataCommunication">{{data.city_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>     
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>Pincode</mat-label>
          <mat-select formControlName="comm_pincode" (valueChange)="changePincodeComm()">
            <mat-option [value]="data.pinCode" *ngFor="let data of pinCodeListDataCommunication">{{data.pinCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Landmark</mat-label>
          <input matInput formControlName="comm_add_landmark" (keydown)="onHouseOrStreetChange()">
        </mat-form-field>
      </div>

      <div class="col-sm-12 mb-3 mb-lg-4 permanent-addTitle">
        <!-- <hr/> -->
        <h3 class="pt-2 titleTxt"><span class="titleIcon"><i class="icon-map-pin-line-2"></i></span> Permanent Address</h3>
        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="perm_comm_add_same" (change)="changeSameAs($event)">
            <span class="text-danger me-1">  SAME AS COMMUNICATION ADDRESS </span>
            <i class="icon-information-line-1" placement="bottom" tooltipClass="address-tooltip" ngbTooltip="(Note: if Permanent address and communication address are same then please select this checkbox)">

            </i>
          </mat-checkbox>
        </section>
      </div>

      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="perm_add_line_1">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="perm_add_line_2">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>State</mat-label>
          <mat-select formControlName="perm_state_id" (valueChange)="changeStatePermanent($event)">
            <mat-option [value]="data.id" *ngFor="let data of stateListDataPermanent">{{data.state_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>District</mat-label>
          <mat-select formControlName="perm_add_district_id" (valueChange)="changeDistrictPermanent($event)">
            <mat-option [value]="data.districtId" *ngFor="let data of districtListDataPermanent">{{data.district_Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>Block</mat-label>
          <mat-select formControlName="perm_add_block_id" >
            <mat-option [value]="data.blockId" *ngFor="let data of blockListDataPermanent">{{data.block_Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>City</mat-label>
          <mat-select formControlName="perm_city_id" >
            <mat-option [value]="data.id" *ngFor="let data of cityListDataPermanent">{{data.city_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>     
      <div class="col-sm-6 col-lg-3 mb-3">
        <mat-form-field class="w-100" appearance="fill" >
          <mat-label>Pincode</mat-label>
          <mat-select formControlName="perm_pincode" >
            <mat-option [value]="data.pinCode" *ngFor="let data of pinCodeListDataPermanent">{{data.pinCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Landmark</mat-label>
          <input matInput formControlName="perm_add_landmark">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <hr class="mt-1" />
        <button type="button" class="btn btn-blue px-lg-4" (click)="save()" [disabled]="communicationAddressForm.disabled">Save</button>
      </div>
    </div>
  </form>
  
</div>
<app-loader *ngIf="loader"></app-loader>