<div class="container-fluid p-2 border border-blue">
  <div class="row h4 m-0 p-2 justify-content-center bg-blue text-white fw-bold">
    CHECK CREDENTIAL
  </div>
  <form [formGroup]="form">
    <div class="row p-1">
      <div class="col-3 p-1">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Roles</mat-label>
          <mat-select formControlName="rollId">
            <mat-option *ngFor="let option of roleIdList$ | async" [value]="option.role_id">{{ option.role_name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="form.get('rollId')?.touched && form.get('rollId')?.hasError('required')" class="text-danger">
          <small>This field is required</small>
        </div>
      </div>
      <div class="col-3 p-1">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>UserName</mat-label>
          <input matInput formControlName="userName" />
        </mat-form-field>
        <div *ngIf="form.get('userName')?.touched && form.get('userName')?.hasError('required')" class="text-danger">
          <small>This field is required</small>
        </div>
      </div>
      <div class="col-3 p-1">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>MobileNo</mat-label>
          <input matInput formControlName="mobileNo" maxlength="10" />
        </mat-form-field>
        <div *ngIf="form.get('mobileNo')?.touched && form.get('mobileNo')?.invalid" class="text-danger">
          <small *ngIf="form.get('mobileNo')?.hasError('required')"> This field is required </small>
          <small *ngIf="form.get('mobileNo')?.hasError('pattern')"> Only numbers are allowed </small>
          <small *ngIf="form.get('mobileNo')?.hasError('minlength')"> Mobile number must be at least 10 digits
            long</small>
        </div>
      </div>
      <div class="col-3 p-1">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailId" />
        </mat-form-field>
        <div *ngIf="form.get('emailId')?.touched && form.get('emailId')?.hasError('required')" class="text-danger">
          <small>This field is required</small>
        </div>
        <div *ngIf="form.get('emailId')?.touched && form.get('emailId')?.hasError('email')" class="text-danger">
          <small>Please enter a valid email address</small>
        </div>
        <div *ngIf="form.hasError('atLeastOneRequired') && (form.touched || form.dirty)" class="text-danger">
          <small>Either Mobile No or Email ID is required</small>
        </div>
      </div>
    </div>

    <div class="row p-2">
      <div class="col text-center">
        <button mat-raised-button class="bg-blue text-white me-2" (click)="saveDetails()">Save</button>
      </div>
    </div>
  </form>
</div>