<div>
  <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsDisciplineAthlete"
  style=" height: 500px; display: block">
  </highcharts-chart>
</div>
<div class="mt-3 mt-lg-4">
  <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsDisciplineCoach"
  style=" height: 500px; display: block">
  </highcharts-chart>
</div>
<div class="mt-3 mt-lg-4">
  <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsCategory"
          style=" height: 500px; display: block">
  </highcharts-chart>
</div>