<div class="athlete mt-3 pe-2">
    <div class="text-end">
      <mat-form-field appearance="fill">
        <mat-label>Select Proposal Head</mat-label>
        <mat-select [(ngModel)]="proposalHeadSelectdVal" (valueChange)="changeProposal($event)">
          <mat-option value="IE">International Exposure</mat-option>
          <mat-option value="ICII">International Competition In India</mat-option>
          <!-- <mat-option value="NCC">National Coaching Camp</mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
    <div class="table-responsive mt-3 coach-information-actc my-fund-status-table">
      <table mat-table id="athleteDetailTable" matTableExporter  #exporter="matTableExporter" [dataSource]="coachCashCTCAwardList" matSort class="table-striped w-100">  
        
        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="sln"> s.no </th>
          <td mat-cell *matCellDef="let row"> {{row.sln}} </td>
        </ng-container>
        
        <ng-container matColumnDef="athlete_name">
          <th mat-header-cell *matHeaderCellDef class="text-nowrap" mat-sort-header="athlete_name"> 
            Athlete Name
          </th>
          <td mat-cell *matCellDef="let row"> 
          {{row?.athleteName ? row?.athleteName :'NA'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="training_level">
          <th mat-header-cell *matHeaderCellDef class="text-nowrap" mat-sort-header="training_level"> 
            Training Level
          </th>
          <td mat-cell *matCellDef="let row"> 
          {{row?.trainingLevel ? row?.trainingLevel :'NA'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tournament_name">
          <th mat-header-cell *matHeaderCellDef class="text-nowrap" mat-sort-header="tournament_name"> 
            Tournament Name
          </th>
          <td mat-cell *matCellDef="let row"> 
          {{row?.tournament_name ? row?.tournament_name :'NA'}}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="age_category"> Category</th>
          <td mat-cell *matCellDef="let row">{{row?.age_category ? row.age_category : 'NA'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="fromDate"> Duration </th>
          <td mat-cell *matCellDef="let row" class="text-nowrap">{{row?.fromDate | date:'dd/MM/yyyy'}} - {{row?.toDate | date:'dd/MM/yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="event_name"> Event </th>
          <td mat-cell *matCellDef="let row">{{row?.event_name ? row.event_name : 'NA'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="venue_place"> Venue </th>
          <td mat-cell *matCellDef="let row">{{row?.venue_place ? row?.venue_place : 'NA'}}</td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="position"> Position </th>
          <td mat-cell *matCellDef="let row">{{row?.position ? row.position : 'NA'}}</td>
        </ng-container>

       
        <ng-container matColumnDef="doc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="doc">Achievement Doc </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row?.document; else noDocumentPath">
              <a [href]="fileBaseUrlActc+row?.document" target="_blank" class="btn-view"><mat-icon fontIcon="visibility"></mat-icon></a>
            </ng-container>
            <ng-template #noDocumentPath>NA</ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Coach Verification Report </th>
          <td mat-cell *matCellDef="let row">

            <div *ngIf="row?.status =='0'" class="d-flex ">
              <div class="px-2">
               <button class="btn d-flex btn-success  btn-color pending">
               {{'Pending'}}
           </button>
              </div>
              </div>

            <div *ngIf="row?.status =='1'" class="d-flex ">
              <div class="px-2">
              <button class="btn btn-danger verfied-btn  text-nowrap ">{{'Approved'}}</button>
             </div>
            </div>

                
                <div *ngIf="row?.status =='2'" class="d-flex ">
                  <div class="px-2">
                   <button class="btn d-flex btn-success  btn-color btn-notverified">
                   {{'Rejected'}}
               </button>
                  </div>
                  </div>
          </td>
        </ng-container>

             <ng-container matColumnDef="application_Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="application_Status">DBT Application Status</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row?.status =='2'; else coachVerificationReject">
              <div class="text-center">-</div>
            </ng-container>
            <ng-template #coachVerificationReject>
              <div *ngIf="row.application_Status.toLowerCase()==='approved'">
                <button class="btn btn-success  verfied-btn">{{row.application_Status}}</button>
              </div>
              <div *ngIf="row.application_Status.toLowerCase()==='pending' || row.application_Status.toLowerCase()==='reverted'">
                <button class="btn btn-warning pending">Pending</button>
              </div>
              <div *ngIf="row.application_Status.toLowerCase()==='rejected'">
                <button [title]="row.dbt_remark" class="btn btn-danger btn-notverified">{{row.application_Status}}</button>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="fund_status">
          <th mat-header-cell *matHeaderCellDef class="text-nowrap" mat-sort-header="fund_status">Payment Status </th>
          <td mat-cell *matCellDef="let row">
            <ng-container  *ngIf="row.application_Status.toLowerCase()==='rejected' || row?.status =='2'; else noRejected">
              <div class="text-center">-</div>
            </ng-container>
            <ng-template #noRejected>
                <div *ngIf="row?.dbt_Status==0" class="d-flex ">
                  <div class="px-2">
                    <button class="btn d-flex btn-success  btn-color pending">
                        Pending
                    </button>
                  </div>
                </div>
  
                <div *ngIf="row?.dbt_Status!=0 && row?.dbt_Status !=2"  class="d-flex ">
                  <div class="px-2">
                    <button [title]="row?.dbt_remark"  class="btn btn-danger verfied-btn  text-nowrap ">Credited</button>
                  </div>
                </div>
  
                
                <div *ngIf="row?.dbt_Status===2" class="d-flex ">
                  <div class="px-2">
                   <button [title]="row?.dbt_remark"  class="btn d-flex btn-danger  btn-color btn-notverified">
                      Failed
                   </button>
                  </div>
                </div>
            </ng-template>

            

          </td>
        </ng-container>
   
        
        <tr mat-header-row *matHeaderRowDef="coachCashACTCAwardTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: coachCashACTCAwardTableColumns;"></tr>      
    
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
        </tr>
      </table>     
    </div>
    <mat-paginator [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  <app-loader *ngIf="loader"></app-loader>
  
  
