.athlete-top-row .list{padding: 5px 25px;display: inline-flex;background-color: #8BE2DF;color: #1B6866;border-radius: 2px;font-size: 14px; min-width: 95px;}
.athlete-top-row .list:nth-child(2){background-color: #FFF1E5;color: #BB5905;}
.athlete-top-row .list:nth-child(3){background-color: #FBE5FF;color: #74008A;}

.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}

.border-top .btn-blue{font-size: 14px;padding: 6px;}
.btn-status{background-color: #D4EFD5;border-color: #008205;color: #008205;font-size: 11px;padding: 1px 8px;border-radius: 0;}
.btn-notverified{background-color: #FFC9C9;border-color: #FF0000;color: #FF0000;font-size: 11px;padding: 1px 8px;border-radius: 0;}

.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}

.coach-information .nav-tabs li a{font-weight: bold;font-size: 17px;color: #b1b1b1;}
.coach-information .nav-tabs li:not(:last-child) a{padding-right: 30px;}
.coach-information .nav-tabs li a.active{color: #000000;}

.noDataFound{font-size: 16px;}

.coach-information-actc ::ng-deep .mat-sort-header-container  {
    text-align: center !important;
    justify-content: center !important;
  }
.coach-information-actc ::ng-deep .mat-sort-header:last-child .mat-sort-header-arrow{
    display: none;
}  
  
.coach-information-actc table td{text-align: center;}


.pending{
    background-color:#ffe5cf;
    border: 1px solid #ff7400;
    border-color: #ff7400;
    border-radius: 3px;
    text-transform: uppercase;
    color:#ff7400;
    font-size: 11px;
    padding: 1px 8px;
    cursor: default;
}

.pending:hover{
    background-color:#ff9003;
    color: #fff;
  } 


  .verfied-btn {
    background-color: #ccffec;
    border: 1px solid;
    border-color: #0e8b5c;
    border-radius: 3px;
    text-transform: uppercase;
    color:darkgreen;
    font-size: 11px;
    padding: 1px 8px;
    cursor: default;

  }
  .verfied-btn:hover{
    background-color: darkgreen;
    border: 1px solid darkgreen;
  }

  .btn-notverified{
    background-color: #FFC9C9;
    border-color: #FF0000;
    color: #FF0000;
    font-size: 11px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 1px 8px;
    cursor: default;
}

.btn-notverified:hover{
    background-color: #FF0000;
    border: 1px solid #FF0000;
  }


  .my-fund-status-table table th:nth-child(11){
    min-width: 130px;
  }