@media(min-width:768px){
    ::ng-deep .offcanvas-sidebarPanel{display: none;}
    ::ng-deep .offcanvas-sidebarBackdrop{display: none;}
 }
 
 ::ng-deep .offcanvas-sidebarPanel{background: #1F60AB;max-width: 240px;}
 ::ng-deep .offcanvas-sidebarPanel .btn-close{outline: none;
     box-shadow: none;
     background: none;
     color: #fff;
     width: auto;padding: 0;height: auto;}
 ::ng-deep .offcanvas-sidebarPanel .btn-close svg{width: 30px;height: 30px;}
 .offcanvas-body .navbar-nav li a:hover,.offcanvas-body .navbar-nav li a.active{background-color: #fff;color: #000;}
.offcanvas-body .navbar-nav li a:hover i::before,.offcanvas-body .navbar-nav li a.active i::before{color: #1F60AB;}
 @media(max-width:767px){
     .dashboard-menu{display: none !important;}
     ::ng-deep .offcanvas-sidebarPanel ul{}
     ::ng-deep .offcanvas-sidebarPanel ul li{margin-bottom: 8px;}
     ::ng-deep .offcanvas-sidebarPanel ul li i{margin-right: 10px;}
     ::ng-deep .offcanvas-sidebarPanel ul li i::before {
         color: #fff;
         font-size: 15px;
     }
     ::ng-deep .offcanvas-sidebarPanel ul li a{padding: 12px;
         display: block;
         text-decoration: none;
         color: #fff;
         font-size: 12px;
         border-radius: 3px;
         text-transform: uppercase;
         letter-spacing: 1.1px;
         display: flex;
         align-items: center;font-family: 'Lato', sans-serif;}
         ::ng-deep .offcanvas-sidebarBackdrop.show {
            opacity: .8;
        }
 }