<div class="modal-body kitting-modal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-football-line"></i></span> Sport & Kitting Details</h3>
      <button *ngIf="readonlyEdit" href="javascript:void(0)" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button>
    </div>
    <form [formGroup]="kittingDetailsForm">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
            <mat-label>Shoes Size</mat-label>
            <mat-select formControlName="shoe_size">
              <mat-option [value]="data.value" *ngFor="let data of shoesListData">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
            <mat-label>Blazer Size</mat-label>
            <mat-select formControlName="blazer_size">
              <mat-option [value]="data.value" *ngFor="let data of blazerListData">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
            <mat-label>Tshirt Size</mat-label>
            <mat-select formControlName="tshirt_size">
              <mat-option [value]="data.value"  *ngFor="let data of tshirtListData">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
            <mat-label>Pant Size</mat-label>
            <mat-select formControlName="pant_size">
              <mat-option [value]="data.value" *ngFor="let data of pantListData">{{data.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="col-sm-6 col-lg-4 mb-3">
          <mat-form-field appearance="fill" class="w-100" (click)="picker.open()">
            <mat-label>Kitting Updated Date</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="kitting_updated_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
        </div> -->
      </div>
      <div class="row g-0">
        <hr class="mt-1" />
        <div class="col text-center">
          <button type="button" class="btn btn-blue px-lg-4" (click)="save()" [disabled]="readonlyEdit">Save</button>
        </div>
      </div>
    </form>
    
  </div>
  <app-loader *ngIf="loader"></app-loader>
  <app-loader *ngIf="loaderShoesSize"></app-loader>
  <app-loader *ngIf="loaderblazerSize"></app-loader>
  <app-loader *ngIf="loadertshirtSize"></app-loader>