
<div class="modal-body tagcommonModal language-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
  <h3>
    <!-- <span class="titleIcon"><i class="icon-kicAttendanceHistory"></i></span> -->
     {{cardData.name ? cardData.name : 'N/A'}}
  </h3>
  </div>
  <hr />
  <div class="state-wise-tabs container-fluid">
    <!-- <div class="text-center"><img src="../assets/images/coming-soon.png" alt="" class="w-50"></div> -->
    <mat-tab-group  [selectedIndex]="activeIndexTab">
      <mat-tab label="ACADEMY" id="academy">
        <ng-container>
          <!-- <app-stakeholder-dashboard-card-summary-modal-academy *ngIf="!loader" [academyData]="academyTabData" ></app-stakeholder-dashboard-card-summary-modal-academy> -->
           <app-stakeholder-dashboard-rc-modal-academy *ngIf="!loader" [academyData]="academyTabData"></app-stakeholder-dashboard-rc-modal-academy>
        </ng-container>
      </mat-tab>
  
      <mat-tab label="ATHLETE" id="athlete">
        <ng-container>
           <app-stakeholder-dashboard-rc-modal-athlete *ngIf="!loader" [athleteData]="athleteTabData"></app-stakeholder-dashboard-rc-modal-athlete>
        </ng-container>
      </mat-tab>
  
      <mat-tab label="COACH" id="coach">
        <ng-container>
           <app-stakeholder-dashboard-rc-modal-coach *ngIf="!loader" [coachData]="coachTabData"></app-stakeholder-dashboard-rc-modal-coach>
        </ng-container>
      </mat-tab>
  
      <mat-tab label="SPORTS SCIENTIST" id="sport_scientist">
        <ng-container>
          <app-stakeholder-dashboard-rc-modal-sport-scientist *ngIf="!loader" [sportScientistData]="sportScientistTabData"></app-stakeholder-dashboard-rc-modal-sport-scientist>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>  
