<div class="academySignin">
  <div class="container">
      <div class="card border-0">
          <div class="text-center mb-3 mb-md-4">
              <h1 class="mb-lg-3 mb-xl-4">Academy Registration</h1>
              <!-- <h5>Welcome ! Please register to your account.</h5> -->
          </div>
          <form [formGroup]="generateNsrsIdForm">
            <div class="row">
                <div class="col-sm-12 mb-3">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Name of the Academy</mat-label>
                    <input matInput formControlName="nameofAcademy">
                  </mat-form-field>
                  <div *ngIf="f['nameofAcademy'].touched && f['nameofAcademy'].invalid" class="text-danger">
                    <div *ngIf="f['nameofAcademy'].errors && f['nameofAcademy'].errors['required']">
                      Name of Academy Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="academyEmail" [readonly]="emailFieldDisabled">
                  </mat-form-field>
                  <div *ngIf="f['academyEmail'].touched &&  f['academyEmail'].invalid" class="text-danger">
                    <div *ngIf="f['academyEmail'].errors && f['academyEmail'].errors['required']">
                        Email is Required
                    </div>
                    <small *ngIf="f['academyEmail'].errors && f['academyEmail'].errors['email']">
                      Invalid Email
                    </small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Phone No</mat-label>
                    <input matInput formControlName="academyPhoneNo" [maxlength]="10" [readonly]="mobileFieldDisabled">
                  </mat-form-field>
                  <div *ngIf="f['academyPhoneNo'].touched && f['academyPhoneNo'].invalid" class="text-danger">
                    <div *ngIf="f['academyPhoneNo'].errors && f['academyPhoneNo'].errors['required']">
                        Phone No Required
                    </div>
                    <small *ngIf="f['academyPhoneNo'].errors && f['academyPhoneNo'].errors['pattern']">
                      Invalid Phone No
                    </small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3" *ngIf="stateList$ | async">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="academyState">
                      <mat-option *ngFor="let data of stateListData" [value]=data.state_id>{{data.state_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['academyState'].touched && f['academyState'].invalid" class="text-danger">
                    <div *ngIf="f['academyState'].errors && f['academyState'].errors['required']">
                      State Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field class="example-full-width w-100" appearance="fill" (click)="yearEstablish.open()" appYearFormat>
                    <mat-label>Year of Establishment</mat-label>
                    <input matInput [matDatepicker]="yearEstablish" formControlName="academyYearofEstablish" [max]="maxDate" required>
                    <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
                    <mat-datepicker #yearEstablish startView="multi-year" 
                      (yearSelected)="handleYearSelected($event,yearEstablish)">
                    </mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="f['academyYearofEstablish'].touched && f['academyYearofEstablish'].invalid" class="text-danger">
                    <div *ngIf="f['academyYearofEstablish'].errors && f['academyYearofEstablish'].errors['required']">
                      Year of Establishment Required
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Entity</mat-label>
                    <mat-select formControlName="entity">
                      <mat-option>Entity</mat-option>
                      <mat-option>Entity</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['entity'].touched && f['entity'].invalid" class="text-danger">
                    <div *ngIf="f['entity'].errors && f['entity'].errors['required']">
                      Entity Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                      <mat-option>Category</mat-option>
                      <mat-option>Category</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['category'].touched && f['category'].invalid" class="text-danger">
                    <div *ngIf="f['category'].errors && f['category'].errors['required']">
                      Category Required
                    </div>
                  </div>
                </div> -->
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="passwordhide ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="passwordhide = !passwordhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordhide">
                      <mat-icon>{{passwordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div *ngIf="f['password'].touched &&  f['password'].invalid" class="text-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">
                        Password is Required
                    </div>
                    <small *ngIf="f['password'].errors && f['password'].errors['pattern']">Minimum eight characters, at least one uppercase letter, one lowercase letter, 
                        one number and one special character</small>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input (paste)="false" matInput [type]="confirmPasswordhide ? 'password' : 'text'" formControlName="confirmPassword">
                    <button type="button" mat-icon-button matSuffix (click)="confirmPasswordhide = !confirmPasswordhide"  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordhide">
                      <mat-icon>{{confirmPasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="text-danger" *ngIf="(f['confirmPassword'].dirty || f['confirmPassword']?.touched)  && generateNsrsIdForm.errors?.['notMatched']">Password and Confirm Password must be match</div>
                  <div *ngIf="f['confirmPassword']?.touched && f['confirmPassword']?.invalid">
                  <div class="text-danger" *ngIf="f['confirmPassword'].errors?.['required'] && !generateNsrsIdForm.errors?.['notMatched']">
                  This field is required
                  </div>
                  </div>
                  <!-- <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="text-danger">
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors?.['required']">Confirm Password is required.</div>
                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors?.['confirmedValidator']">Password and Confirm Password must be match.</div>
                  </div> -->
                </div>

                <div class="col-sm-12 mb-3">
                  <mat-form-field appearance="fill" class="w-100" *ngIf="SportList$ | async">
                    <mat-label>Discipline</mat-label>
                    <mat-select [formControl]="academyDiscipline" multiple >
                      <mat-option *ngFor="let data of SportListData" [value]="data.sport_detail_id">{{data.sport_display_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['academyDiscipline'].touched && f['academyDiscipline'].invalid" class="text-danger">
                    <div *ngIf="f['academyDiscipline'].errors && f['academyDiscipline'].errors['required']">
                      Discipline Required
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="academyType"  >
                      <mat-option *ngFor="let sport of dropdownList" [value]="sport.item_id">{{sport.item_text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="generateNsrsIdForm.controls['academyDiscipline'].touched && generateNsrsIdForm.controls['academyDiscipline'].invalid" class="text-danger">
                    <div *ngIf="generateNsrsIdForm.controls['academyDiscipline'].errors && generateNsrsIdForm.controls['academyDiscipline'].errors['required']">
                      Type Required
                    </div>
                  </div>
                </div> -->
                <div class="col-sm-12 mb-3">
                    <button type="button" (click)="generateNsrsId()" class="btn btn-blue w-100">GENERATE NSRS ID</button>
                </div>
            </div>
        </form>
      </div>      
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>