<!-- <app-kic-monitoring></app-kic-monitoring> -->
<div class="my-modal">
  <div class="container-fluid">
    <div class="modal-body">
      <div class="row border-bottom">
        <div class="col">
          <h4>Strength Details</h4>
        </div>
        <div class="col-auto">
          <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close"
            aria-label="Close"></button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12 my-2">

        </div>
        <div class="col-lg-3 col-md-4 col-12 my-2"></div>
        <div class="col-lg-3 col-md-4 col-12 my-2"></div>
      </div>

      <div class="row my-2 my-custom-man-power-table">
        <div class="table-responsive position-relative">
          <!-- <div class="mat-elevation-z8"> -->
          <table [dataSource]="dataSource" mat-table matSort>
            <!-- S.NO. -->
            <ng-container matColumnDef="sno">
              <th *matHeaderCellDef mat-header-cell>S.NO.</th>
              <td *matCellDef="let row; let i = index" mat-cell>
                {{ strengthDetailPaginator.pageIndex == 0 ? i + 1 : 1 + i + strengthDetailPaginator.pageIndex *
                strengthDetailPaginator.pageSize }}
              </td>
            </ng-container>

            <!-- Designation -->
            <ng-container matColumnDef="designation">
              <th *matHeaderCellDef mat-header-cell>DESIGNATION</th>
              <td *matCellDef="let row" mat-cell>
                <ng-container *ngIf="userDetails.role_id === KicUsersRoleId.hoAdmin">
                  <a href="javascript:void(0)" style="color: #3f51b5; text-decoration: underline"
                    (click)="updateKisceStrengthModal(row)">
                    {{ row.designation }}
                  </a>
                </ng-container>
                <ng-container
                  *ngIf="userDetails.role_id === KicUsersRoleId.rcAdmin || userDetails.role_id === KicUsersRoleId.stateAdmin">
                  {{ row.designation }}
                </ng-container>


              </td>
            </ng-container>

            <!-- Candidate Name -->
            <ng-container matColumnDef="sanctionStrength">
              <th *matHeaderCellDef mat-header-cell>SANCTION STRENGTH</th>
              <td *matCellDef="let row" mat-cell>
                {{ row.sanctioned_Strength }}
              </td>
            </ng-container>

            <!-- Gender -->
            <ng-container matColumnDef="currentStrength">
              <th *matHeaderCellDef mat-header-cell>CURRENT STRENGTH</th>
              <td *matCellDef="let row" mat-cell>
                {{ row.current_Strength }}
              </td>
            </ng-container>

            <!-- Action -->
            <!-- <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell>ACTION</th>

                <td *matCellDef="let row; let i = index" mat-cell>
                  <button  (click)="toggleEdit(row, i)" type="button" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>

                </td>
              </ng-container> -->

            <tbody>
              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; let i = index; columns: displayedColumns" mat-row></tr>
            </tbody>
          </table>

          <mat-paginator #strengthDetailPaginator [pageSizeOptions]="[10,50,100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <!-- <div class="row align-items-center justify-content-end mt-2">
          <div class="col-auto">
            <button class="btn btn-lightblue">Add</button>
          </div>
        </div> -->

      <!-- <div class="save-data my-4">
        <button type="button" class="btn btn-lightwhite px-3 ms-2 text-uppercase">Cancel</button>
        <button type="submit" class="btn btn-lightblue px-3 ms-2 text-uppercase">Save</button>
      </div> -->


      <!-- <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="row inner-tab-group mb-3">
                    <div class="col-12 p-3 py-2">

                    </div>
                </div>
            </div>
        </div> -->
    </div>
  </div>
</div>