<!-- {{athleteData | json}} -->

<div class="athleteAction-modal">
    <div class="modal-body">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-History"></i></span> History Of Sports</button>
        </div>
      </nav>
  
  
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="athletetag">
          <div class="d-flex justify-content-between align-items-center my-2">
            <h5></h5>
            <!-- <button class="btn border px-3 text-uppercase addmore" (click)="newAddMultiTagArray()">ADD MORE +</button> -->
            <button class="btn border px-3 text-uppercase addmore" (click)="addMore()">ADD MORE +</button>
          </div>
          <form [formGroup]="historySportForm">
            <div class="table-responsive mt-3">
              <table class="table table-bordered">
                <tbody formArrayName="historyArrayControl">
                  <tr  *ngFor="let item of historyArray.controls; let i= index" [formGroupName]="i" >
                    <td>{{i+1}}</td>
                    <td>
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Training Center</mat-label>
                        <input matInput formControlName="training_center">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field  class="w-100" appearance="fill">
                        <mat-label>Training Center KID NO</mat-label>
                        <input matInput formControlName="training_center_nsrsid">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field  class="w-100" appearance="fill">
                        <mat-label>Coach KID</mat-label>
                        <input matInput formControlName="coach_nsrsid">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field  class="w-100" appearance="fill">
                        <mat-label>Coach</mat-label>
                        <input matInput formControlName="coach">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100" (click)="picker1.open()">
                        <mat-label>From Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="from_date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100"  (click)="picker2.open()">
                        <mat-label>To Date</mat-label>
                        <!-- <input matInput [matDatepicker]="picker2" [min]="addMultiTagArray.controls[i].value?.date_of_joining" formControlName="valid_upto"> -->
                        <input matInput [matDatepicker]="picker2" formControlName="to_date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <a href="javascript:void(0)"  (click)="removeRow(i)" *ngIf="this.historyArray.length>1"><i class="fa-solid fa-trash-can text-danger"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
                <button type="button" class="btn btn-lightblue me-2">Save</button>
                <!-- <button type="button" [disabled]="!this.multiAthleteTagForm.valid" (click)="submitMultiTagged()" class="btn btn-lightblue me-2">Save</button> -->
                <!-- <button type="button"  (click)="activeModal.dismiss('Cross click')" class="btn readmore border px-3">Cancel</button> -->
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-loader *ngIf="loader"></app-loader> -->