<div class="proposal-detail-modal container-fluid">
<div class="row aling-items-center py-2 border-bottom ">
  <div class="col heading">PROPOSAL DETAILS</div>
  <div class="col-auto">   <button type="button" class="btn-close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')"></button></div>
</div>
<div class="row row-2 py-2 ">
  <div class="col-lg col-md-6 ">PROPOSAL ID: {{this.eoiProposalData.proposal_Id}}</div>
  <div class="col-lg col-md-6 text-center border-start border-end">NSRS ID: {{this.eoiProposalData.nsrS_ID}}</div>
  <div class="col-lg col-md-6 ">ACADEMY NAME: {{this.eoiProposalData.academyName}}</div>
  <div class="col-lg-auto col-md-6">
    <button class="btn btn-lightblue gray-color" (click)="resdentialChange(true)">ADD+</button>
  </div>
</div>
<div class="row py-2">
  <form [formGroup]="disciplineForm">
    <div class="table-responsive">
      <table class="table table-bordered table-striped gray-table">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Sports Discipline</th>
            <th>Residency Status</th>
            <!-- <th>Proposal Status</th> -->
            <!-- <th>Date of Approval</th> -->
            <th>Accreditation Sought</th>
            <th>Is TOPS?</th>
            <!-- <th>Remarks</th> -->
          </tr>
        </thead>
        <tbody formArrayName="disciplineItems">
          <tr *ngFor="let item of addMultiTagArray.controls; let i= index" [formGroupName]="i">
            <td>
              {{i+1}}
            </td>
            <td>
              <mat-form-field appearance="fill" class="example-full-width w-100" >
                <mat-label>Select Sport Discipline</mat-label>
                <!-- <mat-select #sportId formControlName="sport_detail_id" (selectionChange)="sportIdChange(sportId.value,i)"> -->
                <mat-select #sportId formControlName="sport_detail_id" >
                  <mat-option *ngFor="let sport of disciplineArray" [value]="sport.sport_detail_id">{{sport.sport_name}}</mat-option>
                
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="example-full-width w-100" >
                <mat-label>Select Residency Status</mat-label>
                <!-- <mat-select  #resId formControlName="residential_type" (selectionChange)="resTypeChange(sportId.value,resId.value,i)" > -->
                <mat-select  #resId formControlName="residential_type" >
                  <!-- <mat-option value="residential">Residential</mat-option>
                  <mat-option value="nonResidential">Non-Residential</mat-option> -->
                  <mat-option *ngFor="let status of resdentialOptions[i]" [value]="status.key">{{status.value}}</mat-option>
                
                </mat-select>
              </mat-form-field>
            </td>
            <!-- <td>
              <mat-form-field appearance="fill" class="example-full-width w-100" >
                <mat-select formControlName="approval_status">
                  <mat-option value="Approved">Approved</mat-option>
                  <mat-option value="NotApproved">Not-Approved</mat-option>
                
                </mat-select>
              </mat-form-field>
              
            </td> -->
            <!-- <td>
              <mat-form-field appearance="fill" class="example-full-width w-100"  (click)="picker1.open()">
                <input #dateOfProcurement matInput formControlName="approval_Date" [matDatepicker]="picker1"  (keypress)="false"/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              
            </td> -->
            <td>
              <mat-form-field appearance="fill" class="example-full-width w-100" >
                <mat-label>Select Accreditation Sought</mat-label>
                <mat-select formControlName="ncoe_type">
                  <!-- <mat-option *ngFor="let status of equipmentStatusList" [value]="status.id">{{status.value}}</mat-option> -->
                  <mat-option value="NCOE">NCOE</mat-option>
                  <mat-option value="Other">Others</mat-option>
                
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="example-full-width w-100" >
                <mat-label>Select Is Tops?</mat-label>
                <mat-select formControlName="is_tops">
                  <!-- <mat-option *ngFor="let status of equipmentStatusList" [value]="status.id">{{status.value}}</mat-option> -->
                  <mat-option value=1>Yes</mat-option>
                  <mat-option value=0>No</mat-option>
                
                </mat-select>
              </mat-form-field>
            </td>
            <!-- <td>
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <input matInput formControlName="remarks">
              
              </mat-form-field>
            </td> -->
            <td>
              <a href="javascript:void(0)"  (click)="removeAddMultiTagArray(i)" *ngIf="this.addMultiTagArray.length>1"><i class="fa-solid fa-trash-can text-danger"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="row py-2">
  <div class="col heading">UPLOAD/VIEW SUPPORTED DOCUMENTS</div>
  <div class="col-auto">
    <button class="btn btn-lightblue gray-color">DOWNLOAD EOI FORM 
      <!-- <span class="ms-1"><img src="" alt="download img" class="img-fluid"></span> -->
      <!-- <a href="assets/pdf/accrediation_form.pdf" target="_self" class="btn btn-blue py-2 px-4 w-100" download><i class="fa-solid fa-download"></i></a> -->
      <a href="assets/pdf/accrediation_form.pdf" target="_self" class="mx-1" style="font-size: large;color:white;" download><i class="fa-solid fa-download"></i></a>
    </button>
  </div>
</div>
<div class="row py-2">
  <form [formGroup]="documentsForm">
    <div class="table-responsive">
      <table class="table table-bordered table-striped gray-table">
        <thead>
          <tr>
            <th class="sno-wid">S.NO</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="documentsItems">
          <tr *ngFor="let item of addDocumentMultiTagArray.controls; let i= index" [formGroupName]="i">
            <td>{{i+1}}.</td>
            <td>{{item.value.doc_Description}}</td>
            <td>
              <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center custom-mobile-wid-btn-upload">
                <div class="inputfileLevel position-relative">
                  <span class="text-uppercase uploadLevel">UPLOAD</span>
               
                  <input type="file" class="inputUpload" #fileInput (change)="uploadDocuments(fileInput.files,i)">
                  <!-- <input type="file" class="inputUpload" #ADDAthleteMultiAddFileInput  > -->

                </div>
                <div *ngIf="addDocumentMultiTagArray.controls[i].get('docpath')?.value">
                  <a [href]="fileBaseUrl + addDocumentMultiTagArray.controls[i].get('docpath')?.value" target="_blank">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                </div>
              
              </div>
              <div class="text-danger" *ngIf="addDocumentMultiTagArray.controls[i].get('doctype')?.value.toLowerCase()=='PD'.toLowerCase() && addDocumentMultiTagArray.controls[i].get('docpath')?.value==''">
                Required
              </div>
            </td>
          </tr>
          <!-- <tr>
            <td>2.</td>
            <td>Attested legible copies of Registration Certificate, Aims & Objects, Overview and achievements of Academy, Copy of licenses and Memorandum of Association (Wherever applicable).</td>
            <td>test</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Audited copies of Balance Sheets for the last 03 years (whatever applicable.)</td>
            <td>test</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Details of Achievements of trainees of the Academy in the last 3 years.</td>
            <td>test</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Self attested Copies/Certificates of documents regarding the technical qualification possessed by the individual/Trainer/Coach in the particular game.</td>
            <td>test</td>
          </tr>
          <tr>
            <td>6.</td>
            <td>Self attested copies of documents regarding the participation of the individual at international/national/state level</td>
            <td>test</td>
          </tr>
          <tr>
            <td>7.</td>
            <td>Upload Accreditation Form</td>
            <td>test</td>
          </tr>
          <tr>
            <td>8.</td>
            <td>Proposal Details</td>
            <td>test</td>
          </tr>
          <tr>
            <td>9.</td>
            <td>EOI</td>
            <td>test</td>
          </tr>
          <tr>
            <td>10.</td>
            <td>Inspection/ Physical Verification Report.</td>
            <td>test</td>
          </tr>
          <tr>
            <td>11.</td>
            <td>Accreditation Letter to Academy.</td>
            <td>test</td>
          </tr>
          <tr>
            <td>12.</td>
            <td>MOU</td>
            <td>test</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="row py-2">
  <div class="d-flex justify-content-between">
    <div>
      <div class="col-auto">
        <button class="btn btn-lightblue gray-color" (click)="saveAsDraft()">Save As Draft </button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div class="col-auto mx-1">
        <button class="btn btn-lightblue gray-color" (click)="submit()">Submit </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-lightblue bg-trans" (click)="_activeModal.dismiss('Cross click')">Cancel </button>
      </div>
    </div>
  </div>
 
</div>
</div>


<app-loader *ngIf="mainLoader || loader"></app-loader>