<div class="modal-body tagcommonModal profileModal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3><span class="titleIcon"><i class="icon-personal-information-18"></i></span> ADDRESS</h3>
    <a *ngIf="readonlyEdit" href="javascript:void(0)" (click)="editButton()" class="btn btn-blue py-1 me-md-3 me-xl-4">EDIT</a>
  </div>
  <form [formGroup]="addressForm">
    <div class="row">
      <!-- <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Relation Type</mat-label>
          <mat-select>
            <mat-option>C/O</mat-option>
            <mat-option>D/O</mat-option>
            <mat-option>S/O</mat-option>
          </mat-select>
        </mat-form-field> 
      </div> -->
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100 " [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>ADDRESS</mat-label>
          <input matInput formControlName="address_name" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>House Number</mat-label>
          <input matInput formControlName="address_line1" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>Street</mat-label>
          <input matInput formControlName="address_street" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>Landmark</mat-label>
          <input matInput formControlName="address_landmark" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>Locality</mat-label>
          <input matInput formControlName="address_area" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <!-- <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>STATE</mat-label>
          <input matInput formControlName="address_state_id" [readonly]="readonlyEdit">
        </mat-form-field> -->
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>STATE</mat-label>
          <mat-select formControlName="address_state_id" (valueChange)="onChangeState($event)" [disabled]="readonlyEdit">
            <mat-option *ngFor="let data of stateListData" [value]="data.id">{{data.state_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>DISTRICT</mat-label>
          <mat-select formControlName="address_district_id" (valueChange)="onChangeDistrict($event)" [disabled]="readonlyEdit">
            <mat-option *ngFor="let data of districtListData" [value]="data.districtId">{{data.district_Name}}</mat-option>
          </mat-select>
        </mat-form-field>               
        
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>BLOCK</mat-label>
          <mat-select formControlName="address_block_id" [disabled]="readonlyEdit">
            <mat-option *ngFor="let data of blockListData" [value]="data.blockId">{{data.block_Name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="addressForm.get('address_block_id')?.touched && addressForm.get('address_district_id')?.value === null || ''" class="text-danger">
          <small>Select District</small>
        </div> 
      </div>
      <!-- <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>City</mat-label>
          <mat-select formControlName="address_city_id" [disabled]="readonlyEdit">
            <mat-option *ngFor="let data of cityListData" [value]="data.id">{{data.city_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" class="w-100" appearance="fill">
          <mat-label>PIN CODE</mat-label>
          <mat-select formControlName="address_pincode_id" [disabled]="readonlyEdit">
            <mat-option *ngFor="let data of pincodeListData" [value]="data.pinCodeId">{{data.pinCode}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="addressForm.get('address_pincode_id')?.touched && addressForm.get('address_district_id')?.value === null || ''" class="text-danger">
          <small>Select District</small>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>CONTACT PERSON</mat-label>
          <input matInput formControlName="contact_person_name" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>DESIGNATION</mat-label>
          <input matInput formControlName="contact_person_designation" [readonly]="readonlyEdit">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>EMAIL ID</mat-label>
          <input type="email" matInput formControlName="email_id" [readonly]="readonlyEdit">
        </mat-form-field>
        <div *ngIf="addressForm.controls['email_id'].touched || addressForm.controls['email_id'].dirty &&  addressForm.controls['email_id'].invalid" class="text-danger">
          <!-- <div *ngIf="addressForm.controls['email_id'].errors && addressForm.controls['email_id'].errors['required']">
              Email is Required
          </div> -->
          <small *ngIf="addressForm.controls['email_id'].errors && addressForm.controls['email_id'].errors['email']">
            Invalid Email
          </small>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>MOBILE NO.</mat-label>
          <input matInput formControlName="mobile_number" [minlength]="10" [maxlength]="10" [readonly]="readonlyEdit">
        </mat-form-field>
        <div class="text-danger" *ngIf="(addressForm.get('mobile_number')?.dirty || addressForm.get('mobile_number')?.touched)  &&  addressForm.errors?.['Matched']">Mobile and alternate mobile can't be same</div>
        <!-- <div *ngIf="addressForm.get('mobile_number')?.touched && addressForm.get('mobile_number')?.invalid">
        <div class="text-danger" *ngIf="addressForm.get('mobile_number')?.errors?.['required'] && !addressForm.errors?.['Matched']">
        This field is required
        </div>
        </div> -->
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" [ngClass]="{'readonlyBasicDetailsInput':readonlyEdit}" appearance="fill">
          <mat-label>ALTERNATE MOBILE NO.</mat-label>
          <input matInput formControlName="contact_person_alt_mobile_no" [minlength]="10" [maxlength]="10" [readonly]="readonlyEdit">
        </mat-form-field>
        <div class="text-danger" *ngIf="(addressForm.get('contact_person_alt_mobile_no')?.dirty || addressForm.get('contact_person_alt_mobile_no')?.touched)  && addressForm.errors?.['Matched']">Mobile and alternate mobile can't be same</div>
        <!-- <div *ngIf="addressForm.get('contact_person_alt_mobile_no')?.touched && addressForm.get('contact_person_alt_mobile_no')?.invalid">
        <div class="text-danger" *ngIf="addressForm.get('contact_person_alt_mobile_no')?.errors?.['required'] && !addressForm.errors?.['Matched']">
        This field is required
        </div>
        </div> -->
      </div>
      
      <!-- <div class="col-sm-12">
        <div class="or text-center">
          <span>OR</span>
        </div>
        <div class="geo-coordinate text-center">
          <span>ENTER GEO COORDINATES</span>
        </div>
      </div> -->

      <!-- <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Enter Latitude</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Enter Longitude</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Enter Location</mat-label>
          <input matInput>
        </mat-form-field>
      </div> -->
    </div>
    <div>
      <button  *ngIf="!readonlyEdit" type="button" (click)="saveAcademyAddress()" class="btn btn-blue px-lg-4 w-100">Submit</button>
    </div>
  </form>
  
</div>

<app-loader *ngIf="mainLoader"></app-loader>
<app-loader *ngIf="mainLoaderState"></app-loader>