.count-slider-carousel{padding: 0 40px;}
.count-slider-carousel .owl-prev {position: relative}
.count-slider-carousel ::ng-deep .owl-theme .owl-nav [class*=owl-] {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 32px;
height: 32px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
border: 1px solid #D1D1D1;
color: #000;
margin: 0
}

.count-slider-carousel ::ng-deep .owl-theme .owl-nav .owl-prev {
left: -40px
}

.count-slider-carousel ::ng-deep .owl-theme .owl-nav .owl-next {
right: -40px
}
.count-slider-carousel .totAthlete{width: 100%;padding: 1.5em;background-color: #924BF0;
border-radius: 6px;}
.count-slider-carousel .tabsCount{text-align: center;width: 100%;padding: 1.2em;color: white;background-color: #4B1098;
border-radius:6px;min-width: 100px;}
.count-slider-carousel.tabsCount{background-color: #4B1098;}
.count-slider-carousel h4{font-size: 14px;color: #fff;margin-bottom: 0;text-transform: uppercase;}
.count-slider-carousel  .iconBox span{font-size: 31px;}
.count-slider-carousel .box2{background-color: #00D0C2;}
.count-slider-carousel .box3{background-color: #20599B;}
.count-slider-carousel .box4{background-color: #4B71F0;}
.count-slider-carousel .tabsCount2{background-color: #008A80;}
.count-slider-carousel .tabsCount3{background-color: #103B6E;}
.count-slider-carousel .tabsCount4{background-color: #294CC1;}


.regProfile .item{display: flex;}
.regProfile .item a:not(:last-child){margin-right: 10px;}
.regProfile .item .card{padding: 5px 15px;border-color: #1F60AB;text-decoration: none;flex-direction: revert;align-items: center;
justify-content: center;background-color: #1F60AB;color: #fff}
.regProfile .item .iconbox{color: #1E5FAA;font-size: 16px;margin-right: 8px;}
.regProfile .item .iconbox i::before{color: #fff;}
.regProfile .item h3{font-size: 13px;font-weight: 600;text-transform: uppercase;}
.regProfile .item .icon-football-line{font-size: 18px;}

.profile-title select{max-width: 90px;font-size: 11px;-webkit-appearance: auto;appearance: auto;box-shadow: none;}
.profile-title h5{font-size: 16px;font-weight: bold;}
.profile-title span{background-color: #1F60AB;padding: 3px 8px 1px;border-radius: 3px;font-size: 12px;}
.achievement-row .table{font-size: 14px;}
.achievement-row .table tr td{font-weight: 600;}
.achievement-row .leftcol .table tr th{background-color: #EEF6FF;}
.achievement-row .leftcol .table tr th:first-child{color: #1F60AB;}
.achievement-row .leftcol .table tr th:not(:first-child),.achievement-row .leftcol .table tr td:not(:first-child){text-align: center;}
.achievement-row .rightcol .table tr th{background-color: #FFEEEE;}
.achievement-row .rightcol .table tr th:last-child{text-align: center;}
.achievement-row .rightcol .table tr td:not(:first-child){text-align: center;}
.table-responsive{max-height: 240px;}
.table-responsive thead{position: sticky;top: -0.5px;}
.noDataFound{font-size: 16px;}

.highcharts-legend-item.highcharts-column-series.highcharts-color-1.highcharts-series-1{display: none !important;}

@media(max-width:991.8px){
    .sport-science-profile .col-lg-5.border-start,.achievement-row .col-lg-5.border-start{border: 0 !important;}
}

