<div class="india-map-wrapper" [ngClass]="{'d-none':loader,'d-block':!loader}">
    <div class="india-map-container w-100 d-flex justify-content-around">
        <div class="density-lable">
            <div class="lable-1 d-flex">
                <p class="rect-1 me-2 p-0 "></p>KIC per District > 1
            </div>
            <div class="lable-2 d-flex">
                <p class="rect-2 me-2 p-0 "></p>KIC per District > 0.8
            </div>
            <div class="lable-3 d-flex">
                <p class="rect-3 me-2 p-0 "></p>KIC per District > 0.5
            </div>
            <div class="lable-4 d-flex">
                <p class="rect-4 me-2 p-0 "></p>KIC per District < 0.5
            </div>
        </div>
        <highcharts-chart *ngIf="isShowMap" id="container" [Highcharts]="highcharts" [constructorType]="type"
            [options]="chartOptions" style="width: 60%; height: 700px; display: block">
        </highcharts-chart>
    </div>
</div>

<div *ngIf="loader" class="loader d-flex align-items-center justify-content-center" style="height: 400px;">
    <app-page-loader [show]="loader"></app-page-loader>
</div>