<div class="row profile-row">
  <div class="col-md-4 col-sm-6 item mt-3">
    <a (click)="openSportsSpecificEducationModal()" class="card text-center">
      <span class="icon-box"><i class="fa-solid fa-award"></i></span>
      <h4>SPORTS SPECIFIC EDUCATION</h4>
    </a>
  </div>
    <div class="col-md-4 col-sm-6 item mt-3">
      <a (click)="openExperienceNationalCampModal()" class="card text-center">
        <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="camping"></mat-icon></span>
        <h4>Experience in national Camp</h4>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 item mt-3">
      <a (click)="openForeignExposureModal()" class="card text-center">
        <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="diversity_3"></mat-icon></span>
        <h4>Foreign exposure with national team</h4>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 item mt-3">
      <a (click)="openBestAchievementModal()" class="card text-center">
        <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="stars"></mat-icon></span>
        <h4>Achievement</h4>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 item mt-3">
      <a (click)="openAwardsModal()" class="card text-center">
        <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="rewarded_ads"></mat-icon></span>
        <h4>Awards Received</h4>
      </a>
    </div>
  </div>