
<mat-dialog-content class="text-center">
  <div align="end">
    <div class="closeIcon"><mat-icon fontIcon="close"  [mat-dialog-close]="false"></mat-icon></div>
  </div>
  <div class="priority-icon">
    <mat-icon fontIcon="priority_high"></mat-icon>
  </div>
  <h5>No further changes will be allowed after the step, Please confirm to continue!</h5>
  <h6>इस चरण के बाद कोई और बदलाव की अनुमति नहीं दी जाएगी, कृपया जारी रखने के लिए पुष्टि करें!</h6>
  <hr class="my-4 mt-md-5">
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  <button type="button" class="btn btn-success me-2" [mat-dialog-close]="true">CONFIRM</button>
  <button type="button" class="btn btn-danger"  [mat-dialog-close]="false">CANCEL</button>
</mat-dialog-actions>