.athlete-top-row .list{padding: 5px 25px;display: inline-flex;background-color: #8BE2DF;color: #1B6866;border-radius: 2px;font-size: 14px; min-width: 95px;}
.athlete-top-row .list:nth-child(2){background-color: #FFF1E5;color: #BB5905;}
.athlete-top-row .list:nth-child(3){background-color: #FBE5FF;color: #74008A;}

.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}

.border-top .btn-blue{font-size: 14px;padding: 7px;}

.profile-row .item .icon-box {
  width: 42px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;font-size: 20px;
}
.profile-row .item h4 {
  font-size: 13px;
  color: #000;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.profile-row .item{display: flex;}
.profile-row .item .card{
  padding:25px 15px;
  background-color: #DFE9FF;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
  border-color: transparent;
  transition: .5s;flex:1;
}
:host ::ng-deep .icon-language {
  filter: invert(97%) sepia(85%) saturate(497%) hue-rotate(301deg) brightness(94%) contrast(115%);
}
.profile-row .item:nth-child(4) .icon-box i::before{color: #FFB24D;}
.profile-row .item:nth-child(2) .card{background-color: #FFE6FA;}
.profile-row .item:nth-child(3) .card{background-color: #D6EFFF}
.profile-row .item:nth-child(3) .card i::before{color: #64c6d5}
.profile-row .item:nth-child(4) .card{background-color: #FFE5CF}
.profile-row .item:nth-child(5) .card{background-color: #C9F8FF}
.profile-row .item:nth-child(5) .card i::before{color: #64c6d5}
.profile-row .item:nth-child(6) .card{background-color: #D2E7FF}
.profile-row .item:nth-child(6) .card i::before{color: #5a93d4}
.profile-row .item:nth-child(7) .card{background-color: #FFE6FA}
.profile-row .item:nth-child(8) .card{background-color: #DFE9FF}
.profile-row .item:nth-child(9) .card{background-color: #FFE5CF}
.profile-row .item:nth-child(10) .card{background-color: #D6EFFF}
.profile-row .item:nth-child(11) .card{background-color: #D6EFFF}
.profile-row .item:nth-child(12) .card{background-color: #FFE6FA}
.profile-row .item:nth-child(12) .card i::before{color: #ff9beb}
.profile-row .item:nth-child(13) .card{background-color: #DFE9FF}
.profile-row .item:nth-child(13) .card i::before{color: #4b6fbf}
.profile-row .item:nth-child(14) .card{background-color: #FFE5CF}
.profile-row .item:nth-child(14) .card i::before{color: #f39749}
.profile-row .item:nth-child(15) .card{background-color: #C9F8FF}
.profile-row .item:nth-child(15) .card i::before{color: #64c6d5}
.profile-row .item:nth-child(16) .card{background-color: #FFE6FA}
.profile-row .item:nth-child(16) .card i::before{color: #ff9beb}
.profile-row .item:nth-child(17) .card{background-color: #D6EFFF}
.profile-row .item:nth-child(1) .card:hover{background-color: #90b0f7}
.profile-row .item:nth-child(2) .card:hover{background-color: #f9b4eb;}
.profile-row .item:nth-child(3) .card:hover{background-color: #92cbef}
.profile-row .item:nth-child(4) .card:hover{background-color: #ffb275}
.profile-row .item:nth-child(5) .card:hover{background-color: #64c6d5}
.profile-row .item:nth-child(6) .card:hover{background-color: #6f9ad4}
.profile-row .item:nth-child(7) .card:hover{background-color: #f9b4eb}
.profile-row .item:nth-child(8) .card:hover{background-color: #90b0f7}
.profile-row .item:nth-child(9) .card:hover{background-color: #ffb275}
.profile-row .item:nth-child(10) .card:hover{background-color: #92cbef}
.profile-row .item:nth-child(11) .card:hover{background-color: #92cbef}
.profile-row .item:nth-child(12) .card:hover{background-color: #f9b4eb}
.profile-row .item:nth-child(13) .card:hover{background-color: #90b0f7}
.profile-row .item:nth-child(14) .card:hover{background-color: #ffb275}
.profile-row .item:nth-child(15) .card:hover{background-color: #64c6d5}
.profile-row .item:nth-child(16) .card:hover{background-color: #f9b4eb}
.profile-row .item:nth-child(17) .card:hover{background-color: #92cbef}

.rec-card{
  background-color: #D6D2FF !important;
}
.rec-card:hover{
  background-color: #766fc981 !important;
}