<div class="p-2 ps-3 d-flex align-items-center">
    <span class="page-heading-icon"><i class="icon-profile"></i></span>
    <span class="page-heading">PROFILE</span>
</div>

<div class="border-top">
    <div class="row mx-0">
        <div class="col-lg-9">
            <div class="px-2 py-3 py-lg-4">
                <div class="pe-2">
                    <div class="row profile-row">
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="personalDetail()" class="card text-center">
                                <span class="icon-box"><i class="icon-user-line"></i></span>
                                <h4>Personal Details</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="communicationAddress()" class="card text-center">
                                <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                                <!-- <h4>Communication Address</h4> -->
                                <h4>Address</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="mobileEmail()" class="card text-center">
                                <span class="icon-box"><i class="icon-mail-line-1"></i></span>
                                <h4>Mobile No & Email ID</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="sportKittingDetails()" class="card text-center">
                                <span class="icon-box"><i class="icon-football-line"></i></span>
                                <h4>Sport & Kitting Details</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="bankInformation()">
                                <span class="icon-box"><i class="icon-Bank"></i></span>
                                <h4>Bank Information</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openEducationInfoPopup()">
                                <span class="icon-box"><i class="icon-book-2-line-1"></i></span>
                                <h4>Education Information</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="athleteDocuments()">
                                <span class="icon-box"><i class="icon-image-line"></i></span>
                                <h4>Photo ID Proof / DOB</h4>
                            </a>
                        </div>
                        <!-- <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openHistorySport()">
                                <span class="icon-box"><i class="icon-History"></i></span>
                                <h4>History Of Sports</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openAthleteRanking()">
                                <span class="icon-box"><i class="icon-Athlete-Ranking"></i></span>
                                <h4>Athlete Ranking</h4>
                            </a>
                        </div> -->
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openSuccessStory()">
                                <span class="icon-box"><i class="icon-Check"></i></span>
                                <h4>Success Story</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openLanguageModal()">
                                <span class="icon-box"><img class="icon-language"
                                        src="assets/images/icon-language.svg" /></span>
                                <h4>Languages</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="openKIGModal()">
                                <span class="icon-box"><img class="w-75" src="assets/images/khelo-india-logo.svg"
                                        alt=""></span>
                                <h4>Khelo India Games</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center rec-card" (click)="openRecruitmantQuotaModal()">
                                <span class="icon-box"><img class="w-75" src="assets/images/recruitment.svg"
                                        alt=""></span>
                                <h4>Recruitment Under Sports Quota</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="content-divider" />
        </div>
        <div class="col-lg-3 border-lg-start">
            <div class="py-lg-4">
                <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
            </div>
        </div>
    </div>
</div>