/* .inputFileUpload-wraper .uploadLevel{background-color: #F1F1F1;
    cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 4px;
  display: inline-block;cursor: pointer;}
  .inputFileUpload-wraper .inputUpload{position: absolute;
    cursor: pointer;
  opacity: 0;
  width: 100%;
  left: 0;}
  .inputFileUpload-wraper a{color: inherit;}
  .inputFileUpload-wraper{min-height: 40px !important;}
  .fa-solid.fa-eye{color: #4D4D4D;}
  
  .upload-button-text{
    width: auto ;
  }
  .inputfileLevel{
    width: auto;
  }
  
  @media screen and (max-width:768px) {
    .upload-button-text{
      width: 100% ;
    }
    .inputfileLevel{
      width: 100%;
    }
  }
  .btn-close{box-shadow: none;outline: none;}
.btn-lightblue{font-size: 14px;padding: 7px 26px;}
.addmore{font-size: 13px;font-weight: bold;color: #000000;}

 */
/* .athleteAction-modal .modal-dialog{} */
.kicattendance-modal .modal-body{padding: 0;}
.kicattendance-modal .btn-close{position: absolute;
  right: 15px;
  top: 15px;}
.kicattendance-modal .nav-tabs{border: 0;
  padding: 0px 15px;
  box-shadow: 0 0 7px -2px #ddd;}
.kicattendance-modal .nav-tabs .nav-link{border: 0;
  font-size: 14px;
  color: #C9C9C9;
  border-bottom: 1.5px solid transparent;padding: 16px 14px;text-transform: uppercase;}
.kicattendance-modal .nav-tabs .nav-link.active{border-bottom-color: #1F60AB;
  color: #1F60AB;}
.kicattendance-modal .tab-content{padding: 15px;}
.titleIcon{width: 30px;
height: 30px;
border: 1px solid #1E5FAA;
border-radius: 50%;
font-size: 14px;
display: inline-flex;
align-items: center;
justify-content: center;margin-right: 8px;}
.btn-close{box-shadow: none;outline: none;}
.btn-lightblue{font-size: 14px;padding: 7px 26px;}

.addmore{font-size: 13px;font-weight: bold;color: #000000;}
.kicattendance-modal tr td{font-size: 14px;}
.kicattendance-modal tr td .mat-form-field{font-size: 14px;}
.kicattendance-modal ::ng-deep .mat-form-field-flex{padding-top: 4;}
.kicattendance-modal ::ng-deep .mat-form-field-infix{padding-bottom: 8px;width: 110px;}
.kicattendance-modal tr th{font-size: 13px;text-align: center;color: #000000;background-color: #F8F8F8;text-transform: uppercase;}
.kicattendance-modal tr td:last-child,.kicattendance-modal tr td:first-child{vertical-align: middle;text-align: center;}


.inputFileUpload-wraper .uploadLevel{background-color: #F1F1F1; font-size: 11px;font-weight: bold;
border-radius: 4px;display: inline-block;cursor: pointer;}
.inputFileUpload-wraper .inputUpload{position: absolute;opacity: 0;width: 100%;left: 0;}
.inputFileUpload-wraper a{color: inherit;}
:host .eyeIcon{


  font-family: 'Roboto', sans-serif;
  }
  
  .input{
    font-size: 12px;
    padding-left: 2px;
    padding-right: 5px;
    font-weight: bold;
    padding-top: -4px;
  }
  .view{
    padding-left: 3px;
    font-size: 10px;
    color:var(--bs-link-color)
  }