<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3> End Mapping/Weedout </h3>
      <!-- <a *ngIf="readonlyEdit" href="javascript:void(0)" (click)="editButton()" class="btn btn-edit">EDIT</a> -->
    </div>
    <form [formGroup]="editDateForm">
      <div class="row">
        <div class="col-8 mb-3">
          <mat-form-field appearance="fill" class="w-100" (click)="picker.open()">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker" (keypress)="false" [min]="minDate" [max]="maxDate" formControlName="todate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
        </div>
        <div class="col-4 mb-3">
          <button type="button" (click)="save()" class="btn btn-blue px-lg-4 w-100">Save</button>
        </div>
      </div>
      
    </form>
    
  </div>
  <app-loader *ngIf="loader"></app-loader>