<!-- {{athleteData | json}} -->
<div class="athleteAction-modal">

  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" data-bs-toggle="tab"
          data-bs-target="#add-tournament" type="button" [ngClass]="manageTabActive ? '': 'active'">TOURNAMENT DETAILS</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#manage-event" type="button"  [ngClass]="manageTabActive ? 'active': ''">MANAGE TOURNAMENT EVENTS</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="add-tournament"  [ngClass]="manageTabActive ? '': 'show active'">
        <form [formGroup]="addTournamentForm">
          <div class="row gx-3">
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Tournament Category</mat-label>
                <mat-select [(value)]="defaultTournamentCategory" (valueChange)="changeTournamentCategory($event)" formControlName="tournamentCategoryId">
                  <mat-option *ngFor="let tcategory of tournamentCategory" [value]="tcategory.tournament_category_id">{{tcategory.tournament_calegory_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Tournament Name</mat-label>
                <input matInput formControlName="tournament_Name">
              </mat-form-field>
            </div>
            
            <!-- <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Tournament Name</mat-label>
                <input matInput formControlName="tournament_Name">
              </mat-form-field>
            </div>             -->
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Tournament Edition</mat-label>
                <input type="number" matInput formControlName="tournamentEdition" [min]="0">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="example-full-width w-100" appearance="fill" (click)="yearEstablish.open()" (keypress)="keyPressDenied()" appYearFormat>
                <mat-label>Tournament Year</mat-label>
                <input matInput [matDatepicker]="yearEstablish" formControlName="tournamentYear" [max]="addTournamentForm.get('endDate')?.value" required>
                <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
                <mat-datepicker #yearEstablish startView="multi-year" 
                  (yearSelected)="handleYearSelected($event,yearEstablish)">
                </mat-datepicker>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Level</mat-label>
                <mat-select  formControlName="tournamentLevel">
                  <mat-option value="National">National</mat-option>
                  <mat-option value="International">International</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="Senior">Senior</mat-option>
                  <mat-option value="Junior">Junior</mat-option>
                  <mat-option value="Sub Junior">Sub Junior</mat-option>
                  <mat-option value="Youth">Youth</mat-option>
                  <mat-option value="Cadet">Cadet</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Age Category</mat-label>
                <mat-select formControlName="ageCategory">
                  <mat-option *ngFor="let ageCategory of ageCategoryListRes" [value]="ageCategory.id">{{ageCategory.name}}( {{ageCategory.ageGroup}} )</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100" (click)="clickDiscipline()">
                <mat-label>Discipline</mat-label>
                <mat-select [formControl]="disciplines" multiple [disabled]="elementRowData!=null">
                  <mat-option *ngFor="let sport of sportList" [value]="sport.sport_detail_id">{{sport.sport_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>            
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker.open()">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" (keypress)="keyPressDenied()" (dateChange)="addTournamentStartDate(addTournamentForm.value?.startDate)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill" (click)="picker2.open()">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker2" [min]="addTournamentMinDate"  formControlName="endDate" (keypress)="keyPressDenied()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label> Place</mat-label>
                <input matInput formControlName="place">
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <!-- <mat-label>Country</mat-label>
                <mat-select formControlName="country" (valueChange)="onChangeCountry($event)">
                  <mat-option *ngFor="let countries of countryList" [value]="countries.id">{{countries.country_name}}</mat-option>
                </mat-select> -->
                <mat-label>Country</mat-label>
                <input
                  type="text"
                  placeholder="Select Country"
                  matInput
                  formControlName="country"
                  [matAutocomplete]="countryAutocomplete" />
                <mat-autocomplete #countryAutocomplete="matAutocomplete">
                  <mat-option *ngFor="let option of filteredCountryList$ | async" [value]="option.country_name">
                    {{ option.country_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div
                class="text-danger"
                *ngIf="
                  addTournamentForm.get('country')?.touched && 
                  addTournamentForm.get('country')?.hasError('required')
              "><small>Country Required</small></div>
              <div
                class="text-danger"
                *ngIf="addTournamentForm.get('country')?.touched &&
                  addTournamentForm.get('country')?.hasError('country')"
              ><small>Invalid Country</small></div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100" 
              (click)="addTournamentForm.get('country')?.invalid ? addTournamentForm.get('state')?.markAsTouched() : null">
                <mat-label>State</mat-label>
                <!-- <mat-select formControlName="state" (valueChange)="onChangeState($event)">
                  <mat-option *ngFor="let states of stateList" [value]="states.id">{{states.state_name}}</mat-option>
                </mat-select> -->
                <input
                  type="text"
                  placeholder="Select State"
                  matInput
                  formControlName="state"
                  [matAutocomplete]="stateAutocomplete" />
                <mat-autocomplete #stateAutocomplete="matAutocomplete">
                  <mat-option *ngFor="let option of filteredStateList$ | async" [value]="option.state_name">
                    {{ option.state_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div *ngIf="addTournamentForm.get('country')?.invalid && addTournamentForm.get('state')?.touched" class="text-danger">
                <small>Select country</small>
              </div>
              <div *ngIf="addTournamentForm.get('state')?.touched && 
                addTournamentForm.get('state')?.hasError('required') && 
                !addTournamentForm.get('country')?.invalid" class="text-danger">
                <small>State Required</small>
              </div>
              <div *ngIf="addTournamentForm.get('state')?.touched && 
                addTournamentForm.get('state')?.hasError('state') && 
                !addTournamentForm.get('country')?.invalid" class="text-danger">
                <small>Invalid State</small>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100" 
                (click)="addTournamentForm.get('state')?.invalid ? addTournamentForm.get('city')?.markAsTouched() : null">
                <mat-label>City</mat-label>
                <!-- <mat-select formControlName="city">
                  <mat-option *ngFor="let cities of cityList" [value]="cities.id">{{cities.city_name}}</mat-option>
                </mat-select> -->
                <input
                  type="text"
                  placeholder="Select City"
                  matInput
                  formControlName="city"
                  [matAutocomplete]="cityAutocomplete" />
                <mat-autocomplete #cityAutocomplete="matAutocomplete">
                  <mat-option *ngFor="let option of filteredCityList$ | async" [value]="option.city_name">
                    {{ option.city_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div *ngIf="addTournamentForm.get('state')?.invalid && addTournamentForm.get('city')?.touched" class="text-danger">
                <small>Select state</small>
              </div>
              <div *ngIf="addTournamentForm.get('city')?.touched && 
              addTournamentForm.get('city')?.hasError('required') && 
              !addTournamentForm.get('state')?.invalid" class="text-danger">
                <small>City Required</small>
              </div>
              <div *ngIf="addTournamentForm.get('city')?.touched && 
                addTournamentForm.get('city')?.hasError('city') && 
                !addTournamentForm.get('state')?.invalid" class="text-danger">
                <small>Invalid City</small>
              </div>
            </div>

              <div class="col-sm-6 col-lg-3 mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Eligible for Cash Award</mat-label>
                <mat-select formControlName="cash_Reward">
                    <!-- <mat-option value="" selected disabled>Select</mat-option> -->
                  <mat-option value="1">Yes</mat-option>
                  <mat-option value="0">No</mat-option>

                </mat-select>
              </mat-form-field>
            </div> 

            <div class="col text-end">
              <button type="submit" (click)="saveDetail()" class="btn btn-lightblue px-3 px-md-4 me-2" [disabled]="!addTournamentForm.valid">Save</button>
              <button  (click)="activeModal.dismiss('Cross click')" class="btn btn-light bg-white border px-3 px-md-4">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="manage-event" [ngClass]="manageTabActive ? 'show active': ''">
        <div class="text-center" *ngIf="this.elementRowData!=null"> <p class="bg_p px-4">{{elementRowData.tournament_Category_Name}} {{elementRowData.tournament_Year}}</p> </div>
        <form [formGroup]="editTournamentForm">
          <div class="row gx-3">
            <!-- <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label> Tournament Name</mat-label>
                <input matInput formControlName="tournament_Name" readonly>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label>International Games</mat-label>
                <input matInput formControlName="international_game" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
              <!-- <mat-form-field class="w-100" appearance="fill">
                <mat-label> Period (start or end date)</mat-label>
                <input matInput [matDatepicker]="picker21"  formControlName="period_start">
                <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                <mat-datepicker #picker21></mat-datepicker>
              </mat-form-field> -->
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label>Period (start or end date)</mat-label>
                <input matInput formControlName="period_start" readonly>
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label> International</mat-label>
                <input matInput formControlName="international" readonly>
              </mat-form-field>
            </div> -->
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label> Senior</mat-label>
                <input matInput formControlName="senior" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
              <div class="mapped-discipline position-relative">
                <ng-container *ngIf="this.elementRowData!=null">
                  <span class="mapedLvl">{{mappedLengthOfManageDiscipline}} out of {{lengthofManageDiscipline}} Maped</span>
                </ng-container>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Discipline</mat-label>
                  <mat-select (valueChange)="manageDisciplineChange($event)" formControlName="discipline">
                    <mat-option *ngFor="let deciplineData of ManageDiscipline" [value]="deciplineData.sport_id">{{deciplineData.sport_Display_Name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
              <mat-form-field class="w-100 mat-form-field-disabled" appearance="fill">
                <mat-label> Tournament Name</mat-label>
                <input matInput formControlName="tournament_Name" readonly>
              </mat-form-field>
            </div>
            <ng-container *ngIf="check">
            <div class="col-sm-12" *ngIf="editTournamentForm.get('discipline')?.value !=''">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>EVENT NAME</th>
                      <th>EVENT TYPE</th>
                      <th>GENDER</th>
                      <th>DISCIPLINE</th>
                    </tr>
                  </thead>
                  <tbody  *ngIf="this.ManageEventDetailsLength > 0 ; else noDataBody">
                    <ng-container formArrayName="eventCheckboxArray">
                      <tr *ngFor="let item of eventCheckboxArray.controls; let i=index">
                        <td>
                          <mat-checkbox [formControlName]="i" (change)="eventCheckboxChange(item,ManageEventDetails[i].event_id)" class="example-margin"></mat-checkbox>
                          <!-- <input type="text" [formControlName]="i" value="ManageEventDetails[i].event_id" hidden> -->
                        </td>
                        <td>{{checkedEvents[i]?.event_Name}}</td>
                        <td>{{checkedEvents[i]?.event_Type}}</td>
                        <td>{{checkedEvents[i]?.gender_category}}</td>
                        <td>{{checkedEvents[i]?.sport_Name}}</td>
                      </tr>
                    </ng-container>
                    <ng-container formArrayName="eventUncheckboxArray">
                      <tr *ngFor="let item of eventUncheckboxArray.controls; let i=index">
                        <td>
                          <mat-checkbox [formControlName]="i" (change)="eventCheckboxChange(item,distinctEvents[i].event_id)" class="example-margin"></mat-checkbox>
                          <!-- <input type="text" [formControlName]="i" value="ManageEventDetails[i].event_id" hidden> -->
                        </td>
                        <td>{{distinctEvents[i]?.event_name}}</td>
                        <td>{{distinctEvents[i]?.event_type}}</td>
                        <td>{{distinctEvents[i]?.gender_category}}</td>
                        <td>{{distinctEvents[i]?.sport}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                  <ng-template #noDataBody>
                    <tbody>
                      <tr>
                        <td align="center" colspan="5">
                          <strong>No Data Found</strong>
                        </td>
                      </tr>
                    </tbody>
                  </ng-template>
                </table>
              </div>
            </div>
          </ng-container>
            <div class="col-12 text-end">
              <button type="submit" (click)="onSaveEvent()" class="btn btn-lightblue px-3 px-md-4 me-2" [disabled]="!editTournamentForm.valid">Save</button>
              <button (click)="activeModal.close()" class="btn btn-light bg-white border px-3 px-md-4">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="innerLoaderMainData"></app-loader>
<app-loader *ngIf="innerLoadersportList"></app-loader>
<app-loader *ngIf="innerLoaderCountryList"></app-loader>
<app-loader *ngIf="innerLoaderCategoryList"></app-loader>