.athleteAction-modal .modal-body {
    padding: 0;
}

.athleteAction-modal .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;outline: none;box-shadow: none;
}

.athleteAction-modal .nav-tabs {
    border: 0;
    padding: 0px 15px;
    box-shadow: 0 0 7px -2px #ddd;
}

.athleteAction-modal .nav-tabs .nav-link {
    border: 0;
    font-size: 14px;
    color: #C9C9C9;
    border-bottom: 1.5px solid transparent;
    padding: 16px 14px;
    text-transform: uppercase;
}

.athleteAction-modal .nav-tabs .nav-link.active {
    border-bottom-color: #1F60AB;
    color: #1F60AB;
}

.athleteAction-modal .tab-content {
    padding: 15px;
}
.athleteAction-modal .mat-form-field{font-size: 14px;}
.athleteAction-modal ::ng-deep .mat-form-field-flex{padding-top: 0;}
.athleteAction-modal ::ng-deep .mat-form-field-infix{padding-bottom: 8px;width: 110px;}
.inputFile{
    padding: 7px 10px;
}


.btn-lightblue{font-size: 14px;}
.btn-light{font-size: 14px;padding: 7px 30px;font-weight: bold;border-radius: 3px;}
.bg_p{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background-color: #D1E5FB;
    border: 1px solid;
    border-color: #A3CCF9;
}

.table-striped thead tr th {
    background-color: #F8F8F8;
    color: #000000;
}
.table-striped tbody tr td{border:1px solid #EEEEEE}
.table-striped ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .table-striped ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #103056;
}
::ng-deep  ::ng-deep.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, ::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #103056;
}

.mapedLvl{position: absolute;
    top: -13px;
    font-size: 10px;}
#manage-event .table-responsive{max-height: 400px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}