<div class="dashboard-header fixed-top">
  <div class="dashboard-content">
    <div class="dashboard-headertop px-3 d-flex align-items-center justify-content-between">
      <div>
        <a href="javascript:void(0)" (click)="ToggleSideBar()" class="dmenu-goggle"><i class="fa fa-bars"></i></a>
      </div>
      <div class="d-flex">
        <div class="headertoplogo-wrap">
          <ul class="duserlogin mb-0">
            <li>
              <!-- <a href="#"
                ><i class="fa-solid fa-bell"></i>
                <span class="notificationlbl">06</span></a
              > -->
              <!-- <div class="dropdown">
                <a class="" id="appList" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="icon-apps_dots"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="appList">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div> -->
              <a href="javascript:void(0)" class="iconappDots nav-link dropdown me-2" data-bs-toggle="dropdown"><span
                  class="icon-apps_dots"></span></a>
              <ul class="dropdown-menu dropdownPortal_menu">
                <ul class="list-unstyled text-center">
                  <ng-container *ngFor="let project of projectsList">
                    <li *ngIf="project.appId !== 1" class="app-item rounded-2 border-grey p-1"
                      [ngClass]="{'app-disabled': !allowedApps.includes(project.appId)}"
                      [title]="project.display_name">
                      <a (click)="goToProject(project.encAppId, project.appId)">
                        <span class="d-block"><img class="p-1 app-logo" [src]="'assets/images/' + project.app_icon"
                            [alt]="project.display_name"></span>
                        <span class="thumb_title">{{ project.display_name }}</span>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </ul>
            </li>
            <li class="dropdown dropdown-user nav-item">
              <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown"><span
                  class="duser-sname">{{userProfileData.profileData.fullName[0]}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="arrow_box_right">
                  <a href="javascript:void(0)" class="dropdown-item" (click)="open(content)">
                    {{ userProfileData.profileData.fullName }} <br />
                    <small>{{ userProfileData.profileData.emailId }}</small>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="javascript:void(0)" class="dropdown-item" (click)="open(resetpasspopup)">
                    Change password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                    Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 style="margin-bottom: 0px">
      <i class="fa-regular fa-circle-user"></i> USER PROFILE
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="text-center d-flex justify-content-center">
      <div class="profile-img-wrapper">
        <div class="profileimg">
          <img [src]="profilePicUrl || '/assets/images/placeholderProfile.png'" class="img-fluid"
            alt={{userProfileData.profileData.fullName}} />
        </div>
        <input type='file' class="d-none" id="fileInputElement" accept=".png, .jpg, .jpeg" #fileInput
          (change)="uploadImage(fileInput.files)" />
        <a href="javascript:void(0)" (click)="fileInput.click()" class="cameraIcon"><span
            class="icon-camera-fill"></span></a>
      </div>
    </div>
    <div class="text-center md-0">
      <h5>{{ userProfileData.profileData.fullName }}</h5>
      <p class="designation"><span>Desgination: {{ userProfileData.profileData.designation }}</span></p>
    </div>
    <div class="table-responsive">
      <table class="table mt-2 text-center">
        <tbody>
          <tr>
            <td>Email ID:</td>
            <td>{{ userProfileData.profileData.emailId }}</td>
          </tr>
          <tr>
            <td>Mobile Number:</td>
            <td>{{ userProfileData.profileData.mobileNo }}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>{{userProfileData.profileData.fullAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #resetpasspopup let-modal>
  <div class="modal-header">
    <h4 style="margin-bottom: 0px">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="mb-3">
        <!-- <label>New Password</label> -->
        <div class="inputIcon">
          <input [type]="passwordType" class="form-control" formControlName="oldPassword" placeholder="Old Password"
            required [ngClass]="{'is-invalid':changePasswordSubmitted && changepControl['oldPassword'].errors}" />
          <div class="hideShoePwd" (click)="showPassword()">
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showeye"></i>
            <i class="fa fa-eye" aria-hidden="true" *ngIf="showeye"></i>
          </div>
        </div>
        <div *ngIf="changePasswordSubmitted && changepControl['oldPassword'].errors" class="text-danger">
          <div *ngIf="changepControl['oldPassword'].errors && changepControl['oldPassword'].errors['required']">
            Old password is required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="inputIcon">
          <input [type]="passwordType2" class="form-control" formControlName="newPassword" placeholder="New Password"
            required [ngClass]="{'is-invalid':changePasswordSubmitted && changepControl['newPassword'].errors}" />
          <div class="hideShoePwd" (click)="showPassword2()">
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showeye2"></i>
            <i class="fa fa-eye" aria-hidden="true" *ngIf="showeye2"></i>
          </div>
        </div>
        <div *ngIf="changePasswordSubmitted && changepControl['newPassword'].errors" class="text-danger">
          <div *ngIf="changepControl['newPassword'].errors && changepControl['newPassword'].errors['required']">
            New password is required
          </div>
           <small
            *ngIf="changepControl['newPassword'].errors && changepControl['newPassword'].errors['pattern']">
            Minimum eight characters, at least one uppercase letter, one lowercase letter,
            one number and one special character</small>
        </div>
      </div>
      <div class="mb-3">
        <div class="inputIcon">
          <input [type]="passwordType3" class="form-control" formControlName="confirmPassword"
            placeholder="Confirm Password" required
            [ngClass]="{'is-invalid':changePasswordSubmitted && changepControl['confirmPassword'].errors}" />
          <div class="hideShoePwd" (click)="showPassword3()">
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!showeye3"></i>
            <i class="fa fa-eye" aria-hidden="true" *ngIf="showeye3"></i>
          </div>
        </div>
        <div *ngIf="changePasswordSubmitted && changepControl['confirmPassword'].errors" class="text-danger">
          <div *ngIf="changepControl['confirmPassword'].errors && changepControl['confirmPassword'].errors['required']">
            Confirm password is required
          </div>
         

        </div>
        <div *ngIf="changePasswordSubmitted && changePasswordForm.errors?.['passwordMismatch']" class="text-danger">
          Confirm Password and New Password Must Be Same
        </div>
      </div>
      <div class="text-center d-flex flex-wrap justify-content-center align-items-center">
        <button type="submit" class="btn btn-blue me-2 me-lg-3 px-4">Submit</button>
        <!-- <a href="javascript:void(0)" class="btn btn-blue px-4" (click)="forgotPassword()">Forgot password</a> -->
      </div>
    </form>
  </div>
</ng-template>

<app-loader *ngIf="innerLoaderMainData"></app-loader>