<div class="py-4 px-2">
    <div class="transfer-list row pb-3">
        <div class="col-auto">
            <a href="#">
                <div class="icon"><span class="icon-athletes"></span></div>
                <h6>TRANSFER/WEED OUT</h6>
            </a>
        </div>
        <div class="col-auto">
            <a href="#">
                <div class="icon"><span class="icon-Coaches"></span></div>
                <h6>TRANSFER/WEED OUT</h6>
            </a>
        </div>
        <div class="col-auto">
            <a href="#">
                <div class="icon"><span class="icon-Insurance"></span></div>
                <h6>TRANSFER/WEED OUT</h6>
            </a>
        </div>
    </div>
    <div class="border-bottom mb-3"></div>
    <div class="table-responsive athlete-stripe-tbl">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NID</th>
                    <th>NAME</th>
                    <th>ACADEMY</th>
                    <th>ACADEMY TYPE</th>
                    <th>FINANCIAL ASSISTANCE</th>
                    <th>FINANCIAL ASSISTANCE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Archery</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td>
                        <a href="#" class="btn btn-danger">Actions <i class="fa-solid fa-circle-chevron-right ms-2"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Athletics</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Badminton</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Archery</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Athletics</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Badminton</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Archery</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Athletics</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Badminton</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>0</td>
                    <td>0</td>
                    <td>195</td>
                    <td>0</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
