<div class="container-fluid p-2 border border-blue">
  <div class="row h4 m-0 p-2 justify-content-center bg-blue text-white fw-bold">
    MANAGE ROLE
  </div>
  <div class="row g-0 py-1">
    <div class="col-12 col-sm-6 py-1 d-flex align-items-center">
      <mat-form-field appearance="fill">
        <mat-label>Applications</mat-label>
        <mat-select [formControl]="appIdControl">
          <mat-option *ngFor="let option of appIdList$ | async" [value]="option.appId">{{ option.projectName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 py-1 d-flex align-items-center justify-content-end">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input #searchField matInput (keyup)="applyFilter($any($event.target).value)" />
      </mat-form-field>
      <button type="button" mat-flat-button class="bg-blue text-white h-100 ms-2" (click)="openEditRolePopup()"><mat-icon>add_box</mat-icon> ADD ROLE </button>
    </div>
  </div>
  <div class="row table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="w-100 table-striped"
    >
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
        <td mat-cell *matCellDef="let record" class="text-nowrap text-center">
          <mat-icon class="text-blue" 
            (click)="openEditRolePopup(record)" 
            matTooltip="Edit Role"
            matTooltipPosition="left"
            matTooltipClass="custom-tooltip"
            >edit</mat-icon>
          <mat-icon class="text-blue ms-1" 
            (click)="openEditDashboardPopup(record)" 
            matTooltip="Edit Dashboard"
            matTooltipPosition="right"
            matTooltipClass="custom-tooltip"
            >app_registration</mat-icon>
        </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="role_name">
          Role Name
        </th>
        <td mat-cell *matCellDef="let record">{{ record.role_name }}</td>
      </ng-container>

      <!-- Dashboard Column -->
      <ng-container matColumnDef="dashboard_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="dashboard_name">
          Landing Dashboard
        </th>
        <td mat-cell *matCellDef="let record">
          {{ record.dashboard_name }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>
</div>

<ng-template #editRole>
  <form novalidate>
    <div
        class="container-fluid p-0 border rounded border-blue"
        [formGroup]="form"
      >
      <div class="row p-1 bg-blue h5 m-0 bg-blue text-white justify-content-center">
        {{ roleIdControl.value ? 'EDIT' : 'ADD'}} ROLE
      </div>
      <div class="row p-1">
        <div class="col p-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Role Name</mat-label>
            <input matInput formControlName="roleName" />
          </mat-form-field>
          <div *ngIf="form.get('roleName')?.touched && form.get('roleName')?.hasError('required')" class="text-danger">
            <small>This field is required</small>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col text-center">
          <button mat-raised-button class="bg-blue text-white me-2" (click)="saveDetails()">Save</button>
          <button mat-raised-button (click)="closeEditRolePopup()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #editDashboard>
  <form novalidate>
    <div
        class="container-fluid p-0 border rounded border-blue"
        [formGroup]="form"
      >
      <div class="row p-1 bg-blue h5 m-0 bg-blue text-white justify-content-center">
        EDIT DASHBOARD
      </div>
      <div class="row p-1">
        <div class="col p-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Role Name</mat-label>
            <input matInput formControlName="roleName" />
          </mat-form-field>
          <div *ngIf="form.get('roleName')?.touched && form.get('roleName')?.hasError('required')" class="text-danger">
            <small>This field is required</small>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col">
          <div class="h5 m-0 text-blue p-1 border border-blue border-bottom-0 rounded-top text-center">LANDING DASHBOARD</div>
          <mat-radio-group formControlName="dashboardName" class="p-0 border border-blue rounded-bottom">
            <mat-radio-button *ngFor="let option of landingDashboardList" [value]="option.dashboard_name" class="p-2">{{option.dashboard_name}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row p-2 justify-content-center h6 m-0 text-blue">OR</div>
      <div class="row p-1">
        <div class="col p-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>New Dashboard Name</mat-label>
            <input matInput formControlName="newDashboard" placeholder="Enter New Dashboard Name" />
          </mat-form-field>
        </div>
      </div>
      <div class="row p-2">
        <div class="col text-center">
          <button mat-raised-button class="bg-blue text-white me-2" (click)="saveDashboard()">Save</button>
          <button mat-raised-button (click)="closeEditDashboardPopup()">Cancel</button>
        </div>
      </div>
    </div>
  </form>

</ng-template>

<ng-container *ngIf="loader">
  <app-loader></app-loader>
</ng-container>