.card{
    background: #FFEFEF;
}
.card .icon-box{
    padding: 10px;
    background-color: #BE5555;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
}
.card p{
    font-size: 13px;
    color: #BE5555;
}
.card-body{
    padding: 30px 10px 20px;
}