<div class="modal-body tag-common-modal education-modal">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(0)"></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
    <h3> Sanctioned </h3>
  </div>
  <form [formGroup]="sanctionedForm">    
      <div class="row row-sanctioned">
        <div class="col-xl my-1">
            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>NSRS ID</mat-label>
              <input matInput formControlName="nsrsId">
            </mat-form-field>
        </div>
        <div class="col-xl my-1">
            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-xl my-1">
            <mat-form-field appearance="fill" class="w-100" (click)="picker1.open()">
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="from_date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-xl my-1">
            <mat-form-field appearance="fill" class="w-100" (click)="picker2.open()">
              <mat-label>To Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="to_date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-xl my-1">
            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Remark</mat-label>
              <input matInput formControlName="remark">
            </mat-form-field>
        </div>
      </div>    
  </form>
  <div class="row g-0 mt-2">   
    <div class="col text-center">
      <button type="button" class="btn btn-blue px-4" (click)="save()" [disabled]="!sanctionedForm.valid">Submit</button>
    </div>
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>