<div class="regProfile p-3 p-lg-4 mx-xl-2">
    <!-- <div class="item justify-content-end flex-wrap">
      <a href="javascript:void(0)" class="card text-center mb-3">
        <div class="iconbox">
          <i class="icon-personal-information-18"></i>
        </div>
        <h3 class="mb-0">BASIC INFORMATION</h3>
      </a>
      <a href="javascript:void(0)" class="card text-center mb-3">
        <div class="iconbox">
          <i class="icon-address-30"></i>
        </div>
        <h3 class="mb-0">ADDRESS</h3>
      </a>
      <a href="javascript:void(0)" class="card text-center mb-3">
        <div class="iconbox">
          <i class="icon-football-line"></i>
        </div>
        <h3 class="mb-0">SPORTS DISCIPLINE</h3>
      </a>
    </div> -->
  
    <div class="dashboard-carousel mt-lg-3">
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide id="slideitem1">
              <h5 class="text-center">ATHLETE</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon"><span class="icon-athlete"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
          <ng-template carouselSlide id="slideitem2">
              <h5 class="text-center bg-2">COACH</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon bg-2"><span class="icon-coach"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
          <ng-template carouselSlide id="slideitem3">
              <h5 class="text-center bg-3">SUPPORT STAFF</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon bg-3"><span class="icon-sportstrainingcenter"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
          <ng-template carouselSlide id="slideitem1">
              <h5 class="text-center">ATHLETE</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon"><span class="icon-athlete"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
          <ng-template carouselSlide id="slideitem2">
              <h5 class="text-center bg-2">COACH</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon bg-2"><span class="icon-coach"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
          <ng-template carouselSlide id="slideitem3">
              <h5 class="text-center bg-3">SUPPORT STAFF</h5>
                  <div class="item d-flex flex-wrap">
                      <div class="icon bg-3"><span class="icon-sportstrainingcenter"></span></div>
                      <ul class="list-unstyled">
                          <li>
                              <span class="totallbl">Total</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Males</span>
                              <span class="total">3464</span>
                          </li>
                          <li>
                              <span class="totallbl">Females</span>
                              <span class="total">3464</span>
                          </li>
                      </ul>
                  </div>
          </ng-template>
      </owl-carousel-o>
  </div>
  
  <div class="adashboard-athlete-profile">
    <div class="profile-title d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <span class="d-inline-block me-2">
          <i class="icon-athlete-detail"></i>
        </span>
        <h5 class="mb-0">ATHLETE PROFILE</h5>
      </div>
      <select class="form-control text-uppercase">
        <option>EXPORT</option>
        <option>Excel</option>
        <option>Pdf</option>
    </select>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>SPORTS DISCIPLINE</th>
            <th colspan="3">SANCTIONED STRENGTH</th>
            <th colspan="3">EXISTING STRENGTH</th>
            <th colspan="3">KHELO INDIA ATHLETES</th>
            <th colspan="3">INSURRED</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><img src="assets/images/sanction-male.svg" alt=""></td>
            <td><img src="assets/images/sanction-female.svg" alt=""></td>
            <td><img src="assets/images/sanction-mf.svg" alt=""></td>
            <td><img src="assets/images/sanction-male.svg" alt=""></td>
            <td><img src="assets/images/sanction-female.svg" alt=""></td>
            <td><img src="assets/images/sanction-mf.svg" alt=""></td>
            <td><img src="assets/images/sanction-male.svg" alt=""></td>
            <td><img src="assets/images/sanction-female.svg" alt=""></td>
            <td><img src="assets/images/sanction-mf.svg" alt=""></td>
            <td><img src="assets/images/sanction-male.svg" alt=""></td>
            <td><img src="assets/images/sanction-female.svg" alt=""></td>
            <td><img src="assets/images/sanction-mf.svg" alt=""></td>
          </tr>
          <tr>
            <td>Archery</td>
            <td>40</td>
            <td>40</td>
            <td>80</td>
            <td>40</td>
            <td>40</td>
            <td>80</td>
            <td>40</td>
            <td>40</td>
            <td>80</td>
            <td>40</td>
            <td>40</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Wrestling</td>
            <td>10</td>
            <td>60</td>
            <td>70</td>
            <td>10</td>
            <td>60</td>
            <td>70</td>
            <td>10</td>
            <td>60</td>
            <td>70</td>
            <td>10</td>
            <td>60</td>
            <td>70</td>
          </tr>
          <tr>
            <td>Kabaddi</td>
            <td>15</td>
            <td>60</td>
            <td>75</td>
            <td>15</td>
            <td>60</td>
            <td>75</td>
            <td>15</td>
            <td>60</td>
            <td>75</td>
            <td>15</td>
            <td>60</td>
            <td>75</td>
          </tr>
          <tr>
            <td>Hockey</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Athletics</td>
            <td>30</td>
            <td>25</td>
            <td>55</td>
            <td>30</td>
            <td>25</td>
            <td>55</td>
            <td>30</td>
            <td>25</td>
            <td>55</td>
            <td>30</td>
            <td>25</td>
            <td>55</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row mt-lg-3 achievement-row">
    <div class="col-md-6 leftcol">
      <div class="profile-title d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <h5 class="mb-0">COACH</h5>
        </div>
        <select class="form-control text-uppercase">
          <option>EXPORT</option>
          <option>Excel</option>
          <option>Pdf</option>
      </select>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SPORTS DISCIPLINE</th>
              <th colspan="3">SANCTIONED STRENGTH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td><img src="assets/images/sanction-male.svg" alt=""></td>
              <td><img src="assets/images/sanction-female.svg" alt=""></td>
              <td><img src="assets/images/sanction-mf.svg" alt=""></td>
            </tr>
            <tr>
              <td>Archery</td>
              <td>40</td>
              <td>40</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Wrestling</td>
              <td>10</td>
              <td>10</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Kabaddi</td>
              <td>20</td>
              <td>20</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Hockey</td>
              <td>25</td>
              <td>25</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 rightcol">
      <div class="profile-title d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <h5 class="mb-0">SPORT SCIENTIST</h5>
        </div>
        <select class="form-control text-uppercase">
          <option>EXPORT</option>
          <option>Excel</option>
          <option>Pdf</option>
      </select>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th colspan="3">SANCTIONED STRENGTH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td><img src="assets/images/sanction-male.svg" alt=""></td>
              <td><img src="assets/images/sanction-female.svg" alt=""></td>
              <td><img src="assets/images/sanction-mf.svg" alt=""></td>
            </tr>
            <tr>
              <td>Anthropometry</td>
              <td>40</td>
              <td>40</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Biochemical</td>
              <td>10</td>
              <td>10</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Biomechanics</td>
              <td>20</td>
              <td>20</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Nutrition</td>
              <td>25</td>
              <td>25</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-lg-3 achievement-row">
    <div class="col-md-12 leftcol">
      <div class="profile-title d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <h5 class="mb-0">ACHIEVEMENT</h5>
        </div>
        <select class="form-control text-uppercase">
          <option>EXPORT</option>
          <option>Excel</option>
          <option>Pdf</option>
      </select>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SPORTS DISCIPLINE</th>
              <th><img src="assets/images/medal-gold.svg" alt=""></th>
              <th><img src="assets/images/medal-silver.svg" alt=""></th>
              <th><img src="assets/images/medal-bronze.svg" alt=""></th>
              <th><img src="assets/images/medal-other.svg" alt=""></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Archery</td>
              <td>34</td>
              <td>37</td>
              <td>56</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Athletics</td>
              <td>34</td>
              <td>37</td>
              <td>56</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Hockey</td>
              <td>34</td>
              <td>37</td>
              <td>56</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Kabaddi</td>
              <td>34</td>
              <td>37</td>
              <td>56</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Wrestling</td>
              <td>34</td>
              <td>37</td>
              <td>56</td>
              <td>75</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  </div>
  