<div class="p-3 p-lg-4">
</div>

<div class="border-top">
    <div class="row mx-0">
        <div class="col-lg-9 border-end">
            <!-- <div class="px-2 py-3 py-lg-4">
                <h2 class="event-title d-inline-block">UPCOMING EVENTS</h2>
                <app-upcoming-event></app-upcoming-event>
            </div>
            <div><hr></div> -->
            <div class="px-2 py-3 py-lg-4">
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <h2 class="event-title mb-sm-0 text-uppercase">ATHLETE MAPPING</h2>
                </div>
                <div class="pe-2">
                    <div class="row profile-row">
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center">
                                <span class="icon-box"><i class="icon-user-line"></i></span>
                                <h4>Athlete Mapping</h4>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="py-lg-4">
                <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
            </div>
        </div>
    </div>
</div>
