<div class="modal-body experience-modal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><mat-icon class="material-symbols-outlined" fontIcon="lab_research"></mat-icon></span> Research Experience</h3>
      <!-- <button *ngIf="readonlyEdit" href="javascript:void(0)" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button> -->
    </div>
    <form [formGroup]="researchExperienceForm">
      <div class="row">
        <div class="col mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Year of Experience</mat-label>
            <mat-select formControlName="year_of_experience">
              <mat-option [value]="data" *ngFor="let data of experienceList">{{data}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col mb-3">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Institute of Research</mat-label>
                <input matInput formControlName="institute_of_research">
              </mat-form-field>
        </div>
        <div class="col mb-3">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Remarks</mat-label>
                <input matInput formControlName="remark">
              </mat-form-field>
        </div>
        <div class="col-12 text-center">
            <hr class="mt-1">
            <button type="button" class="btn btn-blue px-4" [disabled]="!researchExperienceForm.valid" (click)="save()">Save</button>
          </div>
      </div>
    </form>
    
  </div>

  <app-loader *ngIf="loader"></app-loader>