<div class="p-2 ps-3 d-flex align-items-center">
    <span class="page-heading-icon"><i class="icon-profile"></i></span>
    <span class="page-heading">PROFILE</span>
</div>

<div class="border-top">
    <div class="row mx-0">
        <div class="col-lg-9">
            <div class="px-2 py-3 py-lg-4">
                <div class="pe-2">
                    <div class="row profile-row">
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="personalDetail()" class="card text-center">
                                <span class="icon-box"><i class="icon-user-line"></i></span>
                                <h4>PERSONAL INFORMATION</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="kheloIndiaGames()" class="card text-center">
                                <span class="icon-box">
                                    <img src="assets/images/khelo-india-logo.svg" alt="" class="w-75">
                                </span>
                                <h4>KHELO INDIA GAMES</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="kitSize()" class="card text-center">
                                <span class="icon-box"><i class="icon-t-shirt-2-line"></i></span>
                                <h4>KIT SIZE</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="contactInfo()" class="card text-center">
                                <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                                <h4>CONTACT INFORMATION</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" class="card text-center" (click)="additionalInfo()">
                                <span class="icon-box"><i class="icon-information"></i></span>
                                <h4>ADDITIONAL INFORMATION & DOCUMENTS</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id==4">
                            <a href="javascript:void(0)" class="card text-center" (click)="nsf()">
                                <span class="icon-box"><i class="icon-information"></i></span>
                                <h4>NSF Details</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id==3">
                            <a href="javascript:void(0)" (click)="sport()" class="card text-center">
                                <span class="icon-box"><i class="icon-football-line"></i></span>
                                <h4>Sports</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id==4">
                            <a href="javascript:void(0)" (click)="bankInfo()" class="card text-center">
                                <span class="icon-box"><i class="icon-Bank"></i></span>
                                <h4>Bank Information</h4>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
            <hr class="content-divider" />
        </div>
        <div class="col-lg-3 border-lg-start">
            <div class="py-lg-4">
                <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
            </div>
        </div>
    </div>
</div>
