<div class="px-3" *ngIf="!isPopupOpen">
  <!-- +++++ Filter Data Start +++++  -->
  <div class="filterdata">
    <div class="filterTop">
      <div class="row align-items-center justify-content:between mt-3">
        <div class="col-auto">
          <h5 class="defaultFont fw-bold text-uppercase">KIC REGIONAL DETAILS nn</h5>
        </div>
        <div class="col text-end">
          <div class="row justify-content-end">
            <div class="col-auto rightsec d-flex align-items-center">
              <!-- <div class="exports">
                    <select class="form-control">
                      <option disabled selected="selected">Export</option>
                      <option value="excel">Excel</option>
                      <option value="pdf">PDF</option>
                    </select>
                  </div> -->
              <div class="searchInput ms-2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control" (keyup)="searchFilter($event)" placeholder="Search..">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filterBottom mb-3">
      <form [formGroup]="rcFilterForm">
        <div class="row gx-3 align-items-center justify-content-end flex-wrap">
          <div class="col-3">
            <select class="form-control" formControlName="stateId">
              <option value="" selected="selected"> State</option>
              <option *ngFor="let state of stateMasterList" [value]="state.id">{{state.state_name}}</option>
            </select>
          </div>
          <!-- <div class="col">
                <select class="form-control" formControlName="discipline">
                  <option value="" selected="selected"> Discipline</option>
                  <option *ngFor="let sport of sportMasterList" [value]="sport.sport_name">{{sport.sport_name}}</option>
                </select>
              </div> -->

          <!-- <div class="col">
                <select class="form-control" formControlName="operationalStatus">
                  <option value="">Operational Status</option>
                </select>
              </div> -->
          <div class="col-auto">
            <button type="button" (click)="onClickSearch()" class="btn btn-lightblue px-3"><i
                class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <!-- <div class="col-auto">
                <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i
                    class="icon-sound-module-line mt-1 d-block"></i></a>
              </div> -->
        </div>
      </form>
    </div>
  </div>
  <!-- +++++ Filter Data End +++++ -->
  <div class="table-responsive position-relative">
    <table mat-table id="athleteDetailTable" [dataSource]="dataSource" matSort class="table-striped w-100">

      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> S.No </th>
        <td mat-cell *matCellDef="let dataSource; let i=index">
          {{(i+1) + (tablePaginator.pageIndex * tablePaginator.pageSize)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="stateName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="state_name"> State Name </th>
        <td mat-cell *matCellDef="let dataSource; let i = index">{{dataSource.state_name}}</td>
      </ng-container>

      <ng-container matColumnDef="districtName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="address_district"> District Name </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.address_district}}</td>
      </ng-container>



      <ng-container matColumnDef="kiud">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id">
          KIUD
        </th>
        <td mat-cell *matCellDef="let dataSource">
          <a href="javascript:void(0)" (click)="openKicDetailsPopup(dataSource)">{{dataSource.kitd_unique_id}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalAthlete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="athelete_count">
          Total Athlete
        </th>
        <td mat-cell *matCellDef="let dataSource">
          {{dataSource.athelete_count}}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="attendancePercentage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="attendancePercentage"> Attendance Percentage </th>
        <td mat-cell *matCellDef="let dataSource">
          {{dataSource.attendancePercentage}}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="recordFile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="recordFile">
          RECORD FILE
        </th>
        <td class="pointer" *matCellDef="let dataSource"> <a [href]="filePath + dataSource?.file_path" target="_blank">
          View </a><i class="fa-solid fa-eye"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
      </tr>
    </table>
  </div>
  <mat-paginator #tablePaginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<!-- +++++ Popup View Start +++++  -->
<div class="kicattendance-modal" *ngIf="isPopupOpen">
  <div class="modal-body pt-0">
    <div class="profileModal-wraper">
      <div class="d-flex justify-content-end pt-2 mb-2">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalClose('cancel')"></button>
      </div>
      <div class="row">
        <div class="px-3">
          <!-- +++++ Filter Data Start +++++  -->
          <div class="filterdata">
            <div class="filterTop">
              <div class="row align-items-center justify-content:between mt-3">
                <div class="col-auto">
                  <h5 class="defaultFont fw-bold text-uppercase">KIC REGIONAL DETAILS ppp</h5>
                </div>
                <div class="col text-end">
                  <div class="row justify-content-end">
                    <div class="col-auto rightsec d-flex align-items-center">
                      <!-- <div class="exports">
                    <select class="form-control">
                      <option disabled selected="selected">Export</option>
                      <option value="excel">Excel</option>
                      <option value="pdf">PDF</option>
                    </select>
                  </div> -->
                      <div class="searchInput ms-2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="form-control" (keyup)="searchFilter($event)" placeholder="Search..">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="filterBottom mb-3">
              <form [formGroup]="rcFilterForm">
                <div class="row gx-3 align-items-center justify-content-end flex-wrap">
                  <div class="col-3">
                    <select class="form-control" formControlName="stateId">
                      <option value="" selected="selected"> State</option>
                      <option *ngFor="let state of stateMasterList" [value]="state.id">{{state.state_name}}</option>
                    </select>
                  </div>
                  <!-- <div class="col">
                <select class="form-control" formControlName="discipline">
                  <option value="" selected="selected"> Discipline</option>
                  <option *ngFor="let sport of sportMasterList" [value]="sport.sport_name">{{sport.sport_name}}</option>
                </select>
              </div> -->

                  <!-- <div class="col">
                <select class="form-control" formControlName="operationalStatus">
                  <option value="">Operational Status</option>
                </select>
              </div> -->
                  <div class="col-auto">
                    <button type="button" (click)="onClickSearch()" class="btn btn-lightblue px-3"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  <!-- <div class="col-auto">
                <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i
                    class="icon-sound-module-line mt-1 d-block"></i></a>
              </div> -->
                </div>
              </form>
            </div>
          </div>
          <!-- +++++ Filter Data End +++++ -->
          <div class="table-responsive position-relative">
            <table mat-table id="athleteDetailTable" [dataSource]="dataSource" matSort class="table-striped w-100">

              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let dataSource; let i=index">
                  {{(i+1) + (tablePaginator.pageIndex * tablePaginator.pageSize)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="stateName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="state_name"> STATE NAME </th>
                <td mat-cell *matCellDef="let dataSource; let i = index">{{dataSource.state_name}}</td>
              </ng-container>

              <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="address_district"> DISTRICT NAME </th>
                <td mat-cell *matCellDef="let dataSource"> {{dataSource.address_district}}</td>
              </ng-container>



              <ng-container matColumnDef="kiud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id">
                  KIUD
                </th>
                <td mat-cell *matCellDef="let dataSource">
                  <a href="javascript:void(0)" (click)="openKicDetailsPopup(dataSource)">{{dataSource.kitd_unique_id}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="totalAthlete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="athelete_count">
                  TOTAL ATHLETE
                </th>
                <td mat-cell *matCellDef="let dataSource">
                  {{dataSource.athelete_count}}
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="attendancePercentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="attendancePercentage"> Attendance Percentage
                </th>
                <td mat-cell *matCellDef="let dataSource">
                  {{dataSource.attendancePercentage}}
                </td>
              </ng-container> -->

              <ng-container matColumnDef="recordFile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="recordFile">
                  RECORD FILE
                </th>
                <td class="pointer" *matCellDef="let dataSource"> <a [href]="filePath + dataSource?.file_path" target="_blank">
                  View </a><i class="fa-solid fa-eye"></i>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
            </table>
          </div>
          <mat-paginator #tablePaginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
<!-- +++++ Popup View End +++++  -->