<div class="commontopsec">
    <div class="container">
        <div class="midtitle text-center mb-3 mb-lg-4">
            <h2>
                <span class="d-block">ABOUT US</span>
                National Sports Repository System
            </h2>
           </div>
           <div class="text-center about_p">
               <p>National Sports Repository System (NSRS) is a digital MIS, which envisages to provide a comprehensive digital solution for all the major stakeholders such as Athletes, Coaches, Academies, Federations and Administrators. It is an open platform of sports eco-system where Athletes, Coaches, Sport Scientists and Academies can register themselves. On successful registration, an Unique number (KID - Khelo India ID) is generated, which is used for accessing the NSRS.</p>
           </div>
    </div>
</div>
<div class="about-us">
    <div class="container">       
       <div class="row row-about gx-lg-5">
        <div class="col-md-6 item">
            <div class="box">
                <h3>
                    <span class="iconbox"><span class="icon-athletes"></span></span>
                    ATHLETES
                </h3>
                <p>Each registered athlete can update their personal, educational, training details and achievements in their playing career. If an athlete is part of any SAI scheme such as NCOE, TOPS , Khelo India or any other schemes, all the updated information and communication for accessing various facilities can be done through NSRS. The Athlete can view his performance growth through the Performance Assessment module.</p>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="box">
                <h3>
                    <span class="iconbox"><span class="icon-Coaches"></span></span>
                    COACHES
                </h3>
                <p>Each registered Coach can update their personal, educational, coaching details and achievements in athletic career. NSRS allows Coaches to tag their trainee & to feed and monitor their performance assessment based on NSF approved parameters of performance. It provides the facility to add additional performance tests, if required. The coaches can mark the attendance of athletes who are being trained.</p>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="box">
                <h3>
                    <span class="iconbox"><span class="icon-sports-scientist"></span></span>
                    SPORTS SCIENTISTS
                </h3>
                <p>Each registered Sports Scientists can update their personal, educational, coaching details and achievements in their professional career. NSRS allows Sports Scientists to tag their trainee and to feed and monitor their Sports Science indicated based on NSF approved parameters of Sports Science. It provides the facility to add additional Sports Science tests, if required.</p>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="box">
                <h3>
                    <span class="iconbox"><span class="icon-sports-training-centres"></span></span>
                    SPORTS TRAINING CENTRES
                </h3>
                <p>Each registered sports training centres are provided dashboards where they can add the coaches and the athletes of various disciplines in their dashboards. The Academy head can see the attendance of athletes in the system and can view the performance progress of the athletes. The dashboard also provides with an option to see various relevant reports.</p>
            </div>
        </div>
       </div>
    </div>
</div>
