<!-- Modal -->
<div class="modal" id="addProposalModal" tabindex="-1"
  aria-labelledby="addProposalModalLabel" aria-hidden="true"
  style="display: block; background: rgba(128, 128, 128, 0.3);" aria-modal="true" role="dialog"
  >
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div id="mContent" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProposalModalLabel">NEW PROPOSAL DETAILS</h5>
        <button type="button" class="btn-close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- ++++++++++++ Proposal Form Start ++++++++++++++++ -->
          <div class="proposal-form">
            <form [formGroup]="addProposalForm">
              <div>
                <div class="row my-2">
                  <div class="form-wrap">
                    <table>
                      <tr class="table-view">
                        <td class="label">NSRS ID:</td>
                        <td>  {{scheduleMeetingModalData.data.nsrS_Id}}</td> <!-- Display the selected NSRS ID -->
                      </tr>
                      <tr>
                        <td class="label">Proposal Head:</td>
                        <td colspan="4">
                          <input type="text" class="form-control" id="proposalHead" formControlName="proposal_head" [(ngModel)]="scheduleMeetingModalData.data.academy_name" maxlength="250">
                        </td>
                      </tr>
                      
                      <tr>
                        
                        <td class="label">{{this.moduleType | uppercase}} Type:</td>

                        <!-- <div class="error" *ngIf="addProposalForm?.get('kisce_type')?.hasError('required')">
                          Required
                        </div> -->
                        <td>
                          <select class="form-control" formControlName="kisce_type">
                            <!-- <option value="0">Select Discipline</option> -->
                            <option *ngFor="let type of kiscetypelist" [value]="type.kiscE_Type" >{{type.kiscE_Type}}</option>

                            <div class="text-danger" *ngIf="addProposalForm?.get('kisce_type')?.hasError('required') 
                            || addProposalForm?.get('kisce_type')?.value==0">
                              Required
                            </div>
                          </select>
                          <!-- <div class="text-danger" *ngIf="addProposalForm?.get('kisce_type')?.hasError('required') 
                          || addProposalForm?.get('kisce_type')?.value==0">
                            Required
                          </div> -->
                        </td>
                        <td class="label">Date of proposal:</td>
                        <td>
                          <div class="custom-ui-mat mt-2">
                            <mat-form-field appearance="fill" class="w-100" (click)="proposal_date.open()" (keypress)="false" >
                              <input matInput [matDatepicker]="proposal_date" formControlName="proposal_date" placeholder="dd-mm-yyyy" class="input-date">
                              <mat-datepicker-toggle matSuffix [for]="proposal_date"></mat-datepicker-toggle>
                              <mat-datepicker #proposal_date></mat-datepicker>
                            </mat-form-field>
                          </div>
                        <div class="error" *ngIf="addProposalForm?.get('proposal_date')?.hasError('required')">
                          </div> 
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="text-end my-3">
                <button type="button" class="btn btn-lightwhite px-3 ms-2 text-uppercase"  (click)="activeModal.dismiss('Cross click')"> Cancel</button>
                <button  #modalTemplate type="button" class="btn btn-lightblue px-3 ms-2 text-uppercase"(click)="savedata()">
                  Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
