
<a _ngcontent-oin-c393="" *ngIf="cctvFeedList.length==0 && userDetails.role_id==KicUsersRoleId.kisceAdmin" href="javascript:void(0)" class="btn btn-blue titleTxt my-2 d-block ms-auto mt-2" (click)="openAddCctvModal('add',0)" >ADD +</a>
<div class=" cctv-table " [ngClass]="userDetails.role_id!=KicUsersRoleId.kisceAdmin ? 'brandingTableTopMargin' : cctvFeedList.length!=0 ?'brandingTableTopMargin'  :''">
  <!-- <h2 class="mb-2 training-details-heading" *ngIf="userDetails.role_id == KicUsersRoleId.rcAdmin || userDetails.role_id == KicUsersRoleId.hoAdmin">KIC WISE</h2> -->
  <!-- <a _ngcontent-oin-c393="" href="javascript:void(0)" class="btn btn-blue titleTxt my-2 d-block ms-auto" (click)="openAddCctvModal('add',0)">ADD +</a> -->
  <div class="filterBottom container-fluid mb-3" *ngIf="this.userDetails.role_id == KicUsersRoleId.kisceAdmin || this.userDetails.role_id == KicUsersRoleId.hoAdmin">
   
    <form [formGroup]="searchFilter">
      <div class="row gx-3 align-items-center flex-wrap">
        
       
        <!-- <div class="col-md-3 col-12 my-2">
          <mat-form-field class="w-100">
            <mat-label>Sort By Month</mat-label>
            <mat-select formControlName="month" (selectionChange)="search()">
              <mat-option *ngFor="let month of monthsDetails" [value]="month.id">{{month.name}}</mat-option>
             
            </mat-select>
          </mat-form-field>
        </div> 
        <div class="col-md-3 col-12 my-2">
          <mat-form-field class="w-100"  appearance="fill" (click)="yearEstablish.open()" appYearFormat>
            <mat-label>Sort By Year</mat-label>
            <input matInput [matDatepicker]="yearEstablish"  [min]="min_date" [max]="max_date" formControlName="year" >
            <mat-datepicker-toggle matSuffix [for]="yearEstablish"></mat-datepicker-toggle>
            <mat-datepicker  #yearEstablish startView="multi-year" (yearSelected)="handleYearSelected($event,yearEstablish)"></mat-datepicker>
          </mat-form-field>

        </div> -->
        <div class="col" *ngIf="this.userDetails.role_id!=this.KicUsersRoleId.kisceAdmin">
          <select class="form-control" formControlName="state" (change)="search()">
            <option value="">ALL</option>
            <option  *ngFor="let stateData of stateListForFilter" [value]="stateData.state_name">{{stateData.state_name}}</option>
          </select>
          <!-- <mat-form-field class="w-100">
            <mat-label>Sort By State</mat-label>
            <mat-select formControlName="state" (selectionChange)="search()">
              <mat-option *ngFor="let stateData of stateListForFilter" [value]="stateData.state_name">{{stateData.state_name}}</mat-option>
             
            </mat-select>
          </mat-form-field> -->
        </div> 
        <div class="col" *ngIf="this.userDetails.role_id!=this.KicUsersRoleId.kisceAdmin">
          <select class="form-control" formControlName="status" (change)="search()">
            <option value="">{{'Sort By FOP COVERED BY CCTV' | uppercase}}</option>
            <option value="1">YES</option>
            <option value="0">NO</option>
          </select>

          <!-- <mat-form-field class="w-100">
            <mat-label>{{'Sort By FOP COVERED BY CCTV' | uppercase}}</mat-label>
            <mat-select formControlName="status" (selectionChange)="search()">
              <mat-option value="1">YES</mat-option>
              <mat-option value="0">NO</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-md-3 col-12 my-2" *ngIf="this.userDetails.role_id!=this.KicUsersRoleId.kisceAdmin">
          <button class="btn btn-primary btn-blue custom-ui-btn" style="font-family:'Lato'" (click)="clearFilter(true)">CLEAR</button>
        </div>
      
       
      </div>
   
   </form>
</div>

  <div class="table-responsive position-relative">
    <!-- <form [formGroup]="cctvForm"> -->
    <table mat-table id="athleteDetailTable" [dataSource]="dataSource" matSort class="table-striped  w-100">
      <ng-container matColumnDef="index">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef > S.NO</th>
          <td mat-cell *matCellDef="let element; let i=index">
            {{this.kicWISEPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.kicWISEPaginator.pageIndex * this.kicWISEPaginator.pageSize}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="kuid">
          <th mat-header-cell *matHeaderCellDef > ACADEMY KIUD </th>
          <td mat-cell *matCellDef="let element">
           <ng-container  *ngIf="!editable">
            {{element.kuid}}
           </ng-container>
           <ng-container *ngIf="editable">
    
            <input class="form-control" formControlName="academy_kuid">
           </ng-container>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="stateName" *ngIf="this.userDetails.role_id != KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef > STATE NAME</th>
          <td mat-cell *matCellDef="let element">
            {{element.state_name}}
          </td>
        </ng-container> 

        <ng-container matColumnDef="kiC_NAME" *ngIf="this.userDetails.role_id != KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef > NAME</th>
          <td mat-cell *matCellDef="let element">
            {{element.kiC_NAME}}
          </td>
        </ng-container>

        <ng-container matColumnDef="kiC_KUID" *ngIf="this.userDetails.role_id != KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef > NSRS ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.kitd_unique_id}}
            
          </td>
        </ng-container>
        <ng-container matColumnDef="district" *ngIf="this.userDetails.role_id != KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef > DISTRICT</th>
          <td mat-cell *matCellDef="let element">
            {{element.district ?? 'N/A'}}
            
          </td>
        </ng-container>
        
        <!-- <ng-container matColumnDef="year" *ngIf="userDetails.role_id==KicUsersRoleId.kisceAdmin || userDetails.role_id==46 || userDetails.role_id== 68"> -->
        <ng-container matColumnDef="year" *ngIf="userDetails.role_id==KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef >YEAR</th>
          <td mat-cell *matCellDef="let element">
           {{element.year}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="month" *ngIf="userDetails.role_id==KicUsersRoleId.kisceAdmin">
          <th mat-header-cell *matHeaderCellDef >MONTH</th>
          <td mat-cell *matCellDef="let element">
            <!-- {{element.month}} 
             -->
             {{get(element.month)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="covered_by_cctv">
          <th mat-header-cell *matHeaderCellDef >IS THE FOP COVERED BY CCTV?</th>
          <td mat-cell *matCellDef="let element">
           <ng-container *ngIf="!editable">
            {{element.covered_by_cctv ? 'Yes' : 'No'}}
           </ng-container>
           <ng-container *ngIf="editable">
            <mat-form-field>
            <mat-select matInput  formControlName="cctv">
              <mat-option [value]='1'>Yes</mat-option>
              <mat-option [value]='0'>No</mat-option>
            </mat-select>
          </mat-form-field>
            <mat-error  *ngIf="(cctvForm.controls['cctv'].touched)  && cctvForm.controls['cctv'].errors?.['required']">
              This input field is required.</mat-error>
          </ng-container>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="upload_cctv_link_with_username_password">
          <th mat-header-cell *matHeaderCellDef >{{ this.userDetails.role_id != KicUsersRoleId.kisceAdmin ? 'CCTV LINK WITH USERNAME & PASSWORD' : 'UPLOAD CCTV LINK WITH USERNAME & PASSWORD' }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!editable">
              {{element.upload_cctv_link_with_username_password ?? ''}}
            </ng-container>
            <ng-container *ngIf="editable">
              <mat-form-field class="w-100" >
                 <mat-label>CCTV LINK WITH USERNAME & PASSWORD</mat-label>  
                <textarea matInput formControlName="upload_vedio_linkWitUsern" ></textarea>
              </mat-form-field>
              <mat-error  *ngIf="(cctvForm.controls['upload_vedio_linkWitUsern'].touched)  && cctvForm.controls['upload_vedio_linkWitUsern'].errors?.['required']">
                This input field is required.</mat-error>
                <mat-error  *ngIf="(cctvForm.controls['upload_vedio_linkWitUsern'].touched)  && cctvForm.controls['upload_vedio_linkWitUsern'].errors?.['maxlength']">
                  Only 200 characters allow.
                </mat-error>
            </ng-container>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="upload_vedio">
          <th mat-header-cell *matHeaderCellDef >CCTV ACCESS DOCUMENT</th>
          <td mat-cell *matCellDef="let element">
           <ng-container *ngIf="element.upload_vedio != ''">
            <a [href]="fileBaseUrl + element.upload_vedio" class="text-decoration-none text-dark" target="_blank">
              <mat-icon>remove_red_eye</mat-icon>
             </a> 
           </ng-container> 
           <ng-container *ngIf="element.upload_vedio == '' || element.upload_vedio == null  ">
           N/A
           </ng-container> 
              
          
          
         




           <!-- <ng-container *ngIf="editable==true">
            <div class="form-floating  position-relative  ms-2">

              <div
                class="inputFileUpload-wraper border rounded-1 p-2 d-flex flex-lg-row flex-column align-items-center justify-content-lg-between justify-content-md-center ">

                <div class="d-flex align-items-center ">
                  <div class="inputfileLevel d-flex align-items-center position-relative ">
                    <span class="text-uppercase uploadLevel ">Upload File</span>
                    <input class="inputUpload" type="file" #brandingFileInput (change)="uploadBrandingFile(brandingFileInput.files)"
                      accept=".gif, .jpg, .jpeg, .png, .xls, .xlsx, .doc, .docx ,.pdf">
                    
                  </div>
                </div>

                <a class="ms-2" *ngIf="this.cctvForm.get('upload_vedio')?.value" [href]="this.fileurl+this.cctvForm.get('upload_vedio')?.value" target="_blank">
                  <mat-icon class="" >remove_red_eye</mat-icon>
                </a>

              </div>
              
            </div>
        </ng-container> -->

          </td>
        </ng-container>
        <ng-container matColumnDef="action" *ngIf="KicUsersRoleId.kisceAdmin==userDetails.role_id" >
          <th mat-header-cell *matHeaderCellDef >ACTION </th>
          <td mat-cell *matCellDef="let element;let i=index">
            
              <div class="d-flex align-items-center justify-content-center ">
                <!-- <mat-icon  class="me-2 edit-btn-equipment" (click)="openAddCctvModal('edit',i)"  *ngIf="userDetails.role_id==KicUsersRoleId.stateAdmin ? true : (element.modified_by==null ? true : userDetails.user_id==element.modified_by)">edit</mat-icon> -->
                <mat-icon  class="me-2 edit-btn-equipment" (click)="openAddCctvModal('edit',i)"  >edit</mat-icon>
                <i _ngcontent-ncd-c236="" class="fa-solid fa-trash-can trash-can-equipment" *ngIf="KicUsersRoleId.kisceAdmin == this.userDetails.role_id" (click)="deleteEquipment(element)"></i>
              </div>
          
           
          </td> 
        </ng-container>

        <ng-container *ngIf="userDetails.role_id == KicUsersRoleId.kisceAdmin">
          <tr mat-header-row *matHeaderRowDef="displayedKicColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedKicColumns;"></tr>

        </ng-container>

        <ng-container *ngIf="userDetails.role_id == KicUsersRoleId.stateAdmin" >
          <tr mat-header-row *matHeaderRowDef="displayedStateColumns"></tr >
        <tr mat-row *matRowDef="let row; columns: displayedStateColumns"></tr>
        </ng-container>

        <ng-container *ngIf="userDetails.role_id == KicUsersRoleId.rcAdmin">
          <tr mat-header-row *matHeaderRowDef="displayedRCColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedRCColumns"></tr>
        </ng-container>
        <ng-container *ngIf="userDetails.role_id == KicUsersRoleId.hoAdmin">
          <tr mat-header-row *matHeaderRowDef="displayedRCColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedRCColumns"></tr>
        </ng-container>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" [attr.colspan]="userDetails.role_id==KicUsersRoleId.kisceAdmin ? 5 : 10"> <span class="noDataFound"> No Data Found </span></td>
        </tr>
      </ng-container>
    </table>
  <!-- </form> -->
  </div>
  <mat-paginator #kicWISEPaginator [pageSizeOptions]="[5,10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>


<ng-template #delete let-modal>
  <div class="modal-body tagcommonModal deleteCommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <!-- <div class="titleTxt">
      <h4 class="text-center fw-bold">{{deleteInsuranceData.equipment_type_value.split('-')[1]}} ({{deleteInsuranceData.status_type_value.split('-')[1]}})</h4>
    </div> -->
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want Delete this CCTV Feed Detail.!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmDeleteInsurance()">CONFIRM</button>
    </div>
  </div>
</ng-template>


<app-loader *ngIf="mainLoader || stateLoader"></app-loader> 