.rdListChangeDropdown .form-control {
    /* background-color: #F8F8F8; */
    padding-left: 10px;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
  #otherCoachTable ::ng-deep .mat-sort-header-arrow {color: #fff;}

  .nobtn{
    background-color: #FFCCD2;
    border: 1px solid;
    border-color: #FF475D;
    border-radius: 3px;text-transform: uppercase
}
.yesbtn{
    background-color: #CCFFEC;
    border: 1px solid;
    border-color: #0E8B5C;
    border-radius: 3px;text-transform: uppercase
}
.insuredBtn{
    background-color:#CCFFEC;
    border: 1px solid;
    border-color: #0E8B5C;
    border-radius: 3px;text-transform: uppercase;
}
.pendingBtn{
    background-color:#FFF8CC;
    border: 1px solid;
    border-color: #FFD500;
    border-radius: 3px;text-transform: uppercase;
}
.expiredBtn{
    background-color:#FFCCD2;
    border: 1px solid;
    border-color: #FF475D;
    border-radius: 3px;text-transform: uppercase
}

.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .tagcommonModal .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;}
  .tagcommonModal{padding: 15px 26px 15px 20px}

  .taggedSuccessfully .titleTxt h4{background-color: #D4FFC2;
    border: 1px solid #20BE35;}
