<div class="monitoring-and-evaluation py-4">
    <div class="container-fluid">


        <div class="row inner-tab-group mb-3">
            <div class="col-12 p-3 py-2">

                <mat-tab-group class="mt-2"  [(selectedIndex)]="selectedIndex" [@.disabled]="true">
                    <mat-tab aria-label="equipmentProcurement">
                        <ng-template matTabLabel class="tabEquipment">SANCTIONS</ng-template>

                        <div class="mt-4">
                            <ng-template matTabContent>
                                <app-kic-sanctions></app-kic-sanctions>
                            </ng-template>
                        </div> 
                    </mat-tab>


                    <mat-tab aria-label="pastChampionAthlete">
                        <ng-template matTabLabel class="tabPastChampion">
                            <ng-container>UC</ng-container>
                        </ng-template>
                        <ng-template matTabContent>
                         <app-sanction-uc></app-sanction-uc>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
