<div>
        <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsAthleteDiscipline"
        style=" height: 500px; display: block">
        </highcharts-chart>
</div>
<div>
        <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsCoachDiscipline"
        style=" height: 500px; display: block">
        </highcharts-chart>
</div>
<div>
        <highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsCategory"
                style=" height: 500px; display: block">
        </highcharts-chart>
</div>
