/* 
.cctv-table table{
  border-collapse: collapse;
}
.cctv-table table th{
  border: 1px solid #dedede;
  border-color: #fff;
  vertical-align: middle;
  text-align: center !important;
  font-size: 14px;
}
.cctv-table table td{
  border: 1px solid #dedede;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
}
::ng-deep .cctv-table table thead tr th .mat-sort-header-container{
  justify-content: center !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-left: 10px;
  padding-right: 10px;
} */
::ng-deep .mat-sort-header-arrow {color: #fff;}

.filterRoleInner .form-control{font-size: 14px;}

.equipment-procurement-table .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.equipment-procurement-table .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
.btn-blue {
  background-color: #1F60AB;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: fit-content;
}
.titleTxt{
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 3px;
  font-family: 400;
  font-family: 'Lato';
}


.inputFileUpload-wraper{justify-content: space-between;padding: 6.3px 10px;}
.inputFileUpload-wraper .uploadLevel{background-color: #F1F1F1;font-size: 11px;font-weight: bold;padding: 5px 20px;
border-radius: 4px;display: inline-block;cursor: pointer;}
.inputFileUpload-wraper .inputUpload{position: absolute;opacity: 0;width: 100%;left: 0;}
.inputFileUpload-wraper a{color: inherit;}
:host .eyeIcon{
  font-family: 'Roboto', sans-serif;
  }

  .brandingTableTopMargin{
    margin-top: 3rem;
  }

  ::ng-deep tr.mat-header-row{
    height: 45px !important;
  }


  .training-details-heading{
    font-size: 15px !important;
    font-weight: 700;
    font-family: "Lato" !important;
  }


  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .trash-can-equipment{
    font-size: 18px;
    color: #dc3545;
    cursor: pointer;
}
.edit-btn-equipment{
    font-size: 20px;
    cursor: pointer;
}



.tagcommonModal .titleTxt h4{
  background-color: #FFE89E;border: 1px solid #E1C15C;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
}
    
.tagcommonModal .btn-close{
  position: absolute !important;
  right: 7px;
  top: 7px;
  font-size: 9px;box-shadow: none;outline: none;
}
.tagcommonModal{padding: 15px 26px 15px 20px}

.tagcommonModal.deleteCommonModal .titleTxt h4{background: #ffdede !important;
  border-color: #fb9f9f !important;}

/* .taggedSuccessfully .titleTxt h4{
  background-color: #D4FFC2;
  border: 1px solid #20BE35;} */
 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-top: 8px !important;
  }

  .custom-ui-btn{
    height: 32px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 3px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
  }
  