<div class="athlete athlete-detail">
  <div class="filterRoleInner d-flex align-items-center flex-wrap">

  </div>
  <mat-tab-group class="mt-2" [dynamicHeight]="false">

    <ng-container>
      <mat-tab aria-label="dashboardsKICTab">
        <ng-template matTabLabel class="tablbl">DASHBOARD</ng-template>
        <ng-template matTabContent>
          <app-kisce-dashboard></app-kisce-dashboard>
        </ng-template>
      </mat-tab>
    </ng-container>

    <mat-tab aria-label="proposalsKICTab">
      <ng-template matTabLabel class="tablbl">PROPOSALS</ng-template>
      <ng-template matTabContent>
        <app-kisce-table-view></app-kisce-table-view>
      </ng-template>
    </mat-tab>



    <mat-tab aria-label="pastChampionAthlete">
      <ng-template matTabLabel class="tabPastChampion">
        <ng-container>SANCTIONS / UC</ng-container>
      </ng-template>
      <ng-template matTabContent>
        <app-sanction-uc-table-view></app-sanction-uc-table-view>
      </ng-template>
    </mat-tab>

    <mat-tab aria-label="pastChampionAthlete">
      <ng-template matTabLabel class="tabPastChampion">
        <ng-container>ACADEMY</ng-container>
      </ng-template>
      <ng-template matTabContent>
        <app-kic-academy></app-kic-academy>
      </ng-template>
    </mat-tab>

    <mat-tab aria-label="monitoringEvaluationKICTab">
      <ng-template matTabLabel class="tablbl">MONITORING & EVALUATION</ng-template>
      <ng-template matTabContent>
        <app-kisce-monitoring></app-kisce-monitoring>
      </ng-template>
    </mat-tab>

    <mat-tab aria-label="attendanceKICTab">
      <ng-template matTabLabel class="tablbl">ATTENDANCE</ng-template>
      <ng-template matTabContent>

        <app-kisce-table
          *ngIf="((this.userDetails.role_id === roleCode.kisceAdmin) || (this.userDetails.role_id === roleCode.pcaAdmin))"></app-kisce-table>

        <app-kisce-state-table *ngIf="(this.userDetails.role_id === roleCode.stateAdmin)"></app-kisce-state-table>

        <app-kisce-rc-table *ngIf="(this.userDetails.role_id === roleCode.rcAdmin)"></app-kisce-rc-table>

        <app-kisce-ho-table *ngIf="(this.userDetails.role_id === roleCode.hoAdmin)"></app-kisce-ho-table>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>