<div class="athlete">
  <div class="filterdata">
    <div class="filterTop">
      <div class="row align-items-center justify-content:between mt-3">
        <div class="col-auto"><h5  class="fw-bold text-uppercase">Athlete</h5></div>
    </div>
    </div>
    <div class="filterBottom mb-3">
      <form [formGroup]="searchFilter" (ngSubmit)="search()">
        <div class="row gx-3 align-items-center flex-wrap">
          <div class="col">
            <input type="text" class="form-control" placeholder="NSRS ID" formControlName="nsrsid">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
          </div>
          <div class="col">
            <select class="form-control" formControlName="discipline">
              <option value="" selected="selected"> Discipline</option>
              <option [value]="data.sport_detail_id" *ngFor="let data of sportListData">{{data.sport_name}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control apperance-top" formControlName="scheme">
              <option value=0>Scheme</option>
              <option [value]="data.id" *ngFor="let data of schemeListData">{{data.scholarship_type}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control academy-type" (change)="changeAcademyType($event)" formControlName="academy_type">
              <option value=0 selected="selected"> Academy Type</option>
              <option [value]="data.scheme_id" *ngFor="let data of getSchemeListData">{{data.scheme_name}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control apperance-top" formControlName="academy" (click)="checkAcademyType()">
              <option value=0>Academy</option>
              <option [value]="data.academyid" *ngFor="let data of academyListData">{{data.academyName}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" formControlName="gender">
              <option value="">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-lightblue px-3"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="col-auto">
            <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i class="icon-sound-module-line mt-1 d-block"></i></a>
          </div>
        </div>
      </form>
      <!-- </form> -->
    </div>
  </div>
  




  <div class="table-responsive position-relative">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">

      <ng-container matColumnDef="nsrsId">
        <th mat-header-cell *matHeaderCellDef> NSRS ID</th>
        <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" class="text-decoration-none" (click)="openAthleteProfile(element)">{{element.nsrsId}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="NAME">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.ath_Name ? element.ath_Name : 'N/A'}} </td>
      </ng-container>
      <ng-container matColumnDef="TrainingCenter">
        <th mat-header-cell *matHeaderCellDef>ACADEMY </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button *ngIf="element.trainingCenter==''" disabled style="text-decoration: none;"
            class="addAcademyBtn">ADD
          </button>
          <a [btnDisableIfRole]="[hideRoleID]" href="javascript:void(0)" style="text-decoration: none;" *ngIf="element.trainingCenter!='' " style="text-decoration: none;"
            (click)="openTransferComponent(element)">
            {{element.trainingCenter}}
          </a> -->
          {{element.trainingCenter ? element.trainingCenter : 'N/A'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="kia">
        <th mat-header-cell *matHeaderCellDef> KIA </th>
        <td mat-cell *matCellDef="let element"><button
            [ngClass]="element.is_kia==0 ? 'nobtn':'yesbtn'">{{element.is_kia==0 ? "NO" : "YES"}}</button></td>

      </ng-container>


      <ng-container matColumnDef="tops">
        <th mat-header-cell *matHeaderCellDef> TOPS </th>
        <td mat-cell *matCellDef="let element"><button
            [ngClass]="!element.is_Tops ? 'nobtn':'yesbtn'">{{!element.is_Tops ? "NO" : "YES"}}</button></td>
      </ng-container>

      <ng-container matColumnDef="insurance">
        <th mat-header-cell *matHeaderCellDef> INSURANCE</th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="(element.insurance_status=='0')"  class="nobtn">
            NO
          </button>
          <button *ngIf="(element.insurance_status=='P')" class="pendingBtn"> 
            PENDING 
          </button>
          <button *ngIf="(element.insurance_status=='S')"  
            class="yesbtn"> 
            INSURED 
          </button>
          <button  *ngIf="(element.insurance_status=='E')"
            class="expiredBtn"> 
            EXPIRED 
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="sanction_banned">
        <th mat-header-cell *matHeaderCellDef> Sanction <br> (Banned)</th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.is_Blacklisted===1" class="yesbtn">YES</button>
          <button *ngIf="element.is_Blacklisted===0" (click)="openSanctionModal(element)" class="nobtn">NO</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="financial">
        <th mat-header-cell *matHeaderCellDef> FINANCIAL</th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.scholarship_type!=''" [ngClass]="{'kheloIndiaOpaBtn' : element.scholarship_type == 'Khelo India' ,
            'developmentOpaBtn' : element.scholarship_type == 'Developmental',
            'topcoreOpaBtn' : element.scholarship_type == 'Tops Core',
            'othersOpaBtn' : element.scholarship_type == 'Others'}"
            id="financialOtherButton">
            {{element.scholarship_type}}
          </button>
          <button id="financialNoButton" *ngIf="element.scholarship_type==''" class="nobtn">
            NO
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="kiaa">
        <th mat-header-cell *matHeaderCellDef> KIAA</th>
        <td mat-cell *matCellDef="let element"><button
            [ngClass]="element.is_KIAA==0 ? 'nobtn':'yesbtn'">{{element.is_KIAA==0 ? "NO" : "YES"}}</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="10"> <span class="noDataFound"> No Data Found </span></td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSize]="10"
                 [length]="totalLength"
                 (page)="paginationClick($event)" 
                 aria-label="Select page of users">    
  </mat-paginator>

</div>


<app-loader 
*ngIf="innerLoaderMainData || 
innerLoaderSportList || 
innerLoader">  
</app-loader>