<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-user-line"></i></span> PERSONAL DETAILS</h3>
      <!-- <button type="button" *ngIf="readonlyEdit" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button> -->
    </div>
    <div class="row row-info" *ngIf="popupDataReceived!=null else noData">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>FULL NAME</h6>
            <h3>{{popupDataReceived.full_name}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>FATHER NAME</h6>
            <h3>{{popupDataReceived.father_full_name ? popupDataReceived.father_full_name :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>MOTHERS NAME</h6>
            <h3>{{popupDataReceived.mother_full_name != (null && '') ? popupDataReceived.mother_full_name :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>FATHER'S PROFESSION</h6>
            <h3>{{popupDataReceived.father_profession  ? popupDataReceived.father_profession : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>MOTHER'S PROFESSION</h6>
            <h3>{{popupDataReceived.mother_profession  ? popupDataReceived.mother_profession : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>GENDER</h6>
            <h3>{{popupDataReceived.gender =='M' ? 'Male' : 'Female'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>DATE OF BIRTH</h6>
            <h3>{{popupDataReceived.date_of_birth | date: 'dd-MM-yyyy'}}</h3>
        </div>
    </div>
    <ng-template #noData>
        <p class="text-center"><strong>Data not available!</strong></p>
    </ng-template>
  </div>