<div class="p-2 ps-3 d-flex align-items-center">
    <span class="page-heading-icon"><i class="icon-achievement"></i></span>
    <span class="page-heading">Achievement</span>
  </div>
  <div class="border-top">
    <div class="row mx-0">
      <div class="col-lg-9">
        <div class="px-2 py-3 py-lg-4">
          <div class="pe-2">
            <div class="row profile-row">
              <div class="col-md-4 col-sm-6 item mt-3">
                <a (click)="openSportsSpecificEducationModal()" class="card text-center">
                  <span class="icon-box"><i class="fa-solid fa-award"></i></span>
                  <h4>SPORTS SPECIFIC EDUCATION</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openResearchExperienceModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="lab_research"></mat-icon></span>
                  <h4>Research Experience</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openTeachingExperienceModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="cast_for_education"></mat-icon></span>
                  <h4>Teaching Experience</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openPublicationModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="feed"></mat-icon></span>
                  <h4>Publication</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openTrainingWorkshopModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="home_repair_service"></mat-icon></span>
                  <h4>Training / Workshop / Conference</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openAwardModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="rewarded_ads"></mat-icon></span>
                  <h4>Awards</h4>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 item mt-3" *ngIf="userDetails.role_id ===103">
                <a (click)="openMembershipScientificModal()" class="card text-center">
                  <span class="icon-box"><mat-icon class="material-symbols-outlined" fontIcon="psychology"></mat-icon></span>
                  <h4>Membership of Scientific Bodies</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="content-divider" />
      </div>
      <div class="col-lg-3 border-lg-start">
        <div class="py-lg-4">
          <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
        </div>
      </div>
    </div>
  </div>
  