<div class="modal-body sport-education-modal">
  <button type="button" 
    *ngIf="has_recieved_discipline_specific_education !== null" 
    class="btn-close" aria-label="Close" 
    (click)="activeModal.close(false)"
  ></button>
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center mb-3">
    <h3><span class="titleIcon"><i class="fa-solid fa-award f-18-px"></i></span> Discipline Specific Education Details</h3>
    <button 
      *ngIf="has_recieved_discipline_specific_education === null"
      type="button" class="btn btn-blue bg-danger py-1" (click)="logout()"
    >LOG OUT</button>
  </div>
  <form [formGroup]="form">
    <div class="row g-0 py-2 mb-2" *ngIf="has_recieved_discipline_specific_education === null">
      <div class="col p-2 border border-blue text-center bg-light text-blue">
        PLEASE ENTER YOUR DISCIPLINE SPECIFIC EDUCATION DETAILS.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>ISSUED BY</mat-label>
          <mat-select formControlName="issued_by" (selectionChange)="onIssuedByChange()">
            <mat-option *ngFor="let option of issuedByList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>EDUCATION TYPE</mat-label>
          <mat-select formControlName="ed_type" (selectionChange)="onEducationTypeChange()">
            <mat-option *ngFor="let option of educationTypesList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>COURSE NAME</mat-label>
          <mat-select formControlName="course_name" (selectionChange)="onCourseNameChange()">
            <mat-option *ngFor="let option of coursesList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>LEVEL</mat-label>
          <mat-select formControlName="level">
            <mat-option *ngFor="let option of levelsList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <mat-form-field class="w-100" appearance="fill" (click)="passingYr.open()" (keyup.enter)="passingYr.open()">
          <mat-label>PASSING YEAR</mat-label>
          <input matInput formControlName="passing_yr" [matDatepicker]="passingYr" readonly [min]="minPassingYr" [max]="maxPassingYr" />
          <mat-datepicker-toggle matSuffix [for]="passingYr"></mat-datepicker-toggle>
          <mat-datepicker #passingYr startView="multi-year" panelClass="custom-dp"
            (yearSelected)="passingYr.close(); onPassingYrSelected($event)"
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>DURATION</mat-label>
              <input 
                matInput type="text" 
                formControlName="duration" 
                (keypress)="$event.which != 8 && 
                            $event.which != 0 && 
                            $event.which < 48 || 
                            $event.which > 57 
                              ? $event.preventDefault() 
                              : null"
              />
            </mat-form-field>
          </div>
          <div class="col-7">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>DURATION UNIT</mat-label>
              <mat-select value="WEEK" formControlName="duration_select">
                <mat-option value="WEEK">WEEK</mat-option>
                <mat-option value="DAY">DAY</mat-option>
                <mat-option value="MONTH">MONTH</mat-option>
                <mat-option value="YEAR">YEAR</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>REMARKS</mat-label>
          <input matInput type="text" formControlName="remarks" />
        </mat-form-field>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="inputFileUpload-wrapper border rounded-1 d-flex align-items-center">
          <div class="inputfileLevel position-relative">
            <span class="text-uppercase upload-level" [ngClass]="{'text-danger': isSaveClicked}">Upload Document *</span>
            <input #docFile type="file" class="upload-input" [disabled]="form.disabled" (change)="fileUpload($event)" accept=".jpg, .jpeg, .png, .pdf">
          </div>
          <div *ngIf="doc_path">
            <a [href]="fileBaseUrl + doc_path" target="_blank"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0 mb-2" *ngIf="has_recieved_discipline_specific_education === null">
      <div class="col">
        <hr class="mx-0 my-1" />
        <span class="or-section text-blue p-1 px-4">
          OR
        </span>
        <div class="text-center">
          <mat-checkbox [formControl]="sportsSpecificEducationControl" class="text-blue" (change)="onCheckBoxChange()"> I have not received any Discipline Specific Education. </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <hr class="mt-1" />
      <div class="col text-center">
        <button type="button" class="btn btn-blue px-lg-4" (click)="saveDetails()">Save</button>
      </div>
    </div>
  </form>
</div>
<app-loader *ngIf="loader"></app-loader>