<!-- <ng-container  *ngIf="chartType =='piChart'">
    <highcharts-chart [Highcharts]="highcharts" [options]="form5piChartOptions" class="w-100 d-block"></highcharts-chart>
</ng-container>


<ng-container *ngIf="chartType =='barChart'">
    <highcharts-chart  id="container" [Highcharts]="highcharts" [options]="form5barChartOptions"
    style=" height: 500px; display: block">
    </highcharts-chart>
</ng-container> -->
<ng-container *ngIf="this.tilesChartData">
    <highcharts-chart  id="container" [Highcharts]="Highcharts" [options]="stackChartOptions" [(update)]="updateFlag"
    style=" height: 500px; display: block">
    </highcharts-chart>
</ng-container>

