.tag-common-modal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .tag-common-modal .btn-close{position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px;box-shadow: none;outline: none;}
  .tag-common-modal{padding: 15px 20px;}
  
  
  .education-modal .mat-form-field{font-size: 14px;}
  .education-modal .titleTxt h3{font-size: 16px;
    color: #4b6fbf;
    text-transform: uppercase;margin-bottom: 0;}
  .education-modal .titleTxt{border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
    margin-bottom: 20px;}
  .education-modal .titleTxt .titleIcon{width: 30px;
    height: 30px;
    border: 1px solid #1E5FAA;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;margin-right: 8px;}
  .education-modal .titleTxt .btn-edit{border-color: #1F60AB;
    background-color: #D1E6FF;
    color: #1F60AB;
    font-size: 12px;
    padding: 1px 8px 0;
    border-radius: 3px;
  }
  ::ng-deep .custom-input.mat-form-field-disabled.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: rgba(0,0,0,.02);
  }
  
  ::ng-deep .mat-option.custom-select-option {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9999;
    border-bottom: 1px solid #1F60AB;
  }

  .athlete-ki-modal .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete-ki-modal .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
.noDataFound{font-size: 16px;}

.action_col .action_icon{font-size: 15px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFB24D;
  padding: 2px 3px;
  line-height: normal;  
  text-align: center;cursor: pointer;}
  .action_col .action_icon mat-icon{
    width: auto;
  height: auto;
  font-size: 18px;
  }
  .action_col .action_icon.fa_trash{color: #ff0000;}
  .status-not-verified {
    background-color: #ffc9c9;
    border-color: red;
    color: red;
    font-size: 11px;
    padding: 1px 8px;
    border-radius: 0;
    text-transform: uppercase;
    cursor: default;
  }
  .verfied-btn {
    background-color: #ccffec;
    border: 1px solid;
    border-color: #0e8b5c;
    border-radius: 3px;
    text-transform: uppercase;
    color: darkgreen;
    font-size: 11px;
    padding: 1px 8px;
    cursor: default;
  
  }
  
  .verfied-btn:hover {
    background-color: darkgreen;
    border: 1px solid darkgreen;
  }
  
  .pending-btn-ui {
    background-color: #ffe5cf;
    border: 1px solid #ff7400;
    border-color: #ff7400;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ff7400;
    font-size: 11px;
    padding: 1px 8px;
  
  }
  
  .pending-btn-ui:hover {
    background-color: #ff9003;
    color: #fff;
  }
.view-doc{
  background-color: transparent;
  border: 0;
  color: #3fb424;
  line-height: initial;
  font-size: 7px;
  padding: 0 4px;
}
::ng-deep .custom-dialog-panel-modal .mat-dialog-container {
  padding: 0px 2px !important;
}

.deleteCommonModal-1 .titleTxt h4 {
  background-color: #FFE89E;
  border: 1px solid #E1C15C;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
}

.deleteCommonModal-1 .btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 9px;
  box-shadow: none;
  outline: none;
}

.deleteCommonModal-1 {
  padding: 15px 26px 15px 20px
}

.deleteCommonModal-1 .titleTxt h4 {
  border-color: #008205;
  background-color: #e0ffe1;
}

.deleteCoachSS-1 .titleTxt h4 {
  background-color: #FFC9C9;
  border: 1px solid #FF0000;
}
.athlete-ki-modal .table-responsive{
  max-height: 450px;
  overflow-y: auto;
}
