.titleTxt h3 {
  font-size: 16px;
  color: #4b5674;
  text-transform: uppercase;
  margin-bottom: 0;
}

.titleTxt {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* .mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
} */
::ng-deep .mat-tab-body-content{
  overflow: hidden !important;
   }

.editIcon {
  margin-right: 10px;
}

.icon a {
  color: #0d6efd;
  cursor: pointer;
}

.titleTxt .titleIcon {
  width: 30px;
  height: 30px;
  border: 1px solid #1e5faa;
  border-radius: 50%;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.titleTxt .btn-blue {
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 3px;
}

#athleteDetailTable ::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

.filterRoleInner .form-control {
  font-size: 14px;
}

.mat-row .mat-cell {
  border-right: 1px solid #f5f5f5;
}

.mat-row .mat-cell:last-child {
  border-right: 0;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 24px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 24px;
}

/* .athlete-detail ::ng-deep .mat-row .mat-cell:nth-child(11),.athlete-detail th.mat-header-cell:nth-child(11){min-width: 143px;} */
::ng-deep .mat-row .mat-cell:nth-child(12),
th.mat-header-cell:nth-child(12) {
  min-width: 130px;
}

::ng-deep .mat-row .mat-cell:nth-child(13),
th.mat-header-cell:nth-child(13) {
  min-width: 106px;
}

::ng-deep th.mat-header-cell {
  font-size: 10px !important;
  font-weight: bold !important;
}

/* buttons css */
.ssDropDown {
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 2px;
  background-color: #f8f8f8;
  border: 1px solid #ced4da;
  color: #000000ba;
}

.yesBtn {
  background-color: #ccffec;
  border: 1px solid;
  border-color: #0e8b5c;
  border-radius: 3px;
  text-transform: uppercase;
}

.noBtn {
  background-color: #ffccd2;
  border: 1px solid;
  border-color: #ff475d;
  border-radius: 3px;
  text-transform: uppercase;
}

.expiredBtn {
  background-color: #ffccd2;
  border: 1px solid;
  border-color: #ff475d;
  border-radius: 3px;
  text-transform: uppercase;
}

.pendingBtn {
  background-color: #fff8cc;
  border: 1px solid;
  border-color: #ffd500;
  border-radius: 3px;
  text-transform: uppercase;
}

.mat-table button {
  font-size: 10px;
}

.noDataFound {
  font-size: 16px;
}

.tagcommonModal .titleTxt h4 {
  background-color: #ffe89e;
  border: 1px solid #e1c15c;
  padding: 3px;
  font-size: 13px;
  text-transform: uppercase;
}

.tagcommonModal .btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 9px;
  box-shadow: none;
  outline: none;
}

.tagcommonModal {
  padding: 15px 26px 15px 20px;
}

.taggedSuccessfully .titleTxt h4 {
  background-color: #d4ffc2;
  border: 1px solid #20be35;
}

/* .mat-input-element[read-only]{} */

.noDataFound {
  font-size: 16px;
}

.tagcommonModal.deleteCommonModal .titleTxt h4 {
  background: #ffdede;
  border-color: #fb9f9f;
}

.icon-athlete-detail:before {
  color: inherit;
}

::ng-deep .ngb_tooltip .tooltip-inner {
  background-color: #003b80;
  font-size: 13px;
  white-space: nowrap;
}

::ng-deep .ngb_tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #003b80;
}

::ng-deep .ngb_tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #003b80;
}

a {
  text-decoration: none;
}

.wrap-upload .upload {
  position: relative;
  width: 86px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  cursor: pointer;
}

.wrap-upload .upload .text {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 13px;
  text-align: center;
  font: normal normal 600 11px/35px Lato;
  letter-spacing: 0px;
  color: #000000;
  top: -3px;
  left: 10px;
}

.wrap-upload .upload .icon {
  position: absolute;
  display: inline-block;
  top: 4px;
  right: 10px;
}

.wrap-upload .upload .icon img {
  height: 11px;
  width: 13px;
}

/* +++++++++++ View Css +++++++++++ */
.wrap-view .view {
  position: relative;
  width: 86px;
  height: 30px;
  cursor: pointer;
}
.wrap-view .view-proposal {
  position: relative;
  /* width: 86px;
  height: 30px; */
}

.wrap-view .view .text {
  position: absolute;
  display: block;
  width: 34px;
  height: 13px;
  font: normal normal 600 11px/35px Lato;
  letter-spacing: 0px;
  color: #000000;
  top: 3px;
  left: 30px;
}

.wrap-view .view .icon {
  position: absolute;
  display: block;
  top: -4px;
  right: 35px;
}

.wrap-view .view .icon img {
  height: 11px;
  width: 13px;
}

/* ############### Custom Input Start ################## */
.custom-input {
  width: 180px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
}

.custom-input-read-only {
  width: 180px;
  height: 30px;
  background-color: inherit;
  border: 0.5px solid #ffffff;
  border-radius: 2px;
  pointer-events: none;
}

.athlete .mat-form-field-infix{
  width: 0px !important;
}

.custom-select-select {
  cursor: pointer;
  width: 100%;
   height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 0.5px solid #707070; */
  /* border-radius: 2px; */
}

.custom-select-input {
  cursor: pointer;
  width: 80px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
}
.custom-select-input-read-only {
  width: 80px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  pointer-events: none;
}
.custom-selectt-input-read-only {
  cursor: pointer;
  /* width: 249px;
  padding: 19px 5px;
  height: 30px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 3px;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0px !important;
  padding: 10px;
}

.mat-table .mat-cell,
.mat-table .mat-header-cell {
  text-align: center;
}

.matDatePicker {
  height: 10px;
}

.search-select {
  padding: 5px;
}

.searchInp {
  padding: 10px;
}

.custom-select-input option {
  font-weight: 600;
  letter-spacing: 0;
}

.custom-select-input .yellow {
  color: #d59d02;
}

.custom-select-input .green {
  color: #307a00;
}

.custom-select-input .red {
  color: #ff0000;
}

/* ############### Custom Input End #################### */

/* #################### Custom Table Start ############################ */
table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 0.7px;
  font-family: "lato";
  font-size: 10px;
}

th,
td {
  padding: 4px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}

th {
  text-transform: uppercase;
  background-color: #1f60ab;
  color: #ffffff;
  height: 38px;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f8fbff;
}

td:not(:last-child) {
  border-right: 1px solid #f5f5f5;
}

/* #################### Custom Table End ############################ */

.inputFileUpload-wraper {
  justify-content: space-between;
  padding: 6.3px 10px;
}
.inputFileUpload-wraper .uploadLevel {
  background-color: #f1f1f1;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
.inputFileUpload-wraper .inputUpload {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
}
.inputFileUpload-wraper a {
  color: inherit;
}

.hide-column {
  display: none !important;
}