<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="filterdata">
        <div class="filterTop">
          <div class="row justify-content-between align-items-center py-2 mt-2">
            <div class="col-12 mb-2">
              <h5 *ngIf="moduleType == 'kic'" class="text-uppercase">List of kic proposals</h5>
              <h5 *ngIf="moduleType == 'kisce'" class="text-uppercase">List of kisce proposals</h5>
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-4 col-12 my-2">
                  <div class="">
                    <input
                      type="text"
                      #searchValue
                      placeholder="Search By Proposal ID"
                      class="form-control my-input-btn searchInp"
                      (input)="searchFilter(searchValue.value)"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-12 my-2">
                  <div class="exports">
                    <mat-form-field class="my-datepicker w-100" appearance="fill">
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker" class="matDatePicker">
                        <input matStartDate placeholder="Start date" #startDateInput (dateChange)="onDateChangeFilter()" />
                        <input matEndDate placeholder="End date" #endDateInput (dateChange)="onDateChangeFilter()" />
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 col-12 my-2">
                  <div class="exports">
                    <mat-form-field appearance="fill" class="w-100 search-select">
                      <mat-select placeholder="Proposal Status" [(value)]="selectedStatus" (selectionChange)="filterProposalList()">
                        <mat-option value="2">Approved</mat-option>
                        <mat-option value="3">Rejected</mat-option>
                        <mat-option value="1">In Progress</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content:between">
            <div class="row align-items-center justify-content:between mt-3">
              <hr />
              <div class="col text-end">
                <div class="row justify-content-end">
                  <div class="col-auto rightsec d-flex align-items-center">
                    <button
                      (click)="enableEdit ? (this.enableEdit = !this.enableEdit) : onEdit()"
                      type="button"
                      class="btn btn-lightblue px-3 ms-2 text-uppercase"
                      *ngIf="this.userDetails.role_id == KicUsersRoleId.hoAdmin"
                    >
                      <ng-container *ngIf="this.enableEdit">View</ng-container>
                      <ng-container *ngIf="this.enableEdit == false"> <i class="fa fa-pencil editIcon"></i> Edit</ng-container>
                    </button>
                    <div class="exports ms-2">
                      <select class="form-control" (change)="exportToExcelPdfChange($event)">
                        <option disabled selected="selected">Export</option>
                        <option value="pdf">PDF</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ##############  Proposal Table Start ############## -->
  <div class="row">
    <div class="col-12">
      <form [formGroup]="proposalForm">
        <div class="table-responsive position-relative">
          <div class="custom-table table-responsive">
            <table
              id="proposalTable"
              matTableExporter
              #exporter="matTableExporter"
              mat-table
              [dataSource]="dataSource"
              matSort
              class="mat-elevation-z8 mat-table mat-elevation-z8 my-centered-table"
            >
              <ng-container matColumnDef="proposal_Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PROPOSAL ID</th>
                <td mat-cell *matCellDef="let element">{{ element.get("proposal_Id")?.value || "N/A" }}</td>
              </ng-container>

              <ng-container matColumnDef="nsrs_Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NSRS ID</th>
                <td mat-cell *matCellDef="let element">{{ element.get("nsrs_Id")?.value || "N/A" }}</td>
              </ng-container>

              <ng-container matColumnDef="proposal_Head">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PROPOSAL HEAD</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="!enableEdit; else editMode">
                    {{ element.get("proposal_Head")?.value || "-" }}
                  </ng-container>
                  <ng-template #editMode>
                    <input
                    type="text"
                    [formControl]="element.get('proposal_Head')"
                    [ngClass]="{ 'custom-input-read-only': !enableEdit, 'custom-input': enableEdit }"
                    (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                  />
                  </ng-template>
                  <div class="text-danger" style="font-size: smaller" *ngIf="submitted && element.get('proposal_Head')?.invalid">
                    Required
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="proposal_Document">
                <th mat-header-cell *matHeaderCellDef>PROPOSAL DOCUMENTS</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <div *ngIf="enableEdit">
                    <div class="wrap-upload" *ngIf="!element.proposal_details">
                      <div class="upload" (click)="addProposaldocument(i,'edit')">
                        <span class="text">Upload</span>
                        <span class="icon">
                          <img src="assets/images/svg-icons/upload.svg" alt="" />
                        </span>
                        <input
                          type="file"
                          #fileUpload
                          name="fileUpload"
                          class="d-none"
                          (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                          (change)="uploadFile(fileUpload.files, i, 'proposal_details')"
                        />
                      </div>
                    </div>
                    <div class="text-danger" style="font-size: smaller" *ngIf="submitted && element.get('proposal_details')?.invalid">
                      Required
                    </div>
                  </div>
                  <ng-container *ngIf="!enableEdit && element.get('proposal_details')?.value != ''">
                    <div class="wrap-view">
                      <!-- <div class="view"> -->
                        <span class="icon">
                          <a><i (click)="addProposaldocument(i,'view')" class="fa-solid fa-eye"></i></a>
                        </span>
                        <!-- <span class="text">View</span> -->
                      <!-- </div> -->
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!enableEdit && element.get('proposal_details')?.value == ''">
                    <div class="wrap-view">
                      <div class="view-proposal">
                        <span>-</span>
                      </div>
                    </div>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="proposal_Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBMITTED ON</th>
                <td mat-cell *matCellDef="let element">{{ element.get("proposal_Date")?.value | date : "dd-MM-YYYY" || "N/A" }}</td>
              </ng-container>

              <ng-container matColumnDef="pac_Agenda">
                <th mat-header-cell *matHeaderCellDef>PAC AGENDA</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="enableEdit">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input
                          type="file"
                          class="inputUpload"
                          (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                          #pcaAgendaFile
                          (change)="uploadFile(pcaAgendaFile.files,element.get('index')?.value-1, 'pac_Agenda')"
                        />
                      </div>
                      <div *ngIf="element.get('pac_Agenda')?.value && element.get('pac_Agenda')?.value != 'N/A'">
                        <a [href]="fileBaseUrl + element.get('pac_Agenda')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    </div>
                    <!-- <div class="text-danger" *ngIf="element.get('pac_Agenda')?.touched && element.get('pac_Agenda')?.hasError('required')">
                      Pac Agenda Required
                    </div> -->
                  </ng-container>
                  <ng-container *ngIf="!enableEdit">
                    <div *ngIf="!element.get('pac_Agenda')?.value || element.get('pac_Agenda')?.value == 'N/A'">-</div>
                    <div *ngIf="element.get('pac_Agenda')?.value && element.get('pac_Agenda')?.value != 'N/A'">
                      <a [href]="fileBaseUrl + element.get('pac_Agenda')?.value" target="_blank">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    </div>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="pac_Minutes">
                <th mat-header-cell *matHeaderCellDef>PAC MINUTES</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="enableEdit">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input
                          type="file"
                          class="inputUpload"
                          (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                          #pcaMintues
                          (change)="uploadFile(pcaMintues.files, element.get('index')?.value-1, 'pac_Minutes')"
                        />
                      </div>
                      <div *ngIf="element.get('pac_Minutes')?.value && element.get('pac_Minutes')?.value != ''">
                        <a [href]="fileBaseUrl + element.get('pac_Minutes')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    </div>
                    <!-- <div
                      class="text-danger"
                      *ngIf="element.get('pac_Minutes')?.touched && element.get('pac_Minutes')?.hasError('required')"
                    >
                      Pac Minutes Required
                    </div> -->
                  </ng-container>
                  <ng-container *ngIf="!enableEdit">
                    <div *ngIf="!element.get('pac_Minutes')?.value || element.get('pac_Minutes')?.value == ''">-</div>
                    <div *ngIf="element.get('pac_Minutes')?.value && element.get('pac_Minutes')?.value != ''">
                      <a [href]="fileBaseUrl + element.get('pac_Minutes')?.value" target="_blank">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    </div>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="dpac_Agenda">
                <th mat-header-cell *matHeaderCellDef>DPAC AGENDA</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="enableEdit">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input
                          type="file"
                          class="inputUpload"
                          (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                          #dpac_Minutes
                          (change)="uploadFile(dpac_Minutes.files,element.get('index')?.value-1, 'dpac_Agenda')"
                        />
                      </div>
                      <div *ngIf="element.get('dpac_Agenda')?.value && element.get('dpac_Agenda')?.value != ''">
                        <a [href]="fileBaseUrl + element.get('dpac_Agenda')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    </div>
                    <!-- <div
                      class="text-danger"
                      *ngIf="element.get('dpac_Agenda')?.touched && element.get('dpac_Agenda')?.hasError('required')"
                    >
                      Dpac Agenda Required
                    </div> -->
                  </ng-container>
                  <ng-container *ngIf="!enableEdit">
                    <div *ngIf="!element.get('dpac_Agenda')?.value || element.get('dpac_Agenda')?.value == ''">-</div>
                    <div *ngIf="element.get('dpac_Agenda')?.value && element.get('dpac_Agenda')?.value != ''">
                      <a [href]="fileBaseUrl + element.get('dpac_Agenda')?.value" target="_blank">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    </div>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="dpac_Minutes">
                <th mat-header-cell *matHeaderCellDef>DPAC MINUTES</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="enableEdit">
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <input
                          type="file"
                          class="inputUpload"
                          (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                          #dpac_Minutes
                          (change)="uploadFile(dpac_Minutes.files,element.get('index')?.value-1, 'dpac_Minutes')"
                        />
                      </div>
                      <div *ngIf="element.get('dpac_Minutes')?.value && element.get('dpac_Minutes')?.value != ''">
                        <a [href]="fileBaseUrl + element.get('dpac_Minutes')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    </div>
                    <!-- <div
                      class="text-danger"
                      *ngIf="element.get('dpac_Minutes')?.touched && element.get('dpac_Minutes')?.hasError('required')"
                    >
                      Dpac Minutes Required
                    </div> -->
                  </ng-container>
                  <ng-container *ngIf="!enableEdit">
                    <div *ngIf="!element.get('dpac_Minutes')?.value || element.get('dpac_Minutes')?.value == ''">-</div>
                    <div *ngIf="element.get('dpac_Minutes')?.value && element.get('dpac_Minutes')?.value != ''">
                      <a [href]="fileBaseUrl + element.get('dpac_Minutes')?.value" target="_blank">
                        <i class="fa-solid fa-eye"></i>
                      </a>
                    </div>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="proposal_Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PROPOSAL STATUS</th>

                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="this.enableEdit">
                    <mat-form-field>
                      <mat-select
                        (change)="validationSet(i)"
                        [formControl]="element.get('proposal_Status')"
                        (selectionChange)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                        [ngClass]="{ 'custom-selectt-input-read-only': !enableEdit, 'custom-select-select': enableEdit }"
                      >
                        <mat-option value="1" class="yellow">In Progress</mat-option>
                        <mat-option value="2" class="green">Approved</mat-option>
                        <mat-option value="3" class="red">Rejected</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>

                  <ng-container *ngIf="this.enableEdit == false">
                    <ng-container *ngIf="element.get('proposal_Status')?.value == '1'"
                      ><span style="color: #d59d02">In Progress</span></ng-container
                    >
                    <ng-container *ngIf="element.get('proposal_Status')?.value == '2'"
                      ><span style="color: #307a00">Approved</span></ng-container
                    >
                    <ng-container *ngIf="element.get('proposal_Status')?.value == '3'"
                      ><span style="color: #ff0000">Rejected</span></ng-container
                    >
                    <ng-container *ngIf="element.get('proposal_Status')?.value == ''"><span>-</span></ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="date_Of_Approval">
                <th mat-header-cell *matHeaderCellDef>DATE OF APPROVAL</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container *ngIf="enableEdit">
                    <mat-form-field appearance="fill" class="example-full-width w-100" (click)="picker1.open()">
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        [formControl]="element.get('approval_date')"
                        placeholder="DD-MM-YYYY"
                        (input)="editSanctonObj(i, 'proposal_Head', 'proposal_details', 'approval_date', 'proposal_Status')"
                        (dateChange)="validationSetforDatePicker($event, i)"
                      />
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div class="text-danger" style="font-size: smaller" *ngIf="submitted && element.get('approval_date')?.invalid">
                      Required
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!enableEdit">
                    <ng-container *ngIf="element.get('approval_date')?.value">{{
                      element.get("approval_date")?.value | date : "dd-MM-yyyy"
                    }}</ng-container>
                    <ng-container *ngIf="!element.get('approval_date')?.value">-</ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="10"><span class="noDataFound"><img src="../../../../assets/images/norecordfound.png" alt="No Records Found"></span></td>
              </tr>
            </table>
          </div>
          <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="save-data my-4" *ngIf="this.enableEdit == true && this.userDetails.role_id == KicUsersRoleId.hoAdmin">
      <button (click)="onCancel()" type="button" class="btn btn-lightwhite px-3 ms-2 text-uppercase">Cancel</button>
      <button (click)="onSave()" type="button" class="btn btn-lightblue px-3 ms-2 text-uppercase">Save</button>
    </div>
  </div>
</div>
<app-dynamicModal
  [title]="'UPLOAD DOCUMENTS'"
  *ngIf="addPropodalDocumentPopup"
  (close)="closeDocumentsModal()"
  [height]="'500px'"
  [modalSize]="'modal-lg'"
>
  <div class="proposal-form">
    <!-- <form [formGroup]="addProposalForm"> -->
    <form>
      <div class="custom-table">
        <table>
          <thead>
            <tr>
              <th>S.NO</th>
              <th>Proposal Documents</th>
              <th>Files</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr>
                <td>
                  <p>1.</p>
                  <p>2.</p>
                  <p>3.</p>
                  <p>4.</p>
                </td>
                <td>
                  <p>Proposal Details</p>
                  <p>Notification Letter</p>
                  <p>In Principal Approval</p>
                  <p>Sanction Order</p>
                </td>

                <td>
                  <!-- +++++++++ Upload ++++++++++ -->
                  <!-- <ng-container *ngIf="addProposalForm.get('proposal_details')?.value=='' || addProposalForm.get('proposal_details')?.value==undefined"> -->
                  <ng-container
                    *ngIf="
                      proposalArray.controls[this.documentsIndex].get('proposal_details')?.value == '' ||
                      proposalArray.controls[this.documentsIndex].get('proposal_details')?.value == undefined
                    "
                  >
                    <div class="wrap-upload mb-2">
                      <div class="upload" (click)="fileUpload.click()">
                        <span class="text">Upload*</span>
                        <span class="icon">
                          <img src="assets/images/svg-icons/upload.svg" alt="" srcset="" />
                        </span>
                        <input
                          type="file"
                          #fileUpload
                          name="fileUpload"
                          class="d-none"
                          (change)="uploadProposalDocumentFile(fileUpload.files, 'proposal_details')"
                        />
                      </div>
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="proposalArray.controls[this.documentsIndex].get('proposal_details')?.hasError('required')"
                    >
                      Required
                    </div>
                  </ng-container>

                  <!-- +++++++ View +++++++++ -->
                  <!-- +++++++ View +++++++++ -->
                  <ng-container *ngIf="proposalArray.controls[this.documentsIndex].get('proposal_details')?.value != ''">
                    <div class="wrap-view">
                      <div class="view" (click)="openFile('proposal_details')">
                        <span class="icon">
                          <img src="assets/images/svg-icons/eye-fill.svg" alt="view" srcset="" />
                        </span>
                        <span class="text">View</span>
                      </div>
                    </div>
                  </ng-container>

                  <!---upload2-->
                  <ng-container
                    *ngIf="
                      proposalArray.controls[this.documentsIndex].get('notification_Letter')?.value == '' ||
                      proposalArray.controls[this.documentsIndex].get('notification_Letter')?.value == undefined
                    "
                  >
                    <div class="wrap-upload mb-2">
                      <div class="upload" (click)="fileUpload.click()">
                        <span class="text">Upload</span>
                        <span class="icon">
                          <img src="assets/images/svg-icons/upload.svg" alt="" srcset="" />
                        </span>
                        <input
                          type="file"
                          #fileUpload
                          name="fileUpload"
                          class="d-none"
                          (change)="uploadProposalDocumentFile(fileUpload.files, 'notification_Letter')"
                        />
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="proposalArray.controls[this.documentsIndex].get('notification_Letter')?.value != ''">
                    <!-- <ng-container *ngIf="addProposalForm.get('notification_Letter')?.value!=undefined"> -->
                    <!-- <ng-container *ngIf="getName(addProposalForm.get('notification_Letter')?.value)"> -->
                    <div class="wrap-view">
                      <div class="view" (click)="openFile('notification_Letter')">
                        <span class="icon">
                          <img src="assets/images/svg-icons/eye-fill.svg" alt="view" srcset="" />
                        </span>
                        <span class="text">View</span>
                      </div>
                    </div>
                  </ng-container>

                  <!---upload3-->
                  <ng-container
                    *ngIf="
                      proposalArray.controls[this.documentsIndex].get('In_Principal_Approval')?.value == '' ||
                      proposalArray.controls[this.documentsIndex].get('In_Principal_Approval')?.value == undefined
                    "
                  >
                    <div class="wrap-upload mb-2">
                      <div class="upload" (click)="fileUpload.click()">
                        <span class="text">Upload</span>
                        <span class="icon">
                          <img src="assets/images/svg-icons/upload.svg" alt="" srcset="" />
                        </span>
                        <input
                          type="file"
                          #fileUpload
                          name="fileUpload"
                          class="d-none"
                          (change)="uploadProposalDocumentFile(fileUpload.files, 'In_Principal_Approval')"
                        />
                      </div>
                    </div>
                  </ng-container>

                  <!-- <ng-container *ngIf="proposalArray.controls[this.documentsIndex].get('In_Principal_Approval')?.value!='' || proposalArray.controls[this.documentsIndex].get('In_Principal_Approval')?.value!=undefined"> -->
                  <ng-container *ngIf="proposalArray.controls[this.documentsIndex].get('In_Principal_Approval')?.value != ''">
                    <div class="wrap-view">
                      <div class="view" (click)="openFile('In_Principal_Approval')">
                        <span class="icon">
                          <img src="assets/images/svg-icons/eye-fill.svg" alt="view" srcset="" />
                        </span>
                        <span class="text">View</span>
                      </div>
                    </div>
                  </ng-container>

                  <!--upload4-->
                  <ng-container
                    *ngIf="
                      proposalArray.controls[this.documentsIndex].get('Sanction_Order')?.value == '' ||
                      proposalArray.controls[this.documentsIndex].get('Sanction_Order')?.value == undefined
                    "
                  >
                    <div class="wrap-upload mb-2">
                      <div class="upload" (click)="fileUpload.click()">
                        <span class="text">Upload</span>
                        <span class="icon">
                          <img src="assets/images/svg-icons/upload.svg" alt="" srcset="" />
                        </span>
                        <input
                          type="file"
                          #fileUpload
                          name="fileUpload"
                          class="d-none"
                          (change)="uploadProposalDocumentFile(fileUpload.files, 'Sanction_Order')"
                        />
                      </div>
                    </div>
                  </ng-container>

                  <!-- <ng-container *ngIf="addProposalForm.get('Sanction_Order')?.value!='' || addProposalForm.get('Sanction_Order')?.value!=undefined"> -->
                  <ng-container *ngIf="proposalArray.controls[this.documentsIndex].get('Sanction_Order')?.value != ''">
                    <div class="wrap-view">
                      <div class="view" (click)="openFile('Sanction_Order')">
                        <span class="icon">
                          <img src="assets/images/svg-icons/eye-fill.svg" alt="view" srcset="" />
                        </span>
                        <span class="text">View</span>
                      </div>
                    </div>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</app-dynamicModal>

<app-loader *ngIf="mainLoader || isLoading"></app-loader>
