<!-- Modal -->
<div class="modal fade show" id="addProposalModal" tabindex="-1" aria-labelledby="addProposalModalLabel"
  aria-hidden="true" style="display: block; background: rgba(128, 128, 128, 0.3);" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div id="mContent" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProposalModalLabel">NEW SANCTION DETAILS</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalClose('cancel')"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid my-modal-body">
          <!-- ++++++++++++ Proposal Form Start ++++++++++++++++ -->
          <div class="proposal-form">

            <form [formGroup]="addSanctionForm" (ngSubmit)="addSanction()">

              <div class="row">
                <div class="col-md-3 col-12 mb-2">
                  <mat-label class=" fw-bold">RC*:</mat-label>
                  <select class="form-select mt-1" formControlName="rcId" #rcId (change)="onChangeRc(rcId.value)">
                    <option value="" selected disabled>Select RC</option>
                    <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                  </select>
                  <div>
                    <mat-error *ngIf="
                      formSubmitted &&
                      addSanctionForm.controls['rcId'].hasError('required')
                          ">
                      {{ 'RC is required'}}
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-3 col-12 mb-2">
                  <mat-label class=" fw-bold">State*:</mat-label>
                  <select class="form-select mt-1" formControlName="stateId" #stateId (change)="onChnageState()">
                    <option value="" selected disabled>Select State</option>
                    <option *ngFor="let state of statelist" [value]="state.state_Id">{{state.state_name}}</option>
                  </select>
                  <div>
                    <mat-error *ngIf="
                      formSubmitted &&
                      addSanctionForm.controls['stateId'].hasError('required')
                          ">
                      {{ 'State is required'}}
                    </mat-error>
                  </div>
                </div>

                <div class="col-md-2 col-12 mb-2">
                  <mat-label class="fw-bold d-block">KIC:</mat-label>
                  <a class="mt-1 d-block fw-bold py-2 cur-pointer"
                    [class.text-muted]="!addSanctionForm.get('stateId')?.value"
                    [class.disabled]="!addSanctionForm.get('stateId')?.value"
                    (click)="addSanctionForm.get('stateId')?.value && kisList()">VIEW LIST
                    <mat-icon class="ms-1 remo-eye">remove_red_eye</mat-icon>
                  </a>
                </div>
                <div class="col-md-3 col-12 mb-2">
                  <mat-label class=" fw-bold d-block">Sanction no*:</mat-label>
                  <input type="text" class="form-control mt-1" placeholder="Enter Sanction no."
                    (input)="onInput($event,'sanction_No')" formControlName="sanction_No">
                  <div>
                    <mat-error *ngIf="
                      formSubmitted &&
                      addSanctionForm.controls['sanction_No'].hasError('required')
                          ">
                      {{ 'Sanction No. is required'}}
                    </mat-error>
                  </div>
                </div>
                <div class="col-md-3 col-12 mb-2">
                  <mat-label class=" fw-bold d-block">E-File no*:</mat-label>
                  <input type="text" class="form-control mt-1" placeholder="Enter E-File no."
                    (input)="onInput($event,'e_File_No')" formControlName="e_File_No">
                  <mat-error *ngIf=" formSubmitted && addSanctionForm.controls['e_File_No'].hasError('required')"> {{
                    'E-File No. is required'}}
                  </mat-error>
                </div>
                 <div class="col-md-3 col-12 mb-2">
                  <mat-label class=" fw-bold">FINANCIAL YEAR*:</mat-label>
                  <select class="form-select mt-1" formControlName="FinancialYear" >
                    <option value="" selected disabled>Select Year</option>
                    <option *ngFor="let year of financialYearMaster" [value]="year.financialYear">{{year.financialYear}}</option>
                  </select>
                  <div>
                    <mat-error *ngIf="
                      formSubmitted &&
                      addSanctionForm.controls['FinancialYear'].hasError('required')
                          ">
                      {{ 'Financial Year is required'}}
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="text-center my-5">
                <button type="submit" class="btn btn-lightblue px-3 ms-2 text-uppercase">
                  Proceed</button>
                <button type="button" class="btn btn-lightwhite px-3 ms-2 text-uppercase"
                  (click)="modalClose('cancel')">
                  Cancel</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="mainLoader || isLoading"></app-loader>