.my-spl-text{
    font-size: 13px;
    background-color: #ffe5cf;
    border: 1px solid #f5994c;
    border-radius: 2px;
    padding: 4px;
}
::ng-deep  .custom-dialog-panel-modal .mat-dialog-container .btn-close{
   width: 90% !important;
   height: 90% !important;
  }