.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .tagcommonModal .btn-close{position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px;box-shadow: none;outline: none;}
  .tagcommonModal{padding: 15px 20px;}
  .language-modal .titleTxt h3{font-size: 16px;
    color: #4b6fbf;
    text-transform: uppercase;margin-bottom: 0;}
  .language-modal .titleTxt .titleIcon{width: 30px;
    height: 30px;
    border: 1px solid #4b6fbf;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;margin-right: 8px;}
.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}
.noDataFound{font-size: 16px;}

.action_col .action_icon{font-size: 15px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFB24D;
  padding: 2px 3px;
  line-height: normal;
  width: 23px;
  height: 23px;
  text-align: center;cursor: pointer;}
  .action_col .action_icon.fa_trash{color: #ff0000;}
  .action_col mat-icon{width: auto;
  height: auto;
  font-size: 18px;}

  .btn-status{background-color: #D4EFD5;border-color: #008205;color: #008205;font-size: 11px;padding: 1px 8px;border-radius: 0;}
  :host .status-not-verified {
    background-color: #FFC9C9;
    border-color: #FF0000;
    color: #FF0000;
    font-size: 11px;
    padding: 1px 8px;
    border-radius: 0;
}
  .deleteCommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .deleteCommonModal .btn-close{position: absolute;
    right: 7px;
    top: 7px;
    font-size: 9px;box-shadow: none;outline: none;}
  .deleteCommonModal{padding: 15px 26px 15px 20px}

  .deleteCommonModal .titleTxt h4{border-color: #008205;
    background-color: #e0ffe1;}
  .deleteCoachSS  .titleTxt h4{background-color: #FFC9C9;border: 1px solid #FF0000;}

.tagcommonModal ::ng-deep .custom-tooltip{max-width: 500px;}
.tagcommonModal ::ng-deep .custom-tooltip .tooltip-inner{max-width: 100%;background-color: #1F60AB;font-size: 11px;}
.tagcommonModal ::ng-deep .custom-tooltip .tooltip-arrow::before{border-bottom-color: #1F60AB;}
.athlete ::ng-deep .mat-form-field-infix{border-top: .54375em solid rgba(0, 0, 0, 0);}