.event-title{font-size: 16px;border-bottom: 1px solid #c7c8c9;
    padding-bottom: 5px;font-family: 'Lato', sans-serif;font-weight: bold;}

.border-top .btn-blue{font-size: 14px;padding: 6px;}
.btn-status{background-color: #D4EFD5;border-color: #008205;color: #008205;font-size: 11px;padding: 1px 8px;border-radius: 0;}
.btn-notverified{background-color: #FFC9C9;border-color: #FF0000;color: #FF0000;font-size: 11px;padding: 1px 8px;border-radius: 0;}

.athlete .mat-row .mat-cell {border-right: 1px solid #F5F5F5;}
.athlete .mat-row .mat-cell:last-child {border-right: 0;}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{padding-left: 24px;}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type{padding-right: 24px;}

.coach-information .nav-tabs li a{color: #b1b1b1;font-weight: bold;font-size: 17px;}
.coach-information .nav-tabs li:not(:last-child) a{padding-right: 30px;}
.coach-information .nav-tabs li a.active{color: #000000;}

.noDataFound{font-size: 16px;}
