<div class="modal-body experience-modal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
        <h3 class="d-inline-flex align-items-center"><span class="titleIcon"><mat-icon class="material-symbols-outlined"
                    fontIcon="camping"></mat-icon></span>{{editData == null ? 'Add' : 'Edit'}} RECRUITMENT UNDER SPORTS
            QUOTA</h3>
    </div>
    <form [formGroup]="recruitmentForm">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Name of the Employer</mat-label>
                    <input matInput formControlName="name_Of_Employer">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Type of Government</mat-label>
                    <mat-select formControlName="type_Of_Goverment">
                        <mat-option value="" disabled>Select</mat-option>
                        <mat-option *ngFor="let gov of typeOfGovt" [value]="gov.mdCode">
                            {{ gov.mdName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-lg-3 col-sm-6 mb-3" *ngIf="recruitmentForm.get('type_Of_Goverment')?.value === 4">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Others Specify</mat-label>
                    <input matInput formControlName="others" />
                </mat-form-field>
            </div>

            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill" (click)="picker.open()">
                    <mat-label>Date of Joining</mat-label>
                    <input matInput formControlName="date_Of_Joining" [max]="maxDate" [matDatepicker]="picker"
                        (keyup)="picker.open()" (keypress)="false">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill" (click)="picker1.open()">
                    <mat-label>Date of Relieving</mat-label>
                    <input matInput formControlName="date_Of_relieving" [max]="maxDate" [matDatepicker]="picker1"
                        (keyup)="picker.open()" (keypress)="false" [min]="recruitmentForm.get('date_Of_Joining')?.value">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Post at the time of Entry in Service</mat-label>
                    <input matInput formControlName="post_Name_At_Time_Of_Entry">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Grade Pay/Level at the Time of Entry in Service</mat-label>
                    <input matInput formControlName="grade_level_at_entry">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Current Post</mat-label>
                    <input matInput formControlName="currentPost">
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Current Grade Pay/Level</mat-label>
                    <input matInput formControlName="current_PayScale_Level">
                </mat-form-field>
            </div>
            <!-- <div class="col-lg-3 col-sm-6 mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Academy Name</mat-label>
                    <input matInput formControlName="name_of_training_center">
                </mat-form-field>
            </div> -->
            <div class="col-12 text-center">
                <hr class="mt-1">
                <button type="button" class="btn btn-blue px-4" [disabled]="!recruitmentForm.valid"
                    (click)="save()">Save</button>
            </div>
        </div>
    </form>

</div>

<ng-template #designationsLoader>
    <app-loader></app-loader>
</ng-template>

<app-loader *ngIf="loader"></app-loader>