<div class="modal-body tagcommonModal profileModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
    <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center">
      <h3><span class="titleIcon"><i class="icon-Bank"></i></span> Bank Information</h3>
      <!-- <button type="button" *ngIf="readonlyEdit" (click)="editButton()" class="btn btn-blue py-1 me-4">EDIT</button> -->
    </div>
      <div class="row row-info" *ngIf="popupDataReceived !=null; else noData">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>IFSC Code</h6>
            <h3>{{popupDataReceived[0]?.official_BankInfo?.ifsc_code ? popupDataReceived[0]?.official_BankInfo?.ifsc_code : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Bank NAME</h6>
            <h3>{{popupDataReceived[0]?.official_BankInfo?.bank_name ? popupDataReceived[0]?.official_BankInfo?.bank_name :'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Bank Account Number</h6>
            <h3>{{popupDataReceived[0]?.official_BankInfo?.bank_account_number ? popupDataReceived[0]?.official_BankInfo?.bank_account_number : 'NA'}}</h3>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <h6>Cancelled Cheque</h6>
            <h3>
              <ng-container *ngIf="popupDataReceived[0]?.official_BankInfo.cancelled_cheque_upload!=null; else checkLink">
              <a [href]="baseUrl+popupDataReceived[0]?.official_BankInfo.cancelled_cheque_upload" target="_blank" class="text-black"><i class="fa-solid fa-eye"></i></a>
            </ng-container>
            <ng-template #checkLink>
              NA
            </ng-template>
            </h3>
            
        </div>
    </div>
    <ng-template #noData>
      <p class="text-center"><strong>Data not available!</strong></p>
    </ng-template>
  </div>