<div class="athlete sportScientist-detail">
  <div class="titleTxt d-flex flex-wrap justify-content-between align-items-center p-3 pb-0">
    <h3 class="fw-bold mb-3"><span class="titleIcon"><i class="icon-sportscientist-detail"></i></span> Sport Scientist Details</h3>
    
  </div>
  <div class="px-3">    
    <div class="athlete coach-information mt-3 pe-2">
      <ul class="nav nav-tabs mb-3 mb-lg-4">
        <li class="nav-item">
        <a class="nav-link active text-uppercase" data-bs-toggle="tab" href="#current">Current</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="getAcademySportsScientistHistoryList()" data-bs-toggle="tab" href="#previous">Previous</a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="current">  
          <!--Filter current table-->
          <div class="titleTxt d-flex flex-wrap justify-content-end align-items-center p-3 pb-0">
            <div class="filterRoleInner d-flex align-items-center flex-wrap">
              <div class="me-2 mb-3">
                <form [formGroup]="searchFilter">
                  <select formControlName="sportScienceListToSearch" (change)="changeDiscipline()" class="form-control">
                    <option value='' selected="selected">Select Category</option>
                    <ng-container *ngFor="let data of sportsDisciplineList">
                      <option [value]="data.id">{{data.name}}</option>
                    </ng-container>
                  </select> 
                </form>
              </div>
              <a href="javascript:void(0)" class="btn btn-blue mb-3 me-2" (click)="openmultiTag()">ADD +</a>
              <div class="searchInput border-end pe-2 me-2 mb-3">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control"  (keyup)="applyFilter($event)" placeholder="Search.." #input>
              </div>
              <div class="exports mb-3">
                <select class="form-control"  (ngModelChange)="selectChange($event)" [(ngModel)]="docType">
                  <option disabled selected="selected">Export</option>
                  <option value="excel">Excel</option>
                  <option value="pdf">PDF</option>
                </select>
              </div>
            </div>
          </div>
          <!--Current Tab Table Start-->
          <div class="table-responsive position-relative">
            <table mat-table id="sportScientistDetailTable" matTableExporter  #exporter="matTableExporter"  [dataSource]="dataSource" matSort class="table-striped w-100">  
              
              <!-- <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row"><img src="assets/images/placeholderProfile.png" alt="" style="max-height: 35px;"></td>
              </ng-container>          -->
      
              <ng-container matColumnDef="kitd_unique_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id"> NSRS ID </th>
                <td mat-cell *matCellDef="let row"> <a (click)="openSportScientistPopupProfile(row)"  class="text-decoration-none"  href="javascript:void(0)"> {{row.kitd_unique_id}}</a> </td>
              </ng-container>  
              
              <ng-container matColumnDef="full_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="full_name" > Name </th>
                <td mat-cell *matCellDef="let row" (click)="openEditWeedout(row)"><a class="text-decoration-none" href="javascript:void(0)">{{row.full_name}}</a></td>
              </ng-container>
              
              <!-- <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="designation"> Designation </th>
                <td mat-cell *matCellDef="let row"> {{row.designation}}</td>
              </ng-container>  -->
              <ng-container matColumnDef="is_Insured">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="is_Insured"> Insurance </th>
                <td mat-cell *matCellDef="let row">
                  <!-- <button *ngIf="(row.is_Insured=='0')" class="noBtn">NO</button>
                  <button *ngIf="(row.is_Insured=='P')" class="pendingBtn"> PENDING </button>
                  <a href="javascript:void(0)" *ngIf="(row.is_Insured=='P')"><i class="fa-solid fa-trash-can"></i></a>
                  <button *ngIf="(row.is_Insured=='S')" class="yesBtn"> INSURED </button>
                  <button *ngIf="(row.is_Insured=='E')" class="expiredBtn"> EXPIRED </button> -->
                  <button *ngIf="(row.insurance_Status=='0')" (click)="noInsurance(row)" class="noBtn">NO</button>
                  <button *ngIf="(row.insurance_Status=='P')" (click)="CoachInsuranceDetails(row)" class="pendingBtn"> PENDING </button>
                    <a href="javascript:void(0)" *ngIf="(row.insurance_Status=='P')"
                   class="text-danger ms-1"><i *ngIf="row.taggedby_id == this.userDetails.user_id"
                    class="fa-solid fa-trash-can" (click)="deleteInsurance(row)" ></i></a>
                  <button *ngIf="(row.insurance_Status=='S')"  (click)="coachInsuredSuccess(row)" class="yesBtn"> INSURED </button>
                  <button *ngIf="(row.insurance_Status=='E')" (click)="expiredInsuranceModal(row)" class="expiredBtn"> EXPIRED </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="date_of_joining">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="date_of_joining"> Date Of Joining </th>
                <td mat-cell *matCellDef="let row"> {{row.date_of_joining}} </td>
              </ng-container>
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="designation"> Designation </th>
                <td mat-cell *matCellDef="let row"> {{row.designation ? row.designation : 'NA'}} </td>
              </ng-container>
              <ng-container matColumnDef="employmenttype">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="employmenttype"> Employment Type </th>
                <td mat-cell *matCellDef="let row"> {{row.employmenttype ? row.employmenttype : 'NA'}} </td>
              </ng-container>
              <ng-container matColumnDef="sport_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="sport_name"> Discipline </th>
                <td mat-cell *matCellDef="let row"> {{row.sport_name}} </td>
              </ng-container>
              <ng-container matColumnDef="mobile_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="mobile_number"> Mobile No </th>
                <td mat-cell *matCellDef="let row"> {{row.mobile_number}} </td>
              </ng-container>
              <ng-container matColumnDef="state_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="state_name"> State </th>
                <td mat-cell *matCellDef="let row"> {{row.state_name}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
          
              
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="9"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
            </table>     
          </div>
          <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>                 
        </div>
    
        <div class="tab-pane fade" id="previous">
          <!--filter table previous tab--> 
          <div class="titleTxt d-flex flex-wrap justify-content-end align-items-center p-3 pb-0">
            <div class="filterRoleInner d-flex align-items-center flex-wrap">              
              <div class="searchInput pe-2 me-2 mb-3">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control"  (keyup)="searchPreviousFilter($event)" placeholder="Search..">
              </div>
            </div>
          </div> 
          <!--Previous Tab Table Start-->
          <div class="table-responsive position-relative">
            <table mat-table id="sportScientistDetailTable" matTableExporter  #exporter="matTableExporter"  [dataSource]="previousDataSource" matSort class="table-striped w-100">  
              
              <ng-container matColumnDef="kitd_unique_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id"> NSRS ID </th>
                <td mat-cell *matCellDef="let row"> {{row.kitd_unique_id}}</td>
              </ng-container>  
              
              <ng-container matColumnDef="full_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="full_name" > Name </th>
                <td mat-cell *matCellDef="let row">{{row.full_name}}</td>
              </ng-container>
              <ng-container matColumnDef="date_of_joining">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="date_of_joining"> Date Of Joining </th>
                <td mat-cell *matCellDef="let row"> {{row.date_of_joining ? row.date_of_joining :'NA'}} </td>
              </ng-container>
              <ng-container matColumnDef="weedOut_Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="weedOut_Date">WeedOut</th>
                <td mat-cell *matCellDef="let row"> {{row.weedOut_Date ? row.weedOut_Date : 'NA'}} </td>
              </ng-container>
              <ng-container matColumnDef="sport_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="sport_name"> Discipline </th>
                <td mat-cell *matCellDef="let row"> {{row.sport_name}} </td>
              </ng-container>
              <ng-container matColumnDef="weedOut_Remark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="weedOut_Remark">Remark </th>
                <td mat-cell *matCellDef="let row"> {{row.weedOut_Remark}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumnsPrevious"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPrevious;"></tr>      
          
              
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="9"> <span class="noDataFound"> No Data Found </span></td>
              </tr>
            </table>     
          </div>
          <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>          
        </div>
    
      </div>    
    </div>
  </div>
  
 </div> 

 <ng-template #noInsuranceConfirmModal let-modal>
  <div class="modal-body tagcommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt pb-0 border-0">
      <h4 class="text-center fw-bold">{{popupData.full_name}} ({{popupData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want to tag for Insurance!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmNoInsuranceTag()">CONFIRM</button>
    </div>
  </div>
</ng-template>

<ng-template #SubmitInsurancecContent let-modal>
  <div class="modal-body tagcommonModal taggedSuccessfully">
    <div class="mb-2 text-end">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="titleTxt pb-0 border-0">
      <h4 class="text-center fw-bold">{{popupData.full_name}} ({{popupData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Sports Scientist tagged successfully !</p>
    </div>
    <div class="text-center pb-3">
      <button class="btn btn-lightblue px-3 px-lg-4 text-uppercase" (click)="CoachInsuranceDetails(null)">SUBMIT DETAILS</button>
    </div>
  </div>

</ng-template>

<!-- <ng-template #expiredInsurance let-modal>
  <div class="modal-body tagcommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{popupData.ath_Name}} ({{popupData.nsrsId}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want to tag for Insurance!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmExpiredInsuranceTag()">CONFIRM</button>
    </div>
  </div>
</ng-template> -->

<ng-template #delete let-modal>
  <div class="modal-body tagcommonModal deleteCommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{popupData.full_name}} ({{popupData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want Delete this Insurance!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmDeleteInsurance()">CONFIRM</button>
    </div>
  </div>
</ng-template>
 <app-loader *ngIf="mainListLoader"></app-loader>  