.insuranceNsrsId{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background-color: #D1E5FB;
    border:1px solid;
    border-color:#A3CCF9;
  }

  .noDataFound{font-size: 16px;
    font-weight: bold;}

    .table-striped tbody tr td {
        border:1px solid #dee2e6;
    }
  

.athleteAction-modal tr th{font-size: 14px;text-align: center;color: #000000;background-color: #F8F8F8;}
.athleteAction-modal tr th,.athleteAction-modal tr td{padding-left: 8px;padding-right: 8px;}
.athleteAction-modal tr td{border-color: #F5F5F5;padding-top: 15px;}
.athleteAction-modal tr td,.athleteAction-modal .form-control{font-size: 14px;color: #4D4D4D;}
.form-control:disabled{background-color: #E9ECEF;}
.athleteAction-modal tr td .form-control{border-radius: 3px;border-color:#E9ECEF ;}
.athleteAction-modal label{font-size: 12px;color: #000000;}
.athleteAction-modal tr td:first-child{text-align: center;vertical-align: middle;}
.athleteAction-modal tr td:last-child{text-align: center;vertical-align: middle;}
.athleteAction-modal .btn-close{position: absolute;
    right: 15px;
    top: 7px;font-size: 14px;}