.main-heading-one{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 27px;
}
.min-height-btn{
    height: 56px !important;
}
.min-table th{
    font-weight: 700;
    font-size: 14px;
}
::ng-deep .mat-dialog-container{
    padding: 16px;
}
.bottom-shadow{
    
}