<div class="" *ngIf="!loader">
    <div class="max-hi row justify-content-start spl-wid">
        <div class="custom-card  col-xl-3 col-lg-6 col-md-12 col-12 my-2 mx-3"
            *ngFor="let card of cardList; let cardIndex=index">
            <div class="tile-new-box" [className]="'tile-' + (((cardIndex+1)%6)+1)">
                <div class="w-100  d-flex justify-content-between align-items-center tab-tile-header px-2">
                    <div class="sports-name">{{card?.name}}</div>
                    <div>
                        <div class="col-auto custom-logo" *ngIf="cardType === 'state'">
                            <img [src]="'assets/images/state-icons/' + card?.name +'.svg'" alt="" srcset="">
                        </div>
                        <div class="col-auto custom-icons" *ngIf="cardType === 'discipline'">
                            <img [src]="'assets/images/discipline-icons/' + card?.name +'.svg'" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="w-100  p-2 d-flex flex-wrap justify-content-between mb-2">
                    <div class="inner-tile  ">
                        <div class="tile-num">{{card?.no_of_kics}}</div>
                        <div class="tile-box-name">KISCE</div>
                    </div>
                    <div class="inner-tile  ">
                        <div class="tile-num">{{card?.no_of_coaches}}</div>
                        <div class="tile-box-name">COACHES </div>
                    </div>

                    <div class="inner-tile  ">
                        <!-- <div class="tile-num">{{card?.pca_kic_ratio?.toFixed(2) }}</div> -->
                        <div class="tile-num">{{ getKisceCoachRatio(card) }}</div>

                        <div class="tile-box-name">COACH/KISCE RATIO</div>
                    </div>
                    <div class="inner-tile  ">
                        <div class="tile-num">{{card?.no_of_athletes}}</div>

                        <div class="tile-box-name">ATHLETES</div>
                    </div>
                    <div class="inner-tile  ">
                        <div class="tile-num">{{card?.no_of_coaches}}</div>
                        <div class="tile-box-name">COACHES</div>

                    </div>
                    <div class="inner-tile  ">
                        <div class="tile-num">{{card?.coach_athlete_ratio?.toFixed(2)}}</div>
                        <div class="tile-box-name">COACH/ATHLETE RATIO</div>

                    </div>
                    <!-- +++++++++ FUND Detail ++++++++ -->
                    <div class="inner-tile  ">
                        <div class="tile-num">{{(card?.funds_Released_form_RC != undefined &&
                            card?.funds_Released_form_RC != null) ? card?.funds_Released_form_RC : '-'}}</div>

                        <div class="tile-box-name">FUNDS RELEASED FROM RC</div>
                    </div>
                    <div class="inner-tile  ">
                        <div class="tile-num">{{(card?.funds_Used_by_KIC != undefined && card?.funds_Used_by_KIC !=
                            null) ? card?.funds_Used_by_KIC :'-' }}</div>
                        <div class="tile-box-name">FUNDS USED BY KISCE</div>
                    </div>
                    <div class="inner-tile  ">
                        <!-- <div class="tile-num">{{card?.no_of_coaches}}</div>
                        <div class="tile-box-name">COACHES</div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div *ngIf="loader" class="loader d-flex align-items-center justify-content-center" style="height: 200px;">
    <app-page-loader [show]="loader"></app-page-loader>
</div>