<div class="p-2 ps-3 d-flex align-items-center">
    <span class="page-heading-icon"><i class="icon-profile"></i></span>
    <span class="page-heading">PROFILE</span>
</div>

<div class="border-top">
    <div class="row mx-0">
        <div class="col-lg-9">
            <div class="px-2 py-3 py-lg-4">
                <div class="pe-2">
                    <div class="row profile-row">
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="personalDetail()" class="card text-center">
                                <span class="icon-box"><i class="icon-user-line"></i></span>
                                <h4>Basic Information</h4>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 item mt-3">
                            <a href="javascript:void(0)" (click)="geoLocation()" class="card text-center">
                                <span class="icon-box"><i class="icon-map-pin-line-2"></i></span>
                                <!-- <h4>Communication Address</h4> -->
                                <h4>Geo Location</h4>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
            <hr class="content-divider" />
        </div>
        <!-- <div class="col-lg-3 border-lg-start">
            <div class="py-lg-4">
                <app-athlete-dashboard-sidebar></app-athlete-dashboard-sidebar>
            </div>
        </div> -->
    </div>
</div>
