

<div class="athleteAction-modal">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-personal-information-18"></i></span>ACHIEVEMENT</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="athletetag">
        <div class="d-flex justify-content-between align-items-center my-2">
          <h5></h5>
          <!-- <button class="btn border px-3 text-uppercase addmore" *ngIf="equipmentModalData.action == 'add'" (click)="newAddMultiTagArray()">ADD MORE +</button> -->
        </div>
        <form [formGroup]="achievementForm">
          <div class="table-responsive mt-3">
            <table class="table"> 
              <tbody formArrayName="addMultiTagArray">
              
                <tr  *ngFor="let item of addMultiTagArray.controls; let i= index" [formGroupName]="i">
               
                  <td>{{i + 1}}</td>

                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>ATHLETE KIUD</mat-label>
                      <input matInput   formControlName="athlete_kuid">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('athlete_kuid')?.touched &&addMultiTagArray.controls[i].get('athlete_kuid')?.errors?.['athlete_kuid']">
                      <div class="me-2 text-danger">Athlete KIUD Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('athlete_kuid')?.touched && (addMultiTagArray.controls[i].get('athlete_kuid')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Athlete KIUD Limit Exceeded</div>
                    </div>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>ATHLETE NAME</mat-label>
                      <input matInput   formControlName="name">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('name')?.touched &&addMultiTagArray.controls[i].get('name')?.errors?.['name']">
                      <div class="me-2 text-danger">Athlete KIUD Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('name')?.touched && (addMultiTagArray.controls[i].get('name')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Athlete KIUD Limit Exceeded</div>
                    </div>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>DISCIPLINE</mat-label>
                      <input matInput   formControlName="discipline">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('discipline')?.touched &&addMultiTagArray.controls[i].get('discipline')?.errors?.['discipline']">
                      <div class="me-2 text-danger">Athlete KIUD Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('discipline')?.touched && (addMultiTagArray.controls[i].get('discipline')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Athlete KIUD Limit Exceeded</div>
                    </div>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>TOURNAMENT NAME</mat-label>
                      <input matInput   formControlName="tournament_name">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('tournament_name')?.touched &&addMultiTagArray.controls[i].get('tournament_name')?.errors?.['tournament_name']">
                      <div class="me-2 text-danger">Athlete KIUD Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('tournament_name')?.touched && (addMultiTagArray.controls[i].get('tournament_name')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Athlete KIUD Limit Exceeded</div>
                    </div>
                  </td>




                 <td>
                    <mat-form-field appearance="fill" (click)="picker1.open()">
                      <mat-label>DATE</mat-label>
                      <input #dateOfProcurement matInput [matDatepicker]="picker1" formControlName="date" (keypress)="false" />
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('date')?.touched &&addMultiTagArray.controls[i].get('date')?.errors?.['required']">
                      <div class="me-2 text-danger">Date is required.</div>
                </div>
                  </td>
                  <td>
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label>LEVEL</mat-label>
                      <mat-select formControlName="level">
                        <mat-option [value]="1">Level 1</mat-option>
                        <mat-option [value]="2">Level 2</mat-option>
                        
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  <td>
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label>POSTION</mat-label>
                      <mat-select formControlName="position">
                        <mat-option [value]="1">Position 1</mat-option>
                        <mat-option [value]="2">Position 2</mat-option>
                        
                      </mat-select>
                    </mat-form-field> 
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <button type="button" [disabled]="!this.achievementForm.valid"  (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{achievementModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button>
            <!-- <button type="button"   (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{equipmentModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button> -->
           
            <button type="button"  (click)="activeModal.dismiss('Cross click')" class="btn readmore border px-3">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loader"></app-loader>
