#addProposalModal {
  font-family: "lato";
}

#addProposalModal .modal-body {
  padding: 15px 15px 30px 15px;
}

#addProposalModal .modal-title {
  letter-spacing: 0px;
  color: #0d0d0d;
  font-size: 1.063rem;
  font-weight: 600;
}

#addProposalModal .btn-close {
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 5px;
}

#addProposalModal .btn-close:focus {
  box-shadow: none;
}

.btn-wrap {
  display: flex;
  align-items: center;
}

.btn-wrap .btn-org {
  background: #2b4b65;
  color: #fff;
  border-radius: 21px;
  padding: 8px 35px;
  letter-spacing: 0px;
  font-size: 0.938em;
  font-weight: 600;
  border: 1px solid #2b4b65;
  display: flex;
  align-items: center;
}

.btn-wrap .btn-org:hover {
  color: #fff;
  border-color: #2b4b65;
  background: #2b4b65;
}

.btn-wrap .btn-org img {
  margin-right: 5px;
}

/* ::ng-deep .uploadButton {
  color: #2b4b65 !important;
  padding: 27px 0 !important;
  background-color: #ececec !important;
  border-radius: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: block !important;
} */

td {
  vertical-align: top;
}

.custom-mat-error-div {
  padding: 0px 16px;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
}

.label {
  font-weight: 900;
  font-size: 14px;
}

#commentModalLabel {
  font-weight: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.wrap-upload .upload {
  position: relative;
  width: 86px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 8px;
}

.wrap-upload .upload .text {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 13px;
  text-align: center;
  font: normal normal 600 11px/35px Lato;
  letter-spacing: 0px;
  color: #000000;
  top: -5px;
  left: 10px;
}

.wrap-upload .upload .icon {
  position: absolute;
  display: inline-block;
  top: 0px;

  right: 10px;
}

.wrap-upload .upload .icon img {
  height: 11px;
  width: 13px;
}

.wrap-view .view {
  position: relative;
  width: 86px;
  height: 30px;
  cursor: pointer;
}

.wrap-view .view .text {
  position: absolute;
  display: block;
  width: 34px;
  height: 13px;
  font: normal normal 600 11px/35px Lato;
  letter-spacing: 0px;
  color: #000000;
  top: 3px;
  left: 30px;
}

.wrap-view .view .icon {
  position: absolute;
  display: block;
  top: -4px;
  right: 35px;
}

.wrap-view .view .icon img {
  height: 11px;
  width: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 0.7px;
  font-family: "lato";
  font-size: 10px;
}

th,
td {
  padding: 4px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
}

th {
  text-transform: uppercase;
  background-color: #1f60ab;
  height: 38px;
  font-family: "lato" !important;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0.7px;
}

.Address-para {
  font-size: 12px;
}

.select-field {
  cursor: pointer;
  width: 102px;
  height: 22px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  margin-left: 2%;
  margin-top: -2%;
}

#proposal_Status {
  width: 80px;
  height: 23px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  pointer-events: none;
  margin-top: -1%;
  margin-left: 14px;
}

#proposalHead {
  margin-left: 11px;
  width: 672px;
  height: 30px;
}

.field {
  width: 89%;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 2px;
  margin-top: -2px;
  margin-left: 4px;
}

#adreess {
  margin-top: 22px;
}
.Add-button {
  margin-left: 59%;
}
#supporting {
  margin-top: 8px;
}

.noDataFound {
  display: flex;
  justify-content: center;
  padding: 9px 4px;
  font-size: medium;
  font-family: auto;
}

.btn {
  font-size: 11px;
  padding: 7px 30px;
  border-radius: 3px;
  font-weight: bold;
}

td:not(:last-child) {
  border-right: 1px solid #f5f5f5;
}

#dropdown {
  width: 121px;
  margin-left: 14px;
  height: 30px;
  margin-top: -22px;
}

.inputFileUpload-wraper {
  justify-content: space-between;
  padding: 6.3px 10px;
}
.inputFileUpload-wraper .uploadLevel {
  background-color: #f1f1f1;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
.inputFileUpload-wraper .inputUpload {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
}
.inputFileUpload-wraper a {
  color: inherit;
}

.modal-backdrop.fade {
  opacity: 0.5;
}
.modal-open .modal {
  opacity: 1;
}

.inner-modal {
  border: none !important;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 45%;
}

.label-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-text div {
  display: flex;
  align-items: center;
}

.label-text label {
  font-weight: 700;
  width: 150px;
  font-size: medium;
  margin-right: 10px;
  white-space: nowrap;
  margin: 10px;
  font-family: sans-serif;
}
.label-header label {
  font-weight: 700;
  width: 50px;
  font-size: medium;
  white-space: nowrap;
  margin: 10px;
  font-family: sans-serif;
}
.label-header span {
  margin-left: 40px;
}
.label-text input {
  flex: 1;
}

.label-text .input-field {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #e9ecef;
  width: 50px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  height: 2rem;
  width: 10rem;
}

::ng-deep .mat-focus-indicator .mat-icon-button .mat-button-base {
  position: relative;
  bottom: 6px !important;
}

.mat-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn-lightblue {
  background-color: #1f60ab;
  color: white;
}

.btn-disabled {
  background-color: #1f60ab;
  color: white;
}
table {
  width: 100%;
}

table th,
table td {
  text-align: center;
  vertical-align: middle;
}

table tbody tr {
  font-size: small;
}

.image-format {
  display: flex;
  justify-content: end;
}

.image-format button {
  padding: 7px;
  border-radius: 5px;
  background: #1f60ab;
  color: white;
}

.image-format button a {
  color: white;
}

.uc-document {
  position: relative;
  left: 20px;
  bottom: 5px;
}

.uc-document a {
  color: black;
}

.custom-scroll {
  max-height: 250px;
  overflow-y: scroll;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccc;
  margin-bottom: 30px;
}
