<!-- {{athleteData | json}} -->
<div class="athleteAction-modal">

    <div class="modal-body">
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#add-camp" type="button">MANAGE GEO-COORDINATES</button>
        </div>
      </nav>
  
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane show active fade" id="add-camp">
          <form [formGroup]="campForm">
            <div class="text-end">
              <button type="button" (click)="add()" class="btn btn-lightblue px-3 px-md-4 me-2">Add +</button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tbody formArrayName="campArray">
                  <tr *ngFor="let item of campArray.controls; let i = index" [formGroupName]="i">
                    <td>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Disipline</mat-label>
                        <mat-select formControlName="sport">
                          <mat-option [value]="geoLocationRowData.sport_detail_id">{{this.geoLocationRowData.sport_display_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select State</mat-label>
                        <mat-select formControlName="state">
                          <mat-option [value]="geoLocationRowData.state_id">{{geoLocationRowData.state_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Gender</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option value="All">All</mat-option>
                          <mat-option value="M">Male</mat-option>
                          <mat-option value="F">Female</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Location</mat-label>
                        <mat-select formControlName="location_id" (valueChange)="changeGeoCoordinate($event,i)">
                          <mat-option *ngFor="let data of geoLocationMasterData" [value]="data.id">{{data.location_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill" class="w-100" (click)="checkLocation(i)">
                        <mat-label>Select Venue</mat-label>
                        <mat-select formControlName="venue_id" (valueChange)="changeVenue($event,i)">
                          <mat-option *ngFor="let data of geoLocationVenueData[i]" [value]="data.venue_id">{{data.venuename}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Latitude , Longitude</mat-label>
                        <input matInput formControlName="latitude">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Radius (in mtr)</mat-label>
                        <input type="number" matInput formControlName="radius">
                      </mat-form-field>
                    </td>
                    <td>
                      <div class="time-input">
                        <input type="time" class="form-control rounded-1" formControlName="start_time"  (change)="changeStartTime($event,campArray.controls[i].get('end_time')?.value,i)">
                      </div>
                    </td>
                    <td>
                      <div class="time-input" (click)="checkStartTime(i)">
                        <input type="time" class="form-control rounded-1" formControlName="end_time" max="12:00" (change)="changeEndTime($event,campArray.controls[i].get('start_time')?.value,i)">
                      </div>
                    </td>
                    <td *ngIf="campArray.length > 1" class="align-middle">
                      <a href="javascript:void(0)" (click)="removeAddMultiTagArray(i)"><i class="fa-solid fa-trash-can text-danger"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center mt-3">
              <button type="button" (click)="save()" class="btn btn-lightblue px-3 px-md-4 me-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loader"></app-loader>