
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ftrContact">
        <h3>CONTACT</h3>
        <ul class="list-unstyled m-0 p-0">
          <li><i class="fa-solid fa-phone"></i> Helpline Number : <a href="tel:18002025155" class="text-white text-decoration-none me-1">1800-202-5155</a>  <a href="tel:18002585155" class="text-white text-decoration-none">1800-258-5155</a> (Toll-Free)</li>
        </ul>
        <ul class="list-unstyled m-0 p-0 ftrworking">
          <li><i class="fa-solid fa-calendar-days"></i> Working Days : Monday to Friday</li>
          <li><i class="fa-solid fa-clock"></i> Working Time : 9.00 AM to 5.30 PM</li>
        </ul>
      </div>
      <div class="col-md-6 ftrregistration">
        <h3>REGISTRATIONS ON NSRS</h3>
        <ul class="list-unstyled m-0 p-0">
          <li>
            <h4>{{countinData.total_Athlete}}+ <small class="d-block">Athletes</small></h4>
          </li>
          <li>
            <h4>{{countinData.total_SportsScientist}}+ <small class="d-block">Sports Scientist</small></h4>
          </li>
          <li>
            <h4>{{countinData.total_Coach}}+ <small class="d-block">Coaches</small></h4>
          </li>
          <li>
            <h4>{{countinData.total_Academy}}+ <small class="d-block">Sports Training Center</small></h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="row align-items-center">
        <div class="col-xl-9">
          Website Content Managed by Sports Authority of India. Designed, Developed by IT Division & Hosted by NIC Privacy Policy
        </div>
        <div class="col-xl-3 text-xl-end">
          <ul class="list-unstyled">
            <li><a target="_blank" href="https://www.facebook.com/sportsauthorityofindiaMYAS/"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/Media_SAI#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/media.iccsai/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCceXuxV_oJJeOLgGaaeQW_w"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/1xUCBisYbAd158stvLoZjYVc4LAJ0dl08/view?usp=sharing"><i class="fa-brands fa-google-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>