<div class="kic-dashboard-conatiner">
  
    <div class="state-wise-tabs container-fluid">
                     <!-- ++++++++++ Select Region Start ++++++++++ -->
    <div class="select-region-container">
        <div class="select-region">
            <div class="me-2"
                *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                <!-- <p class="sub-heading mb-1">Select Region</p> -->
                <select class="form-control" [(ngModel)]="selectedRegionId" id="region" name="region"
                    (change)="regionChange($event)">
                    <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- ++++++++++ Select Region End ++++++++++ -->
        <mat-tab-group (selectedTabChange)="selectedTab($event)">
            <mat-tab label="OVERVIEW" id="overview">
                <div class="stateStatusContainer container-fluid" *ngIf="this.selectedCategory === 'overview'">
                    <!-- <div class="row mb-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            <h3 class="heading">OVERVIEW</h3>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="me-2"
                                    *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                                    <select class="form-control" [(ngModel)]="selectedRegionId" id="region"
                                        name="region" (change)="regionChange($event)">
                                        <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                                    </select>
                                </div>
                                <div class="d-none">
                                    <p class="sub-heading mb-1">Year</p>
                                    <select class="form-control">
                                        <option value="1">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="dashboard-overview">
                        <app-dashboard-overview [cardList]="categorywiseCardList"
                            [loader]="categorywiseLoader"></app-dashboard-overview>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="STATE WISE" id="state">
                <div class="stateStatusContainer container-fluid" *ngIf="this.selectedCategory === 'state'">
                    <!-- <div class="row mb-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            <h3 class="heading">State Wise Summary</h3>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="me-2"
                                    *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                                    <select class="form-control" [(ngModel)]="selectedRegionId" id="region"
                                        name="region" (change)="regionChange($event)">
                                        <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                                    </select>
                                </div>
                                <div class="d-none">
                                    <p class="sub-heading mb-1">Year</p>
                                    <select class="form-control">
                                        <option value="1">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="summaryCard">
                        <app-summary-card [cardList]="categorywiseCardList" [loader]="categorywiseLoader"
                            [cardType]="selectedCategory"></app-summary-card>
                    </div>
                    <!-- <div class="state-fund-status mt-3">
                        <app-fund-details [rcId]="selectedRegionId" [category]="selectedCategory"></app-fund-details>
                    </div> -->
                </div>

            </mat-tab>

            <mat-tab label="DISCIPLINE WISE" id="discipline">
                <div class="stateStatusContainer container-fluid" *ngIf="this.selectedCategory === 'discipline'">
                    <!-- <div class="row mb-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            <h3 class="heading">Discipline Wise Summary</h3>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="me-2"
                                    *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                                    <select class="form-control" [(ngModel)]="selectedRegionId" id="region"
                                        name="region" (change)="regionChange($event)">
                                        <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                                    </select>
                                </div>
                                <div class="d-none">
                                    <p class="sub-heading mb-1">Year</p>
                                    <select class="form-control">
                                        <option value="1">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="summaryCard">
                        <app-summary-card [cardList]="categorywiseCardList" [loader]="categorywiseLoader"
                            [cardType]="selectedCategory"></app-summary-card>
                    </div>
                    <!-- <div class="state-fund-status mt-3">
                        <app-fund-details [rcId]="selectedRegionId" [category]="selectedCategory"></app-fund-details>
                    </div> -->
                </div>


            </mat-tab>

            <mat-tab label="MAP" id="detail_map">
                <div class="stateStatusContainer container-fluid" *ngIf="this.selectedCategory === 'detail_map'">
                    <div class="row mb-3 align-items-center justify-content-end">
                        <!-- <div class="col-auto">
                            <h3 class="heading fs-5"> <span class="d-inline-block fw-bold">State Wise KIC: </span> {{showState ? this.stateEvent?.point?.name : selectedRcText}}</h3>
                        </div> -->
                        <div class="col-auto">
                            <div class="d-flex">
                                <!-- <div class="me-2"
                                    *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                                    <select class="form-control" [(ngModel)]="selectedRegionId" id="region"
                                        name="region" (change)="regionChange($event)">
                                        <option *ngFor="let rc of rcList" [value]="rc.id" name="{rc.value}">{{rc.value}}
                                        </option>
                                    </select>
                                </div> -->
                                <div class="d-none">
                                    <p class="sub-heading mb-1">Year</p>
                                    <select class="form-control">
                                        <option value="1">2023</option>
                                    </select>
                                </div>
                                <div *ngIf="showState">
                                    <p class="sub-heading mb-1">
                                        <Button class="btn btn-primary" style="background-color: #1F60AB;"
                                            (click)="switchToNational()">BACK TO NATIONAL</Button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-india-map-detail [ngClass]="{'d-none':showState, 'd-block':!showState }"
                        [selectedRegion]="selectedRegionId" [category]="selectedCategory"
                        (stateNameClickEvent)="stateMapDetail($event)"></app-india-map-detail>
                    <app-state-map-detail *ngIf="showState" [selectedRegion]="selectedRegionId"
                        [category]="selectedCategory" [stateDetail]="stateEvent"></app-state-map-detail>
                </div>


            </mat-tab>
            <!-- <mat-tab label="DENSITY MAP" id="density_map">
                <div class="stateStatusContainer container-fluid" *ngIf="this.selectedCategory === 'density_map'">
                    <div class="row mb-3 align-items-center justify-content-between">
                        <div class="col-auto">
                            <h3 class="heading">Density Map</h3>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="me-2"
                                    *ngIf="this.userDetails?.role_id !== 1005 && this.userDetails?.role_id !== 46 && !showState">
                                    <p class="sub-heading mb-1">Select Region</p>
                                    <select class="form-control" [(ngModel)]="selectedRegionId" id="region" name="region"
                                        (change)="regionChange($event)">
                                        <option *ngFor="let rc of rcList" [value]="rc.id">{{rc.value}}</option>
                                    </select>
                                </div>
                                <div class="d-none">
                                    <p class="sub-heading mb-1">Year</p>
                                    <select class="form-control">
                                        <option value="1">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-india-map-density [selectedRegion]="selectedRegionId"
                        [category]="selectedCategory"></app-india-map-density>
                </div>
            </mat-tab> -->

 
        </mat-tab-group>
    </div>

</div>