/* .stateStatusContainer .heading{
    font-size: 17px;
    font-weight: 500;
} */
.stateStatusContainer {
    padding: 20px !important;
}

* {
    font-family: 'Lato';
}

.state-wise-tabs ::ng-deep .mat-tab-label {
    padding: 3px !important;
    border-bottom: 2px solid #CBCBCB;
}

.state-wise-tabs ::ng-deep .mat-tab-labels {
    /* border:1px solid #DBDBDB !important; */
    /* border-radius: 30px ; */
    width: fit-content !important;
    padding: 3px !important;
}

.state-wise-tabs ::ng-deep .mat-tab-label-content {
    /* color: #0E335D !important; */
    font-size: 14px;
    color: #CBCBCB;
}

.state-wise-tabs ::ng-deep .mat-tab-header {
    border: none !important;
}

.state-wise-tabs ::ng-deep .mat-tab-list {
    display: flex;
    justify-content: start;
    padding: 22px 5px;
}

.state-wise-tabs ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: transparent !important;
}


.state-wise-tabs ::ng-deep .mat-tab-label.mat-tab-label-active {
    border-bottom: 3px solid #0E335D;
}

/* .state-wise-tabs ::ng-deep .mat-tab-label.mat-tab-label-active{
    background-color: transparent ;
    color: #0E335D !important;
    border-bottom: 3px solid #0E335D;
} */
.state-wise-tabs ::ng-deep .mat-tab-label.mat-tab-label-active .mat-tab-label-content {

    color: #0E335D !important;
    /* border-bottom: 3px solid #0E335D; */
}

/* .state-wise-tabs ::ng-deep .mat-tab-label.mat-tab-label-active:first-child{
 background-color: transparent ;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 color: #0E335D;
 border-bottom: 3px solid #0E335D;
}
.state-wise-tabs ::ng-deep .mat-tab-label.mat-tab-label-active:last-child{
    background-color: transparent ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 3px solid #0E335D;
 color: #0E335D;
} */

.select-region {
    width: 175px;
    position: absolute;
    right: 0;
    z-index: 999999;
    padding: 25px 0px;
}


.select-region-container {
    width: 100%;
    position: relative;
}

@media screen and (max-width:1024px) {
    .select-region {
    bottom: 0;
    top: -10px;
    padding:0px;
}
    
}