.custom-btn-save{
   
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 400;
}


.inputFileUpload-wraper{justify-content: space-between;
 padding: 6.5px 10px;}
/* .inputFileUpload-wraper .inputfileLevel{} */
.inputFileUpload-wraper .uploadLevel{background-color: #F1F1F1;
font-size: 11px;
font-weight: bold;
padding: 6px 20px;
border-radius: 4px;
display: inline-block;cursor: pointer;}
.inputFileUpload-wraper .inputUpload{position: absolute;
opacity: 0;
width: 100%;
left: 0;}
.inputFileUpload-wraper a{color: inherit;}
.fa-solid.fa-eye{color: #4D4D4D;}
.btn-lightblue{font-size: 14px;}
.deleteIcon{font-size: 20px;}
.btn-close{outline: none !important;box-shadow: none !important;}