<!-- Modal -->
<div class="modal fade show sanction-modal" id="addProposalModal" tabindex="-1" aria-labelledby="commentModalLabel"
  aria-hidden="true" style="display: block; background: rgba(128, 128, 128, 0.3)" aria-modal="true" role="dialog"
  (click)="ClickedOut($event)">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div id="mContent" class="modal-content">
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button">
              <span class="titleIcon">KISCE FUND</span>
            </button>
          </div>
        </nav>

        <form [formGroup]="sanctionReleasedForm">
          <div>
            <div class="row">
              <div class="custom-table table-responsive">
                <table class="table table-bordered" style="white-space: nowrap">
                  <thead>
                    <tr>
                      <th>S No.</th>
                      <th>Released Amount Heads</th>
                      <th>Type</th>
                      <th>Amount</th>
                      <th style="width: 60px !important">Date of Release</th>
                      <th>File</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="tableData">
                    <ng-container>
                      <tr *ngFor="let row of tableDataFormArr.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>
                        <td>
                          <div class="col-12">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-select placeholder="Select" formControlName="amount_Head_Name"
                                [disabled]="savedRowIndexes.includes(i)">
                                <ng-container *ngFor="let item of getAmountDetails">
                                  <mat-option [value]="item.amount_Head_Name">{{ item.amount_Head_Name }}</mat-option>
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                            <div>
                              <mat-error *ngIf="submitted && row.get('amount_Head_Name')?.invalid">
                                {{ "Required" }}
                              </mat-error>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="col-12">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-select placeholder="Select" formControlName="frequency_Type"
                                [disabled]="savedRowIndexes.includes(i)">
                                <mat-option value="recurring">Recurring</mat-option>
                                <mat-option value="non-recurring">Non-Recurring</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div>
                              <mat-error *ngIf="submitted && row.get('frequency_Type')?.invalid">
                                {{ "Required" }}
                              </mat-error>
                            </div>
                          </div>
                        </td>
                        <td>

                          <input *ngIf="savedRowIndexes.includes(i) || row.get('isSaved')?.value" class="releaseAmount"
                            [value]="row.get('amount')?.value | currency:'INR':'':'1.2-2'" disabled />

                          <input *ngIf="!(savedRowIndexes.includes(i) || row.get('isSaved')?.value)" type="text"
                            formControlName="amount" class="releaseAmount" maxlength="10"
                            (keypress)="preventCharacters($event)" />
                          <div>
                            <mat-error *ngIf="submitted && !row.get('amount')?.value">Required</mat-error>
                            <mat-error
                              *ngIf="submitted && row.get('amount')?.value && row.get('amount')?.hasError('pattern')">
                              Amount must be greater than 0
                            </mat-error>
                          </div>
                        </td>
                        <td>
                           <div *ngIf="!row.get('date_Of_Release')?.value && !(savedRowIndexes.includes(i) || row.get('isSaved')?.value)">
                          <mat-form-field appearance="fill" class="example-full-width w-100">
                            <input matInput [matDatepicker]="picker" formControlName="date_Of_Release" [readonly]="true"
                              (dateChange)="onDateChange($event, i)" [disabled]="savedRowIndexes.includes(i)" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          </div>
                          <div *ngIf="row.get('date_Of_Release')?.value">
                            <mat-form-field appearance="fill" class="example-full-width w-100">
                              <input matInput [matDatepicker]="picker" formControlName="date_Of_Release"
                                [readonly]="true" (dateChange)="onDateChange($event, i)"
                                [disabled]="savedRowIndexes.includes(i)" />
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div
                            *ngIf="!row.get('date_Of_Release')?.value && (savedRowIndexes.includes(i) || row.get('isSaved')?.value)">
                            <span>N/A</span>
                          </div>
                        </td>
                        <td>
                          <div class="wrap-upload mb-2">
                            <div class="upload"
                              *ngIf="!row.get('upload_Document')?.value && !(savedRowIndexes.includes(i) || row.get('isSaved')?.value)"
                              (click)="upload_Document.click()">
                              <span class="text">Upload</span>
                              <span class="icon">
                                <img src="assets/images/svg-icons/upload.svg" alt="upload" />
                              </span>
                              <input type="file" #upload_Document name="upload_Document" class="d-none"
                                (change)="uploadFile(upload_Document.files, i, 'upload_Document')" />
                            </div>
                            <div
                              *ngIf="!row.get('upload_Document')?.value && (savedRowIndexes.includes(i) || row.get('isSaved')?.value)">
                              <span>N/A</span>
                            </div>
                            <div>
                              <mat-error
                                *ngIf="i === 0 && submitted && !row.get('upload_Document')?.value && !fileUploaded && !(savedRowIndexes.includes(i) || row.get('isSaved')?.value)">
                                Required
                              </mat-error>
                            </div>
                          </div>
                          <div *ngIf="row.get('upload_Document')?.value" class="wrap-view">
                            <a [href]="fileUrl + row.get('upload_Document')?.value" target="_blank">
                              <i class="fa-solid fa-eye"></i>
                            </a>
                          </div>
                        </td>

                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row align-items-center justify-content-end mt-2">
              <div class="col-auto">
                <button *ngIf="userDetails.role_id === KicUsersRoleId.hoAdmin" class="btn btn-lightblue"
                  (click)="addRow()">Add</button>
              </div>
            </div>
          </div>
          <div class="save-data my-4">
            <button (click)="modalClose('cancel')" type="button"
              class="btn btn-lightwhite px-3 ms-2 text-uppercase">Cancel</button>
            <button *ngIf="userDetails.role_id === KicUsersRoleId.hoAdmin" type="submit"
              class="btn btn-lightblue px-3 ms-2 text-uppercase" (click)="saveReleaseAmount()"
              [disabled]="!enableSaveButton">
              Save
            </button>
          </div>
        </form>

        <div></div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="mainLoader || isLoading"></app-loader>