<!-- +++++ KIC Admin Sidebar Layout Start +++++  -->
<div *ngIf="!userDetails.isStake_Holder">
    <app-role-inner-pages-header></app-role-inner-pages-header>
    <!-- <div class="inner-bg"
        style="background: url('assets/images/Academy-registration/bg-inner.jpg')no-repeat;background-size: cover;">
    </div> -->
    <div class="roleInnerWraper pb-4">
        <div class="container-fluid">
            <div class="row gx-3">
                <div class="col-md-3 col-xl-2 d-flex">
                    <div class="roleInnerSidebar">
                        <app-role-inner-pages-sidebar></app-role-inner-pages-sidebar>
                    </div>
                </div>
                <div class="col-md-9 col-xl-10 d-flex">
                    <div class="roleInnerContent br-4-px">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- +++++ KIC Admin Sidebar Layout End +++++  -->


<!-- +++++ Start +++++ -->
<div *ngIf="userDetails.isStake_Holder">
    <div class="dashboard-wraper" [class.sidebarClose]="sidebarToggle">
        <app-inner-pages-layout-header (headerButtonEvent)="ToggleSideBar($event)"></app-inner-pages-layout-header>
        <app-inner-page-layout-sidebar #mockOffcanvaschild></app-inner-page-layout-sidebar>
        <div class="dashboard-content applayout-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- +++++ End +++++  -->