.tagcommonModal .titleTxt h4{background-color: #FFE89E;border: 1px solid #E1C15C;
    padding: 3px;
    font-size: 13px;
    text-transform: uppercase;}
  .tagcommonModal .btn-close{position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px;box-shadow: none;outline: none;}
  .tagcommonModal{padding: 15px 20px;}
  .language-modal .titleTxt h3{font-size: 16px;
    color: #4b6fbf;
    text-transform: uppercase;margin-bottom: 0;}
  .language-modal .titleTxt .titleIcon{width: 30px;
    height: 30px;
    border: 1px solid #4b6fbf;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;margin-right: 8px;}

    .img-box-ath img{
      height: 100px;
    }
    .img-box-ath span{
      font-size: 11px;
      font-family: 'Lato';
    }
    .btn-transp{
      background-color: transparent;
      border: 1px solid #E9E9E9;
      color: #000;
    }
    .btn-transp:hover{
      background-color: transparent;
      border: 1px solid #E9E9E9;
      color: #000; 
    }
    .ath-modal{
      font-family: 'Lato';
    }
    .txt-area .mat-form-field textarea {
      height: 26px !important; /* Jo bhi height chahiye */
    }
    .txt-area ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0 !important;
  }
    
