<highcharts-chart id="container" [Highcharts]="highcharts" [options]="chartOptionsScheme"
        style=" height: 500px; display: block">
</highcharts-chart>
<div class="seperator my-4 px-3">
  <hr class="mb-0">
</div>
<highcharts-chart id="container2" [Highcharts]="highcharts" [options]="chartOptionsDiscipline"
        style=" height: 500px; display: block">
</highcharts-chart>
<div class="seperator my-4 px-3">
  <hr class="mb-0">
</div>
<highcharts-chart id="container3" [Highcharts]="highcharts" [options]="chartOptionsCategory"
        style=" height: 500px; display: block">
</highcharts-chart>
<app-loader *ngIf="loader"></app-loader>
