<form [formGroup]="sportScientistStrengthForm">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>CATEGORY</th>
                    <th>TYPE</th>
                    <th>MEN</th>
                    <th>WOMEN</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody formArrayName="sportScientistArrayName">
                <ng-container *ngFor="let sportScientistStrengthItem of sportScientistArray.controls; let i=index" [formGroupName]="i">
                    <tr>
                        <td rowspan="3">{{i+1}}</td>
                        <td rowspan="3">
                            {{(sportScientistArray).controls[i].get('category')?.value}}
                        </td>
                        <td>
                            <!-- {{$any(sportScientistArray).controls?.[i].get('ContractType').value}} -->
                            {{(sportScientistArray).controls[i].get('ContractType')?.value}}
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="ContractMen">
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="ContractWomen">
                        </td>
                        <td><a (click)="editRowSportScientist(sportScientistArray.controls[i].value,'Contract')" class="text-warning text-decoration-none" title="Save" href="javascript:void(0)"><mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon></a></td>
                    </tr>
                    <tr>
                        <td>
                            {{(sportScientistArray).controls[i].get('DeputationType')?.value}}
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="DeputationMen">
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="DeputationWomen">
                        </td>
                        <td><a (click)="editRowSportScientist(sportScientistArray.controls[i].value,'Deputation')" class="text-warning text-decoration-none" title="Save" href="javascript:void(0)"><mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon></a></td>
                    </tr>
                    <tr>                        
                        <td>
                            {{(sportScientistArray).controls[i].get('RegularType')?.value}}
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="RegularMen">
                        </td>
                        <td>
                            <input type="number" class="form-control" formControlName="RegularWomen">
                        </td>
                        <td><a (click)="editRowSportScientist(sportScientistArray.controls[i].value,'Regular')" class="text-warning text-decoration-none" title="Save" href="javascript:void(0)"><mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon></a></td>
                    </tr>                    
                </ng-container>
            </tbody>
        </table>
    </div>
</form>