.data-history-btn-yp{
    border-radius: 2px;
    border: 1px solid #2263AE;
    background-color: #2263AE;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.39px;
    min-width: fit-content;
}
.data-history-btn-yp:hover{
    border-radius: 2px;
    border: 1px solid #2263AE;
    background-color: #2263AE;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.39px;
    min-width: fit-content;
}
/* .pending-table-yp{} */
.pending-table-yp table th,td{
 text-align: center;
 font-family: 'Lato' !important;
 font-size: 13px !important;
}
.pending-table-yp table td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.backbtn-arrow .mat-icon{
height: 20px;
width: 22px;
}

.cursor-pointer{
    cursor: pointer;
}
.status-table{
    margin-bottom: 4px;
    font-size: 13px;
    color: #309A04;
    font-weight: 700;
}
.font-fix h2{
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}

.pending-color{
    color: #FB9F00;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}
.export-btn{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #707070;
    color: #000;
}

.rejected-color{
    color: #dc4e5b;
    font-size: 13px;
    font-weight: 700;
}
.text-danger-1{
    color: #FF0000;
    font-weight: 700;
}
.text-success-1{
    color: #00B700;
    font-weight: 700;
}



.cursor-pointer{
    cursor: pointer;
}
.yp-tab-table table th{
    background-color: #3D3851;
    vertical-align: middle;
    text-align: center;
    font-size: 13px !important;
    font-family: 'lato' !important;
    font-weight: 600 !important;
}

.yp-tab-table table ::ng-deep .mat-sort-header-container{
    justify-content: center;
}

.yp-tab-table table td{
    border-left: 1px solid #F6F3FF !important;
    border-right: 1px solid #F6F3FF !important;
    border-bottom: 1px solid #F6F3FF !important;
    border-bottom: 1px solid #F6F3FF !important;
    border-collapse: collapse !important;
    text-align: center;
    vertical-align: middle;
       font-size: 13px !important;
    font-family: 'lato' !important;
    font-weight: 600 !important;
    color: #000000 !important;

}

.yp-tab-table table .pdf-img{
    height: 16px;
    width: 15px;
}
.yp-tab-table table .text-success-1{
    color: #286828 !important; 
}
.yp-tab-table table .text-danger-1{
    color: #FF0000 !important; 
}
.yp h2{
    font-size: 22px;
    color: #000;
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 0.2px;
    text-transform: capitalize;
}
.my-btn-h{
    height: 54px;
    background-color: #fff !important;
}
.text-pending{color: #FFB300;}
@media screen and (max-width:576px) {
    .my-btn-h{
        height: 46px;
    }
}
