<div class="container-fluid yp">
    <div class="tab-content font-fix">
    <div class="tab-pane active" id="athletecoaching">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="mb-0 py-1">{{type}} Status</h2>
            </div>
            <div class="col-auto d-flex flex-wrap">
                  
                <div class="me-md-2 mb-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Select KI Games</mat-label>
                        <mat-select [(ngModel)]="selectModelGames" (selectionChange)="changeSelection()">
                            <mat-option *ngFor="let item of gameDropdownList"  [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="me-md-2 me-2 mb-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Year</mat-label>
                        <mat-select [(ngModel)]="selectModelYears" (selectionChange)="changeSelection()">
                            <mat-option *ngFor="let item of yearDropdownList"  [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="btn rounded-0 bg-transparent border export-btn my-btn-h" (click)="exportData()"><img src="/assets/images/excel.svg" alt="" class="img-fluid"><span class="mx-2">Export</span><img src="/assets/images/dwnld.svg" alt="" class="img-fluid"></button>
    
            </div>
        </div>
        <div class="text-end">
          
        </div>
        <div class="pending-table-yp yp-tab-table table-responsive mt-3">
            <!-- <table mat-table class="currentTable"   matTableExporter  #exporter="matTableExporter" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table-striped w-100">   -->
            <table mat-table class="currentTable"   matTableExporter  #exporter="matTableExporter" [dataSource]="dataSource" matSort class="table-striped w-100">  
                
                <ng-container matColumnDef="s_no">
                <th mat-header-cell *matHeaderCellDef  class="">S.No</th>
                <td mat-cell *matCellDef="let row"> {{row?.s_no}} </td>
                </ng-container>  
                
                <ng-container matColumnDef="kitd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id"  class="">NSRS ID</th>
                <td mat-cell *matCellDef="let row"> {{row?.kitd_unique_id}}</td>
                </ng-container>
                
                <ng-container matColumnDef="eventName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="eventName"  class="col-2">KI Games</th>
                <td mat-cell *matCellDef="let row"> {{row?.eventName}}</td>
                </ng-container>
                
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header="full_name" >  Name</th>
                <td mat-cell *matCellDef="let row"> 
                    {{row?.full_name}}
                </td>
                </ng-container>
        
                <ng-container matColumnDef="date_of_birth">
                <th mat-header-cell *matHeaderCellDef > Date of Birth </th>
                <td mat-cell *matCellDef="let row">{{row?.date_of_birth }}
                </td>
                </ng-container>
        
                <ng-container matColumnDef="father_name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header="father_full_name"> Father Name </th>
                <td mat-cell *matCellDef="let row">{{row?.father_full_name}} </td>
                </ng-container>

                <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef> Document </th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="d-flex align-items-center  justify-content-center cursor-pointer" (click)="viewYPDocument(row?.form5Id)"><mat-icon>remove_red_eye</mat-icon> <span class="ms-1">View</span></div>   
                    </td>                      
                </ng-container>
        
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let row">
                        <!-- <ng-container *ngFor="let item of row?.required_status">
                            <p *ngIf="item.includes('Pending')" class="status-table pending-color">{{item}}</p>
                            <p *ngIf="item.includes('Approved')" class="status-table">{{item}}</p>
                            <p *ngIf="item.includes('Rejected')" class="status-table rejected-color">{{item}}</p>
                        </ng-container> -->
                        <span [ngClass]="type=='approved' ? 'text-success-1' : type=='pending' ? 'text-pending': 'text-danger-1'">{{row.shortStatus}}</span>
                    
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action (Form 5) </th>
                    <td mat-cell *matCellDef="let row" >
                        <ng-container *ngIf="type ==='approved'">
                            <div *ngIf="row?.form5DocPath" class="d-flex align-items-center justify-content-center cursor-pointer" (click)="downloadPdf(row)"><img src="assets/images/pdf-icon.svg"  class="img-fluid pdf-img"><span class="ms-1 text-decoration-underline">Download</span> </div>
                        </ng-container>
                        <ng-container  *ngIf="type ==='pending'">
                            <!-- <div class="d-flex justify-content-evenly" *ngIf="(row?.form5_Status== 10) || (row?.form5_Status== 15)"> -->
                            <div class="d-flex justify-content-evenly">
                                <!-- <a (click)="navigateToCom(row?.form5Id ,row?.player_detail_id ,'approved')" class="text-success text-decoration-none me-1 cursor-pointer "><span class="text-success-1 text-decoration-underline">Approve</span></a> -->
                                <a (click)="navigateToCom(row?.form5Id ,row?.player_detail_id ,'approve')" class="text-success text-decoration-none me-1 cursor-pointer "><span class="text-success-1 text-decoration-underline">Approve</span></a>
                                <a (click)="navigateToCom(row?.form5Id ,row?.player_detail_id ,'reject')" class="text-danger text-decoration-none ms-1 cursor-pointer"> <span class="text-danger-1  text-decoration-underline">Reject</span></a>

                            </div>
                        </ng-container>
                        <ng-container *ngIf="type ==='rejected'">
                            N/A
                        </ng-container>                        
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="athleteCurrentTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: athleteCurrentTableColumns;"></tr>      
            
                
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="13"> <span class="noDataFound"> No Data Found </span></td>
                </tr>
            </table>     
        </div>
        <mat-paginator [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page of users"></mat-paginator>            
    </div> 
  
</div>
</div>                   

<app-loader *ngIf="isLoading"></app-loader>