<div class="container-fluid form-five py-5">
  <h5 class="event-title mb-sm-0 me-3 backbtn-arrow cursor-pointer d-flex " (click)="goBack()" ><mat-icon class="me-2">arrow_back</mat-icon>Back</h5>
  <div class="row heading mt-3">
    <h3>Form 5 data with attached documents and khelo India certificate</h3>
    <!-- <h5>Lorem Ipsum is simply</h5> -->
  </div>
  <div class="row my-2">
    <div class="col-12 content">
      <p class="mb-0" [innerHTML]="htmlContent">
      </p>
    </div>
  </div>
  <div class="row my-2" *ngIf="form5StageDetails.length">
    <div class="col-md-3 col-12 my-2" *ngFor="let stageList of form5StageDetails" >
      <div class="card p-2 " >
        <h6>{{stageList?.caption}}</h6>
        <p>Name: {{stageList?.user_display_name}}</p>
        <p>Designation : {{stageList?.designation}}</p>
        <p>Address :{{stageList?.place}}</p>
        <p>Comments : {{stageList?.remark}}</p>
      </div>
    </div>
  </div>
  <form [formGroup]="form5StatusForm">
  <div class="row my-2 details">
    <div class="col-md-2 col-12 my-2">
      <h6>Name</h6>
      <p>{{userDetails?.name}}</p>
    </div>
    <div class="col-md-2 col-12 my-2">
      <h6>Designation</h6>
      <p>{{userDetails?.role_name}}</p>
    </div>
    <div class="col-md-2 col-12 my-2">
      <h6>Place</h6>
      <input type="text" class="form-control rounded-0" placeholder="Place"  formControlName="place"  />

        <small class="text-danger"  *ngIf="form5StatusForm.get('place')?.touched && form5StatusForm.get('place')?.invalid && form5StatusForm.get('place')?.errors?.['required']">Place is required</small>
      
    </div>
    <div class="col-md-2 col-12 my-2">
      <h6>Date</h6>
      <p>{{form5TextDeatil?.approvaldate}}</p>
    </div>
  </div>
  <div class="row align-items-end my-2">
    <div class="col-md-5 col-12 my-2">
      <label for="">Comments</label>
      <textarea  formControlName="remark" rows="1" class="form-control rounded-0" id=""></textarea>
    </div>



    <ng-container *ngIf="form5TextDeatil?.form5_status != 60">
    <ng-container *ngIf="router.url.includes('approve') &&  userDetails?.role_id !=166">
      <div class="col-md-auto col-12 my-2">
        <select name="" id="" class="form-select rounded-0"  formControlName="form5_Status">
          <option value="">Send To</option>
          <ng-container *ngFor="let list of approverList">
            <option [value]="list?.statusCode">{{list?.statusDesc}}</option>
          </ng-container>
     
        </select>
        <small class="text-danger"  *ngIf="form5StatusForm.get('form5_Status')?.touched && form5StatusForm.get('form5_Status')?.invalid && form5StatusForm.get('form5_Status')?.errors?.['required']">This field is required</small>
      </div>
     
      <div class="col-md-auto col-12 my-2">
        <button type="button"  class="btn btn-blue submit" [disabled]="!form5StatusForm.valid" (click)="savePlayerForm5Status('approved')">Submit</button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="router.url.includes('approve') &&  userDetails?.role_id !=162 && userDetails?.role_id !=167">
      <div class="col-md-auto col-12 my-2">
        <button type="button"  class="btn btn-blue submit" [disabled]="!form5StatusForm.value.place" (click)="eSignForm5()">E-Sign</button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="router.url.includes('reject')">
      <div class="col-md-auto col-12 my-2">
        <button type="button" (click)="openDialog()" [disabled]="!form5StatusForm.valid" class="btn btn-danger reject">Reject</button>
      </div>
    </ng-container>

  </ng-container>
  </div>
</form>
</div>

<app-loader *ngIf="isLoading"></app-loader>