<!-- {{athleteData | json}} -->

<div class="athleteAction-modal">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> ATHLETE DETAILES</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="athletetag">
        <div class="d-flex justify-content-between align-items-center my-2">
          <h5></h5>
          <!-- <button class="btn border px-3 text-uppercase addmore" (click)="newAddMultiTagArray()">ADD MORE +</button> -->
        </div>
        <form [formGroup]="multiAthleteTagForm">
          <div class="table-responsive mt-3">
            <table class="table">
              <tbody formArrayName="addMultiTagArray">
                <tr  *ngFor="let item of addMultiTagArray.controls; let i= index" [formGroupName]="i" >
                  <!-- <td>{{i + 1}}</td> -->
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>NSRS ID</mat-label>
                      <input matInput formControlName="ki_unique_id"  (change)="changeInNsrsID($event,i)">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Athlete Name</mat-label>
                      <input matInput formControlName="athelete_name">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Geo Location</mat-label>
                      <mat-select formControlName="geoLocation">
                        <mat-option value="Urban"> Urban</mat-option>
                        <mat-option value="Rural"> Rural </mat-option>
                        <mat-option value="Others">Others</mat-option>
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Residential Status</mat-label>
                      <mat-select formControlName="type_of_athelete">
                        <mat-option value="Residential"> Residential</mat-option>
                        <mat-option value="Non-Residential"> Non-Residential</mat-option>
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Joining Status</mat-label>
                      <mat-select formControlName="joining_status">
                        <mat-option [value]=true> Joined</mat-option>
                        <mat-option [value]=false>Not Joined</mat-option>
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  <td>
                    <mat-form-field appearance="fill" (click)="picker1.open()">
                      <mat-label>Date Of Joining</mat-label>
                      <input matInput [matDatepicker]="picker1" (keypress)="false" formControlName="date_of_joining" />
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill"  (click)="picker2.open()">
                      <mat-label>Period Upto</mat-label>
                      <input matInput [matDatepicker]="picker2" (keypress)="false" [min]="addMultiTagArray.controls[i].value?.date_of_joining" formControlName="valid_upto">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">Upload</span>
                        <!-- <input type="file" class="inputUpload"> -->
                        <input type="file" class="inputUpload"  #ADDAthleteMultiAddFileInput   formControlName="document_upload_path" (change)="uploadDocuments(ADDAthleteMultiAddFileInput.files,i)">

                      </div>
                      <div *ngIf="addMultiTagArray.controls[i].get('document_upload_path_url')?.value">
                        <a [href]="fileBaseUrl + addMultiTagArray.controls[i].get('document_upload_path_url')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    </div>
                    <!-- <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center">
                      <div class="inputfileLevel position-relative me-3">
                        <span class="text-uppercase uploadLevel">Document</span>
                        <input type="file" class="inputUpload"  formControlName="document">
                      </div>
                      <div><a href="javascript:void(0)" target="_blank"><i class="fa-solid fa-eye"></i></a></div>
                    </div> -->
                  </td>
                  <td>
                    <a href="javascript:void(0)"  (click)="removeAddMultiTagArray(i)" *ngIf="this.addMultiTagArray.length>1"><i class="fa-solid fa-trash-can text-danger"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <button type="button" [disabled]="!this.multiAthleteTagForm.valid" (click)="submitMultiTagged()" class="btn btn-lightblue me-2">Save</button>
            <button type="button"  (click)="activeModal.dismiss('Cross click')" class="btn readmore border px-3">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>