<div class="athlete">
  <div class="filterdata">
    <div class="filterTop">
      <div class="row align-items-center justify-content:between mt-3">
        <div class="col-auto">
          <h5 class="fw-bold text-uppercase">Coach</h5>
        </div>
        <div class="col text-end">
          <div class="row justify-content-end">
            <div class="col-auto  d-flex align-items-center">
              <!-- <select class="form-control">
                <option>Scheme</option>
                <option> FINANCIAL</option>
                <option>TOPS</option>
              </select>
              <button class="btn btn-lightblue px-3 ms-2">Add+</button> -->
              <!-- <button class="btn btn-lightblue px-3 ms-2" (click)="addOtherCoach()">Other Coach Add+</button> -->
            </div>            
            <div class="col-auto rightsec d-flex align-items-center">
              <div class="exports">
                <select class="form-control" (ngModelChange)="selectChange($event)" [(ngModel)]="docType">
                  <option disabled selected="selected">Export</option>
                  <option value="excel">Excel</option>
                  <option value="pdf">PDF</option>
                </select>
              </div>
              <div class="searchInput ms-2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Search.." #input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filterBottom mb-3">
      <form [formGroup]="searchFilter" (ngSubmit)="search()">
        <div class="row gx-3 align-items-center flex-wrap">
          <div class="col">
            <input type="text" class="form-control" placeholder="NSRD ID" formControlName="nsrsid">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
          </div>
          <div class="col">
            <select class="form-control" formControlName="discipline">
              <option value="" selected="selected"> Discipline</option>
              <option [value]="data.sport_name" *ngFor="let data of sportListData">{{data.sport_name}}</option>
            </select>
          </div>
          <!-- <div class="col">
            <select class="form-control apperance-top" formControlName="scheme">
              <option value="">Scheme</option>
              <option [value]="data.id" *ngFor="let data of schemeListData">{{data.scholarship_type}}</option>
            </select>
          </div> -->
          <div class="col">
            <select class="form-control" formControlName="gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-lightblue px-3"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="col-auto">
            <a href="javascript:void(0)" class="btn btn-lightblue  px-3"><i
                class="icon-sound-module-line mt-1 d-block"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="announceSortChange($event)" > -->

  <div class="table-responsive position-relative">
    <!-- <div class="example-loading-shade" *ngIf="isloading">
      <mat-spinner *ngIf="isloading"></mat-spinner>
    </div> -->
    <table mat-table id="coachTable" matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" matSort
      class="mat-elevation-z8 table-striped">
      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> ACTION </th>
        <td mat-cell *matCellDef="let element;"><img src="assets/images/action_arrow.svg" (click)="openLg(element.nsrsId)"> </td>
      </ng-container> -->

      <ng-container matColumnDef="nsrsId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kitd_unique_id"> NSRSID</th>
        <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" class="text-decoration-none" (click)="openCoachProfile(element)">{{element.kitd_unique_id}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="NAME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="full_name"> NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Discipline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="sport_display_name"> DISCIPLINE
        </th>
        <td mat-cell *matCellDef="let element"> {{element.sport_display_name}} </td>
      </ng-container>

      <ng-container matColumnDef="academy_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="academy_name">ACADEMY </th>
        <!-- <td mat-cell *matCellDef="let element"><a style="text-decoration: none;">{{element.academy_name}}</a></td> -->
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.academy_name==''" style="text-decoration: none;"
            class="addAcademyBtn" >ADD
          </button>
          <a href="javascript:void(0)" *ngIf="element.academy_name!='' " style="text-decoration: none;"
            (click)="openCoachAcademyWindow(element)">{{element.academy_name}}
          </a>
        </td>

      </ng-container>

      <ng-container matColumnDef="insurance_Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="insurance_Status"> INSURANCE</th>
        <td mat-cell *matCellDef="let element">
          <button [btnDisableIfRole]="[hideRoleID]" *ngIf="element.insurance_Status=='No'" class="nobtn" (click)="open(element)">NO</button>
          <button [btnDisableIfRole]="[hideRoleID]" *ngIf="element.insurance_Status=='Pending'" class="pendingBtn"
            (click)="coachPendingInsurance(element)">PENDING</button>
            <ng-container *ngIf="roleid !=173">
          <a href="javascript:void(0)" (click)="deleteCoachinsurance(element)" *ngIf="(element.insurance_Status=='Pending')" class="text-danger ms-1"><i
            *ngIf="element.taggedby_id == userid"  class="fa-solid fa-trash-can"></i></a>
            </ng-container>

          <button [btnDisableIfRole]="[hideRoleID]" *ngIf="element.insurance_Status=='Insured'" class="yesbtn" (click)="coachInsuredInsurance(element)">
            INSURED </button>
          <button [btnDisableIfRole]="[hideRoleID]" *ngIf="element.insurance_Status=='Expired'" class="expiredBtn"
            (click)="coachExpiredInsurance(element)"> EXPIRED </button>
        </td>
      </ng-container>



      <!-- <ng-container matColumnDef="pduw">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="is_PDU">PDUWFNS</th>
        <td mat-cell *matCellDef="let element"><button
            [ngClass]="element.is_PDU==0 ? 'nobtn':'yesbtn'">{{element.is_PDU==0 ? "NO" : "YES"}}</button></td>
      </ng-container> -->

      <ng-container matColumnDef="kiaa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="is_KIAA"> KIAA</th>
        <td mat-cell *matCellDef="let element"><button
            [ngClass]="element.is_KIAA==0 ? 'nobtn':'yesbtn'">{{element.is_KIAA==0 ? "NO" : "YES"}}</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="8"> <span class="noDataFound"> No Data Found</span></td>
      </tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Select page of users"></mat-paginator>

</div>

<ng-template #content let-modal>
  <div class="modal-body tagcommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{popupData.full_name}} ({{popupData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want to tag for Insurance!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirm()">CONFIRM</button>
    </div>
  </div>
</ng-template>

<ng-template #SubmitTagcontent let-modal>
  <div class="modal-body tagcommonModal taggedSuccessfully">
    <div class="mb-2 text-end">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{popupData.full_name}} ({{popupData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Coach tagged successfully !</p>
    </div>
    <div class="text-center pb-3">
      <button class="btn btn-lightblue px-3 px-lg-4 text-uppercase" (click)="coachNoInsurance()">SUBMIT DETAILS</button>
    </div>
  </div>

</ng-template>

<ng-template #deleteinsurance let-modal>
  <div class="modal-body tagcommonModal deleteCommonModal">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <div class="titleTxt">
      <h4 class="text-center fw-bold">{{deleteInsuranceData.full_name}} ({{deleteInsuranceData.kitd_unique_id}})</h4>
    </div>
    <div class="text-center mt-3 pt-lg-2">
      <p>Please confirm if you want delete this Insurance!</p>
    </div>
    <div class="text-center pb-3">
      <button type="button" class="btn btn-lightblue me-2 px-3 me-sm-3 me-lg-4"
        (click)="modal.close('Save click')">CANCEL</button>
      <button type="button" class="btn btn-lightblue px-3" (click)="confirmDelete()">CONFIRM</button>
    </div>
  </div>
</ng-template>

<app-loader *ngIf="innerLoader"></app-loader>
<app-loader *ngIf="innerLoadersportList"></app-loader>
<app-loader *ngIf="innerLoaderMainData"></app-loader>