<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  

  <mat-sidenav-container class="example-sidenav-container side_bar_fix"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="0" [(opened)]="opened">
                <div>
                  <img src="/assets/images/nsrs-khelo-india-logo.svg" alt="" class="img-fluid mob-div-logo d-block mx-auto mb-3" />
                  <app-menu-list (menuClickEvent)="menuClickOutput($event)"></app-menu-list>
                </div>
                
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="kl-dashboard py-3 w-100 bg-white border-bottom mb-3">
    <div class="container-fluid">
      <div class="dashboard-header row">
        <div class="col-auto d-flex justify-content-between align-items-center">
          <button mat-icon-button (click)="snavToggle()"><mat-icon>{{opened ? 'close':'sort'}}</mat-icon></button>
          <img *ngIf="!opened" src="/assets/images/nsrs-khelo-india-logo.svg" alt="" class="img-fluid mob-div-logo" />
        </div>
        <div class="col">
        <div class="  d-flex align-items-center justify-content-end ">
          <!-- <div class="px-4 border-end"><mat-icon matBadge="15">notifications</mat-icon></div> -->
          <div class="header-dropdown px-3">
            <div class="dropdown show">
              <a
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                class="nav-link dropdown-toggle  "
                >
                <!-- <span class="dashboard-select shadow">A</span> -->
                <span class="dashboard-select shadow"><img [src]="profilePicUrl || '/assets/images/placeholderProfile.png'" class="userImg img-thumbnail p-0 border border-2 border-white" alt=""></span>
              </a>

              <ul _ngcontent-omp-c366="" class="dropdown-menu ">
                <li _ngcontent-omp-c366=""><a  href="javascript:void(0)" class="dropdown-item"  (click)="changePassword()">Change Password</a></li>
                <li _ngcontent-omp-c366=""><hr  class="dropdown-divider" /></li>
                <li _ngcontent-omp-c366=""><a  href="javascript:void(0)" class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>

        <div class="container-fluid">
          <!-- <router-outlet></router-outlet> -->
        </div>
      </div>
    </div>
  </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<ng-template #resetpasspopup let-modal>
  <div class="modal-header">
    <h4 style="margin-bottom: 0px">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm">
      <div class="mb-3">
        <div class="inputIcon">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Old password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="changePasswordForm.controls['newPass'].touched &&  changePasswordForm.controls['newPass'].invalid" class="text-danger">
          <div *ngIf="changePasswordForm.controls['newPass'].errors && changePasswordForm.controls['newPass'].errors['required']">
              Old Password is Required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="inputIcon">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="newPass">  
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="changePasswordForm.controls['newPass'].touched &&  changePasswordForm.controls['newPass'].invalid" class="text-danger">
          <div *ngIf="changePasswordForm.controls['newPass'].errors && changePasswordForm.controls['newPass'].errors['required']">
              Password is Required
          </div>
          <small *ngIf="changePasswordForm.controls['newPass'].errors && changePasswordForm.controls['newPass'].errors['pattern']">
            Minimum eight characters, at least one uppercase letter, one lowercase letter, 
              one number and one special character</small>
        </div>
      </div>
      <div class="mb-3">
        <div class="inputIcon">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPass">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="changePasswordForm.controls['newPass'].touched &&  changePasswordForm.controls['newPass'].invalid" class="text-danger">
          <div *ngIf="changePasswordForm.controls['newPass'].errors && changePasswordForm.controls['newPass'].errors['required']">
              Password is Required
          </div>
        </div>
        <div class="text-danger" *ngIf="(changePasswordForm.controls['newPass'].value)!=(changePasswordForm.controls['confirmPass'].value)">
          Confirm Password and New Password Must Be Same
        </div>
      </div>
      <div class="text-center d-flex flex-wrap justify-content-center align-items-center">        
        <button type="submit" (click)="savePassword()" class="btn btn-blue me-2 me-lg-3 px-4" [disabled]="!this.changePasswordForm.valid" >Submit</button>
        <!-- <a href="javascript:void(0)"  class="btn btn-blue px-4"  (click)="forgotPassword()">Forgot password</a> -->
        <!-- <a href="javascript:void(0)"  class="btn btn-blue px-4">Forgot password</a> -->
      </div>
    </form>
  </div>
</ng-template>

