

<div class="athleteAction-modal">
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#athletetag" type="button"><span class="titleIcon"><i class="icon-personal-information-18"></i></span> EQUIPMENT PROCUREMENT</button>
      </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="athletetag">
        <div class="d-flex justify-content-between align-items-center my-2">
          <h5></h5>
          <!-- <button class="btn border px-3 text-uppercase addmore" *ngIf="equipmentModalData.action == 'add'" (click)="newAddMultiTagArray()">ADD MORE +</button> -->
        </div>
        <form [formGroup]="multiEquipmentTagForm">
          <div class="table-responsive mt-3">
            <table class="table">
              <tbody formArrayName="addMultiTagArray">
              
                <tr  *ngFor="let item of addMultiTagArray.controls; let i= index" [formGroupName]="i">
               
                  <td>{{i + 1}}</td>
                 
                  <td>
                    <mat-form-field appearance="fill" class="example-full-width w-100" >
                      <mat-label>TYPE</mat-label>
                      <mat-select formControlName="type">
                        <mat-option *ngFor="let type of equipmentTypeList" [value]="type.id">{{type.value}}</mat-option>
                        <!-- <mat-option value="Sports Kit">Sports Kit</mat-option>
                        <mat-option value="Others">Others</mat-option> -->
                        
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  
                  <td *ngIf="this.userDetails.role_id!=82">
                    <mat-form-field appearance="fill" class="example-full-width w-100" >
                      <mat-label>STATUS</mat-label>
                      <mat-select formControlName="status">
                        <mat-option *ngFor="let status of equipmentStatusList" [value]="status.id">{{status.value}}</mat-option>
                        <!-- <mat-option value="Completed">Completed</mat-option> -->
                        
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  
                  <td>
                    <mat-form-field appearance="fill" class="example-full-width w-100"  (click)="picker1.open()">
                      <mat-label>DATE OF PROCUREMENT</mat-label>
                      <input #dateOfProcurement matInput [matDatepicker]="picker1" formControlName="d_o_p" (keypress)="false" (dateChange)="datePickerDateChange(dateOfProcurement.value,i)" [min]="min_date" [max]="max_date"/>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                      <mat-label>REASON FOR DELAY</mat-label> 
                      <input matInput   formControlName="reason_for_delay">
                     
                    </mat-form-field>

                    <!-- <div *ngIf="addMultiTagArray.controls[i].get('reason_for_delay')?.touched &&addMultiTagArray.controls[i].get('reason_for_delay')?.errors?.['required']">
                            <div class="me-2 text-danger">Reason Required</div>
                      </div> -->
                      <div *ngIf="addMultiTagArray.controls[i].get('reason_for_delay')?.touched && (addMultiTagArray.controls[i].get('reason_for_delay')?.errors?.['maxlength'])">
                            <div class="me-2 text-danger">Reason Limit Exceeded</div>
                    </div>

                  </td>
                  <td>
                    <div class="inputFileUpload-wraper border rounded-1 d-flex align-items-center custom-mobile-wid-btn-upload">
                      <div class="inputfileLevel position-relative">
                        <span class="text-uppercase uploadLevel">UPLOAD DOCUMENT, IF ANY</span>
                     
                        <input type="file" class="inputUpload" #ADDAthleteMultiAddFileInput  (change)="uploadDocuments(ADDAthleteMultiAddFileInput.files,i)">

                      </div>
                      <div *ngIf="addMultiTagArray.controls[i].get('document_name')?.value">
                        <a [href]="fileBaseUrl + addMultiTagArray.controls[i].get('document_name')?.value" target="_blank">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      </div>
                    
                    </div>
                   
                  </td>
                  <td>
                    <mat-form-field class="example-full-width w-100" appearance="fill">
                      <mat-label>REMARK</mat-label>
                      <input matInput   formControlName="remark">
                   
                    </mat-form-field>
                    <div *ngIf="addMultiTagArray.controls[i].get('remark')?.touched &&addMultiTagArray.controls[i].get('remark')?.errors?.['required']">
                      <div class="me-2 text-danger">Remark Required</div>
                    </div>
                    <div *ngIf="addMultiTagArray.controls[i].get('remark')?.touched && (addMultiTagArray.controls[i].get('remark')?.errors?.['maxlength'])">
                      <div class="me-2 text-danger">Remark Limit Exceeded</div>
                    </div>
                  </td>
                  <!-- <td>
                 
                    <a href="javascript:void(0)"  (click)="removeAddMultiTagArray(i)" *ngIf="this.addMultiTagArray.length>1"><i class="fa-solid fa-trash-can text-danger"></i></a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <!-- <button type="button" [disabled]="!this.multiEquipmentTagForm.valid"  (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{equipmentModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button> -->
            <button type="button"   (click)="submitMultiTagged()" class="btn btn-lightblue me-2">{{equipmentModalData.action == 'add' ? 'SAVE' : 'UPDATE' }}</button>
           
            <button type="button"  (click)="activeModal.dismiss('Cross click')" class="btn readmore border px-3">CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loader"></app-loader>
<app-loader *ngIf="mainloader1"></app-loader>
